[2014-03-04 00:07] glennc opened #3 "Make IConfiguration interface assembly neutral"

[2014-03-04 00:08] glennc opened #4 "Create environment and file based configuration sources"
Needed for simple user configuration scenarios, these will be the minimum we need to ship.

[2014-03-04 00:10] glennc opened #5 "Environment source needs prefix value"
A given prefix value would be required for the environment variable to match. Removed from actual key that is requested from configuration.

e.g: `Configuration.Add(new EnvironmentSource(prefix));`

[2014-03-04 00:15] glennc opened #6 "IConfiguration change notification"
Some sources may observe alterations to the configuration and raise a notification that key values of changed. I could then reconcile the changes with the values I have been using.

[2014-03-04 00:19] glennc opened #7 "Design and implement IConfiguration.Set() and Commit()"
Does `Set(value);` call set on every IConfiguration or just the first writable one?

Calling Set changes a value without committing until Save is called.

[2014-03-04 00:31] glennc opened #8 "Design and implement key retrieval based on a prefix"
Configuration navigation model includes idea of getting an IConfiguration which has its key space prefixed. Subsequent operations all pass to the original root object, but with the prefix prepended to any key strings. Further navigation are all based from the level being operated on.

[2014-03-04 00:39] glennc opened #9 "Enumeration of distinct children"
GIven an IConfiguration, and a prefix, and a delimiter, return the distinct values that occur after the prefix and before the delimiter

[2014-03-23 20:41] davidfowl opened #13 "Add more file formats for configuration"
We should add a few more formats as separate projects
- Microsoft.AspNet.Configuration.Json
- Microsofot.AspNet.Configuration.Xml

[2014-03-23 20:42] davidfowl opened #14 "Add json config file format"
[code]

I should be able to access this via the config API:

[code]

parent #13

[2014-03-23 20:42] davidfowl opened #15 "Add xml configuration file format"
parent #13

[2014-04-02 17:23] rustd opened #17 "Add logic for reading environment variables from Azure WebSites"
If the user adds a SQL Server connectionString called "DefaultConnection" in Azure WebSites, the connectionString flows as environment variable "SQLAZURECONNSTR_DefaultConnection".
The config source for environment variables should be able to read this Key "DefaultConnection" correctly

[2014-04-07 18:37] davidfowl opened #19 "Add resource strings for exception messages"

[2014-04-09 00:02] #14 closed, assigned to ChengTian

[2014-04-09 02:03] davidfowl opened #22 "Fix naming for Json configuration provider"
The name should be Microsoft.AspNet.ConfigurationModel.Json

The extension method should be in the Microsoft.AspNet.ConfigurationModel namespace

[2014-04-16 06:58] davidfowl opened #26 "Make all interfaces assembly neutral"

[2014-04-16 16:56] #17 closed, assigned to ChengTian

[2014-04-16 16:56] #15 closed, assigned to ChengTian

[2014-04-16 17:01] #22 closed, assigned to ChengTian

[2014-04-16 17:03] #13 closed, assigned to ChengTian

[2014-04-16 21:27] davidfowl opened #27 "Configuration model binder"
The ability to map a strongly typed model from a configuration.

[2014-04-21 22:54] #3 closed, assigned to ChengTian

[2014-04-22 00:52] #4 closed, assigned to nobody

[2014-04-22 00:54] #5 closed, assigned to ChengTian

[2014-04-22 19:17] ChengTian opened #32 "Add more formats supported by CommandLineConfigurationSource"
Previous discussions can be found at #30 .

Hi @lodejard ,what do you think about @Eilon 's follow up in #30 regarding the formats we will support?

[2014-04-24 17:44] kirthik opened #38 "Browsing to project k website deployed to azure shows error"
I deployed bug tracker to azure through FTP and I see following error

[code]

[2014-04-24 22:21] #38 closed, assigned to ChengTian

[2014-04-25 21:28] #19 closed, assigned to ChengTian

[2014-04-30 00:08] rustd opened #43 "Keys should be case insensitive"
In config reading the Keys should be case insensitive.

[2014-04-30 17:28] ChengTian opened #44 "IniFileConfigurationSource.Commit() should remove emptied section headers if later we can remove keys"
parent #7

1. Do we need `Remove(key)` operation on `Configuration` & config sources?

2. When doing `Commit()`, do we want to remove an empty section header, which is emptied by a `Remove(key)` operation? For example: call `Remove("Foo:Bar")` on the following config source
[code]
3. How about section headers that users leave empty deliberately? For example:
[code]

[2014-05-01 16:56] #43 closed, assigned to ChengTian

[2014-05-05 17:22] #7 closed, assigned to ChengTian

[2014-05-07 15:16] davidfowl opened #59 "Move PathResolver elsewhere"
This is generally useful code that should go elsewhere

[2014-05-08 21:57] #32 closed, assigned to ChengTian

[2014-05-09 17:45] ChengTian opened #62 "Files are opened with improper access mode in all file-based config sources"

[2014-05-09 18:41] #62 closed, assigned to ChengTian

[2014-05-09 22:56] ChengTian opened #65 "Add functional tests for Configuration repo"

[2014-05-20 03:59] rustd opened #68 "Share Config files between different projects"
Today you need to duplicate your config if your config is shared between a web application project, console project and class library.
Is there a way we can make it easier for you to share configs between different projects in your solution?
A classic case is sharing connectionstrings

[2014-05-20 06:43] #68 closed, assigned to nobody

[2014-05-21 21:16] HaoK opened #69 "Create OptionsModel assembly"
Add a new assembly inside of the Configuration Repo called Microsoft.Framework.OptionsModel and move all of the options into this assembly
• Hosting would depend on this assembly to add OptionsServices.DefaultServices as part of app.UseServices() (lifetime of open generic is singleton)
• Add a new extension method T Get where T : IConvertable to Configuration
• Add ConfigOptionsSetup which takes I

[2014-05-22 20:54] lodejard opened #71 "IConfiguration should support indexer[]"
[code]

Aught to work exactly like

[code]

[2014-05-22 20:55] lodejard opened #72 "".AddCommandLine" should probably require string[] args to be passed in"
I'm not sure if going to the process and reading all the args will work well. It will probably pick up things that were passed to klr and apphost that shouldn't be seen as app switches.

[2014-05-22 22:18] HaoK opened #75 "Review Options ReadProperties error handling"
Currently we just silently ignore any errors

[2014-05-22 22:30] HaoK opened #76 "Investigate OptionsAccessor null out setups without creating race condition"

[2014-05-23 22:09] HaoK opened #77 "Consider using ITypeActivator for OptionsAccessor"

[2014-05-23 23:00] HaoK opened #78 "Consider exposing Order defaults for OptionsSetup"
Maybe either via constants, or public enum?

[2014-05-25 09:49] lucamorelli opened #79 "crypting part of the configuration"
Hi,
 the actual configuration architecture is interesting but so far I see that a interesting Feature of the actual asp.net Runtime is missing, the feature to crypt part of the configuration.
 this Feature is quite useful,. because sometimes I need to place in the configuration sensible data, as POS authentication credentials, but I would like to make safe the data in the case of unauthorized acce

[2014-05-28 18:55] HaoK opened #80 "Tracking: Options PR feedback"
1.The default implementation for option accessor and option setups seems to prevent scoped option setups from working. I believe these more dynamic scenarios are important and not necessarily exclusive to data.
2.I think it would be good to have a nice pattern to register option setups that override or not override other option setups, i.e. the issue of specifying the "Order" of the IOptionsSetup.

[2014-05-28 23:49] #80 closed, assigned to HaoK

[2014-05-28 23:49] #78 closed, assigned to nobody

[2014-05-28 23:50] #75 closed, assigned to HaoK

[2014-05-28 23:51] #77 closed, assigned to nobody

[2014-05-28 23:51] #76 closed, assigned to nobody

[2014-05-28 23:51] #69 closed, assigned to HaoK

[2014-05-30 07:58] davidfowl opened #81 "Duplicate key exception when trying to override existing command line option"
The scenario here is that I have a project.json with a command that specifies a webserver:

[code]

Now I want to be able to override that --server value without editing the file and I don't want to use an environment variable.

k web --server firefly

Fails with the following exception:

[code]

I think this should just override the previous option instead of exploding.

[2014-06-02 16:44] bricelam opened #82 "YAML Support"
In addition to INI, XML & JSON, we should consider supporting [YAML](http://yaml.org/) files.

[2014-06-03 17:26] #81 closed, assigned to nobody

[2014-06-03 17:47] #72 closed, assigned to ChengTian

[2014-06-04 23:04] #65 closed, assigned to ChengTian

[2014-06-05 17:25] #71 closed, assigned to ChengTian

[2014-06-05 22:24] sayedihashimi opened #87 "config.json should support /* */ and // comments"
Currently config.json supports /* */ but not // comments. It should support both. We've heard from customers already who have tried to use // and run into issues.

config.json
[code]

### Here is the exception
Helios failed to start.

The ApplicationStart method threw an exception. Detailed exception information is below.

System.Reflection.TargetInvocationException: Exception has been thrown by t

[2014-06-08 01:15] xqiu opened #88 "VS is not monitoring config json file change, we might need a web.config behavior."
In old web way, if web.config changed, IIS will automatically detect the changes and restart the website.

With current Dev14 CTP behavior, if I change a setting file that has my settings, I need to restart everything during development, since VS is not monitoring the change. This is not as convinient as web.config change detection, and will cause extra step to restart server if hosting the web on

[2014-06-10 15:36] rustd opened #89 "Block access to config files so that they cannot be served on the web"
Today Config.json lives in the root of your app. In ASP.NET we  used a handler that used to block access to web.config
How do we block access to config.json so it is not servable on the web?

[2014-06-12 21:26] ChengTian opened #90 "Commit() shoudn't throw when finds newly added key-value pairs in config source"
We have a config.ini file
[code]
The following code throws an exception saying that a new key is found:
[code]
Instead of throwing, `Commit()` should generate a file with following content:
[code]
It should be true for `IniFileConfigurationSource`, `XmlConfigurationFile` and `JsonConfigurationFile`

[2014-06-13 01:07] ChengTian opened #92 "Commit() shoudn't throw when finds newly added key-value pairs in original file"
See the bug described in #90
If we think it in the other way, we find another possible bug:
We have a config.ini file
[code]
Then we do
[code]
Before we commit the change back to file, config.ini file is externally modified to
[code]
Then if we do `config.Commit()`, current implementation throws an exception saying that a new key is found in original config file.
Another possible approach is, inst

[2014-06-19 20:30] bricelam opened #95 "Microsoft.Framework.ConfigurationModel.FunctionalTests doesn't run during build"
The project.json file needs to include a `configurations` section. This would be fixed by aspnet/Universe#80

[2014-06-24 01:16] rynowak opened #96 "Configuration no-ops with no sources"
Setting a value in configuration with no sources has no effect. If this is by design then consider throwing instead of doing nothing.

[code]

[2014-06-27 17:55] suhasj opened #97 "[Feature request] Add a TryGet<type> method that returns type instead of string"
The TryGet method returns on type string only. I believe the point of having a TryGet is to get the value without throwing an exception. This method can be extended to return strongly typed values instead of string. It can return null in case the value cannot be cast.

[2014-06-30 19:02] suhasj opened #98 "Changing env variables at runtime would require web server restart"
In the current tooling behavior, if there is an addition/update to env variables VS has to be restarted for them to be picked up. In case of runtime, if the env variables are edited, should the web server be restarted? If yes, can we consider not doing this as I feel restarting just for a change in env variable might have implications

[2014-07-03 17:21] runxc1 opened #101 "There is no way to reference a compiled .dll"
The current KRE that works with the CTP only references the first .dll in a nuget package.  This has been fixed but as a workaround I decided to just add a direct reference to the .dll and it appears that there is no way to reference a compiled .dll using the new project.json

[2014-07-07 23:55] ChengTian opened #102 "Load() of file-based configuration source should create the file if it doesn't exist"
Some users report that they should be able to do something like
[code]
when they want to create a new ini file.
However, when they call `Configuration.Add(file)`, it always tries to load the content of given `file`. So if `C:\new_file.ini` doesn't exist, `config.AddIniFile("C:\new_file.ini");` throws an exception saying the file doesn't exist and cannot be loaded.

[2014-07-08 17:35] ChengTian opened #103 "IniFileConfigurationSource.Commit() cannot handle empty value"
Assume we have an ini file `config.ini`

[code]

Then we do

[code]

The last line throws an exception because empty value is not handled properly. The expected behavior is that `config.ini` file is updated to

[code]

[2014-07-08 23:25] #103 closed, assigned to ChengTian

[2014-07-16 18:12] rustd opened #105 "Changes to config files should not require an apprestart for changes to be picked up"
Changes to the Config.json file don’t getting picked up automatically and one needs to restart application explicitly. We should consider adding support for this

[2014-07-19 16:18] #101 closed, assigned to nobody

[2014-07-19 16:25] Eilon opened #106 "Config sources convert dots to colons in config keys"
Not sure why we do this kind of normalization. It took quite a while to debug this when porting a customer application from MVC 5 using web.config to using MVC 6 with config.json.

### Repro:

Have this `config.json` file:
[code]

And this MVC controller:
[code]

And run it.

Note that the `foo.bar` key has no value, whereas the `foo:bar` key does (even though that's nowhere in my config file). Ve

[2014-07-19 16:30] Eilon opened #107 "Need a way to store encrypted values in configuration"
System.Web supports encrypted configuration as seen in [this MSDN article](http://msdn.microsoft.com/en-us/library/vstudio/dtkwfdky(v=vs.100).aspx).

We should consider having some solution to this problem in ASP.NET/EF vNext.

[2014-08-08 19:59] thereverand opened #108 "Poco Deserialization?"
Should config be able to deserialize a poco stored in a config file?

I have gotten around it with the following:

[code]

So I think yes, yes it should but before I fork, branch, and PR I figured I should post an issue and see what the feedback is.

[2014-08-27 18:27] rynowak opened #109 "Consider a better way to find base path for configuration files"
We found a scenario in our tests where we need to set the base path for loading configuration files. However we have to use `AppDomain.CurrentDomain.SetData`, as it's not respecting `IApplicationEnvironment`. It would be nice if we had a non-hack way to do this.

https://github.com/aspnet/Mvc/pull/1056/files#r16626252

https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.Config

[2014-08-30 08:00] #109 closed, assigned to davidfowl

[2014-09-02 17:38] bricelam opened #111 "Don't use ANIs on net45"
Currently `PathResolver` uses `CallContextServiceLocator` on net45. This should only be used on aspnet50, not net45.

Note, this change will need to be made after dependents are changed to differentiate between net45 and aspnet50.

[2014-09-06 08:23] borgdylan opened #112 "Exception when accessing json config due to path resolver exception"
When using JSON config this happens:

[code]
The code throwing this exception used to work a few days ago before updating to the new config code that separated the PathResolver into a shared project.

[2014-09-15 21:15] ChengTian opened #115 "Support arrays as values in JSON configuration source"
Need to figure out a proper representation of arrays when they used as values. Also need to figure out the corresponding things in xml and ini files.

[2014-09-28 20:54] #108 closed, assigned to nobody

[2014-10-08 15:17] pranavkm opened #117 "Configuration should indicate when no sources are registered or should register one by default."
An instance of Configuration instantiated from the default ctor does not have any sources. Consequently any set operation on it silently no-ops

[code]

We should either register a `MemoryConfigurationSource` by default (preferable when it comes to unit testing) or have it throw when no sources are configured?

[2014-10-11 17:41] borgdylan opened #118 "Why is CallContextServiceLocator an ANI? + Why is its ServiceProvider null during requests?"
Currently I have to assign a DI injected IServiceProvider to the Locator for json based configuration to load. This should be fixed so it will be easier to load config files wherever we need to.

[2014-10-11 17:42] #118 closed, assigned to nobody

[2014-10-29 17:13] danroth27 opened #119 "Update to JSON.NET 6.0.6"

[2014-10-29 17:23] #119 closed, assigned to davidfowl

[2014-10-30 17:14] victorhurdugaci opened #120 "Add some documentation for public types and methods"
The packages here are totally missing documentation and it is not obvious, without looking at the code, how are they supposed to be used.

For example, is I have:

[code]

What is the format accepted by the strings in "args" to be valid? There are many possible options: `/key value`, `--key value`, `--key:value`, `key=value`, etc.

[2014-11-14 20:57] #89 closed, assigned to nobody

[2014-11-14 20:58] #79 closed, assigned to nobody

[2014-11-14 21:04] #105 closed, assigned to nobody

[2014-11-14 21:04] #88 closed, assigned to nobody

[2014-12-04 00:07] mcgear opened #121 "Base Stream Configuration Source and Support for additional Stream Handlers"
Hello,

So as I was browsing the configuration work you all have done, I noticed a couple of things.

1)  All of the Stream based Configuration Sources (Ini, XML, JSON) had duplicated code in the Load() and Commit() implementations.  So the first recommendation that i have is to create a new BaseStreamConfigurationSource that has the constructor, Load, and Commit implementations to be shared.  Thi

[2014-12-10 22:27] divega opened #122 "Configuration possibly needs to match pascal-case keys inputs with camel-case in JSON files"
In Beta2 the keys in config.json files in default VS templates have been apparently intentionally modified to contain only camel-case strings to match common JSON conventions.

EF code which is trying to match configuration keys based on CLR class or property names, cannot find keys in the default templates because apparently Configuration is case-sensitive. Options binding to configuration and se

[2014-12-10 22:38] #122 closed, assigned to nobody

[2014-12-11 22:04] anurse opened #123 "AddJsonFile throws if the file does not exist"
I think the desired behavior would be for it to simply load as though the file was present but empty. This comes up when I want to do something like this:

[code]

(where `environmentName` is the name of the Environment as specified in KRE_ENV and retrieved via `IHostingEnvironment`)

In my initial attempt to use this, I expected that this would work even when "config.Development.json" (for exampl

[2015-01-08 12:43] glen-84 commented on #87
The fact that the JSON spec doesn't support comments is just plain stupid.

BTW: It looks as if single-line comments are now supported in config.json – shouldn't this issue be closed?

[2015-01-08 19:07] Praburaj commented on #87
Right now both single line and multiline comments work on json files.

[2015-01-08 19:11] #111 closed

[2015-01-08 19:13] Praburaj commented on #95
This is complete. Functional tests are running in CI.

[2015-01-08 19:13] #95 closed

[2015-01-08 19:14] #26 closed

[2015-01-08 19:15] #87 closed

[2015-01-12 03:32] tillig commented on #121
I think being able to load a stream of XML or JSON config would also help consumers from a unit test perspective - it would be nice to be able to embed (as a string or an embedded resource) a "working" configuration file and test config parsing/handling mechanisms in your application without touching the filesystem. (Also provides working examples to show what config in different formats might loo

[2015-01-12 18:04] tillig opened #125 "Add support for collections/arrays"
Using Microsoft.Framework.ConfigurationModel 1.0.0.0-rc1-10693.

Trying to convert the Autofac configuration system over to use the new configuration mechanism. Current Autofac configuration allows for a collection of classes to be registered via config, sometimes with different parameter sets, like this:

[code]

Notice the module type is the same but the parameters provided are different.

This

[2015-01-12 23:27] ChengTian commented on #8
This is already implemented

[2015-01-12 23:27] #8 closed

[2015-01-12 23:34] ChengTian commented on #44
We don't see any request for `Configuration.Remove(key)` operation. If we don't need removal operation, this issue is invalid.

[2015-01-12 23:34] #44 closed

[2015-01-12 23:46] ChengTian commented on #9
Since our key delimiter is always `:`, the delimiter parameter mentioned above is not necessary.

This is feature is already implemented as `IConfiguration.GetSubKeys(key)`. Here the `key` parameter is the prefix we want to use.

[2015-01-12 23:46] #9 closed

[2015-01-13 00:40] mikary opened #126 "Produces incorrect keys for JSON file with dot in key contents"
When reading a JSON file with a "." in one of the keys, Configuration produces an incorrect key string.

config.json
[code]

program.cs:
[code]

output:
[code]

[2015-01-13 00:54] Praburaj commented on #126
This looks like a dup of https://github.com/aspnet/Configuration/issues/106

[2015-01-13 01:02] Praburaj commented on #126
Looks like there are some differences between these bugs. Keeping both open until investigated.

[2015-01-13 19:07] Praburaj commented on #112
I don't know what changed. But I can see this works now. I tried to new up a `Configuration` and did `AddJsonFile()` from a controller action and it seems to work fine. @borgdylan Could you try with latest bits?

[2015-01-13 21:26] borgdylan commented on #112
I will try as soon as I have some spare time. In the mean time I had replaced using Configuration directly with a DI Injected options class.

[2015-01-14 21:32] mikary opened #127 "[Feature request] Support for getting most recent value from a set of keys"
We would like to be able to retrieve the most recent setting for a set of keys rather than a single key.

For example, given the following configuration files added in order

config1.json
[code]

config2.json
[code]

Please provide a method like
[code]
where result.Key is "SecondSetting" and result.Value is "Second value"

[2015-01-14 23:59] #126 closed

[2015-01-15 00:00] Praburaj commented on #126
Fixed.

[2015-01-15 00:00] Praburaj commented on #106
Fixed now.

[2015-01-15 00:00] #106 closed

[2015-01-15 00:26] Eilon commented on #127
What's the scenario?

[2015-01-15 00:39] mikary commented on #127
We have two cases where we ran into this, in the first one we had configuration based on a class name with support for either the short or full name. The following two configurations would be equivalent:
[code]

[code]

In the other case, we were allowing configuration as either a property value or a key lookup, so the following two configurations would be equivalent:
[code]

[code]

[2015-01-15 18:00] Eilon commented on #127
Sounds like two different features here.

For getting the hierarchy of things, this seems like a feature that would get very confusing to users. Allowing different formats for keys and expecting them to be coalesced seems very error prone. In my mind the behavior would be that the consumer of these keys has a priority system of perhaps preferring "complex names" to "simple names" and that's that.

[2015-01-15 21:21] mikary commented on #127
That sounds like an accurate description of the situation and I agree with your assessment on both accounts.
Does this look good to you, @rowanmiller ?

[2015-01-15 23:49] rowanmiller commented on #127
@Eilon This is consistent with how we resolved the issues on our end too.

For context type name as key, we decided that full qualified name always wins over short name. I don't think this is too bad since if you want to guarantee that you're overriding something, just use the full name. I think there can be confusion either way, but we don't want to require full name (as it's yucky to type) and I

[2015-01-16 17:06] Eilon commented on #127
@rowanmiller cool sounds good. Should we close this issue and file a new issue for the value-redirecting feature? No guarantee it'll happen of course, but even if it doesn't and we end up doing it just for EF for now, we should at least have a quick discussion on what the feature *would* look like if it was more general purpose.

[2015-01-16 18:57] rowanmiller opened #129 "Support value that redirects to another key"
In EF connection strings we support having a value that redirects to get the actual value from a different key:

[code]

It would be great to have a general mechanism around this in Config. Currently we're just supporting this for connection strings and using the name=xyz syntax that has been around in EF for some time now.

Note we support this so that we can make use of the `Data:DefaultConnecti

[2015-01-16 18:57] rowanmiller commented on #127
Opened new issue for value-redirect https://github.com/aspnet/Configuration/issues/129

[2015-01-16 18:57] #127 closed

[2015-01-21 15:14] Kieranties opened #130 "ConfigurationExtensions.Get<T>() should support TypeConverters"
The current implementation uses `Convert.ChangeType` which only handles types that implement `IConvertible`.

A small change to allow the use of TypeConverters would improve mapping values to other types.

e.g.
[code]

[2015-01-22 10:03] jho1965us opened #132 "CommitMethodPreservesCommments use test data without comment"
Not having comment in test data when comment is explicitly mentioned in name seems suspicious to me,
May be  a comment outside test data about why we don't need comment in test data would be sufficient

Note: location of CommitMethodPreservesCommments is:
https://github.com/aspnet/Configuration/blob/dev/test/Microsoft.Framework.ConfigurationModel.Json.Test/JsonConfigurationSourceTest.cs#L159

[2015-01-23 16:11] Kieranties opened #133 "`ConfigurationFocus` should take an `IConfiguration` in its constructor"
Currently `ConfigurationFocus` takes an instance of `Configuration` during construction which makes the following impossible:

[code]

[2015-01-25 19:17] tillig commented on #125
Curious if anyone's thought about this at all. I see it overlaps with #115 so I'd be OK with closing this one and just following there. Either way, it'd be nice to know if this is planned or not so I know what to do with my consuming code.

[2015-02-10 16:08] tillig commented on #125
I see #115 is in planning so I'll close this one.

[2015-02-10 16:08] #125 closed

[2015-02-10 16:13] tillig commented on #115
Any update on this? It seems like a minimum requirement for all but the very simplest configuration. I'd like to know if I can count on it being in the release or if I'm going to have to roll my own config system.

[2015-02-12 14:09] sandorfr commented on #123
Yes optional config files would be handy. I was thinking about making a pull request about this. My use case is :
config.json // committed to source control and containing
localConfig.json // local settings (not committed)
Environment variables //  to collect Azure Web Sites settings

[2015-02-13 12:47] sslava commented on #115
For now config values are stored in  in Dictionary<string, string>. If we could change it to Dictionary<string, object>  it could simplify support of custom data type deserialization.  At least for .json config files.  And generic T Get<T>()  ( #130) for values retrieval.

[2015-02-18 19:37] glennc opened #139 "Make api review changes to BaseConfigurationSource"
- [x] Change name to ConfigurationSource
- [x] make Data property protected
- [x] Add set to Data property
- [x] remove ReplaceData method

[2015-02-18 19:43] glennc opened #140 "Make API review changes to CommandLineConfigurationSource"
- [x] Change String[] args in constructor to IEnumeralbe<string>
- [x] Make args property protected and change to IEnumerable<string>

[2015-02-18 19:47] glennc opened #141 "Make API Review changes to Configuration class"
- [x] Add constructor that accepts params array of IConfigurationSource
- [x] Commit should be removed as it will be removed from the IConfiguration interfaces.

[2015-02-18 19:48] glennc opened #142 "Move ConfigurationFocus to an Internal namespace"
API Review feedback

[2015-02-18 19:50] glennc opened #143 "Remove Commit feature"
The ability to commit changes is not something we think we should do. It should be removed from IConfiguration and ICommitableConfigurationSource should be removed as well. All implementations of commit should be deleted.

[2015-02-18 19:54] glennc opened #144 "Make API review changes to IConfigurationSourceContainer"
- [x] remove IEnumerable
- [x] add sources property that returns IEnumerable
- [x] rename to IConfigurationSourceRoot
- [x] move Reload from IConfiguration to here.

The IEnumerable implementation was only there to allow syntax like:

[code]

The params array should provide similar enough syntax for when you would use this.

[2015-02-18 19:54] glennc opened #145 "File based configuration sources should accept a stream"
Change any ConfigurationSource that accepts a file path to also be able to accept a stream.

[2015-02-20 00:44] muratg commented on #90
We are removing Commit feature, see https://github.com/aspnet/Configuration/issues/143

[2015-02-20 00:44] #90 closed

[2015-02-20 00:45] muratg commented on #92
We are removing Commit feature, see #143

[2015-02-20 00:45] #92 closed

[2015-02-20 00:51] muratg commented on #102
There's no Commit feature (See #143).

We should consider having an overload to this method to not throw in case where the file doesn't exist.

[2015-02-20 00:53] muratg commented on #107
@Eilon do we want this in RC1?

/cc: @GrabYourPitchforks, @danroth27

[2015-02-20 00:54] muratg commented on #112
@borgdylan is this still an issue?

[2015-02-20 00:57] muratg commented on #117
Dup of https://github.com/aspnet/Configuration/issues/96

[2015-02-20 00:57] #117 closed

[2015-02-20 01:01] muratg commented on #121
Unless @lodejard or @davidfowl objects, we would be happy to take a PR for the base class proposal.

[2015-02-20 01:02] Eilon commented on #107
@blowdart too.

I don't have any particular opinion on this. I think ultimately it depends on what we want the recommended secret storage to be. For example, there's a school of thought that says to never store any secrets in any config file, regardless of being encrypted.

[2015-02-20 01:03] muratg commented on #102
Actually a bug tracking the previous suggestion exists: https://github.com/aspnet/Configuration/issues/123

Closing this one.

[2015-02-20 01:03] #102 closed

[2015-02-20 01:04] muratg commented on #123
@sandorfr We'd be happy to accept a PR :)

[2015-02-20 01:05] muratg commented on #129
@lodejard What do you think about this feature request?

[2015-02-20 01:06] muratg commented on #132
We're removing Commit feature (#143)

[2015-02-20 01:06] #132 closed

[2015-02-20 03:37] GrabYourPitchforks commented on #107
Re: the school of thought, this sentiment is true but ignores the complexity of proper secret management. The reason encrypted config is so popular is that it often strikes the appropriate balance between good security and ease of use.

[2015-02-20 03:38] GrabYourPitchforks commented on #107
FYI, the XML config source can essentially get this for free by using the EncryptedXml class. It shouldn't be more than half dozen lines or so.

[2015-02-20 03:59] davidfowl commented on #107
Would that be in core clr as well?

[2015-02-20 04:18] GrabYourPitchforks commented on #107
Not yet, but NetFX knows it's important, so plan for its eventual inclusion. It can be ifdefed to only desktop for now.

[2015-02-20 05:15] danroth27 commented on #107
I've had customers asking me about encrypted config support, so I think we should have a story here.

[2015-02-20 07:26] borgdylan commented on #112
I have been using workarounds by means of the Options framework. I haven't checked if this is still an issue.

[2015-02-20 13:26] blowdart commented on #107
Yes we want it in RC1.

[2015-02-23 23:47] mcgear commented on #121
Sorry for the delay guys, got sucked back into the 9-5.  My first attempt at this was exploration and i didn't follow the Contributor guidelines for open source very well...  So i am going to get another stab at this going and will get the PR over some time this week.

[2015-02-25 18:08] glennc commented on #115
@victorhurdugaci Assigning this to you so that getting a design together for it doesn't fall through the cracks.

[2015-02-25 21:16] #133 closed

[2015-02-25 21:16] #139 closed

[2015-02-26 09:23] mcgear commented on #121
Hello,

So i got started on these changes in my own fork, and have the base class and ini config source coded out.  I am trying to run the XUnit tests (new and existing), but VS 2015 doesn't find them.  I still need to code out the rest of my first set of changes, but to do so I need to run those tests to make sure that all is good.

Does anyone here have an idea of why VS 2015 isn't finding the t

[2015-02-26 18:40] #143 closed

[2015-02-27 00:01] GrabYourPitchforks commented on #107
PR for this is at https://github.com/aspnet/Configuration/pull/148.

[2015-02-27 23:59] victorhurdugaci commented on #145
Decided not to do this right now

[2015-02-27 23:59] #145 closed

[2015-02-28 02:07] #107 closed

[2015-03-03 00:02] #140 closed

[2015-03-03 00:02] #141 closed

[2015-03-03 00:02] #142 closed

[2015-03-03 00:02] #144 closed

[2015-03-03 00:52] sandorfr commented on #123
@muratg Hello, I'm on it.

I checked the current source code. And it appears that the easiest approach is to add a overloads to the extension methods and ignore the file if it does not exist :
[code]

But I noticed that file based sources implement `ICommitableConfigurationSource` and with this approach it wouldn't be possible to commit the changes to the sources. Maybe more complete approach woul

[2015-03-03 16:57] Gillibald commented on #112
In my case i only get this exception if i run my project within Visual Studio. If I run it via k run the PathResolver works just fine. So it looks like its a problem about Visual Studio hooking up the k runtime.

[2015-03-06 01:42] muratg commented on #121
@mcgear what build of VS are you using?  also, consider running tests from command line if you'd like to run all of them at once.

[2015-03-06 01:46] muratg commented on #123
@sandorfr What branch were you looking at?  Commit feature was removed with this PR: https://github.com/aspnet/Configuration/pull/147/files

[2015-03-06 01:59] muratg commented on #112
@barrytang @abpiskunov any idea if tooling would be doing something differently here?

[2015-03-06 17:02] sandorfr commented on #123
@muratg my fork / branch was older than this PR :).

[2015-03-09 20:28] sayedihashimi commented on #112
Adding @BillHiebert who may know more.

[2015-03-09 20:44] PradeepKadubandi commented on #112
What is the version of K runtime you are using? To answer this,

1) Is there a sdk tag in your global.json file? if yes, what's the value of 'version' property?
2) If the above is not applicable, what version is 'default' alias pointing to on your box? (Use kvm alias)

May be the issue will go away if you use the latest runtime? What version of VS are you using by the way?

[2015-03-10 01:11] Gillibald commented on #112
Ok I can confirm that the Problem goes away with beta4 and still exists in Beta3. I am using Visual Studio 2015 CTP6. So we have to wait until Visual Studio works with Beta4. Atleast mine does not.

[2015-03-13 07:26] mcgear commented on #121
@muratg I was merging in the upstream dev line, and noticed all the file project extensions were updated to .xproj.  These do not load in VS 2015 CTP 6, and was wondering what insight you might be able to share with me.  I'm close to have the changes incorporated, tested, and pull request in, just gotta get over this hurdle..

[2015-03-13 07:30] mcgear commented on #121
@muratg I was merging in the upstream dev line, and noticed all the project file extensions were updated to .xproj. These do not load in VS 2015 CTP 6 for me, and was wondering what insight you might be able to share with me. I'm close to having the changes incorporated, tested, and pull request in, just gotta get over this hurdle..  Thanks for the help

[2015-03-13 13:19] tillig commented on #121
@mcgear This is part of the recent decision to rename KRE to DNX. They've not released a VS with the update yet. [Here's a .NET Community Standup](https://www.youtube.com/watch?v=-qt0POsiAF8&index=1&list=PL0M0zPgJ3HSftTAAHttA3JQU4vOjXFquF) explaining the change.

[2015-03-13 15:54] vossad01 opened #154 "NuGet packages fail to install from `aspnetvnext` because already has a dependency defined..."
In a traditional .NET application, I find that installation of packages from this repository containing dependencies fail when trying to install from [`aspnetvnext`](https://www.myget.org/gallery/aspnetvnext) (currently beta4-10982).  In other words, `Microsoft.Framework.ConfigurationModel.{Interfaces|Shared}` and `Microsoft.Framework.ConfigurationModel` will install, but `Microsoft.Framework.Conf

[2015-03-13 16:20] davidfowl commented on #154
See https://github.com/aspnet/Home/issues/368

[2015-03-13 16:20] #154 closed

[2015-03-13 16:47] glennc commented on #112
Closing as this appears to be fixed with newer versions of the package.

[2015-03-13 16:47] #112 closed

[2015-03-13 16:50] glennc opened #155 "Allow optional configuration source"
Something like:

[code]

[2015-03-13 18:20] rustd commented on #123
@glennc we need to bring this in for Beta4 per our discussion on managing keys

[2015-03-13 19:00] vossad01 commented on #154
@davidfowl Do you know where to follow the status of this for NuGet?  The linked material is about KRE -> DNX with the indication of the next VS CTP having the fix.  This app isn't using KRE currently or  VS 2015, so I gather it is NuGet that my issue.

[2015-03-13 19:05] muratg commented on #121
@mcgear as @tillig mentioned, this is due to our renames.  @davidfowl made the changes to make things work with OmniSharp, so perhaps you can try that.  Otherwise, you can use command line mostly, and use VS only as a fancy editor for now, until we are able to release the new tooling.

[2015-03-13 22:03] sandorfr commented on #123
I updated my fork and just add submitted a PR so we can discuss it.

[2015-03-16 17:48] Praburaj opened #157 "Review if Microsoft.Framework.ConfigurationModel.Shared package needs a description"

[2015-03-17 17:15] rustd opened #158 "Provide a way of reading from the Secrets config file"
Project Templates will create a file to store secrets for the app
File will be created in the following folder
	Windows - AppData/Roaming/Microsoft/AspNetUserSecrets/UserSecretsId/config.secrets.json
Project.json will have the following: "userSecretsId": "aspnet5-WebApplication108-GUID",The value is the same logic we use to specify database name in config.json
Template code to read config will be

[2015-03-18 20:29] muratg commented on #158
Hey @Praburaj can you have a look?  These are tooling blocking issues.

/cc @rustd @DamianEdwards

[2015-03-18 21:12] glennc commented on #155
Closing as duplicate of https://github.com/aspnet/Configuration/issues/123

[2015-03-18 21:12] #155 closed

[2015-03-19 08:27] davidfowl opened #159 "Add BasePath to IConfigurationSourceRoot"
Today we have [PathResolver](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.ConfigurationModel.Shared/PathResolver.cs) that uses statics to figure out the ApplicationBasePath. Instead maybe we should force users to pass a BasePath to the Configuration object so that it can flow that information to sources that require it. This would decouple the Configuration library from

[2015-03-19 18:38] Praburaj commented on #158
This bug will depend on https://github.com/aspnet/Configuration/issues/123.

[2015-03-20 15:01] dtkujawski commented on #27
The existing Configuration class can be used to support this functionality by adding a new extension method.  I would fork and upload this code, but I'll wait until the kproj >> xproj change is supported by VS so that I can use the IDE (I know, lazy me).

Anyway, here is a simple version of the code that will map (recursively) a config key (and subkeys) to a POCO object:
'''C#
		/// <summary>Map c

[2015-03-20 15:03] davidfowl commented on #27
This got moved to the aspnet/Options repository

[2015-03-20 15:03] #27 closed

[2015-03-22 21:50] gingters opened #161 "ConfigurationExtensions.Get<T>() should support Enum values"
Also related to #130

The Get<T> extension method should also support Enum types, which can't be created using Convert.ChangeType.

This small extension would make it behave very convenient on Enum types too:

        public static T Get<T>(this IConfiguration configuration, string key)
        {
            var type = typeof(T);
            var value = configuration.Get(key);

            if (typ

[2015-03-24 03:40] Praburaj commented on #159
Cross posting a comment made in another PR (https://github.com/aspnet/Configuration/pull/162/files#r26998962)

[2015-03-24 18:41] Praburaj commented on #158
Merged : https://github.com/aspnet/Configuration/commit/7a4af7df7c1aad45db5c046c9123330ecf2faf09

[2015-03-24 18:41] #158 closed

[2015-03-24 18:48] Praburaj commented on #158
Usage :

To install the `user-secret` tool globally:

[code]

Now open any command prompt and navigate to the project path (location of the project.json). To add a secret for the project (and do not forget to add a `"userSecretsId" : "Your secretsId"` value to your `project.json`):
`user-secret set Facebook:AppId secretValue`

To consume the secrets from your web application include the secrets co

[2015-03-24 21:40] divega opened #163 "SecretManager package name and namespaces seem to be wrong"
Should it be something like Microsoft.Framework.ConfigurationModel.SecretsManager instead of just "SecretManager"?

[2015-03-27 23:43] Eilon commented on #123
Approved for beta4.

[2015-03-30 17:02] Praburaj opened #168 "Can all constructors of XmlConfigurationSource be made public"
Also is it possible to remove some #if DNXCORE50 specific class usages in `XmlDocumentDecryptor`.

[2015-03-30 17:57] Praburaj commented on #123
Merged: https://github.com/aspnet/Configuration/commit/036586b53e9ec8b87268f09e5495e27a07ce89b7

[2015-03-30 17:57] #123 closed

[2015-03-30 18:01] Praburaj commented on #163
This is the package that contains the tool. I thought it will be convenient to have a shorter package name for the tool install. But I think it makes sense to change it to `Microsoft.Framework.ConfigurationModel.SecretManager`.

[2015-03-30 18:03] Praburaj commented on #163
Moved to https://github.com/aspnet/UserSecrets/issues/3

[2015-03-30 18:03] #163 closed

[2015-03-30 19:06] muratg commented on #159
Moving to beta 5 due to pending discussion.

[2015-04-02 12:16] sslava commented on #115
Hi folks! Any progress on this? :)

[2015-04-02 21:53] Tratcher opened #171 "Resources are missing calls to string.Format for parameters."
Resource strings like Error_FileNotFound have parameter fields '{0}', but don't use string.Format to fill in the parameters.
https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.ConfigurationModel.Json/Resources.resx#L127
https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.ConfigurationModel.Json/JsonConfigurationExtension.cs#L28

Check for any other exampl

[2015-04-02 22:00] Tratcher commented on #171
https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.ConfigurationModel/ConfigurationExtensions.cs#L37

[2015-04-02 22:22] Tratcher opened #173 "Improve handling of JsonReaderExceptions in JsonConfiguraitionSource.Load"
When the Newtonsoft.Json parser finds something it can't read it throws a very specific JsonReaderException:
[code]
Compare with the error message from the ini parser:
`System.FormatException - Unrecognized line format: 'Hello World'.`

JsonConfigurationSource.Load should:
A) Wrap these in a FormatException for consistency with everything else it throws, and with a better error message saying it c

[2015-04-03 23:24] glennc commented on #115
Can you guys drop me some examples of what you want to write in the config files to help drive this? Examples of the types of configuration, simple and complex ideally.

[2015-04-04 00:11] tillig commented on #115
My primary use case right now is [Autofac configuration](http://autofac.readthedocs.org/en/latest/configuration/xml.html). In that, you can configure different components and modules to be registered with Autofac. For example, I might imagine something like this:

[code]

The interesting bits in that example from an ordinal list perspective:

- A concrete type can expose 0 or more services.
- You

[2015-04-08 01:00] almightyju commented on #115
I've just ran into this problem myself, I'd like to use this config but I can't. I think I'd be happy with at least basic types support for arrays initially (as in strings, numbers)

[code]

[2015-04-08 08:07] kevinkuszyk commented on #115
For us in [R4MVC](https://github.com/T4MVC/R4MVC) it is just arrays of basic types too - strings in particular:

[code]

[2015-04-10 23:17] troydai commented on #159
Done.

[2015-04-10 23:17] #159 closed

[2015-04-12 09:39] davidfowl commented on #59
Closing this since it was removed.

[2015-04-12 09:39] #59 closed

[2015-04-12 09:42] davidfowl commented on #82
+1 and Toml

[2015-04-16 20:16] #171 closed

[2015-04-20 08:20] Jetski5822 commented on #82
+1

[2015-04-20 16:55] MFFoX commented on #115
:+1:  Looking forward to seeing this get implemented. I have a lot of use for this functionality

[2015-04-20 17:01] victorhurdugaci commented on #115
@davidfowl @lodejard @glennc let's discuss this today in the design meeting and close on the spec. We still need to figure out what to do with the configurations that don't support arrays by default (e.g env variables)

[2015-04-20 22:42] glennc commented on #115
What if this:

[code]

is just syntax sugar for this:

[code]

You iterate over the values of the collection by using `GetSubKey("modules")`. In Environment variables you can override a specific value with with the key `Modules:0`. So you would need to write out the entire thing in the environment variable keys.

Should also note that the following is consumable with the same code as the one above

[2015-04-20 23:08] tillig commented on #115
I don't feel strongly about whether it's just a syntactic sugar for auto-generated numeric "keys." That should work. As long as there is no unique constraint enforced on the values it should be just fine.

- **How would I know how many there are?** While there seems to be a way to get all the subkeys under the current configuration object, there doesn't seem to be a way to get all the keys immedia

[2015-04-20 23:23] glennc commented on #115
GetSubKeys returns an IEnumerable of KeyValue pairs, which you can count. You might need to know what keys could contain collections, but you would need to know that anyway right? or am I missing something?

Set is interesting, it doesn't actually make any changes to the configuration source. There is no way to commit config changes back to the source. All you are doing is updating the configurati

[2015-04-20 23:51] tillig commented on #115
I could be missing something with `GetSubKey("modules")` then. Could you maybe post an example? I imagined usage would be like...

    var modules = config.GetSubKey("modules");
    foreach(var key in modules.Keys)
    {
      // get the string value associated with the "fake index" key
      var module = modules[key];
    }

But there is no `Keys` property; instead there's `GetSubKeys()` so it so

[2015-04-21 09:51] Kieranties commented on #115
I've recently written a small POC with 'module' discovery that utilised the following pattern:

### Config
[code]
### Code
[code]

`includes` then has the three module type values

### Concerns
There's a few things I don't like about this pattern.

+ The format the configuration is in supports the concept of an array/list.  It feels wrong to be bastardising another aspect of the syntax to do the s

[2015-04-21 13:48] tillig commented on #115
@Kieranties mentioned something I didn't consider - **overrides**. If you merge two ordinal collections together... do you get a union of all the elements or do you get just the last collection to get merged in?

[2015-04-21 22:33] lodejard opened #181 "IConfiguration.Get behavior should be more consistent"
Both the root IConfiguration and the "focus"-ed configuration should accept null or string.empty as a .Get() argument. They're interpreted as the value at the current prefix (often null for the root config).

Also the implementation of .ToString on objects which implement IConfiguration should return the value provided by .Get(null)

[2015-04-21 22:41] lodejard opened #182 "IConfiguration.Get behavior should be more consistent"
Both the root IConfiguration and the "focus"-ed configuration should accept null or string.empty as a .Get() argument. They're interpreted as the value at the current prefix (often null for the root config).

Also the implementation of .ToString on objects which implement IConfiguration should return the value provided by .Get(null)

[2015-04-21 23:18] Eilon commented on #182
Your bugs should be more consistent. https://github.com/aspnet/Configuration/issues/181

[2015-04-21 23:18] Eilon commented on #181
Your bugs should be more consistent. #182

[2015-04-21 23:38] victorhurdugaci commented on #115
Below is a summary of the discussion and the spec.

TL;DR;
----

- Only json supports array. The magic will happen at options level, not config.
- Sorting in integers first, everything after
- Override happens at item level. Same index => overwrite

How it looks like
---

All the configurations below are equivalent:

**json**

[code]
which is actually syntactic sugar for
[code]

For json arrays, t

[2015-04-22 07:39] tugberkugurlu opened #183 "Enable passing IFileProvider into appropriate ConfigurationSources"
I want to use `EmbeddedFileProvider` on `IniFileConfigurationSource` but it's [tightly coupled to `FileSystem`](https://github.com/aspnet/Configuration/blob/7d42e66103baeb64eb86b768f36fd7be81dbedd4/src/Microsoft.Framework.ConfigurationModel/Sources/IniFileConfigurationSource.cs#L80) as far as I can see. It would be great if this source and other appropriate ones like `JsonConfigurationSource` acce

[2015-04-22 19:15] GuardRex opened #184 "AddEnvironmentVariables() not reading IIS8 Application Settings"
[code]
... is not pulling values from IIS8 Application Settings. Is that by design?

[2015-04-22 20:28] GuardRex opened #185 "AddEnvironmentVariables() required to use Set() method"
This ...
[code]
... **will not work** setting configuration values.

However, this ...
[code]
... **works**. Is that by design? I would have thought that just creating a `new Configuration()` would be enough to allow setting config values.

[2015-04-22 20:51] serkanpektas commented on #185
@GuardRex Currently, there is no default provider by the design in the Configuration Source. However, it is designed to have multiple provider at the same time. You can add many provider as you like and it will retrieve the key(s) by reverse ordinary. (Last provider has more priority.)

[2015-04-22 22:11] GuardRex commented on #185
@serkanpektas The issue I was having was that absolute paths have (apparently) been instituted for config files, which was making things a little painful trying to figure out where to keep a config file and consume it from different places on different systems. I wanted a simple way to handle config settings between two environments. Since I only needed a tiny number of config settings (and I'm on

[2015-04-22 22:49] #184 closed

[2015-04-22 22:50] #185 closed

[2015-04-23 05:07] lodejard commented on #115
The ini example would be:

[ip]
0=1.2.3.4
Etc

Because in the other examples "addresses:" isn't part of the key

Sent from mobile device
________________________________
From: Victor Hurdugaci<mailto:notifications@github.com>
Sent: ‎4/‎21/‎2015 4:38 PM
To: aspnet/Configuration<mailto:Configuration@noreply.github.com>
Cc: Louis DeJardin<mailto:lodejard@microsoft.com>
Subject: Re: [Configuration] Su

[2015-04-23 05:09] lodejard commented on #181
Closed, duplicate #182

[2015-04-23 05:09] #181 closed

[2015-04-23 05:09] lodejard commented on #182
Closed, duplicate #181

[2015-04-23 05:09] #182 closed

[2015-04-23 15:39] Eilon commented on #181
@lodejard did you really mean to close *both* bugs??

[2015-04-25 21:33] timmydo opened #187 "System.TypeLoadException: Method 'get_BasePath' in type 'Microsoft.Framework.ConfigurationModel.Configuration'"
I just upgraded to beta5, and I'm trying to figure out how this needs to change:

			Configuration = new Configuration()
				.AddJsonFile("config.json")
				.AddEnvironmentVariables();

I saw some talk about providing a base path, but didn't find any code, and this error message isn't helping me too much...

System.TypeLoadException: Method 'get_BasePath' in type 'Microsoft.Framework.Configuration

[2015-04-25 21:55] Eilon commented on #187
@timmydo try something like this:

[code]

[2015-04-25 21:55] davidfowl commented on #187
Something is pulling in an older version of configuration. You're using beta5 without a -* or build number and that might be the problem. In the project.lock.json file and see if ConfigurationModel and ConfigurationModel.Json are the same version.

[2015-04-25 22:24] timmydo commented on #187
Thanks @Eilon  and @davidfowl !!

Looks like AspNet.Hosting was requesting a later version of the base library than the json one I was requesting resolved to (see below).

Since there doesn't seem to be a way for ConfigurationModel to require ConfigurationModel.Json be on the same version, how would this scenario work in the future? Class name changes when the interface breaks?

Is there a preferr

[2015-04-25 22:52] davidfowl commented on #187
It's failing because you essentially downgraded the version of ConfigurationModel.Json (but putting an explicit version in your application's project.json). We have a work item to show a warning/error for this scenario to avoid this kind of confusion.

The versions don't have to be the same. We recently made a breaking change and you got unlucky and ended up with incompatible versions. In the futu

[2015-04-26 01:43] timmydo commented on #187
I guess in the future, when semver is implemented, dnu will give me an error saying it can't resolve dependencies in the above situation (or let me force a manual override if I want to risk breaking changes?).

For the time being, I'll try using -*. It's a fun challenge to not have intellisense and have to refer to GitHub issue discussions or test cases (or the little sample code in GitHub) to try

[2015-04-26 01:43] #187 closed

[2015-04-28 19:15] #115 closed

[2015-04-29 23:27] muratg opened #189 "Pkg rename: Microsoft.Framework.ConfigurationModel.Interfaces -> Microsoft.Framework.ConfigurationModel.Abstractions"
See https://github.com/aspnet/Announcements/issues/8#issuecomment-97566113

[2015-04-30 00:34] BrennanConroy commented on #189
https://github.com/aspnet/Configuration/commit/38e05891e42df691ef3b5f735f438a3ff3e5981a

[2015-04-30 00:34] #189 closed

[2015-05-06 12:03] mgbee8 opened #191 "Application will not start once I follow new means for creating Configuration"
I am incrementally building and application starting from empty.
Once I add the new means of constructing a Configuration object as described here:
[Announcements](https://github.com/aspnet/Announcements/issues/13)

I receive the following error:

	System.InvalidOperationException: No service for type 'Microsoft.Framework.Runtime.IApplicationEnvironment' has been registered.
	   at Microsoft.Frame

[2015-05-06 21:56] timmydo commented on #191
I had the same issue last night until I upgraded dnvm. Did you specify the unstable flag to make sure you got the latest beta5 and not beta4?

[2015-05-07 09:44] mgbee8 commented on #191
I did have beta5 installed but then upgraded to latest dnvm and it went away

Date: Wed, 6 May 2015 14:56:35 -0700
From: notifications@github.com
To: Configuration@noreply.github.com
CC: mgbee110@hotmail.com
Subject: Re: [Configuration] Application will not start once I follow new means for creating Configuration (#191)

I had the same issue last night until I upgraded dnvm. Did you specify the un

[2015-05-07 09:52] #191 closed

[2015-05-07 09:52] davidfowl commented on #191
Thats'a version mismatch issue.

[2015-05-08 14:00] ardalis commented on #96
I see this issue is fixed in an upcoming release. Related question - is there a plan to ship a ConfigurationSource that is just an in-memory collection (sorry if I missed it somewhere)?

[2015-05-08 14:06] ardalis opened #193 "ConfigurationExtensions.AddInMemoryCollection()"
Add an extension method for configuring a MemorySource.

[2015-05-08 21:09] Eilon commented on #96
As in, you see that if there are no registered sources, that `Set()` now throws?

[2015-05-08 21:12] ardalis commented on #96
Correct. I ran into the exact issue as the OP of this issue earlier today, in a sample I was working on. I really expected there to be an in-memory store configured by default, but I'm fine with nothing by default as long as an exception lets me know I'm doing something I shouldn't be (like setting when no source has been configured). Another option would be to require a source in Configuration()'

[2015-05-12 14:27] ppanyukov commented on #82
+1

A couple of reasons for YAML for me:

- **Comments**. AFAIK there are no comments in JSON proper, e.g. you can't really write something like:

[code]

- **Fewer syntactic constraints**. These include things like:

   - Have to have those quotes.
   - Those commas in object and array definition: miss one or have a trailing one -- boom.

[2015-05-13 14:54] divega opened #194 "BCL API review feedback: Split implementation of IConfigurationSourceRoot and IConfiguration"
While the consuming and producing interfaces (IConfiguration and IConfigurationSourceRoot) are already separate, there is one concrete implementation (Configuration) that conflates them.

This causes a usability issue. The following code looks like should work but won't compile:

[code]

While you can invoke the `AddX` extension methods on a Configuration, the methods will (appropriately) return I

[2015-05-13 15:24] divega opened #195 "BCL feedback: Separate platform specific configuration source implementations into their own packages"
Currently the Microsoft.Framework.ConfigurationModel package contains the implementations of IConfiguration and IConfigurationSourceRoot as well as a set of "built-in" IConfigurationSource implementations:

- CommandLineConfigurationSource
- IniFileConfigurationSource
- EnvironmentVariableConfigurationSource
- MemoryConfigurationSource

We believe that the implementation of IConfiguration and ICon

[2015-05-13 19:07] divega opened #196 "BCL API review feedback: Find a better name for IConfigurationSourceRoot"

[2015-05-13 19:07] divega opened #197 "BCL API review feedback: Find a better name for IConfiguration.GetSubKey()"

[2015-05-13 19:08] divega opened #198 "BCL API review feedback: Find a better namespace name than ConfigurationModel"

[2015-05-13 19:18] Eilon commented on #195
Memory should stay in the main package.

All the other sources should each go into their own packages.

[2015-05-13 19:19] Eilon commented on #195
Check whether the templates need to be updated.

[2015-05-13 19:23] Eilon commented on #196
`IConfigurationBuilder` / `ConfigurationBuilder`

[2015-05-13 19:27] Eilon commented on #197
`GetConfigurationSection(...)`

[2015-05-13 19:42] Eilon commented on #198
Change namespace `MS.FX.ConfigurationModel` to `MS.FX.Configuration`. (Same for package names.)

And change the `Configuration` class (the one that implements `IConfiguration`) to be `ConfigurationSection`.

[2015-05-13 19:52] Eilon opened #199 "Remove strongly-typed Get<T> support from configuration"
To get strongly-typed data, you should use Options. That has way, waaaaaaaay fancier binding support for strong types, including collections and dictionaries.

[2015-05-13 19:53] Eilon commented on #161
We had a discussion on this and decided that configuration should be focused on string/string mapping and that Options should be used for strongly-typed mappings. See https://github.com/aspnet/Configuration/issues/199 for more info.

[2015-05-13 19:53] #161 closed

[2015-05-13 19:54] Eilon commented on #157
This package doesn't exist anymore.

[2015-05-13 19:54] #157 closed

[2015-05-13 20:08] Eilon commented on #96
`IConfiguration.Set()`'s implementation should throw if there are no providers.

However, all providers should implement `Set()` to store the data in their local dictionary cache.

[2015-05-13 20:11] divega opened #200 "BCL API review feedback: Remove basePath argument from Configuration/ConfigurationBuilder constructor"
Currently the Configuration constructor takes a string basePath argument that can be flown to all its associated file-system based configuration sources for convenience. But this entangles the layering (at least conceptually) because we want Configuration to be available even in platforms in there is no concept of a file system available to the application.

One proposal is to remove the argument

[2015-05-14 16:18] dannykay1710 opened #201 "Configuration.Json not parsing values from config when targeting coreclr"
Using DNX version 1.0.0-beta4, Visual Studio 2015 RC

To reproduce:

* Create a new vNext web site using the web site template.
* In Project properties use specific DNX version and change the platform to .NET Core.

When you run the application the site's title is no longer parsed from config.json. Changing the platform back to .NET Framework get's the site title correctly parsed from config.json

[2015-05-14 16:40] KrzysztofCwalina commented on #198
@Eilon, I thought we won't be using MS.FX. Having said that, I think we should first design the API changes and then decide what namespace they go. If the resulting APIs end up being very general purpose, we could put them in System.Configuration.<something>

[2015-05-14 17:47] Eilon commented on #198
@KrzysztofCwalina yup agreed. That's why for now we're ignoring the top ~2 namespace levels and just honing the APIs themselves (classes and method names).

[2015-05-15 14:43] Kieranties commented on #129
I've recently made an attempt at this myself at https://github.com/Kieranties/Configuration/commit/679b60eb0e566541d6225a398bb7b76ad867f2be.
It's not quite ready for a PR but may help get the conversation going.  There's still some more work to do around the testing null values, arrays etc but the general aim is to support the following:

* `${some:key}` - Denotes a nested key
* Deeply nested keys

[2015-05-15 18:27] #199 closed

[2015-05-17 06:14] Eilon commented on #197
Just noticed that the new name we wanted was `GetConfigurationSection(...)` (singular), not `GetConfigurationSections(...)` (plural).

[2015-05-17 06:20] Eilon commented on #197
Duh nevermind, just realized that both methods exist. Nothing to see here :smile:

[2015-05-17 06:20] #197 closed

[2015-05-18 17:30] #196 closed

[2015-05-18 18:35] muratg commented on #201
I reproduced this.

[2015-05-19 14:09] Kieranties commented on #130
Hey all, I guess with #199 in place, this can be closed?

[2015-05-19 16:55] sayedihashimi opened #207 "Support for Azure App Settings"
We have first class support for connection strings defined in Azure Web Apps (_formerly Azure Web Sites_) which translates env vars with name like

[code]

To be compatible with the Configuration object. The code which does this is [here](https://github.com/aspnet/Configuration/blob/d53fd365ff3c983ca57700c8f26213e6c8dd968b/src/Microsoft.Framework.ConfigurationModel/Sources/EnvironmentVariablesConf

[2015-05-19 23:11] #96 closed

[2015-05-20 19:13] divega opened #210 "BCL API Review feedback: Move ConfigurationBinder functionality into its own package in the Configuration repo"
https://github.com/aspnet/Configuration/pull/205 moved the POCO binding functionality from Options directly into the ConfigurationModel package. In order to align Configuration with BCL requirements across different platforms we want to keep the core configuration package free of hard dependencies with reflection.

This also aligns with the decision that at the core, Configuration is only going to

[2015-05-20 19:13] divega commented on #210
cc @HaoK @Eilon

[2015-05-20 19:20] divega commented on #130
POCO binding was moved from Options into the Configuration repo recently (see https://github.com/aspnet/Configuration/pull/205). It is currently in Microsoft.Framework.ConfigurationModel although I think it is misplaced there (see #210). Regardless of the specific location, would any part of this improvement apply to the new code?

[2015-05-20 20:28] Kieranties commented on #130
@divega I'd think the logic when using the full runtime could still be applied at https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.ConfigurationModel/ConfigurationBinder.cs#L217.  Essentially, anywhere `Convert.ChangeType` is used TypeConverters should also be considered.

[2015-05-20 20:29] #195 closed

[2015-05-20 21:41] #198 closed

[2015-05-21 21:25] #210 closed

[2015-05-21 22:27] kirthik commented on #201
I could reproduce this against beta4 bits but I could NOT reproduce this against latest bits. Could you please try it against the latest bits?

Closing this bug for now but please feel free to re-open if you can repro it against latest bits.

[2015-05-21 22:27] #201 closed

[2015-05-21 23:04] rkeithhill opened #213 "IOptions<AppSettings> not working in dnxcore50"
I'm following the ASP.NET5 WebSite template in VS 2015 RC.  The startup.cs in this sample does this:
[code]
Then it does this:
[code]
At this point you can look at Configuration, open its Sources index 0 and drill into the Data to see that the SiteTitle has been set.
Then in _layout.cshtml page, `IOptions<AppSettings>` is being injected:
[code]
But the AppSettings.Options.SiteTitle field is null.

[2015-05-22 13:15] #194 closed

[2015-05-23 12:19] MichaCo opened #214 "ConfigurationBuilder.AddJsonFile throws exception if no base path is specified"
This is more a question/opinion in the first place. And I think this is applicable to all AddxyzFile extension methods because the problem is the `ResolveConfigurationFilePath` in `ConfigurationHelper`.

Now, when I new a `ConfigurationBuilder` using the empty ctor, the base path is not set obviously.
Then, even if `File.Exists(path)` would return true, meaning the file exists, `builder.AddJsonFil

[2015-05-23 15:32] timmydo commented on #214
To answer your question, I think the reason there is a ctor without the base path is so that you can support the scenario where you call functions that don't need to open files, e.g. AddEnvironmentVariables

[2015-05-23 16:24] MichaCo commented on #214
Makes sense, but that was not my only question/concern ;)
The behavior is still pretty inconsistent.

Maybe  I don't see the real reason for it, but I'd remove the base path all together. The methods can also take a full or relative path as one parameter, and using a relative path in the current implementation is weird because you don't really have any base path ;)

[2015-05-23 19:42] timmydo commented on #214
#200 and #194

[2015-05-26 16:44] targunp opened #215 "Nuget Build"
Hi Guys, thanks for the hard work.  Does anyone know when the latest build will be available in the vnext nuget pm?

[2015-05-27 20:18] MichaCo opened #216 "ConfigurationBinder to support more property types"
Currently the `ConfigurationBinder` supports only the base types and Enums.

How about adding
* `Type`: Expressed as string, e.g. "System.String" or "System.String, System" to include the assembly
* `TimeSpan`: Commonly used for timeout properties. Expressed as string: `"356.23:59:59.999999"` which can be parsed via `TimeSpan.Parse`
* `DateTimeOffset`?

[2015-05-27 20:28] davidfowl commented on #216
Not a fan for this one as it requires potentially loading an assembly which can go wrong in some ways.

The others seem fine and you should totally send a pull request :smile:

[2015-05-27 21:03] RickStrahl opened #217 "Enum Binding for config.json"
Looks like enum values are not supported for JSON value bindings in config.json/IOptions<T> binding.

I have a config class like this and LogModes below won't bind either with a string or numeric value.

[code]

It'd be nice to support enum values - especially text based values - since for configuration that's quite common.

[2015-05-27 23:03] #215 closed

[2015-06-01 21:18] Rick-Anderson opened #219 "builder.AddJsonFile("config.{env.EnvironmentName}.json"); does not work"
builder.AddJsonFile("config.{env.EnvironmentName}.json"); does not work for EnvironmentName != "Development".

To repro, just create a new MVC 6 project. Copy  config.json to config.Development.json and config.Test.json.
Set the test/Dev SiteTitle strings to be unique. Here is my config.Test.json
{
  "AppSettings": {
      "SiteTitle": "Test Evn 3S"
  },

When EnvironmentName == "Development", it

[2015-06-01 23:12] Rick-Anderson commented on #219
More testing show "Test" is not allowed, you can only use Development, Staging, and Production. On local host, setting ASPNET_ENV to "Staging" does not change the value of ASPNET_ENV,  it still resolves to "Development" - so the settings in config.Staging.json are not read. WHen I set ASPNET_ENV = Staging on Azure, the config.Staging.json is not read. KUDU shows:
ASPNET_ENV = Staging
D:\home\site\

[2015-06-01 23:57] Rick-Anderson commented on #219
Setting ASPNET_ENV to "Production" works as expected on localhost.

[2015-06-02 00:15] Rick-Anderson commented on #219
displaying env.EnvironmentName shows the environment variable is being set correctly, so this is a config bug.

[2015-06-02 15:52] MichaCo commented on #216
@davidfowl Hi David, I sent a PR for that few days ago, enjoy ;)

One question, not related to this:
I'm working on a German Windows and when running certain unit tests from different aspnet or dotnet repositories, the tests are failing because there are checks against e.g. exception messages. But those are localized, meaning, I'm getting different results ;)
If I remember correctly, in the old as

[2015-06-02 16:47] dougbu commented on #216
@MichaCo the `Microsoft.AspNet.Testing` package contains both a `[ReplaceCulture]` attribute and a `CultureReplacer` class useful within narrow `using` blocks. Tests in the Configuration repo do not currently use either. Correcting the ones that fail when using German Windows would be a useful separate PR...

[2015-06-09 13:23] vossad01 opened #221 "Read only configuration?"
Was any thought given to having `Set` (and probably `Reload`) from `IConfiguration` belong to a different interface?

In my case I am not really wanting to inject a configuration interface through out my application that allows the receiving code to modify the configuration.  It was simple enough to write my own interface that exposes read-only members and adapter.  However, since the project is s

[2015-06-11 05:23] swhaworth opened #222 "Issue with environment variables in Linux"
Hi,

I have been tracking down why Omnisharp does not start on VSCode running in Linux 64-bit (Mint 17.1) and I narrowed it down to the method:

    void Microsoft.Framework.Configuration.EnvironmentVariables.Load(IDictionary)

in

    Configuration/src/Microsoft.Framework.Configuration.EnvironmentVariables/EnvironmentVariablesConfigurationSource.cs

This throws an error when you have multiple env

[2015-06-12 16:42] kspearrin opened #223 "Shared config across multiple projects within same solution"
Using `beta-4` I can add a config file to my project like so:

[code]

If I have multiple projects within a solution that share the same config settings, I have to create a `config.json` for each project with the same settings in it.

What if I want to share settings in a single "global" config file across multiple projects within the same solution?

My solution directory structure looks like this

[2015-06-12 16:54] dougbu commented on #223
@kspearrin you have at least two options: Include `"../"` in the relative path you pass to `AddJsonFile()` or pass the absolute path to that method.

Quick reminder the APIs here have changed in Beta 5 and more recent `dev` builds (if you are on the bleeding edge): See aspnet/Announcements#13, aspnet/Announcements#14, and aspnet/Announcements#25 for more information.

[2015-06-12 16:57] kspearrin commented on #223
Wonderful! Thanks.

[2015-06-12 16:57] #223 closed

[2015-06-17 06:05] Eilon commented on #222
@kirthik can you also review https://github.com/aspnet/Configuration/pull/226 and merge it if you sign off?

[2015-06-18 17:16] #222 closed

[2015-06-19 13:30] jdcrutchley opened #227 "Environment source won't work in Linux"
Linux environments don't allow colon characters in environment variable keys.

[2015-06-19 14:46] davidfowl commented on #227
Yes this hit me as well. We need an alternative way to access the hierarchy of keys

[2015-06-19 16:22] muratg commented on #227
Ugh, this sucks. Apparently `.` is also not allowed.  `_` is allowed, but then that might clash with the variable names themselves.

[2015-06-20 12:12] MichaCo commented on #227
If you guys want to be strict `_` is most likely the only option, at least according to [this open group spec](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap08.html).

`$` works, it seems. Just seems a little bit odd to have `$` in the variable name `~$ echo $x$y`

I'd vote for `_`

[2015-06-23 17:30] muratg commented on #219
@kirthik can you investigate?

[2015-06-23 17:31] muratg commented on #219
It's actually the way templates use 3 domains. It's by design. You can update your app to do this

[2015-06-23 17:31] #219 closed

[2015-06-24 17:52] muratg commented on #183
This is a good to have. @tugberkugurlu do you still have time to give it a go?

[2015-06-24 18:24] tugberkugurlu commented on #183
Sure, I can give this a go during this weekend.

[2015-06-25 18:01] muratg commented on #129
@kirthik Moved to beta 7.  Let's sync up (with Fowler and folks) to see if we want to do this in any particular way.

[2015-06-29 22:16] kirthik commented on #173
merged 341661addb52270a4ea65366ca625d35ab637a95

[2015-06-29 22:16] #173 closed

[2015-06-29 22:20] divega opened #230 "BCL API review: Consider removing Get() and Set() methods from IConfiguration"
`TryGet()` and the indexer already provide the functionality we need and there has been feedback that the indexer is the preferred pattern for many of our users, so `Get()` and `Set()` methods are redundant and can be removed.

[2015-06-29 22:25] divega opened #231 "BCL API review: Rename GetCofigurationSection() and GetConfigurationSections() methods on IConfiguration"
The current names contains redundancy and aren't very clear. Here are some suggested changes we believe help improve on that:
- `GetConfigurationSection()` changes to `GetSection()`
- `GetConfigurationSections()` changes to `GetChildren()`
 - argument of `GetChildren()` overload should be `parentKey`

[2015-06-29 22:52] divega opened #233 "BCL API review: Get rid of BasePath on IConfigurationBuilder"
Currently there is a `ConfigurationBuilder` constructor that takes a `basePath` string and a `BasePath` string property in the `ConfigurationBuilder` class and the `IConfigurationBuilder` interface. This is the typical usage:

[code]

This introduces a weird conceptual layering issue between core configuration concepts and file system concepts. We have discussed two alternative ways to decouple th

[2015-06-29 23:20] kirthik commented on #183
@tugberkugurlu Just wanted to check on the status of this issue. Could you please let me know if you are you currently working on it or plan to work on it?

[2015-06-29 23:22] kenwarner commented on #82
+1

[2015-06-30 02:22] divega opened #234 "BCL API review: Rename "source" to "provider""
Currently each of the specific components that can be chained to _provide_ configuration data from a different _source_ is an `IConfigurationSource`. The proposal is to change this to be an `IConfigurationProvider` which is believed to be more consistent with how we have use these words in the past and across the stack.

[2015-06-30 02:26] divega commented on #200
Superseded by #233.

[2015-06-30 02:26] #200 closed

[2015-06-30 02:30] divega commented on #233
Note that the second option could be used to implement #183.

[2015-06-30 04:29] divega opened #235 "BCL API review: Rename IConfigurationSource.ProduceConfigurationSections() to GetChildKeys()"
Configuration providers need to implement a method with the following signature:

[code]

The method does not produce or return actual configuration sections but keys for configuration sections. How the `earlierKeys` parameter is supposed to be used by a provider doesn't appear to be clear from the naming either.

I am creating this item so that we can discuss this method and if possible find bett

[2015-06-30 04:51] divega opened #236 "BCL API review: ConfigurationBinder feedback"
The `ConfigurationBinder` static class is considered DNX specific and embodies the ability to apply configuration values from an IConfiguration to the matching properties of an instance of a simple class. It is used in the implementation of Options.

Currently there are two public Bind methods in it:

[code]

The methods have different purposes, e.g. the generic version will create an object of ty

[2015-06-30 08:19] MichaCo commented on #233
@divega I like the second one, too, but I'm curious about what happens if you do not specify the base path.
In the current implementation, `basePath` seems to be mandatory.
Would `AddJsonFile("config.json")` throw, if you don't call `SetBasePath`? I think that would be bad because it's "easy to get wrong".
On the other hand, if `basePath` would be optional, this syntax would totally make sense!

A

[2015-06-30 14:24] tugberkugurlu commented on #183
@kirthik Yep, will look at it today.

[2015-06-30 16:51] #193 closed

[2015-07-01 09:10] tugberkugurlu commented on #183
Looking at this now and it seems that [file-based config sources supposed to work with absolute paths](https://github.com/aspnet/Configuration/blob/d467b4cea869793bfa162453592af1d70d6137ca/src/Microsoft.Framework.Configuration.Ini/IniFileConfigurationSource.cs#L54-L56). However, [`IFileProvider` implementations supposed to work with relative paths](https://github.com/aspnet/FileSystem/blob/a676c9c

[2015-07-01 09:38] tugberkugurlu commented on #183
The other issue I am see is that [Microsoft.AspNet.FileProviders.Abstractions](https://github.com/aspnet/FileSystem/blob/a676c9c6c6f3427c83bfaff29adbc7c168074460/src/Microsoft.AspNet.FileProviders.Abstractions/project.json) is not available on '.NETPlatform,Version=v5.0' I assume. I can ifdef my way to the victory for now but not sure what would be the best way.

[2015-07-01 15:07] kspearrin opened #237 "NuGet feed update for beta5"
The NuGet feed needs to be updated for `beta5`. They are still on `beta4`.

https://www.nuget.org/packages/Microsoft.Framework.ConfigurationModel.Json
https://www.nuget.org/packages/Microsoft.Framework.ConfigurationModel.UserSecrets

[2015-07-01 15:47] BrennanConroy commented on #237
The packages have been renamed, see https://github.com/aspnet/Announcements/issues/25
Announcements repo will have breaking changes for each milestone in separate issues.

[2015-07-01 15:47] #237 closed

[2015-07-01 18:21] tugberkugurlu commented on #183
I think this needs a bit more thinking through as we will end up referencing `Microsoft.AspNet.FileProviders.Abstractions` here which is under `Microsoft.AspNet` whereas the Configuration library is under `Microsoft.Framework`.

[2015-07-01 22:40] muratg commented on #183
Moving to Beta 7 to discuss this one further.

[2015-07-02 09:26] tthiery opened #239 "Command Line Arguments - NDesk.Options"
I used NDesk.Options for some projects of mine. Their configuration for command line arguments is quite superior to the current source code of the command line parser of this project. What about extending the implementation to match these?

It is licensed under MIT. I am not aware of the MIT/Apache2 code takeover situation but at least the configuration possibilities should be extended to match ND

[2015-07-02 12:00] davidfowl commented on #239
It would need to be another package. Also, the command line configuration still needs to project flags into name value pairs so I'm not sure I see the value in using something like ndesk options.

[2015-07-02 12:05] tthiery commented on #239
I am not advocating using the package. Just look at the configuration of the configuration ;). E.g. short name and long name for parameter. This is quite common for command line tools (e.g. --user vs. -u or /? and --help). The same is true for flags. you could translate a flag in a string True or False to be compliant with the output model of the Api.

[2015-07-02 12:10] MichaCo commented on #239
There are many such libraries out there which do something with the command line, like NDesk.Options or [Args](https://www.nuget.org/packages/Args/).
I'd rely on them writing extensions for the ASP.NET configuration, or having other 3rd party nuget packages to add configuration sources for this.

Another options is to not use the `Microsoft.Framework.Configuration.CommandLine` package but one of t

[2015-07-02 12:11] tthiery commented on #239
btw I could help coding it.

[2015-07-02 12:14] tthiery commented on #239
I am always a fan of a one-stop solution. Having third parties adding their features as extension is surely a solution, but offering a very limited functionality here is a pity.

[2015-07-02 18:37] #168 closed

[2015-07-02 22:10] andreymir opened #240 "Beta 5 package"
Is there a beta5 package? On nuget.org I only could see beta4. I've tried to use the beta4 package with beta5 runtime, but the application crashes with the exception:

System.NullReferenceException: Object reference not set to an instance of an object
  at Microsoft.Framework.ConfigurationModel.PathResolver.get_ApplicationBaseDirectory () <0x73677bc0 + 0x00018> in <filename unknown>:0
  at Microso

[2015-07-03 08:08] MichaCo commented on #240
As it was mentioned a few times, the packages got renamed to `Microsoft.Framework.Configuration`

https://www.nuget.org/packages/Microsoft.Framework.Configuration

[2015-07-03 08:10] davidfowl commented on #240
See https://github.com/aspnet/Announcements/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0-beta5

[2015-07-03 08:10] #240 closed

[2015-07-03 23:52] Eilon commented on #213
Maybe a dup of https://github.com/aspnet/Configuration/issues/201? Though that one seems to not reproduce anymore.

[2015-07-03 23:53] Eilon opened #241 "AddJsonFile("config.json") is losing character encoding"
Copied from: https://github.com/aspnet/Home/issues/649

---------------------

I have inside config.json
[code]
Contents of config.json are read as so
[code]
However it loses encoding, when I read the value retrieved
[code]
It is critical to fix this as sites, and settings will be written in languages other than English

-------------

[2015-07-03 23:54] Eilon commented on #241
@developer1998  @rdefreitas

[2015-07-04 17:35] perezgb commented on #97
I think this is similar to the decision the team took on issue #199. Basically it's been decided the Configuration api will only deal with string and ConfigurationBinder should be used to get typed settings. I've written a post about the ConfigurationBinder in case anyone wants a quick overview.
http://perezgb.com/2015/07/04/aspnet-5-typed-settings-with-the-configurationbinder

[2015-07-06 14:47] mfilippov opened #242 "I got exception when I use AddJsonFile."
Version: Microsoft.Framework.ConfigurationModel.Json = 1.0.0-beta4,
For code:
public class Startup
    {
        public IConfiguration Configuration { get; set; }

        public Startup()
        {
            Configuration = new Configuration()
                            .AddJsonFile("config.json")
                            .AddEnvironmentVariables();
        }

        public void ConfigureS

[2015-07-06 15:55] davidfowl commented on #242
Does it repro with beta5?

[2015-07-06 17:14] muratg commented on #242
Also see https://github.com/aspnet/Announcements/issues/25#issuecomment-106141289

[2015-07-06 17:28] muratg commented on #241
@developer1998 Does it render like that on the web page? Or just when you print it out to the Console. In the latter case, this is expected (on Windows at least.)  If it's former, we'll need to investigate. (/cc @kirthik)

[2015-07-06 18:16] mfilippov commented on #242
@muratg It worked, thanks for help!

[2015-07-06 18:17] #242 closed

[2015-07-06 22:45] developer1998 commented on #241
@muratg Yes it renders with lost encoding on the page. That is how I was able to spot the problem.

[2015-07-06 23:01] runxc1 commented on #112
So what were some workarounds for this as I am getting this error using Beta5 (The configuration bits are Beta4 as there is no Beta5 of that yet)

[2015-07-07 01:02] muratg commented on #112
@runxc1 Configuration is also beta 5 with the rest of the stack, though there are some renames.  Please see https://github.com/aspnet/Announcements/issues/25

Please reactivate if this still repro's with beta 5.

[2015-07-07 18:05] tuppers360 opened #244 "Startup.cs in Beta 5 - what changes are required???"
Hi after creating a new website in VS2015 RC and updating the packages to Beta 5 the startup file generated is:
[code]
I have tried amending line 52:
[code]
to
[code]
and adding the required namespace of Configuration but this generates an ambiguity for the configuration.

Can anyone point me in the right direction for a code sample to resolve this?

[2015-07-07 18:25] Eilon commented on #244
Can you show the exact error(s) you're getting?

[2015-07-07 20:03] tuppers360 commented on #244
First I get:
[code]
but change the following:
[code]
to
[code]
remove:
[code]
add
[code]
then receive the following error on the first line of this block:
[code]

error:
[code]
from there I am a little stuck

[2015-07-08 16:59] yhax commented on #244
I had the same issue.. You may need to use ConfigurationBuilder, described more in this thread -
https://github.com/aspnet/Announcements/issues/25

[2015-07-08 17:05] Eilon commented on #244
@kirthik can you also help take a look at this?

[2015-07-08 18:12] tuppers360 commented on #244
Well thanks for all the help I changed ConfiguartionModel to Confguration in the using statements.

Changed the code in the constructor to:
[code]

I then also changed the project.json file dependencies from:
[code]
to
[code]
this has rectified all errors.

Again thanks for the help. Just now an Identity issue with PasswordSignInAsync so will raise an issue in the correct repo!

Many thanks!

[2015-07-08 18:25] yhax commented on #244
You're welcome. fyi, I also had an issue with signin I just had to change something to Context.Authentication... good luck!

[2015-07-08 18:42] tuppers360 commented on #244
Cool resolved it changing:
[code]
to
[code]

[2015-07-09 05:16] tuppers360 commented on #244
sorted it now, just getting an issue with browser link bit annoying!! can anyone point me in the right direction when I receive the following error:
[code]
Thanks to all again much appreciated for your assistance

[2015-07-09 05:17] davidfowl commented on #244
I'm closing this issue. Please file questions like this on aspnet/Home instead of specific repositories.

[2015-07-09 05:17] #244 closed

[2015-07-09 05:19] davidfowl commented on #239
Can you list the features you want from NDeskOptions and show how you will consume them via the configuration API?

[2015-07-09 11:10] tthiery commented on #239
If I understand your question right, I would propose the following extension to the CommandLineConfigurationSource

[code]
the following examples will lead to the following result

[code]
I use serialized boolean values for the boolean command line flags. When I understand the storage model right, Configuration use internally a string to string dictionary and cannot deal with other data types.

[2015-07-09 21:05] bricelam opened #245 "NeutralResourcesLanguage Warning on UWP"
I'm getting the following warning on a Universal Windows App.

[2015-07-10 05:50] Eilon commented on #245
See https://github.com/aspnet/Options/issues/73

[2015-07-11 06:08] divega opened #246 "BCL API review: More IConfiguration changes and IConfigurationSection addition"
Based on great feedback from the API review meeting (notes at https://github.com/dotnet/apireviews/tree/master/2015-06-30-configuration) and further offline discussions we would like to update the common IConfiguration interface to look like this:

[code]

There are two specializations of this interface. The first one is used only for the root node and is returned by the ConfigurationBuilder. It h

[2015-07-11 12:21] smbecker commented on #246
These interfaces look and feel very much like a read-only view of configuration. Why have the two setters? They feel out if place with the rest of the interfaces. Granted, maybe this is more of a conversation to have on #221 but I figured I would at least ask.

[2015-07-11 13:53] divega commented on #246
They are not really read-only. Currently you can set a configuration value and it will be remembered for the lifetime of the root IConfiguration. In the future we may add a new contract to be able to make those durable.

[2015-07-13 22:34] muratg commented on #129
@rowanmiller Can you do it on the EF side?

[2015-07-14 09:35] ivan-brunet commented on #235
Why not simply getting rid of the 'earlierKeys' parameter ?
We can call `Concat` inside the `Aggregate` function code instead of letting the source taking care of that. It's not its job after all.
We can even rename the method to something like `GetChildrenKeys` (to be on par with the new `IConfiguration` signature specified in #246 and specifically the method `GetChildren()` which will be the one

[2015-07-14 09:46] ivan-brunet commented on #246
Why not simply put the properties `Key` and `Value` into the IConfiguration interface ?
I don't see the point of separating the root (IConfiguration) with its children (IConfigurationSection).
The root has a `Key` which is `string.Empty` and can have a value as well...

And about naming, sometimes we talk about sections, sometimes about children. Can we not define once and for all what we're talki

[2015-07-14 09:58] ivan-brunet commented on #231
Sometimes we talk about sections, sometimes about children. Can we not define once and for all what we're talking about ?

* `GetConfigurationSection()` changes to `GetChild()`
* `GetConfigurationSections()` changes to `GetChildren()`
or
* `GetConfigurationSection()` changes to `GetSection()`
* `GetConfigurationSections()` changes to `GetSections()`

[2015-07-14 17:18] rowanmiller commented on #129
We have adjusted our design. I think this would be a useful thing to do in config... but it's not critical for EF.

[2015-07-15 10:54] #213 closed

[2015-07-15 23:17] kirthik commented on #241
I was able to repro this problem. Default encoding of `config.json` file is `ASCII`. Changing the encoding of the file to `UTF-8` and then calling `Configuration.GetConfigurationSection("AppSettings")["SiteTitle"]` retrieves the value and renders it correctly.

@ muratg From a configuration issue perspective, I don't see any action item here.

[2015-07-15 23:20] muratg commented on #241
Hmm, I think this becomes a template issue then. @kirthik could you file a bug on Templates to set the encoding of config.json files as UTF-8?

cc: @rustd

[2015-07-16 09:40] TomGroeneboer opened #247 "Get configuration section XML"
Hi guys,

I'm trying to access a section from an XML document, but it returns `null`...

This is the XML:
[code]

And this is the code trying to access it:
[code]

Why is the `configurationSection` empty? There is a list in there in XML...

Can someone help me? :D

Thanks!

[2015-07-16 11:15] smbecker commented on #247
Given the comment in the implementation, "configuration" shouldn't be part of the config key.

https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.Configuration.Xml/XmlConfigurationSource.cs#L108

[2015-07-17 07:40] TomGroeneboer commented on #247
Didn't make any difference :( Still returns null. It looks like it's not processing my XML for some reason...

[2015-07-18 00:28] divega opened #248 "BCL API review: Figure out a notification story for Configuration (or decide we won't have it for this release)"
One of the important takeaways from the meeting detailed at https://github.com/dotnet/apireviews/tree/master/2015-06-30-configuration is that the `IConfiguration.Reload()` method would be much more useful if one could subscribe to changes, e.g. it is not very useful to be able to change the configuration at runtime if any components that have already read from configuration don't get the new value

[2015-07-18 00:29] divega commented on #248
cc @lodejard

[2015-07-18 00:39] divega commented on #246
@ivan-brunet we don't want the properties dangling there useless in the root configuration object, especially given that the root is the most commonly used node, e.g. for most applications the usage of IConfiguration will almost exclusively look something like this:

[code]

And yet every developer writing this kind of code would see that those two properties in IntelliSense every time.

But this

[2015-07-18 00:47] divega commented on #233
@MichaCo I am not sure exactly what should happen, but your reasoning seems sound: if there is no reasonable default, we should throw. However the user can provide an already full path to the `AddX()` method so I think we should just throw if we cannot resolve the file name to an actual file.

I also agree if we implement this feature it will be possible to change the values it could become confus

[2015-07-18 15:05] ivan-brunet opened #249 "Separating concerns in the ConfigurationSource implementation"
When implementing a ConfigurationSource we need to define two things:
- "where" the configuration comes from (eg. a stream, an IEnumerable, ...)
- "how" the configuration is loaded (eg. by parsing a json format, by splitting keys and values with a specific separator...)

If we take the Json implementation as an example, JsonConfigurationSource takes its "where" from a FileStream and process its "h

[2015-07-18 16:08] ivan-brunet commented on #247
@smbecker is right, but from another comment: The special attribute "Name" only contributes to prefix
https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.Configuration.Xml/XmlConfigurationSource.cs#L223

So your xml file only defines keys but no value at all. Thats's why the result is empty.
But if you add another attribute, you then have what you might expect:
[code]
you then

[2015-07-21 09:37] MichaCo commented on #233
@divega yup, throwing only if the file cannot be resolved would be great!

Regarding the delegate, I think this would make the api a lot harder to understand. Maybe use a delegate internally, but not as an argument?
And yeah, you are right, you could also just provide a fully qualified file name instead of base path and file name.

Last one wins would again cause confusion I guess, unless we throw

[2015-07-22 17:11] weitzhandler opened #252 "How to read an array from the JsonConfigurationSource?"
Hi,

Read the announcement about array access (https://github.com/aspnet/Announcements/issues/33#issuecomment-123793055), is there a simple way to read an array from `JsonConfigurationSource`?

The `GetConfigurationSections` method returns `IEnumerable<KeyValuePair<string, IConfiguration>>` whereas I only a simple `IEnumerable<string>` or array.

[2015-07-22 23:32] divega commented on #235
BTW, the needs-design tag refers to the suggestion @ivan-brunet made.

[2015-07-23 05:33] Eilon commented on #252
You can use the [`ConfigurationBinder`](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.Configuration.Binder/ConfigurationBinder.cs) class to bind strongly-typed classes to configuration data.

For examples of this, check out the various [collection binding tests](https://github.com/aspnet/Configuration/blob/dev/test/Microsoft.Framework.Configuration.Binder.Test/Configurat

[2015-07-23 06:09] Eilon opened #253 "ConfigurationBinder throws TargetParameterCountException (due to indexer property?)"
Not sure exactly why, but `ConfigurationBinder` can throw a `TargetParameterCountException`, perhaps due to the presence of an indexer property (because they have parameters).

I was playing with binding config data into a list of strings and saw this error. I'm not saying the code should necessarily work (though I'm not sure why it *shouldn't*), but this exception definitely shouldn't appear.

To

[2015-07-23 17:12] brockallen opened #254 "GetConfigurationSection vs. Get with path"
Question about `GetConfigurationSection`. Given:

[code]

Should val1 and val2 always get the same value? They don't seems to with environment variables. In other words, GetConfigurationSection("app") doesn't seem to know how to find environment variables with "app:" as a prefix.

Is this a known issue/limitation? If so, this means the whole OptionsModel approach where you load a section seems bri

[2015-07-23 19:49] natemcmaster commented on #227
+1 for `_`

@muratg yes, `_` could clash with the variable names themselves. Possible solution: double underscore?

[2015-07-23 22:34] HaoK commented on #236
:+1: I didn't like where we ended up with the names on these either

[2015-07-24 17:28] divega commented on #245
@bricelam @muratg given aspnet/Universe#246, is there anything actionable to track here on Configuration or can this bug be now closed?

[2015-07-25 14:45] SetTrend opened #255 "Configuration - Wouldn't it be preferable for it to be a dynamic object?"
Many times I have seen a configuration setting's name being required to be changed in the course of a development.

The bigger the development gets, the bigger is the effort to find all the places where to replace `config.Get("someKey");` with `config.Get("someOtherKey");`.

Hence, I suggest to implement Configuration as a dynamic object. So properties will be added at runtime and can be accessed

[2015-07-26 17:22] Eilon commented on #255
VS refactoring doesn't really work well on `dynamic` types because they are not identifiers per se. At most it does a string search-and-replace on such cases, which is of course very error prone.

I do have some suggestions, though:

1. You could create a class that has `const` fields in it that represent the keys you use - this would eliminate duplication of data.
2. To take it further, you could

[2015-07-27 10:17] jods4 opened #256 "BasePath in VS 2015 / IIS Express"
Using beta-6:

I was using VS Code and the ASP.NET web server, this was working fine:
[code]

I switched to VS 2015 / IIS Express and it now fails saying it can't find my config file. Using process monitor I can see that it tries to open `C:\Program Files (x86)\IIS Express\config.json`, which is clearly not the right place to look.

I fixed it by doing:
[code]
But that's not very nice... Is this t

[2015-07-27 10:29] SetTrend commented on #255
Excellent! Thanks for pointing me to these valuable solutions.

[2015-07-27 10:29] #255 closed

[2015-07-28 17:16] divega commented on #256
It seems that the semantics of "." changed underneath. Please investigate if this is by design or an unexpected side effect of some change.

[2015-07-28 17:18] divega commented on #254
At first glance it sounds like a bug. Please investigate.

[2015-07-28 17:24] divega commented on #252
With the new API described at #246 you will be able to write something like this:

[code]

[2015-07-28 17:24] #252 closed

[2015-07-28 21:48] divega commented on #236
I have updated the API based on a discussion we had today with @HaoK, @lodejard and @kirthik. At the end of it I think we had tried too many different variations of the methods to keep a sense of what is good, so we might need to do another pass to clean it up. E.g. I would propose that it would be enough to have this overload to cover all the cases without adding much friction:

[code]

[2015-07-28 21:50] HaoK commented on #236
That was my initial response too, just make them filter the configuration before calling bind.  The sugar doesn't get you all that much

[2015-07-28 21:51] HaoK commented on #236
I thought I was outvoted 2:1 so I didn't push, but if its 2:1 against, I'll push :)

[2015-07-28 21:51] divega commented on #236
Yeah, same for the one that creates the instance (but forces you to specify the generic argument). I am not all convinced about ApplyTo over Bind or other names we discussed.

[2015-07-28 21:54] HaoK commented on #236
That's fine, I'll send out a PR, can pick a final name during that process, might help to see it used everywhere

[2015-07-28 21:55] HaoK commented on #236
Usage is mostly contained to Options right now I think

[2015-07-28 22:03] divega commented on #246
Updated to reflect new decision we made to day in a discussion with @HaoK, @lodejard and @kirthik.

[2015-07-29 04:38] doradaddy opened #257 "JsonConfigurationSource.Set does not work."
When I test some code as below, I found JsonConfiguration.Set method never truely work.
[code]

I think the reason is, in JsonConfiguration.Load,
[code]
Where 'Data' is always been reassigned.

[2015-07-29 23:03] #257 closed

[2015-07-30 22:12] kirthik commented on #254
@brockallen - I tried to repro the issue and I was able to get the same value for `val1` and `val2`. All I did was set an environmentvariable `app:appName` to `somevalue` and restarted the machine so VS can pick them up and then ran your code.

Is there anything I am missing here? If so, could you please share your repro steps?

[2015-08-01 09:10] janpieterz opened #258 "ConfigurationModel nuget packages are not marked as obsolete"
The blog posts mentioned use the packages that are referring to the Microsoft.Framework.ConfigurationModel packages, while there are quite some bugfixes and changes (I for example couldn't load a configuration file with the ConfigurationModel version but it did work with the Configuration versions (beta-5). It's obviously not that much effort to find out about it, but it did add a nice frustration

[2015-08-01 12:06] davidfowl commented on #258
NServiceBus.Interfaces uses install.ps1 which we don't support in dnx projects. The description could be updated though.

[2015-08-01 17:25] brockallen commented on #254
I'll try to put a sample repro together.

[2015-08-01 22:46] Daniel15 opened #259 "IConfiguration registration in DI container"
Is there a reason the default ASP.NET 5 templates in Visual Studio 2015 assign the configuration to a public property rather than registering it in the dependency injection container as a singleton?

This is the code from the template:
[code]

In addition to the public property, I feel like it should also register the configuration as a singleton (ie. through something like `services.AddSingleton<

[2015-08-02 06:22] Eilon commented on #259
I think so far the idea has been that you should pass around a POCO or other strongly-typed object containing the strongly-typed data. There's certainly nothing stopping you from putting the configuration directly in the DI container on your own.

@lodejard I think you had some thoughts on this before, right?

[2015-08-02 06:37] Daniel15 commented on #259
My normal approach is to have the raw config data in the DI container, and have wrapper POCO-like objects act as strongly-typed getters and setters. Think something like this:

[code]

Which is then registered in the DI container:
[code]

Are you suggesting I should instantiate POCOs in `Startup.cs` and only register the POCOs, rather than registering the raw config data?

[2015-08-02 17:47] Eilon commented on #259
@Daniel15 I don't personally think there's anything wrong either way :smile: You could look at using the OptionsModel stuff that does the binding to POCOs automatically, and might even simplify some of your code. All the ASP.NET and EF components do config that way (none of them read config directly).

[2015-08-02 20:46] Daniel15 commented on #259
@Eilon Thank you, OptionsModel looks really handy! :grinning: I didn't even know it existed, since there's not a lot of documentation on it right now. I found a blog post at https://weblog.west-wind.com/posts/2015/Jun/03/Strongly-typed-AppSettings-Configuration-in-ASPNET-5 which was extremely helpful in understanding how to use it.

I ended up doing something like this so my code could keep using

[2015-08-02 20:53] Daniel15 opened #260 "Support for Uri in OptionsModel"
Old-style `System.Configuration.ConfigurationSection`s support this, so ideally OptionsModel should too.

Example:
[code]

Results in:
[code]

[2015-08-03 19:03] divega commented on #249
@ivan-brunet Thanks for submitting this suggestion. A few of us discussed it and based on our understanding and the current requirements of Configuration we couldn't see a clear advantage in it in terms of improved user experience or code reuse.

Note that the built-in sources share some implementation through inheritance and that has worked well so far. If in the future the need arises we may cho

[2015-08-03 19:03] #249 closed

[2015-08-03 21:08] divega commented on #235
@ivan-brunet Thanks for your suggestion. A few of us talked about the possibility of changing this part to just concatenate the keys output by the different sources (in addition, we would have to remove duplicates).

Although we agree that your suggestion would lead to a somewhat simpler design, we intentionally have it the way we have it currently with the idea of enabling configuration sources t

[2015-08-03 21:16] divega commented on #233
At the design discussion last week we agreed on creating the property bag in the builder and the `SetBasePath()` extension method (which in the end should live in a common place for file-based configuration sources, not in Microsoft.Framework.Configuration). Inside each `AddXyz()` method we will extract the relevant information from the property bag and pass it to the constructors of the correspon

[2015-08-03 21:53] divega opened #261 "Support for filtering in Binder"
We discussed that for model binding it would be useful to be able to whitelist or blacklist certain properties. E.g. an "options" object could be populated from configuration but certain properties would be skipped or only certain properties would be considered.

Something like this could be expressed by passing `string[]` parameters includeProperties and excludeProperties to new overloads of the

[2015-08-03 22:55] anurse commented on #227
@BrennanConroy Let's close on the design of this at the next design meeting.

[2015-08-04 23:46] jods4 opened #262 "Question: Encryption / Data Protection?"
In the good old `web.config` days, one could transparently encrypt sensible parts of the configuration file, such as connection strings.

Is there any such thing planned for ASP.NET 5? What is the recommended pattern?

I have read all the documentation about Data Protection API and Configuration User Secrets but I couldn't find an answer.

I got the impression that Data Protection API are not mean

[2015-08-05 19:22] glennc commented on #227
`__` because we use `_` a lot in other parts of our stack so we cannot use a single underscore without conflicting with those other things.

Apps will still use `:` when reading keys, but the environment variable config source will change `__` into `:`. So it is transparent to the application author.

[2015-08-06 22:23] kirthik opened #265 "Remove passing null as key in ConfigurationBinder"
We should remove passing null as key to get the value of the current section. We should look at using `Value` property instead after a fix for https://github.com/aspnet/Configuration/issues/246 is checked in

[2015-08-08 21:20] PrimeObjects opened #266 "Configuration in Controller"
I can see a handy HttpContext attribute in the Controller class, can we have a Configuration attribute in the Controller?

I'm doing it this way now

[code]

[2015-08-08 21:52] davidfowl commented on #266
No, we can't have a Configuration property on Controller. That would require MVC to couple to the configuration system. What you're doing looks fine if you want a property on the controller itself. If C# had extension properties, it would be even easier :smile:

[2015-08-09 01:52] PrimeObjects commented on #266
Hi David,

Thank you for the response. It makes sense try to keep MVC less dependent on other classes. What's the best practice to retrieve Configuration inside a controller? By the way I got the following error when trying my solution.

Unable to resolve service for type 'Microsoft.Framework.Configuration.IConfiguration' while attempting to activate 'PrimeObjects.Platform.xxxxxController'.

Thank

[2015-08-09 02:03] PrimeObjects commented on #266
Also in another controller,
 public IEnumerable<string> Get(IConfiguration configuration)
        {
}

I got

Cannot create an instance of an interface.
at System.RuntimeTypeHandle.CreateInstance(RuntimeType type, Boolean publicOnly, Boolean noCheck, Boolean& canBeCached, RuntimeMethodHandleInternal& ctor, Boolean& bNeedSecurityCheck)
at System.RuntimeType.CreateInstanceSlow(Boolean publicOnly, Bo

[2015-08-09 03:05] developer1998 commented on #241
I confirm this is still happening in beta7. Accents are still getting lost, getting:
[code]
should be getting
[code]

[2015-08-09 04:40] kirthik opened #267 "Add xml docs to public apis and classes"
A lot of public APIs and classes do not have xml docs. We should add them.

[2015-08-09 04:46] Eilon commented on #266
You need to add the `IConfiguration` instance to config first. The DI system doesn't know anything about a random type.

[2015-08-09 04:47] PrimeObjects commented on #266
Sorry I'm new to ASP.NET, could you tell me how to do it? Or share me a link.

[2015-08-09 04:48] Eilon commented on #267
Dup of https://github.com/aspnet/Configuration/issues/120. I was planning on tackling this at some point in the not-too-distance future. But if anyone wants to grab that from me that's fine too.

[2015-08-09 04:48] #267 closed

[2015-08-09 04:53] Eilon commented on #266
In `startup.cs` do something like this: https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/Startup.cs#L109

Example:
[code]

I think that ought to do the trick.

[2015-08-09 05:03] PrimeObjects commented on #266
Thank you Eilon, but it did not work. same error "Cannot create an instance of an interface."

 public void ConfigureServices(IServiceCollection services)
        {
            // Add Application Insights data collection services to the services container.
            services.AddApplicationInsightsTelemetry(Configuration);
            services.AddMvc();
            services.AddSingleton(_ => Conf

[2015-08-09 05:14] Eilon commented on #266
Get rid of the call to `services.AddSingleton(_ => Configuration);`

[2015-08-09 05:16] PrimeObjects commented on #266
You bet, I thought about the same and tried, but failed

 public void ConfigureServices(IServiceCollection services)
        {
            // Add Application Insights data collection services to the services container.
            services.AddApplicationInsightsTelemetry(Configuration);

            //services.AddSingleton(_ => Configuration);
            services.AddInstance< IConfiguration >(Con

[2015-08-09 05:47] Eilon commented on #266
I just tried this with beta5 and it worked fine.

I added this code to Startup.cs:

[code]

And this is my controller:

[code]

And I got the config values in the controller just fine.

[2015-08-09 05:54] PrimeObjects commented on #266
Hi Eilon, thank you so much for the help. I did the same, but no luck. I'm on beta6
My startup.cs below

using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNet.Builder;
using Microsoft.AspNet.Hosting;
using Microsoft.AspNet.Http;
using Microsoft.AspNet.Routing;
using Microsoft.Framework.Configuration;
using Microsoft.Framework.Depend

[2015-08-09 06:16] Eilon commented on #266
You need to take the `IConfiguration` in the *constructor*, not in a method. Method parameters do not get their values resolved form dependency injection. Please see my earlier code sample.

[2015-08-09 06:20] PrimeObjects commented on #266
you are so right. It works fine now. thank you so much.

Gary

[2015-08-09 06:20] #266 closed

[2015-08-10 15:52] Fosol opened #268 "ConfigurationBinder does not support Arrays"
I'm attempting to create strongly typed configuration classes.  If I keep them really simple they work, but as soon as I try to do any real work I get an error when I attempt to resolve an instance of IOptions\<ConfigurationClassHere>.  It contains an InvalidOperationException error that I have no access to.  It doesn't even throw it, so my program doesn't understand the configuration failed until

[2015-08-10 16:50] Eilon commented on #268
@Fosol can you share some code that demonstrates this? I don't think we've seen this before.

[2015-08-10 17:10] Fosol commented on #268
I've uploaded a basic web project on GitHub with an example of the issue.

Just place a break point in the HomeController.Index method.  You'll see the issue with the constructor parameter 'configuration'.

GitHub - https://github.com/Fosol/Example.StronglyTypeConfiguration

I'm sure I'm doing something wrong, but I would have hoped I'd get some kind of exception information that would help me deb

[2015-08-10 17:18] Fosol commented on #268
Looks like configuration doesn't like arrays.  When I attempt to access the configuration later I get a DI error on them.  Have a debugged this to the root?

Does this mean strongly typed configurations don't support arrays?  Is there a way to support them?

[2015-08-10 17:22] Fosol commented on #268
Looks like a work around is to use List<string> instead of string[].

I think this means DI needs to be updated so that it is able to create an instance of arrays.

[2015-08-11 08:45] HaoK opened #269 "Turn the GetChildren() method into a Children property"
Original title was: Consider FindSection(string key) / GetChildren() or GetSections() for IConfiguration

[2015-08-11 09:08] HaoK opened #270 "Consider consolidating back into IConfigurationNode"
Maybe its better to just rename Reload => ReloadAllSources to be clear that its a full reload, instead of having 3 interfaces?

[2015-08-13 02:37] rustd commented on #241
Could it be that saving in VS is causing the file to loose the encoding? Does it repro if you save the file using notepad?

[2015-08-13 22:31] HaoK commented on #253
66df4336a6f8867a99677319ddd4a8e594cc79da

[2015-08-13 22:31] #253 closed

[2015-08-13 23:10] davidfowl commented on #253
@HaoK bug needs labels - bug/enhancement and Done

[2015-08-14 00:24] HaoK commented on #236
@divega is this ok to bump to beta 8 or do you want to me to slam it in ?

[2015-08-14 01:34] divega commented on #236
The term "slam" seems to imply it could be messy in some way if we try to get it in for beta 7. Is it just the churn of making cross repo changes?

[2015-08-14 01:37] HaoK commented on #236
I use slam when its highly likely the build will break since I don't have time to do it in a careful way, would basically push the PR and fix repos as they break on the CI...  I don't know how widespread the change is, might not be too bad, but that's what I mean by slam...  I have a lot of changes in a lot of repos going on, but I don't THINK this one is too bad, why I offered to slam it in :)

[2015-08-14 01:40] HaoK commented on #236
This looks like its just minor cleanup that should only affect binder, so it doesn't seem that high prioirty to do now, so we could just do this for beta 8 too... why I asked you what you think we should do with this one

[2015-08-14 02:13] HaoK commented on #236
Take a look at the PR: https://github.com/aspnet/Configuration/pull/273 and if you ship the squirrel, I'll slam it in tomorrow :)

[2015-08-14 02:33] divega commented on #236
OK. Will do. BTW, I had one more thought about the overload that creates an instance when I realized a few days ago that ConfigurationBinder will activate nested instances. Will comment in the PR as appropriate, but I think we should probably keep it.

[2015-08-14 03:38] divega commented on #236
Updated the original issue to reflect some more recent thinking.

[2015-08-14 04:32] #246 closed

[2015-08-14 15:57] BrennanConroy commented on #227
cafd2e53eb71a6d0cecc60a9e38ea1df2dafb916

[2015-08-14 15:57] #227 closed

[2015-08-14 18:36] czema opened #274 "ConfigurationBinder provides ability for model to receive the IConfiguration."
Regarding ConfigurationBinder.cs, it would be nice if the IConfiguration object was provided to the model.  Then we would be able to access data even if we didn't add a property for it.  I propose, if the model has a IConfiguration property named "Configuration", then it's setter is invoked.  The following would go after line 173 and line 198.

    addMethod.Invoke(collection, new[] { item });

[2015-08-14 18:45] HaoK commented on #236
So some suggested tweaks: the generic should only be on the overload that creates and has the new() constraint.  The generic and return value only make it hard to use the Bind overload that takes an instance, as now you can longer just pass in anything have it work.  You have to specify the generic argument to call it which makes the method painful to use in some situations.

I recommend instead t

[2015-08-14 18:46] HaoK commented on #236
And personally I still argue infavor of killing the overload that is just moving the new TModel inside of the method.  I don't think it adds anything really

[2015-08-14 23:44] HaoK commented on #236
28b62f048953ff0b17661a3d15679b5ac763e393

[2015-08-14 23:44] #236 closed

[2015-08-15 00:15] HaoK commented on #216
3476fad293466b2a574133428b37667d9c9574a6

[2015-08-15 00:15] #216 closed

[2015-08-15 00:16] HaoK commented on #97
Yeah ConfigurationBinder should be used to support this

[2015-08-15 00:16] #97 closed

[2015-08-15 03:34] developer1998 commented on #241
@rustd Yup, it is the ASCII encoding of the .json file that causes the problem. Went outside used Notepad, and saved it as UTF-8 and it works fine.

[2015-08-15 03:43] Eilon commented on #241
@developer1998 so we're good to close this?

[2015-08-15 18:59] developer1998 commented on #241
@Eilon this is a workaround, I don't think the desired workflow is to leave Visual Studio and use Notepad to save the .json file. Visual Studio should do this by default, save in UTF-8 format .json files.

[2015-08-15 19:00] davidfowl commented on #241
That's a VS issue though. Not sure we can reliably detect the encoding of the file.

[2015-08-15 19:29] developer1998 commented on #241
@davidfowl @elion I just discovered something. I went into Visual Studio and made changes and saved and the encoding persisted. So all we have to do, is go to Visual Studio template repository (have to find it first) and re-save them as UTF-8, all Visual Studio can deliver the templates already in UTF-8 format.

[2015-08-15 19:33] davidfowl commented on #241
Great! Closing this out.

[2015-08-15 19:33] #241 closed

[2015-08-16 07:16] divega commented on #268
@haok this sounds like a ConfigurationBinder limitation. Can you confirm?

[2015-08-16 07:26] HaoK commented on #268
Probably, I'll look at this next week, most likely a bug

[2015-08-16 07:28] HaoK commented on #269
FYI this looks to be a dupe of https://github.com/aspnet/Configuration/issues/231

[2015-08-16 15:16] MichaCo commented on #268
@HaoK Hey, I found that arrays are not supported by the binder at all. I already gave it a try to implement that (see PR), let me know what you think

[2015-08-16 16:12] Tratcher opened #276 "Dotenv support"
_From @atrauzzi on August 13, 2015 18:27_

Many web frameworks and tools support reading in variables from a `.env` file which gets written by a build server.

The advantage to putting these variables in a specific file is so that different tools can use the same values.  A build server can produce it without having to learn specifics about what language will end up consuming the file, it can just

[2015-08-16 18:07] kirthik opened #277 "Discussion: IConfiguration API changes and added interfaces"
The APIs in IConfiguration have changed.

[code]
There are two specializations of this interface now - `IConfigurationRoot` and `IConfigurationSection`.

`IConfigurationRoot` is used only for the root node and is returned by the `ConfigurationBuilder`. It has the ability to trigger the reload of the configuration from the configuration sources:
[code]
Note that the `GetSection()` and `GetChildren(

[2015-08-17 02:18] GuardRex commented on #277
May we have before and after code samples for the breaking change?

[2015-08-17 09:57] NeelBhatt commented on #277
Why GetSection(string key); and GetChildren();
  instead of
FindSection(string key); and GetSections(); ? Just curious!

[2015-08-17 10:00] davidfowl commented on #277
@NeelBhatt https://github.com/aspnet/Configuration/issues/269

[2015-08-17 10:06] NeelBhatt commented on #277
okay! That is so quick response!

[2015-08-17 19:09] kirthik commented on #277
Earlier we could do
[code]

Now this changed to
[code]

`ConfigurationSection` also has 'Key' and 'Value' properties so you can directly access them. Also `Get`.`TryGet`,`Set` methods are now removed. You have to use indexer to get or set the value.

[2015-08-19 15:35] Fosol opened #278 "Publishing with Environmental Awareness Not Working"
1) Publishing should respect environmental configuration.  Currently it ignores the environment specific configuration and settings.
2) Publishing shouldn't even include all the configuration files, it should only include the relevant ones.  Previously an XslTransform would ensure the correct configuration was applied, this feature was removed.

[2015-08-19 15:47] Fosol commented on #278
Looks like you have to delete any of the environment specific configuration files manually once you publish and make sure you have the correct values in the base config.json file for everything to work.

I hate having to manually redo everything after a publish...  Wish this worked the way it use to.

[2015-08-19 19:18] HaoK opened #279 "Revisit Key behavior"
@divega wrote:

cc @kirthik, who made the change and touched this line previously. I think this is kind of intentional, but also something we could discuss:

The Key property was added to the IConfigurationSection interface with the intention of providing metadata about the configuration node corresponding to the instance. From that perspective the new behavior provides de most information. With t

[2015-08-19 23:21] divega commented on #279
Putting in the beta 7 milestone for now because it would make sense to avoid the braking change going out in beta 7 if we can.

[2015-08-19 23:42] divega commented on #276
@atrauzzi I haven't looked at it enough to see if there are differences in the syntax but I think it is possible to achieve something very similar by chaining an `IniConfigurationSource`. You can name the file .env if you care about that, although maybe a `AddUserSecrets()` (see [here](https://github.com/aspnet/UserSecrets/tree/dev/src/Microsoft.Framework.Configuration.UserSecrets)) (which we incl

[2015-08-20 11:14] atrauzzi commented on #276
@divega I think so long as it adheres to functioning similarly to this: https://github.com/vlucas/phpdotenv -- perhaps the config system is already pluggable enough?

It might be worthwhile to document how to achieve this as it's emerging as something many projects are doing.  I even pull a `.env` into my build scripts!

[2015-08-21 11:37] stephenstroud opened #280 "Retrieving Config value"
How can I achieve this using Microsoft.Framework.Configuration from static class and not startup.cs; :

var config = new Configuration();
var SiteStatus = config.Get("AppSettings:SiteStatus");

Something like this?

                var builder = new ConfigurationBuilder(".").AddJsonFile("config.json");
                var config = builder.Build();
                var status = config["AppSettings:S

[2015-08-24 11:49] aaron-hammond opened #281 "Consider having sugar methods for type conversion of values in ConfigurationBinder"
Hi,

If the config.json file will allow us to do this:

{
  "Endpoint": "0.0.0.1",
  "ServiceTimeout" :  10000
}

I was wondering why does all code assume a string type is being returned from the config file?

At the moment, using beta-4, i'm doing:

int.Parse(_configuration.Get("ServiceTimeout"));

I can see that the codebase has changed in later versions but i don't see anywhere that i can retur

[2015-08-24 13:39] stephenstroud commented on #280
IOptions solved it

[2015-08-24 13:39] #280 closed

[2015-08-25 22:48] #270 closed

[2015-08-25 23:00] kirthik commented on #269
based on discussion with @lodejard , @HaoK , @divega - Keep `GetSection()` as is and change `GetChildren()` to a property with name `Children`

[2015-08-25 23:01] kirthik commented on #265
this is fixed.

[2015-08-25 23:01] #265 closed

[2015-08-25 23:13] #259 closed

[2015-08-25 23:19] kirthik commented on #254
Please feel free to reopen if it still repros

[2015-08-25 23:19] #254 closed

[2015-08-26 00:20] brockallen commented on #254
Yes, sorry for the delay. I've been swamped, so I'll try to repro when I get back to it. thx.

[2015-08-26 00:51] divega commented on #281
We did some cleanup in ConfigurationBinder in beta7 and we ended up only leaving the most basic raw API for ConfigurationBinder:

[code]
We removed the various sugar methods. Since the ConfigurationBinder allows for binding to POCOs as well as to scalars as in the example in this issue, it seems very compelling to add some of the sugar back.

We also had a hard time coming up with a name we liked

[2015-08-26 01:08] divega commented on #281
@HaoK  @kirthik @loudej I think in beta 7 we regressed a bit by removing the sugar methods. I also think we should decide on what we add back. Here is a proposal:

[code]

Thoughts?

[2015-08-26 01:14] divega commented on #279
__Decisions:__
1. We will go back to the previous behavior of Key: `configuration.GetSection("A:B").Key == "B"`
2. We will add a FullKey property: `configuration.GetSection("A:B").FullKey == "A:B"`
3. We need to make sure that on a given node we honor the prefix that apply to it: `configuration.GetSection("A").GetSection("B").FullKey == "A:B"`

[2015-08-26 01:17] divega commented on #279
BTW, if anyone can suggest a better name for FullKey that would be welcome. We looked at various options, including `FullPath`, `RootKey`, `KeyFromRoot`, etc. and we ended up `FullKey` better, but it is not yet set in stone.

[2015-08-26 01:32] divega commented on #231
This was done in beta7 in https://github.com/aspnet/Configuration/commit/ddd7c42ece30f0b7bb57a91ae7a627f2f99b9cf2. It is now superseded by https://github.com/aspnet/Configuration/issues/269 which talks about further changes.

[2015-08-26 01:33] #231 closed

[2015-08-26 01:33] divega commented on #230
Done in https://github.com/aspnet/Configuration/commit/ddd7c42ece30f0b7bb57a91ae7a627f2f99b9cf2

[2015-08-26 01:33] #230 closed

[2015-08-26 01:48] divega commented on #274
@czema it would be interesting to know why you would want to do this but we are not completely against it, so we would consider a PR.

One detail to consider if you are planning to send a PR is that to be more much more consistent with how ConfigurationBinder works for other types, is that if you have a property called "A" of type IConfiguration it should bind to configuration.GetSection("A"). Not

[2015-08-26 02:14] MichaCo commented on #279
How about just `Path`?
As an example, have a look at [JToken](https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Linq/JToken.cs#L180), it is somewhat similar ;)

[2015-08-26 02:37] MichaCo commented on #281
I think the initial question was about binding to primitives, not complex types. So that you don't have to parse configuration values yourself but simply use a binder instead.

How about

    int value = config.Read<int>("key");

or

    int value = config.ReadInt("key");

also, what about lists. Maybe you want to bind a key sequence to a `List<T>` directly...

I don't know if this has been consid

[2015-08-26 03:43] HaoK commented on #281
Yeah I prefer `config.Get<int>("key")` but I think Read was what it was called in a former iteration maybe.  Should just be exposing the ReadValue in a nice way

[2015-08-26 03:47] HaoK commented on #281
The initial scenario for this code was for Options POCOs only, but now that its living in configuration we probably want to expose all of the currently private helpers and make them generally useful

[2015-08-26 05:20] divega commented on #281
In theory we shouldn't need two different APIs for binding to POCOs and scalars. Any given IConfigurationSection can have a value or children IConfigurationSection.

[2015-08-26 05:24] divega commented on #279
Actually just `Path` isn't a bad option.

[2015-08-26 18:08] MichaCo commented on #281
Yup, agree!

But what about the names? ~~ ;)
We cannot have both, complex and non complex object binding with `Get<T>` because of the same method signature... I thought `GetValue` would make sense

    public static void Bind(this IConfiguration configuration, object model) // existing
    public static T Get<T>(this IConfiguration configuration)  where T : new()
    public static T Get<T>(this IC

[2015-08-26 18:50] HaoK commented on #281
Yeah I like it, @divega thoughts?

[2015-08-26 19:17] divega commented on #281
Having two separate methods like this can work. My point was that I believe we could choose to have a single method because I am not sure there is overlap between the cases in which we want to get a scalar and the cases in which we want to materialize an objects, e.g. one idea would be if `TypeDescriptor.GetConverter(typeof(T)).CanConvertFrom(typeof(string))` returns false we fall back to trying t

[2015-08-26 22:05] HaoK commented on #268
3125ec94c571a9f8063050ebcaab7fcf26950996

[2015-08-26 22:05] #268 closed

[2015-08-26 23:36] MichaCo commented on #281
@divega Good idea, that could work.
But you would have to remove the generic new constraint and use the same logic to activate the instance as `BindInstance` does.

So basically

        public static object Get(this IConfiguration configuration, Type type)
        {
            var section = configuration as ConfigurationSection;
            if (section != null && CanReadValue(type))

[2015-08-26 23:48] divega commented on #281
Yes. That is what I had in mind. I have tried to find a scenario in which it wouldn't make sense but I couldn't. The only advantage I see on having a separate `GetValue<T>()

[2015-08-27 23:08] MichaCo commented on #281
@divega @HaoK I played around a little bit and found a pretty cool solution to even extend the functionality of  the existing `Bind`

To compare the changes, see the full div:
https://github.com/aspnet/Configuration/compare/dev...MichaCo:extensions

I basically moved the POCO binding code into a new method `BindObject` and used `BindInstance` for `Bind` instead. `BindInstance` invokes `BindObject`

[2015-08-27 23:16] HaoK commented on #281
Looks okay to me, I'm not the biggest fan of `out` in general but if `Get<int>("key")` works, its not a big deal.

[2015-08-27 23:18] HaoK commented on #281
Go ahead and send the PR, its easier to look at anyways

[2015-08-27 23:19] HaoK commented on #130
This has been done

[2015-08-27 23:19] #130 closed

[2015-08-27 23:20] HaoK commented on #130
3476fad293466b2a574133428b37667d9c9574a6

[2015-08-27 23:22] HaoK commented on #248
FYI this looks like a dupe https://github.com/aspnet/Configuration/issues/6

[2015-08-27 23:22] MichaCo commented on #260
Uri works already since we changed to `TypeConverter`, I think this change went into beta 7.

[2015-08-27 23:24] MichaCo commented on #260
Which version are you using?
`Uri` is working since we changed to `TypeConverter` in the binder. This change went into beta 7 I think.

[2015-08-27 23:24] divega commented on #248
@HaoK thanks! Closing and dupe. Will add a comment on #6 to explain why we still believe it belongs in the backlog.

[2015-08-27 23:24] #248 closed

[2015-08-27 23:25] HaoK commented on #260
Cool fixed in this change then 3476fad293466b2a574133428b37667d9c9574a6

[2015-08-27 23:25] #260 closed

[2015-08-27 23:27] divega commented on #6
We discuss this recently with @HaoK, @kirthik and @lodejard and came to the conclusion that given that most frameworks and application code is decoupled from IConfiguration, in order to really enable an application to react to configuration changes we would need to plumb notifications through other things, e.g. Options, ConfigurationBinder, etc. Figuring out the whole story is out of scope for the

[2015-08-27 23:30] divega commented on #281
+1 Thanks!

[2015-08-27 23:32] MichaCo commented on #281
Yeah, I don't like `out` either, but if you want to bind something which is not initialized, you can use it.  Also, the *normal*  Bind cannot be used for value types...

Otherwise, all other overloads or extensions should be more than enough. We can remove it if it is too confusing ^^.

[2015-08-27 23:35] HaoK commented on #281
Yeah its nice to normalize value types/objects from a code perspective, but my leaning would be towards making Bind(out) private unless it provides something that is not covered by one of the other Bind/Get overloads

[2015-08-27 23:43] MichaCo commented on #281
It's actually the same as Get<T>, and it is not used anywhere else, I removed it.

[2015-08-27 23:44] HaoK commented on #281
Cool, yeah its basically just a clunky version of Get :)

[2015-08-28 03:00] Eilon commented on #258
I think using the https://github.com/aspnet/Announcements/ repo is the best way to stay up-to-date on day-to-day changes (though this particular change is from before we had that repo - so no announcement).

The problem for us is that we rename so many packages while ASP.NET and Entity Framework are in pre-release I'm not sure the extra engineering effort is worth it. Having said that, the product

[2015-08-28 03:00] #258 closed

[2015-08-28 03:56] Daniel15 commented on #260
Thanks! I was testing with beta 6.

[2015-08-29 13:53] Tratcher opened #283 "Set doesn't save"
_From @markburgessstl on August 29, 2015 13:30_

currentLocatiom = System.IO.Directory.GetCurrentDirectory();

  var configurationBuilder = new ConfigurationBuilder(currentLocatiom).AddJsonFile("config.json");
   config = configurationBuilder.Build();
...
config.Set("access_token", accessToken);

the call to Set() seems to work, but the config file is not changed.

_Copied from original issue: asp

[2015-08-29 13:53] Tratcher commented on #283
_From @glen-84 on August 29, 2015 13:40_

@markburgessstl Why are you posting an issue in the **Announcements** repo?

Please read the [README](https://github.com/aspnet/Announcements/blob/master/README.md).

[2015-08-29 14:14] markburgessstl commented on #283
Sorry, I'm new to this

[2015-08-29 19:22] mishfit commented on #283
@markburgessstl It does seem confusing (especially without knowing which version of the runtime you are using) but based on [ConfigurationSource](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Framework.Configuration/ConfigurationSource.cs#L12-L27) `Set` is saving your key value pair in a dictionary, it doesn't change your files.

I want to say I remember (vaguely) there being a "C

[2015-08-30 10:41] DerAlbertCom commented on #283
Where to Commit? There are several Configurationsources. Better is to not allow Set at all. It does not work in Farm Environments as it currently designed.

[2015-09-01 08:30] Kieranties commented on #130
Brilliant!

[2015-09-10 08:01] divega opened #285 "ConfigurationBinder: Allow specifying default values"
After PR #282 is pushed we will have the ability to bind the values of configuration sections to scalars and also entire configuration sections to structural objects, e.g.:

[code]
I have been looking at how this API could be used and I think a lot of friction would go away if we accepting inline default values, e.g.:

[code]

__Design & implementation notes:__
1. This default values can work with

[2015-09-10 08:10] divega opened #286 "ConfigurationBinder: Exploratory testing"
Some aspects we should explore:
- [ ] Type support across .NET Core and desktop .NET, e.g. Uri seemed to fail in .NET Core

[2015-09-11 06:35] pranavkm commented on #245
Fixed in https://github.com/aspnet/Configuration/commit/7f929e2411f4360485f6236123ab6b28b40a1088

[2015-09-11 06:35] #245 closed

[2015-09-11 16:29] jods4 commented on #262
CC @blowdart

[2015-09-11 16:38] blowdart commented on #262
Your concern about server access wasn't addressed the old system. Anyone with server access could decrypt the web.config easily, using the built in tools. Encryption there was to protect against web.config being leaked to the internet, not against attackers on the machine.

User secrets is for keeping secrets out of source control in a dev environment.

Data Protection is for protection data given

[2015-09-11 17:07] jods4 commented on #262
@blowdart I partially agree.

Note that I'm not necessarily thinking of _attackers_, who want to get DB credentials by any means. Maybe just the IT guy from the company who builds an app that runs on the server. He's here to do a bit of support and I don't think that it's a good practice that passwords are in _plain sight_, even if they would _somehow_ be accessible. If I wanted to be (slightly) m

[2015-09-11 17:20] blowdart commented on #262
Correct, there is no story for encrypting configuration any more.

This has veered from an issue to a discussion, but I want to touch on a few things.

Key rotation is not a problem for encryption - it just means a key will never again to used to encrypt. It can still be used to decrypt. As long as the key is present in the key ring, decryption will work.

The old system didn't need many rights to

[2015-09-11 18:01] jods4 commented on #262
OK I'm closing this as I got my answer.
I guess I'll have to build a little tool to set encrypted config values on the server and use Data Protection APIs when reading them in the app.

[2015-09-11 18:01] #262 closed

[2015-09-14 18:56] Jetski5822 commented on #82
needed one, so made one, https://github.com/OrchardCMS/Brochard/tree/master/src/Orchard.Parser.Yaml

[2015-09-16 20:32] HaoK commented on #281
5bb028ed97201523e376f1a933a31ef9d0c71faa

[2015-09-16 20:32] #281 closed

[2015-09-17 18:10] twsouthwick opened #289 "Support lists and boolean switches with command line configuration"
There are times when multiple instances of the same switch in a list of arguments is very useful, as well as just supplying a Boolean switch. It's also clear that sometimes we just want the last one supplied. Could that be part of the switch mapping property or some other extensibility point so that it could be tweaked for specific switches?

JSON configuration sources support arrays (see #115), b

[2015-09-18 13:09] candychiu commented on #214
I encountered the same problem.  I prefer the base path defaulted to the application's root path.

[2015-09-18 15:38] oryol opened #290 "New configuration encrypting"
Old web.config-s supports encrypting of sensitive configuration sections. Is there any plans on adding such ability to the new configuration system?

If not - what is recommended way to store sensitive configuration data on the production servers in the vNext?

I have read about user-secrets tool, but it looks like it's designed just to move config file from the main source code tree and shouldn't

[2015-09-18 16:40] jods4 commented on #290
The short answer is no support for config encryption.
The longer answer is #262

[2015-09-18 18:43] oryol commented on #290
Thank you to point this thread.

I just want to understand what is **officially recommended** way to store sensitive data (like connection strings) in the vNext? As I understand it's recommended to store them in the plain text, right? And what is "standard way"? Environment variable or some environment specific JSON config? Yeah, I understand that all of this is configurable and I can use my own c

[2015-09-18 21:21] MichaCo commented on #290
Connection strings can be stored in environment variables of your system so that you do not have to check them in to any kind of source control. That is not 100% secure but at least you don't have sensible information in a text file on the file system or even worse, checked into TFS or github, etc.. ;)

[2015-09-18 21:45] jods4 commented on #290
I'm probably beating a dead horse since ASP.NET team clearly said that configuration encryption won't be supported, at least in v1, but for the sake of discussion:

It's not about being 100% secure, as people with free access to your server can read that info from your process memory, or easily decrypt it (with the standard ASP.NET tools if you encrypted `web.config`), etc.

That said I believe it

[2015-09-20 22:57] serkanpektas opened #291 "External configuration support"
**Context and Problem:**
In our enterprise applications, we do have a number of micro services where we host in different servers. Having a configuration in each server is hassle when there is any change in the configurations.

**Solution:**
[External Configuration Store Pattern](https://msdn.microsoft.com/en-us/library/dn589803.aspx)

Is there any story to support external providers such as Azure

[2015-09-21 06:56] divega commented on #183
Clearing up the milestone so we can discuss what we do about this in next triage.

[2015-09-21 11:38] poke opened #292 "Add `Exists` to IConfigurationSection"
Right now, when you get a configuration section using `GetSection()` there is no simple way to figure out whether that section actually exists. The only thing you could do is check if the value is non-null _or_ if the count of `GetChildren()` is larger than zero:

[code]

And this doesn’t even work if the section was actually set with a value of `null` on purpose.

I would like to see some `Exists

[2015-09-21 19:02] divega commented on #292
Thanks @poke. What would the application do differently if the value of a specific key had been intentionally set to null as opposed to not set at all?

It is perfectly fine for the application to model required configuration settings on top of Configuration (e.g. by throwing exceptions if `section.Value == null`), however there isn't much of a meaningful difference between something that is not s

[2015-09-21 19:16] divega commented on #269
@kirthik apparently I had missed assigning this one to you from the last meeting.

[2015-09-22 01:24] Eilon commented on #291
The support is that there's an interface you can implement :smile:

It's not in our plans right now to have such support built-in. If you want to kick-start a community project to see what would make sense and be useful, we can certainly take a look at it.

[2015-09-22 07:42] divega commented on #279
@kirthik I think we now need to react in places were we introduced a dependency on the new behavior in beta7. I know about:
https://github.com/aspnet/EntityFramework/blob/dev/test/EntityFramework.Microbenchmarks.Core/BenchmarkConfig.cs#L25

That one we should change to just use `s.Value`.

We should consider an announcement for the breaking change as well.

[2015-09-22 09:08] poke commented on #292
Thanks for the quick reply!

That’s a very good question; I guess the answer is that there should be no difference.

The reason I am asking for this is mostly because I want to short-cut logic when a whole configuration tree (/section) does not exist. In my example, I wanted to make the “Credentials” section support different kinds of credentials. So I could first check whether the section exists

[2015-09-23 18:40] divega commented on #279
This one can be closed now, right?

[2015-09-23 18:41] kirthik commented on #279
yes. Closing it.

[2015-09-23 18:41] #279 closed

[2015-09-23 22:19] divega commented on #269
After thinking about this we decided not to do this. `GetChildren()` triggers enough (CPU-bound) work that in any scenario in which you are going to call it multiple times on the same IConfiguration you are probably better off doing ToList() and keeping a copy. That doesn't make it suitable for a property.

cc @kirthik

[2015-09-23 22:19] #269 closed

[2015-09-23 22:50] divega commented on #235
We are going to use `GetChildKeys()`

[2015-09-23 23:44] divega opened #295 "Make SetBasePath() optional"
Initially it was possible to get going with Configuration with code like this:

[code]

Currently it is necessary to provide the base path externally. With a PR that is currently in the works, it looks like this:

[code]

We can go back to make it optional. You won't need to call `SetBase()` by default, but it might still be useful to be able to do so for test scenarios or any time you want to art

[2015-09-23 23:49] divega opened #296 "Code cleanup: Use configurationBuilder or builder as name of parameters of type IConfigurationBuilder"
After some renames and refactorings we have landed with the use of `configuration` for parameters of type `IConfigurationBuilder`. It is confusing for anyone that sniffs into parameter names to figure out what needs to be passed.

[2015-09-25 00:07] twsouthwick commented on #289
Duplicate of #239

[2015-09-25 00:07] #289 closed

[2015-09-25 00:34] twsouthwick commented on #239
I would like to see this kind of switch mapping as well. This would be a breaking change from the current one, but feels more intuitive as a command line setup (maybe because I'm used to NDesk as well).

[2015-09-25 00:40] HaoK opened #298 "Code cleanup: Nuke folders in all of the provider projects (Flatten files to root)"
Most of the provider projects have 2-3 classes, where 2 of them are nested in a namespace.  I don't think that adds any value and the structure should just be flattened so you see all the classes easily.

[2015-09-25 02:20] divega opened #299 "Should we still take providers list in ConfigurationBuilder constructor?"
Done providers will depend on data in the configuration builder's `Properties` to initialize correctly (right now the only example of this are the file-based providers which use `GetBasePath()` to figure out the full paths of configuration files, but things can evolve to include more cases).

At least the way things are implemented right now, providers will only get wired up correctly if the confi

[2015-09-25 04:27] Eilon commented on #298
Are you saying remove the namespaces or the folder? The namespaces need to stay because we want to hide the more obscure types of the providers.

[2015-09-25 04:27] Eilon commented on #299
Agreed.

[2015-09-25 05:51] HaoK commented on #298
Just the folders. So in vs it doesn't nest needlessly. There are a bunch of projects with 2 classes. One of which is in a folder by itself. So lonely

[2015-09-25 16:32] kirthik commented on #233
merged bf62a69de10a50f01ddc4b9049abe8572c4995d8

[2015-09-25 16:32] #233 closed

[2015-09-25 16:39] muratg commented on #241
@developer1998 With the next release of tooling templates would be in UTF-8 format.

[2015-09-25 17:12] Eilon commented on #298
Ah, folders I don't care as much as long as there's on "primary" namespace.

[2015-09-25 20:05] HaoK commented on #235
e3f4e5d87d3abe26493b702b510d21a6fb666470

[2015-09-25 20:05] #235 closed

[2015-09-25 20:06] HaoK commented on #234
e3f4e5d87d3abe26493b702b510d21a6fb666470

[2015-09-25 20:06] #234 closed

[2015-09-28 23:25] mdekrey opened #302 "Add test coverage for empty keys"
### Functional impact
The `ConfigurationSection` throws an exception when accessed if children contain an empty string supplied by a valid Json configuration file.

This appears to have been introduced via https://github.com/aspnet/Configuration/commit/ddd7c42ece30f0b7bb57a91ae7a627f2f99b9cf2

### Minimal repro steps

1. Create a json file, such as `{ "": "some value" }`
2. Load the json file into

[2015-09-29 22:10] kirthik commented on #296
merged a3da42c35f81ce0441bd605828f1afa5bf42ddb2

[2015-09-29 22:10] #296 closed

[2015-09-29 23:18] kirthik commented on #302
@mdekrey : Yes this change was intentional with the assumption that empty keys are not meaningful.

Could you please explain what value empty keys bring in .json file?

[2015-09-30 06:16] Eilon opened #304 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-09-30 16:01] jods4 commented on #262
@blowdart For reference may I ask guidance about decrypting config settings?
I wanted to create my own `EncryptedEnvironmentVariablesConfigurationProvider`. I thought it was easy enough: derive from built-in `EnvironmentVariablesConfigurationProvider` and then override `Load` to post-process the values that need to be decrypted.

_But_... this means that you need a `IDataProtectionProvider` (for t

[2015-09-30 21:52] HaoK commented on #278
@sayedihashimi do you think is a publishing issue?  If you still own that feature?

[2015-09-30 21:56] HaoK commented on #217
This should be supported now, see https://github.com/aspnet/Configuration/blob/dev/test/Microsoft.Framework.Configuration.Binder.Test/ConfigurationBinderTests.cs#L164

[2015-09-30 21:56] #217 closed

[2015-09-30 23:08] HaoK commented on #298
5c33d46f34320a5c597ffad3d968a263fec5c97a

[2015-09-30 23:08] #298 closed

[2015-10-01 08:24] sayedihashimi commented on #278
@Fosol can you be more specific about what you are doing and what files you are having issues with? Also are you using the command line or Visual Studio?

[2015-10-01 13:18] Fosol commented on #278
Create ASP.NET 5 web project.
Add additional configuration files for different environments and builds.
Publish to a specific environment and build.
Watch how all the configuration files are published.
Try to view the website - fail.
Delete all irrelevant configuration files - success.

In prior versions you had more control.  You could even perform automatic XslTransforms.  We've lost a lot in th

[2015-10-01 14:33] Fosol commented on #278
Create ASP.NET 5 web project.
Add the following files at a minimum;
- config.json
-config.development_debug.json
-config.production_release.json
In your Startup add something like this;

            var builder = new ConfigurationBuilder(appEnv.ApplicationBasePath)
                .AddJsonFile("config.json")
                .AddJsonFile($"config.{env.EnvironmentName}_{appEnv.Configuration}.json",

[2015-10-02 07:25] zygimantas opened #308 "CLS compliancy"
![iconfiguration_cls](https://cloud.githubusercontent.com/assets/102076/10241289/9fdc3096-68ef-11e5-98e2-43950fda5743.png)

I am getting "Argument type IConfiguration is not CLS-compliant" then I try to pass it as an argument in a assembly, which is marked as CLS compliant.

"Microsoft.Framework.ConfigurationModel": "1.0.0-beta4"

[2015-10-02 22:14] HaoK commented on #285
Personally I think its much more clear with the current explicit Get/Bind semantics

Where Bind() you pass in your instance
Get returns you a new instance

[2015-10-02 22:22] HaoK commented on #285
I see where you were going with using the defaultValue for bind instance but I think that's a bit weird.  I would think the only time you want to use the defaultValue is if config was null, not to use it as the base instance and override.  That seems really weird to me

[2015-10-02 22:23] HaoK commented on #285
My initial take on this was to just add a bunch of overloads to Get which allow specifying the default value, and leaving BindInstance alone completely.

[2015-10-02 22:42] divega commented on #285
The way I understand your concern is that for mutable instances the parameter means something different from 'defaultValue'.It seems to me that:

1. What the overload of the method will do for mutable instances (apply values from configuration) is still useful.
2. It would be harder to block the scenario than to just let it work.

This is what I was trying to tell you a few days ago when I said I

[2015-10-02 22:42] HaoK commented on #285
The way my PR is written today we don't use the defaultValue for bind... Because its just a default :)

[2015-10-02 22:43] divega commented on #285
So you mean it replaces the object completely?

[2015-10-02 22:43] HaoK commented on #285
The proper name for what you describe is initialValue.  No, today we only use defaultValue if config is null.

[2015-10-02 22:44] HaoK commented on #285
that's a very simple and understandable behavior.  If its not found in configuration, use the default value.  It has no mapping on Bind, since you already have an instance for bind.  That IS your default value :)

[2015-10-02 22:45] HaoK commented on #285
To put this another way, if I already have an object that I'm trying to bind, and I want to replace it with a different value?  I can just assign the variable no?  Going through Bind to do the replacement just feels weird

[2015-10-02 22:47] HaoK commented on #285
I currently only used default value in one place, when config is null via the core Get method:

https://github.com/aspnet/Configuration/pull/309/files#diff-ad58cb8470446e5e357497cee03e8e19R33

[2015-10-02 22:51] divega commented on #285
I don't understand the behavior you implemented. I put the :shipit: there because I misunderstood one of the tests.

For the case of complex object, what does the .Value returned by the ConfigurationSection have to do with whether you should use the object provided in the `Get()` or not?

[2015-10-02 22:52] divega commented on #285
Oh, actually it doesn't do that...

[2015-10-02 22:53] HaoK commented on #285
Yeah the current names of these methods is pretty bad, I missed this in my PR reviews I think.  Everything is called Get which makes it impossible to read

[2015-10-02 22:54] HaoK commented on #285
Get(Type) actually is doing a create/bind

[2015-10-02 22:55] HaoK commented on #285
But my intent was to be very very simple.  DefaultValue is ONLY used if nothing is returned from config.

[2015-10-02 23:19] divega commented on #285
We should discuss what makes `Get()` unreadable. I am ok with having this behavior for now. I will add a note on the exploratory testing bug.

[2015-10-02 23:37] HaoK commented on #285
b8d635ea813dab8aaced4fab267786a9ad9bd590

[2015-10-02 23:37] #285 closed

[2015-10-03 12:17] tthiery commented on #239
@davidfowl Read some days ago that @terrajobst is doing some work in the same direction. Maybe we should align this bug to Immo's work.

[2015-10-04 01:50] Fosol commented on #278
Publishing within vs.

[2015-10-04 14:24] pranavkm commented on #304
ff1dc034ef9e376b684194ce4193af7049d98542

[2015-10-04 14:24] #304 closed

[2015-10-05 03:56] mdekrey commented on #302
Empty values are often used in JS-based systems. For instance, Angular's UI Router (https://github.com/angular-ui/ui-router) uses empty keys extensively as part of "view" declarations to reference default values.

This change forces me to reference the configuration files through JSON.Net (a minor inconvenience that I have already accounted for), but wanted to raise this issue as breaking with acc

[2015-10-05 06:47] Eilon commented on #308
I wonder what isn't CLS compliant about that type? Granted, it's been a loooooong time since beta4...

[2015-10-07 12:27] leus commented on #299
Any chance to document breaking changes? A blog post, something?

[2015-10-07 14:13] husainaloos opened #310 "Cannot read a list of objects"
I couldn't find the documentation for this project. If this question is in the wrong place, please let me know.

I am trying to add the following xml to my configuration as a list of vehicles:

[code]

this way:

[code]

But I get a FormatException:  A duplicate key 'vehicle:description' was found. Line 12, position 18. Well. that doesn't seem to be a duplicate. So I don't know if Configuration su

[2015-10-07 17:09] Eilon commented on #299
@leus we post significant breaking changes here: https://github.com/aspnet/Announcements/ (and you can subscribe to notifications)

[2015-10-07 17:23] MichaCo commented on #310
Maybe take a look at the [collection binding unit tests](https://github.com/aspnet/Configuration/blob/dev/test/Microsoft.Extensions.Configuration.Binder.Test/ConfigurationCollectionBindingTests.cs) and adjust your configuration. And yes, lists are totally supported ;)

[2015-10-07 18:12] husainaloos commented on #310
thank you. That helps a lot.

But I noticed that ``` Get<T>(string) ``` is being used as a method in configuration, which my VS does not recognize it. Is it an extension method? I could not find it, and the reference ```Microsoft.Extensions.Configuration.Memory``` is not available on NuGet (including prerelease).

[2015-10-07 19:47] divega commented on #310
Yes, it is an extension method defined in ConfigurationBinder.

[2015-10-07 20:00] husainaloos commented on #310
I see. I noticed that the change is very recent, and it is probably not pushed yet to NuGet.

[2015-10-07 20:35] husainaloos opened #311 "Distinguishing by Name Attribute"
I notice that the `name` attribute is necessary in cases like:

[code]

If I delete the `name` attribute, the AddXmlFile cannot distinguish the two vehicles. That doesn't seem right, since the `id` attribute should be sufficient to distinguish them.

 Moreover, if I define

[code]

The `Vehicle.Name` property will be ignored completely and will not be filled by the `.Get<Vehicle>` method. Is this

[2015-10-08 13:57] husainaloos commented on #311
I think my question is answered here: https://github.com/aspnet/Configuration/issues/247.

But how can I capture the name attribute? It seems only the configuration needs it, and I can't store it anywhere.

[2015-10-12 17:09] #295 closed

[2015-10-12 17:18] kirthik commented on #214
This should be fixed with ead954e19486b9f5d608688f726f3f2df9b3d421

[2015-10-12 17:18] #214 closed

[2015-10-12 19:00] divega commented on #302
@kirthik and I discussed this. One simple thing we can do without changing the design is to include the parent key in the exception.

We can consider changing the design to allow empty keys if we believe this is a common idiom we want to support in our JSON configuration files (with the current design it is not true that any JSON file is a valid configuration file, same way that not every XML file

[2015-10-12 21:40] kirthik commented on #302
@mdekrey : Could you please share your `.json` file? I think it would be easier for us look at it and understand. Also can you please point to the views in Angular's UI Router (https://github.com/angular-ui/ui-router) that use empty keys?

[2015-10-14 18:19] mdekrey commented on #302
Here's the first portion of one of my files:

    {
      "States": {
        "account": {
          "abstract": true,
          "url": "/account",
          "views": {
            "": {
              "templateUrl": "/templates/scaffolding/SimpleScreen"
            }
          },
          "data": {
            "authenticated": null
          },

Unfortunately, this page doesn't allow much in the

[2015-10-16 18:08] tillig opened #314 "Enable removal of a key or subtree"
While you can set a value for a key, if you want to remove an entire subtree of configuration settings the best you can do right now is to recursively iterate through all keys and subkeys and set every value found to null.

It would be nice to have a remove method to allow complete removal of keys.

I imagine it would be on the `IConfiguration` interface:

[code]

As well as on the `IConfiguration

[2015-10-16 19:08] kirthik commented on #302
@divega and @lodejard (or @loudej) : What are your thoughts?

[2015-10-16 20:31] divega commented on #302
Throwing for empty keys as we currently do doesn't seem to be necessary other than to help developers detect what we believed to be something they would mostly do by mistake.

But if I remember correctly in the recent past `GetSection(string.Empty())` was a hacky way to get "this" section, so it would probably not be enough to remove the check, unless the intent of the JSON snippet above is to map

[2015-10-17 00:55] developer1998 commented on #241
@muratg thank you very much.

[2015-10-17 01:34] muratg commented on #241
@developer1998 You're welcome :)  BTW, the templates repo is also OSS now, and you can go ahead and see the changes there in realtime. :)

[2015-10-17 01:41] developer1998 commented on #241
@muratg Great. I command you guys on how you work with the community, and the transparency. I am very excited about this .NET Release. Thanks again

[2015-10-17 13:50] MoslemBenDhaou commented on #277
I have 2 problems:

1. Although I an using `SetBasePath()` it is not recognized by `AddJsonFile()`. I get a `System.IO.FileNotFoundException` exception

Adding the `env.ApplicationBasePath` explicitly seems to solve the issue. But why the first doesn't work?

    //IApplicationEnvironment env; set in constructor

    var configBuilder = new ConfigurationBuilder()
            .SetBasePath(env.Appli

[2015-10-17 16:54] davidfowl commented on #277
- Try this instead:
[code]

Though I'd recommend forward slashes.

- Configuration is readonly, there's no way to commit to the source.

[2015-10-17 19:50] MoslemBenDhaou commented on #277
Any good reasons for being readonly? I guess providers conflict right?

[2015-10-21 23:54] kirthik commented on #302
Moving this to backlog after chatting with @divega

[2015-10-22 00:04] divega commented on #302
When we do this we will aim to have config["States:views::templateUrl"] == "/templates/scaffolding/SimpleScreen"
for the example above, i.e. empty string becomes a valid key value like any other string.

[2015-10-22 08:16] divega opened #317 "Cleanup of TFMs and #ifs"
After DNX TFMs were removed to unblock the CI we are left with a few strange things such as #if NET451 || NET451 :smile:

Getting rid of those should be easy it seems we should do a general clean up pass to see if anything else can go.

[2015-10-22 17:39] #299 closed

[2015-10-22 18:00] kirthik commented on #247
Closing this since an answer was provider by @ivan-brunet. Please feel free to re-open if you have issues.

[2015-10-22 18:00] #247 closed

[2015-10-23 06:52] henkmollema commented on #299
@Eilon @kirthik could the announcements https://github.com/aspnet/Announcements/issues/88 and https://github.com/aspnet/Announcements/issues/91 be put in the correct milestone so we can act when necessary?

[2015-10-26 12:41] mdekrey commented on #302
Excellent, I was intending to access as `config["States:views::templateUrl"]`, as the empty-string is a first-class key.

Thanks!

(Unless this is already completed, I'd be happy to provide a pull request somewhere else, to remove "throwing for empty keys". [This](https://github.com/aspnet/Configuration/blob/ddd7c42ece30f0b7bb57a91ae7a627f2f99b9cf2/src/Microsoft.Framework.Configuration/Configurati

[2015-10-26 14:21] divega commented on #302
@mdekrey You can send a PR addressing this, for sure. Moving it to the backlog means we agree it is a valid improvement but we are not planning to focus on it right away.

[2015-10-27 12:43] mdekrey commented on #302
Actually, looks like @lodejard might have resolved this (thanks!) with his refactor in https://github.com/aspnet/Configuration/commit/7ff83a42aa7131cf2c41b6a8281df560e8d5be1f - I have not upgraded to the latest daily to verify it works in the case specified above, but `Resources.FormatError_EmptyKey` appears to no longer be referenced.

I intend on providing a PR with an XUnit test or two to verif

[2015-10-27 15:28] divega commented on #302
Indeed, he changed the checks on the key to only check for null and from what I see in the code I believe things should just work, but we are the missing coverage. Please also include testing for GetSection() with empty keys, and consider removing the EmptyKey string and corresponding members in resources.

[2015-10-27 16:49] Eilon commented on #299
@henkmollema looks like the milestones are correct now on those issues.

[2015-10-27 20:21] henkmollema commented on #299
Yeah I noticed. Thanks @Eilon and @kirthik!

[2015-10-27 22:30] iassal commented on #183
Hi,
Is it possible to add another constructor for ConfigurationProviders (Json, Xml, Ini), that takes a Stream as a parameter? This will give developers the flexibility to handle their provider sources without breaking anything in the current API.
Please let me know your insights.
I would like to implement it if you think this is a viable solution.

[2015-10-28 06:07] divega commented on #183
@iassal Consider instead adding this to the configuration builder through [FileConfigurationExtensions] (https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.FileExtensions/FileConfigurationExtensions.cs).

[2015-10-28 19:09] iassal commented on #183
I need to be able to do one of the following:
1)
[code]
2)
[code]
I am using VirtualPathProvider as an example, this could be replaced by any other provider.

Supporting Scenario 1 only: I will definitely need to add another constructor for ConfigurationProviders.
Supporting Scenario 2 only: I will add an internal Constructor for ConfigurationProviders that takes in a stream (I will still have to

[2015-10-30 10:58] ilariuss opened #321 "Error CS1503 Argument 1: cannot convert from 'CustomConfigurationSource.EntityFrameworkConfigurationSource' to 'Microsoft.Framework.Configuration.IConfigurationProvider'"
Hi everybody!

I have a problem when i'm triying the custom provider example, http://docs.asp.net/en/latest/fundamentals/configuration.html#writing-custom-providers

I copy all the code but i have the next error
![image](https://cloud.githubusercontent.com/assets/9787907/10844052/2efb825e-7efd-11e5-83dc-67b9c302e241.png)

I don't know why fail the convertion, maybe because I'm using the DNX 4.5.1

[2015-10-30 20:39] rustd opened #323 "Turn ReloadOnChanged into an overload of AddXyz"
Per https://github.com/aspnet/Templates/issues/286 we added logging defaults and the FileWatcher.  The template is setup to use multiple files so a user can have appsettings.json and appsettings.dev.json
The FileWatcher should be able to watch multiple files

[2015-10-30 20:40] rustd opened #324 "Change name of Switches"
hange name of the switch from Switches -> LogLevel or something better.

[2015-10-30 21:04] divega commented on #324
@rynowak does this bug belong in Logging?

[2015-10-30 21:06] rynowak commented on #324
Yep. I'll move it.

[2015-10-30 21:07] rynowak commented on #324
This issue was moved to aspnet/Logging#282

[2015-10-30 21:07] #324 closed

[2015-10-30 21:07] divega commented on #323
Could we have the provider `AddXyz()` methods that take a file name also take a flag that enables auto-reload? @rynowak @lodejard @Eilon

[2015-10-31 00:00] Eilon commented on #323
Yeah just not sure if the layering is right such that it could be easily done automatically by flowing that settings. I'd be weary of storing the state in a bag and letting that flow through.

[2015-11-02 14:52] johnmeilleur opened #326 "dnu restore does not have beta 8 available"
When performing dnu restore of Microsoft.Framework.Configuration package is only has beta 1 - 4 published.  Shouldn't beta 8 be available here?

[2015-11-02 17:30] Eilon commented on #326
It was renamed to `Microsoft.Extensions.*`. See https://github.com/aspnet/Announcements/issues/77 for more info.

[2015-11-02 17:30] #326 closed

[2015-11-02 18:01] johnmeilleur commented on #326
But this is not available in the feed either?

On Mon, Nov 2, 2015 at 10:30 AM, Eilon Lipton <notifications@github.com>
wrote:

[2015-11-02 18:32] Eilon commented on #326
@johnmeilleur exactly which packages are you looking for? Can you show the error(s) you're getting?

[2015-11-02 18:32] Eilon commented on #326
Also, which feeds are you using?

[2015-11-03 03:56] johnmeilleur commented on #326
I've tried:
Microsoft.Framework.ConfigurationModel: "1.0.0-beta8" and
Microsoft.Extensions.ConfigurationModel: "1.0.0-beta8" and 1.0.0-rc1

Feeds:
https://api.nuget.org/v3/index.json
https://www.nuget.org/api/v2/

[2015-11-03 03:57] johnmeilleur commented on #326
I found it at https://www.myget.org/F/aspnetrelease/api/v3/index.json

Perhaps it would be good to note this in the README.md for the git project?

[2015-11-03 04:14] Eilon commented on #326
There was an earlier announcement regarding an earlier rename: https://github.com/aspnet/Announcements/issues/25

So `Microsoft.Framework.ConfigurationModel` became `Microsoft.Framework.Configuration`, which is now `Microsoft.Extensions.Configuration`.

[2015-11-03 16:54] janpieterz opened #327 "Unset basepathException states wrong location for fix"
When running DNX ef migrations add, configuration throws an exception:
[code]
Since the basepath is now set using ```.SetBasePath(appEnv.ApplicationBasePath)``` the exception should mention this.

Tried to look in the source but I could not find the location.

Full exception:
[code]

[2015-11-03 18:24] divega commented on #327
@janpieterz what version of DNX are you using? It seems the error message [Error_MissingBasePath](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration/Resources.resx#L126) is no longer in use.

[2015-11-03 18:26] divega commented on #327
Actually this exception is coming from UserSecrets. I will take a look.

[2015-11-03 18:28] divega opened #328 "Cleanup unused resource strings"
I found that we have several exception messages in resources that are no longer used/needed. We should look at cleaning the repo as a whole.

[2015-11-03 20:11] janpieterz commented on #327
For reference, the version:
[code]

[2015-11-03 22:08] divega commented on #327
The UserSecrets configuration provider requires the base path to be set (by [`GetBasePath()`](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.FileExtensions/FileConfigurationExtensions.cs#L38)) so that I can then find the `project.json` file and later the location of the user secrets file.

When the entry point is an EF migrations command, the `Startup` clas

[2015-11-05 18:36] #328 closed

[2015-11-06 09:01] devel0 opened #330 "DateTime ConvertFromInvariantString test fail ( as expected )"
Running unit tests I got fail at `Configure_GetsNullableOptionsFromConfiguration` test for given test datetime, this is expected cause the test try to ConvertFromInvariantString at ConfigurationBinder.cs (ReadValue) where passed input string is generated by the OptionsTest.cs(Configure_GetsNullableOptionsFromConfiguration_Data) where a datetime string is generated using current culture instead of

[2015-11-06 09:09] devel0 commented on #330
sry, was for the Options project

[2015-11-06 09:09] #330 closed

[2015-11-09 11:46] cjpit opened #331 "Adding configuration to system.data in asp.net mvc 6"
Hi there, I'm trying to load a dbproviderfactory configuration specifically to allow usage of oracle's managed data access dll.  I am just targetting dnx45 at this stage,and the project works fine in vs 2015.  However I'm also deploying to a docker image, and trying to run on the mono clr.

In my startup.cs, I found a fudge way to do this, since I have no idea how to do this using configuration, s

[2015-11-09 13:14] pgrudzien12 commented on #331
@cjpit There is another (in my opinion nicer and definitely less hacky) way of registering data provider. See at configuration of PostgreSql at the end of this post: http://bleedingnedge.com/2015/11/01/entity-framework-6-with-asp-net-5/

You may be able to adjust this solution to Oracle provider and resolve your issue by adding logging to this process.

[2015-11-09 15:23] llCorvinSll opened #332 "Replace node array in xml"
For example, in main config file i have node

[code]

and in second (enviroment-based) i want to replace it for

[code]

in old-fashion configuration we have xdt namespace. But i dont see clear way to do this in current realisation of this library

[2015-11-09 15:24] davidfowl commented on #332
Are you talking about config transforms? This is the wrong repository for that. I'd file that on aspnet/Tooling

[2015-11-09 15:33] llCorvinSll commented on #332
@davidfowl no, i mean, merging functionality of Configuration at this moment not allow me to perform this operation without transforming

[2015-11-09 15:34] davidfowl commented on #332
Could you be more specific? You added 2 xml files in a specific order and you're expecting specific merging behavior? It might help if you add some code to show usage

[2015-11-09 15:42] llCorvinSll commented on #332
@davidfowl yes, in first file (default) i have array of nodes, and after adding second file i want to completely replace this nodes with new set, but perform merging of outer xml as usual.

Maybe it can be resolved by some hooks, but i dont find place for integration

[2015-11-10 01:15] cjpit commented on #331
@pgrudzien12  Thanks, I had seen something similar before.  The thing is that I don't have a need for the entity framework, since I'm using a micro orm, so I was hoping to find a clean solution, using just System.Data.Common  I'll post back anything that I find, it may be helpful for others down the track.

[2015-11-10 02:30] divega commented on #331
@cjpit I am not sure I understand what you are trying to, but do you know if the Oracle ADO.NET provider you are trying to use is supported in Mono? Even if it was, resolving it from `DbProviderFactories.GetFactory(providerInvariantName)` will very likely depend on the assembly containing OracleClientFactory being in the GAC...

If things don't work, you may be better off getting the provider dire

[2015-11-10 02:31] cjpit commented on #331
Previously I was dynamically creating the  microorm instances using datasources via web.config.

For now, I have passed the factories down hardcoded when I set up my DI scope based DB Micro orm instance.  This is working fine for mono etc.   For each app that I'll be creating this will be fixed anyway, but it would be interesting to see if there is a "better" way to do this in the future.  The con

[2015-11-10 02:37] cjpit commented on #331
@divega Yes oracle has a fully managed driver which works fine.   - the dll is in the bin dir and mono will just pick it up as per normal. - Your second pint, Yeah that's exactly what I ended up doing passing the factory in and works like a charm.  So I'll just keep things that way for now.

[2015-11-10 06:41] divega commented on #331
I don't know of any plans to bring a general registration mechanism for ADO.NET providers to .NET core-based platforms. For starters anything that relies on a machine level configuration (or on DataTable for that matter) would be inappropriate. If an application or library has a need to selectively instantiate providers factories at runtime, then rolling its own code-based mechanism isn't that bad

[2015-11-10 06:44] davidfowl commented on #331
@cjpit If you want to ask questions about config options and .NET Core I'd recommend starting a thread on https://github.com/dotnet/corefx

[2015-11-10 09:55] llCorvinSll commented on #332
@davidfowl  I've create some demo code
https://github.com/llCorvinSll/ConfigurationMergingDemo

[2015-11-12 02:43] aggieben opened #334 "ApplicationBasePath appears not to be used on Mono"
On a beta8 Mono runtime, this bit of code doesn't work:

[code]

Before #295, I was setting the base path and this worked.  After the change, the above code is the result, and it fails to find `config.json`.   Here is what `strace` says:

[code]

I would have expected to see `state("{ApplicationBasePath}/config.json", ...)...` (with the real path, obviously).

[2015-11-12 07:17] voltagex opened #335 "ConfigBuilder.AddJsonFile throws ArgumentOutOfRange if given an empty file"
Given the following code:

[code]

You'll get the following exception:
[code]

Now I know that that's probably not the right way to use AddJsonFile but I would have expected a FormatException or something like that.

I'm using 1.0.0-rc2-15822, I attempted to add this as a unit test but I'm having issues with AddJsonFile being in a class that's not referenced by the unit test file I was editing.

[2015-11-12 07:25] pgrudzien12 commented on #335
I assume that

configPath = System.IO.Path.GetTempPath() + Guid.NewGuid().ToString() + ".json"

?

[2015-11-12 07:34] voltagex commented on #335
@pgrudzien12 Fixed, thanks.

[2015-11-12 22:43] muratg opened #336 "ConfigurationBuilder.GetBasePath() does not return an absolute path on Mono"
OS X, Mono.  builder.GetBasePath() returns `.`. Same code run on CoreCLR returns an absolute path.

This breaks `builder.Build().ReloadOnChanged("appsettings.json")` in the templates.

[2015-11-13 02:13] cjpit commented on #331
Thanks all for your feedback... I'll close this up for now.  It was easy enough to solve as above, and I have it pretty clean now.

[2015-11-13 02:13] #331 closed

[2015-11-13 18:11] Eilon commented on #336
@pranavkm can you see if this is a Mono issue or a bug in our code?

[2015-11-13 18:11] Eilon commented on #336
And is there any relationship to https://github.com/aspnet/Configuration/issues/334 ?

[2015-11-13 18:22] Eilon commented on #321
The sample `EntityFrameworkConfigurationSource` from the docs is quite old and needs to be updated to reflect the many changes that have happened to configuration since then.

I've logged a documentation bug to track updating the sample: https://github.com/aspnet/Docs/issues/647

[2015-11-13 18:22] #321 closed

[2015-11-13 19:10] ses4j commented on #335
I get the same error with a missing file that sets `optional: true`

[2015-11-13 19:17] ses4j commented on #335
I get the same error with a configuration file that has only one setting, such as this:

[code]

Note, though, that a second line will workaround the issue.

[code]

`

[2015-11-13 19:38] kirthik commented on #335
This is happening because if `SetBasePath` is not called, we assume BasePath to be root of the application. In your case, you will have to do this
[code]

[2015-11-13 20:28] peterblazejewicz commented on #336
We have the same findings when updating `generator-aspnet`:
https://github.com/OmniSharp/generator-aspnet/issues/466#issuecomment-156226901
https://github.com/OmniSharp/generator-aspnet/issues/465#issuecomment-156252838
Thanks!

[2015-11-13 23:51] divega commented on #335
It is strange because we use Path.Combine

[2015-11-14 08:41] pgrudzien12 commented on #335
+1
Format exception should be thrown because 'System.ArgumentOutOfRangeException' is misleading if the file is empty.

`SetBasePath` does not help - file path is constructed

@ses4j first example is corrupted (it has extra comma). Nevertheless in RC1 it loads correctly for me. Could you provide an example of your code that loads configuration and version of dependencies you used?

[2015-11-14 11:41] divega commented on #335
I agreed it would be nice to wrap any of these exception during parsing into a `FileFormatException`

[2015-11-16 18:13] divega commented on #335
@kirthik can you look into this for rc2?

[2015-11-16 21:07] divega commented on #335
Sure thing! Looking forward to your PR.

[2015-11-16 21:10] aggieben commented on #336
@Eilon looks to me to be an exact duplicate of #334.  It doesn't bother me at all if you want to close that one and deal with the problem here.

[2015-11-16 21:15] divega commented on #334
Dupe of #336.

[2015-11-16 21:15] #334 closed

[2015-11-16 23:47] Eilon commented on #336
@aggieben looks like the other one was closed as a dup of this instead :smile:

[2015-11-16 23:52] Eilon commented on #336
Oops just re-read that. Today is opposite day. Or maybe it *isn't* opposite day.. Hmm...

[2015-11-17 22:49] Fosol opened #338 "Bind - Success or Fail?"
There doesn't appear to be a way to find out if the Bind() method is successful or not.  After I bind a ConfigurationSection to an object I want to know whether it was successful.

[code]

[code]

What I'd like to see is;
a) the Bind() method return true|false
b) A way to convert/cast a ConfigurationSection into an object (i.e. Bind<Type>())
c) Not have to initialize an object before binding.

[2015-11-17 23:17] Eilon commented on #338
@divega I believe you and I talked about the error behavior of this method several weeks ago.

[2015-11-19 04:07] voltagex commented on #335
@divega looks like #337 needs a bit of discussion, but this shouldn't be tagged as up-for-grabs AFAICT

[2015-11-19 04:59] DamianEdwards opened #339 "Support configuration "chaining", or adding one configuration to another"
Required to support aspnet/Hosting#448

Add support for adding one `IConfiguration` to another, e.g.:

[code]

Should have two extension method overloads:
[code]

[2015-11-19 05:16] davidfowl commented on #339
/cc @divega

[2015-11-19 06:58] divega commented on #339
Cool. A `ConfigurationConfigurationProvider` :smirk: Is this needed in RC2?

[2015-11-19 07:28] davidfowl commented on #339
Yes

[2015-11-20 09:07] Antaris opened #340 "Question: Determine source provider from final hydrated section"
As part of a new CMS, I'm exposing an admin function which provides a read-only view of the complete configuration tree (root through to all sections recursively). As my configurations are built dynamically, it would be useful from a sysadmin perspective to see the source configuration provider for a given `IConfigurationSection`. Is this currently possible? Would it be possible to add a property

[2015-11-20 10:05] divega opened #341 "ConfigurationBinder: Consider GetRequiredValue() extension method"
It would be defined over `IConfiguration` and would return a string for a key, but it would throw if the value was null or (possibly) empty/whitespace.

Also consider "required" semantics on `Get<T>()` overloads that don't take default values.

[2015-11-20 17:13] Eilon commented on #341
Please *don't* check for whitespace :smile: That's an app concern, not a config concern.

[2015-11-20 17:17] divega commented on #341
Ok

[2015-11-20 17:53] divega commented on #340
@Antaris

It is not exposed with the current design. Keep in mind that the value of each individual configuration key inside a `IConfigurationSection` can come from a different provider so for what you want to work you would need to be able to interrogate for the source by key, e.g. think GetSourceProvider(string key).

Being able to trace the source of a configuration value seems an interesting a

[2015-11-20 21:17] GuardRex opened #342 "Explicit configuration of environment via Configuration"
I was able to explicitly set the environment like this (at least a few beta's back) ...
[code]
... but that no longer works (at least in IIS Express) and nor does setting it this way ...
[code]
How is it currently done (in RC1)?

[2015-11-20 22:20] #342 closed

[2015-11-21 06:21] DamianEdwards commented on #339
@divega can you assign please?

[2015-11-21 06:46] divega commented on #339
Figuring out with @Eilon who will work on this.

[2015-11-22 01:06] Daniel15 opened #343 "IConfiguration.Get throwing "Cannot create instance of type 'System.String' because it is missing a public parameterless constructor.""
I'm trying to upgrade a site from Beta 6 to RC 1. The site uses Entity Framework 6 so I need to manually load the connection string from the config file. I have a line of code that looks like this:

[code]

This is throwing ` Cannot create instance of type 'System.String' because it is missing a public parameterless constructor`.

Stack:
[code]

Config is a `.json` file that looks like:
[code]

[2015-11-22 01:10] penihel commented on #241
I still have this problem when I put a message with accent on the View.
Example on .cshtml:
"Uma inscrição com este E-mail já foi realizada"
But, the browser output
"Uma inscri��o com este E-mail j� foi realizada"

[2015-11-22 01:15] Daniel15 commented on #343
Looks like I need to use `config["Data:DefaultConnection:ConnectionString"]` now. Was this change documented? I didn't see it in any of the release notes.

[2015-11-22 01:26] penihel commented on #241
In fact, it happens when I put a message to be displayed in the ValidationSummary.

See on Action
[code]
On View
[code]
But, the browser output

[code]

[2015-11-22 01:44] developer1998 commented on #241
@Eilon this needs to expand to all the files, as per the previous post to support all the languages of the world...

[2015-11-22 14:39] divega commented on #339
Assigning to @haok. Hopefully he can start in a few days.

[2015-11-22 20:59] Eilon commented on #241
@developer1998 @penihel can you log a new bug in the Templates repo?

[2015-11-24 04:18] damienpontifex opened #344 "RC1 Not reading Azure App Service Connection Strings"
It seems after I updated to RC1-final, my configuration code is only reading Azure AppSettings and not Connection Strings.

Configuration builder code only changed to remove the base path as part of the RC1 update and is now:

[code]

I found this as storage was trying to use Development Storage and EF was trying to use localdb when deployed in Azure.

If I move all the values defined in Connectio

[2015-11-25 05:45] kalch commented on #343
I got the same as you Daniel.  Couldn't find it in the release notes.

[2015-11-25 09:22] MichaCo commented on #343
Yes this has been documented here: https://github.com/aspnet/Announcements/issues/55
The interfaces of `IConfiguration` changed, you might want to use `GetSection` now, to retrieve a section of your configuration by path, or use the indexer.

`Get<T>` was added as an extension of the `ConfigurationBinder` to directly bind the given section to an object, like `config.Get<MyClass>()` or `config.Get<

[2015-11-25 19:30] divega commented on #343
Yeah. I have a very clear expectation of what `config.Get("Data:DefaultConnection:ConnectionString")` will do, and it is not what is happening. We have two overloads that could match that call:

[code]
But in order to the right one (the second one) to match you would need to specify the generic argument as string in the call. So yes, maybe we need to get rid of the first overload.

[2015-11-25 19:33] divega commented on #343
BTW, the other overload that takes a default value doesn't seem to be affected:

[code]

[2015-11-25 19:55] HaoK commented on #343
Yes I don't really like the default value overloads. Nuking then works for me too.

[2015-11-25 19:58] divega commented on #343
@HaoK we will only nuke one of them, just to annoy you :smile:

[2015-11-25 20:21] MichaCo commented on #343
Yup

    public static T Get<T>(this IConfiguration configuration, string key, T defaultValue)

is not ambiguous as the other overloads.
Although you could change the first one to

    public static T Get<T>(this IConfiguration configuration, object defaultValue)

Not very nice (potential type mismatch) but would work, too

[2015-11-25 23:04] divega commented on #338
I will look at this as part of #286.

[2015-11-29 17:23] GuardRex commented on #342
Answered here: https://github.com/aspnet/dnx/issues/3214#issuecomment-160432649

[2015-11-30 20:34] malekpour opened #345 "Use JSONPath syntax for configuration keys"
Currently Configuration is using `:` and `__` syntax to get deep values like `property:subproperty`. I recently used JPath (xpath for json) in a project and thought it might be good to be used by the Configuration project.

Just as an example the following code works with Newtonsoft.Json. It shouldn't be too difficult to come up with an abstraction layer and have `ini` and `xml` work with it.

[co

[2015-12-03 17:51] miker1423 opened #346 "CS1503 Argument 2: cannot convert from 'Microsoft.Framework.Configuration.IConfigurationSection' to 'System.Action<AuthSettings>'"
Hello, I keep having this error in my Startup file.
These are the namespaces that Im using
Microsoft.AspNet.Builder;
Microsoft.Framework.Configuration;
Microsoft.AspNet.Hosting;
Microsoft.Extensions.DependencyInjection;
I cannot find a way around the error... Im using the latest version of the dependencies found in NuGet.

[2015-12-03 20:22] #346 closed

[2015-12-08 23:18] divega opened #348 "ConfigurationBinder: Consider improving culture support"
From https://github.com/aspnet/Options/pull/101#issuecomment-163049838, `ConfigurationBinder` currently always use invariant culture in any parsing/type conversions.

- I think this should be app to the user and the application, e.g. we can add overloads of APIs that take CultureInfo.
- I also think we should make more of an intentional decision on whether the default should be InvariantCulture or

[2015-12-09 09:49] divega opened #351 "Remove ConfigurationBuilder.Add(provider, load) overload"
A bunch of tests call this overload passing an in-memory provider and `load: false` but this seems complete superfluous as `MemoryConfigurationProvider.Load()` is a no-op anyway.

It doesn't seem to be used anywhere and `IConfigurationBuilder` doesn't define it. So it is most likely just leftover from a previous design iteration that we can get rid of.

[2015-12-09 09:51] divega commented on #351
Unless @lodejard remember a reason we need it.

[2015-12-09 10:01] divega opened #352 "Need API review for Microsoft.Extensions.Configuration.FileProviderExtensions"
At first glance there are a few inconsistent names in use such as `config` and `filename`.

[2015-12-09 17:35] divega commented on #352
FileProviderExtensions -> FileProviderConfigurationExtensions?

[2015-12-10 07:07] bradygaster commented on #344
Also, take a look at [this issue](https://github.com/aspnet/Announcements/issues/127), which is also related to Azure connection strings as of the [2.8.1 Azure SDK](https://azure.microsoft.com/en-us/blog/announcing-azure-sdk-2-8-1-for-net/) release.

[2015-12-10 07:13] damienpontifex commented on #344
I'm still not quite certain how I migrate my existing configuration and ARM templates to fix this?

[2015-12-10 07:45] bradygaster commented on #344
The issue I posted isn't related to the AppSettings/ConnectionStrings issue. The SDK tooling is setting the ConnectionStrings in Azure. Apologies for not being 100% clear on what the runtime is doing in this circumstance - I'll dig deeper on this to find out what's up.

[2015-12-14 18:00] pranavkm commented on #336
@davidfowl, it looks like the issue is with the `APP_CONTEXT_BASE_DIRECTORY` that gets set:

[code]

Would this property continue to exist with the CLI? If not, should we just use the AppDomain.BasePath \ Directory.GetCurrentDirectory() instead? If the property would continue to exist, we can simply expand it and that should suffice (or have DNX expand it when it populates it).

[2015-12-14 20:14] divega commented on #336
Had a chat with @pranavkm. APP_CONTEXT_BASE_DIRECTORY is not DNX specific. We actually set it in DNX to make AppContext.BaseDirectory have the right value: https://github.com/aspnet/dnx/pull/2662, so it appears we would need to make sure it gets the right value on Mono.

[2015-12-14 23:45] muratg commented on #336
So is the fix supposed to be in DNX?  If that's the case, since DNX is being retired, perhaps we should test this with dotnet CLI, and file bug in dotnet/cli repo.

cc @anurse

[2015-12-16 18:50] #336 closed

[2015-12-18 23:02] HaoK opened #357 "Should consider moving GetValue extensions from Binder into Configuration base"
These seem to be generically useful extension methods, if picking up TypeConverter is an ok dependency, we should move this to the base implementation instead of Binder

[2015-12-19 15:17] brockallen commented on #357
Yay

[2015-12-21 08:51] langtu opened #359 "ConfigurationBinder Get<T>() throw exception when T has a property with only getter"
In Json.net we have `[JsonIgnore]` to bypass deserialize properties. But now we don't have any attribute or any way to bypass bind process.

My config class has a property like:

[code]

the property `Def` in this case is still null because of the order of binding process.

IMO, the code in `BindProperty()` method should check for not exists `getter` and return before trying to get value:

[code]

[2015-12-29 12:01] MichaCo commented on #308
@Eilon Thing is that none of the assemblies are marked as CLS compliant. So, you are getting that warning also with the latest versions (e.g. RC1).

Question is, should all aspnet assemblies be marked CLS compliant if possible? And how would I do that with project.json without an `AssemblyInfo.cs`?

[2015-12-29 12:07] davidfowl commented on #308
Is that still a thing :smile: ?

You don't. You use an AssemblyInfo

[2015-12-29 12:15] MichaCo commented on #308
@davidfowl

Well, tbh, I don't know, is it? :smiley:

I'm getting asked why my nugets are not CLS compliant by users which use the old style csproj with CLS compliant set to true (which was the default for a long time).

I stumbled upon this issue while finding out what you guys are doing with it and if there is any general coding guideline; but couldn't really find any.
Would you say we can ignor

[2015-12-29 22:55] cesarbs opened #360 "ConfigurationRoot.GetChildren() never finishes if a configuration key starts with colon"
If a configuration key starts with `:`, `ConfigurationRoot.GetChildrenImplementation()` generates an infinite Linq query. This is because a key named e.g. `:foo` is read as `<empty>:foo`, which creates a `ConfigurationSection` with `Path = ""`. `ConfigurationSection` in turn calls `GetChildrenImplementation(Path)` in order to traverse it's own children, but because it's `Path` property is set to `

[2015-12-30 20:40] #360 closed

[2016-01-01 15:04] mafalarz opened #362 "Blog post example not working"
The examples provided in the blog post http://whereslou.com/2014/05/23/asp-net-vnext-moving-parts-iconfiguration/ are not working. Can you please update the examples or just remove the blog post?

[2016-01-01 16:22] davidfowl commented on #362
Comment on the blog post about removing it or updating it, it's old /cc @lodejard. You can't file issues about blog posts on github :smile:

[2016-01-02 15:12] mafalarz commented on #362
Thanks David. Left a comment on the blogpost, I've added as an issue on Github because the repo wiki links the blog which is outdated as from I understand we now use Microsoft.Framework.Configuration instead of Microsoft.Framework.ConfigurationModel

[2016-01-07 01:08] BellaCode opened #365 "services.Configure<TOptions>(Configuration) doesn't load properties in the type name section when binding to configuration."
I followed the example MyOptions approach documented at http://docs.asp.net/en/latest/fundamentals/configuration.html#options-example

**Issue**
I removed the Action approach and found that the configuration binding approach does not work as described.

If I created this in the appsettings.json, the value doesn't get loaded:
"MyOptions": {
    "Option1": "MyValue"
  },

If I just put this in the c

[2016-01-07 02:52] divega commented on #365
@BellaCode the docs should probably use something like this:

[code]

This would clarify how the user can control which section of configuration will be matched up and bound to the options instance. Alternatively we could have sugar overloads of `Configure` that took a string with the section's key.

1. Does that work for you?
2. Was there anything else in the docs that made you think Configure wo

[2016-01-07 02:53] divega commented on #365
@danroth27 do you own http://docs.asp.net/en/latest/fundamentals/configuration.html#options-example ? See feedback above.

[2016-01-07 16:29] BellaCode commented on #365
@divega

1. Does that work for you?

2. Was there anything else in the docs that made you think Configure would automatically select a subsection based on the name of the type passed?

"When you bind options to configuration each property in your options type is bound to a configuration key of the form property:subproperty:.... For example, the MyOptions.Option1 property is bound to the key Option

[2016-01-07 18:47] danroth27 commented on #365
The text says that the property will get bound to the config key **Option1**. It doesn't say anything will get bound to **MyOptions:Option1**. Where is it implied otherwise?

I do like the suggestion from @divega to show how to bind to a specific config section. I've opened https://github.com/aspnet/Docs/issues/867 to track adding this.

[2016-01-07 20:33] divega commented on #365
Feedback noted. We can add something like that later once we have solid data that it is needed. In the meanwhile I would like us to avoid introducing more complexity in this area.

For some context, in early betas we experimented with `services.AddXyz(configuration)` extension methods for adding framework services that would select a configuration subsection implicitly based (AFAIR) on the name of

[2016-01-07 20:34] HaoK opened #366 "Perf: Don't eager load Included Configuration Provider"
_Included_ `IConfiguration` provider intances, i.e. what you get when you call `Include()` con the builder and pass an existing `IConfiguration` currently copy the data from the original configuration when the provider instance is created. We could rather defer and call through the APIs of the included configuration as needed when the provider gets invoked to do actual work.

[2016-01-07 20:48] HaoK opened #367 "Consider support for change notifications in chained config provider"

[2016-01-07 22:43] HaoK commented on #339
2909753f6c2aca8936a4a63c902eb9647e14f709

[2016-01-07 22:43] #339 closed

[2016-01-11 23:29] jonathanmarston opened #368 "Add support for binding abstract and interface types"
I would like to see the ConfigurationBinder add support for binding abstract and interface types.

I propose that the binder be modified to check if a child "$type" section exists on the current section before instantiating a type. If it does, it would use the value of this section as the type name to construct an instance of the object instead of the type of the property or the type passed to the