[2018-04-25 16:35] #770 closed

[2018-04-25 16:37] ajcvickers commented on #773
@ckolumbus Agreed that this can be confusing, but changing it now would be a breaking change to all apps that currently depend on this behavior. As of now we don't plan to change this.

[2018-04-25 16:37] #773 closed

[2018-04-25 16:40] ajcvickers commented on #777
@natemcmaster Any thoughts on this one?

[2018-04-25 16:42] ajcvickers commented on #779
@orb3b This is more of a question to ask on the [corefx repo](https://github.com/dotnet/corefx). Configuration just uses the .NET APIs to access the file system.

[2018-04-25 16:42] #779 closed

[2018-04-25 16:43] ajcvickers commented on #781
@husainaloos @erwan-joly Is this still an issue with the latest VS and SDK installed?

[2018-04-25 16:45] ajcvickers commented on #788
@HaoK Status of this issue?

[2018-04-25 16:46] ajcvickers commented on #791
@joacar Are you trying this with the .ini file configuration provider?

[2018-04-25 16:47] ajcvickers commented on #792
@neyromant Colons are reserved for special meaning in the keys, so they shouldn't be used as part of normal key values.

[2018-04-25 16:47] #792 closed

[2018-04-25 16:48] #794 closed

[2018-04-25 16:50] natemcmaster commented on #768
Depends what is causing this. The IConfigurationBuilder interface had a Properties getter in 1.0.0, and this hasn't changed since.

https://github.com/aspnet/Configuration/blob/1.0.0/src/Microsoft.Extensions.Configuration.Abstractions/IConfigurationBuilder.cs#L17

[2018-04-25 16:52] ajcvickers commented on #768
@karolz-ms I'm having difficult reconciling the information above with what I see in the repo. Can you point to where specifically you are seeing this.

[2018-04-25 16:54] HaoK commented on #788
Nothing to be done here, this is just how the binder works, it ignores null values and doesn't set properties

[2018-04-25 16:54] #788 closed

[2018-04-25 17:03] natemcmaster commented on #777
Duplicate of https://github.com/aspnet/DotNetTools/issues/172. At the time we backlogged it, running aspnetcore under IIS was less common as VS only supported IIS Express. Since then, VS has added support for launching aspnetcore under full IIS. Secret storage is specific to the Windows user account. When full IIS (not IIS Express) launches aspnetcore, it runs under a different user account, so us

[2018-04-25 17:11] ajcvickers commented on #777
Thanks Nate.

[2018-04-25 17:11] #777 closed

[2018-04-25 19:28] ajcvickers commented on #768
@karolz-ms Yes. There are breaking changes between 1.x and 2.0, so while some things written for 1.x versions may continue to work with 2.0+ in general it is not save to assume that this is so.

[2018-04-25 19:32] karolz-ms commented on #768
OK, I will make sure it happens. Thanks!

[2018-04-25 19:32] #768 closed

[2018-04-26 04:37] chuanboz opened #817 "Provides option to silently ignore XML namespace than to throw exception"
In following code it throw exception like "System.FormatException: 'XML namespaces are not supported. Line 2, position 11.'"

https://github.com/aspnet/Configuration/blob/dc6fbde39f532bf154ee1eb02d8be08a0a1605e4/src/Config.Xml/XmlConfigurationProvider.cs#L153

Please provide some option in AddXmlFile to ignore such namespace check

[2018-04-26 15:10] tugberkugurlu commented on #394
Has this been released yet?

[2018-04-26 15:48] andriysavin commented on #800
Here are more thoughts on the idea. I have almost the same scenario as @aejay decribes: I want to reference one section from another using section path, e.g.
[code]
Further, when I map "EmailSender" to a POCO object, I want the "SmtpServerSettingsReference" property in POCO to contain a POCO type, which will automatically be mapped from a referenced section.
However, for this particular scenario I

[2018-04-26 16:01] andriysavin commented on #800
@HaoK What you suggest is a great idea and I think it should be implemented. However, sometimes (like in the case I described) you will want to configure such behaviour closer to configuration POCOs rather than to top level configuration code. For example, you may want to define a POCO or/and related POCOs with a type converter in a separate library, and have the library consumer to just use it. W

[2018-04-26 16:34] HaoK commented on #394
@tugberkugurlu it will be in 2.1

[2018-04-26 16:44] chuanboz commented on #817
I couldn't because we don't control the xml file format.

the specific scenario is the Settings.xml from Service Fabric config package, which has the xml namespace defined by Microsoft Service Fabric. When I do Integration Testing, I want to load the same Settings.xml into configuration using AddXmlFile and that complaint with this error.

[2018-04-26 16:45] chuanboz commented on #817
If I simply remove the namespaces, that will break the production code logic from Service Fabric.

[2018-04-26 18:12] amoerie commented on #817
I suppose you can't somehow preprocess this file and strip its namespaces?
In any case, I'm also clueless why exceptions are thrown for namespaces, ignoring them seems an equally valid strategy.

[2018-04-26 19:04] chuanboz commented on #817
I could not preprocess the same file, will have to copy to another file and then process it. But if I go that route, with that complexity I would then just copy the XmlConfiguraitonProvider implementation locally and modify it to remove the XML namespace check.

[2018-04-27 00:39] glennc opened #818 "KeyPerFileProvider errors"
I have this code:

[code]

If the nonexistent directory doesn't exist then I get this:
![image](https://user-images.githubusercontent.com/234688/39338488-f1b0812c-4977-11e8-84dd-9fbacc294e6b.png)

If I create a directory in the location given in the error I get this:

![image](https://user-images.githubusercontent.com/234688/39338533-1bd5db1e-4978-11e8-8e47-b6cdb686617f.png)

At which point I copy

[2018-04-27 01:29] shirhatti commented on #818
I'm on board for doing the first ask. Contingent of course of not breaking other scenarios like file watchers.

I'm not sold on the second ask. Realistically, how likely are you to mount your secrets in relative to your web root? Unless I'm missing some scenario here?

[2018-04-27 20:01] ajcvickers commented on #818
@glennc @shirhatti So do 1. for RTM?

@HaoK Is this reasonable?

[2018-04-27 22:09] HaoK commented on #818
Yes this shouldn't be hard I don't think, I'll work on the PR now just to make sure

[2018-04-27 22:45] HaoK commented on #818
Yeah this was just a flat out bug in optional, since its a new codepath that isn't sharing the common code that the other file based providers are using

[2018-04-28 00:34] ajcvickers commented on #818
@glennc @shirhatti Until I hear otherwise, I'm going to assume this is _not_ for RTM. If it is, then someone needs to prep it for shiproom.

[2018-04-30 08:27] davidkaya opened #821 "Decoupling Config.Json from Config.FileExtensions"
Currently if I use JSON configuration, I am able to use it only with configuration that is saved in a file because `Config.Json` is coupled with `Config.FileExtensions` through https://github.com/aspnet/Configuration/blob/dev/src/Config.FileExtensions/FileConfigurationSource.cs which contains `IFileProvider` and https://github.com/aspnet/Configuration/blob/dev/src/Config.FileExtensions/FileConfigu

[2018-04-30 19:10] HaoK commented on #821
Yeah we will likely do something about this in 2.2, this is being tracked by https://github.com/aspnet/Configuration/issues/662

[2018-04-30 19:10] #821 closed

[2018-05-01 18:32] HaoK commented on #773
So the behavior you can replace is to write your own Bind logic instead of using the binder which is where the issue you are having comes from

[2018-05-02 00:16] drewjcooper opened #825 "Support for configuration sections with Environment Variables"
I'm interested in the idea of supporting configuration sections when using environment variables.

Environment variable names can include '-' and '_' characters, which could be converted to ':' when storing in the internal configuration dictionary.  The provider could be configured to ignore either of these delimiters, and would generate configuration paths based on replacing either or both, as we

[2018-05-02 17:38] #818 closed

[2018-05-02 18:32] ckolumbus commented on #773
@HaoK thanks,  I'll have a look at binders then.

[2018-05-02 19:04] hvanbakel opened #826 "Invoke OnLoadException for a missing file on first load too"
When you add a configuration file as non optional and it doesn't exist, then you cannot handle the exception right now.

So assume the followingcode:
[code]
The fact that those 2 lines are not invoked means that I cannot handle the exception nicely.
This would have great added benefit when running across platforms to flush out casing issues for example.

The issue is in this code:
https://github.c

[2018-05-03 06:25] tiayi opened #829 "CommandLine & Json Config"
How can I use command line arguments override JSON array config section?
I tried as below, but it doesn't work well.

JSON
`{ "names": ["a","b","c","d"] }`
Command args
`app.exe -names d,e,f `

Code `configuration["names"]` can get right value from command args.
Code `configuration['names'].GetChildren().Select(p=>p.Value)`  returns `"a","b","c","d"`

Could anyone help me?

[2018-05-03 08:32] fromm1990 opened #830 "Support Newtonsoft Attributes"
It could be helpful if this library could support attributes from Newtonsoft such as
[code]
Furthermore it could be nice if converters could be added while adding the JSON file.
[code]
This would help people to map complex types with a parameterized constructor. Furthermore it is possible to make fields required such an error would be thrown while binding, should the settings file not contain the

[2018-05-03 11:16] joacar commented on #791
@ajcvickers I haven't added anything regarding configuration provider in the `Program.cs` (it is pretty much default with exception to Application Insights). I thought that the variables set in the service file were interpreted by Linux\Ubuntu as environment variables and hence handled by that specific configuration provider.

[2018-05-07 20:43] josephgardner opened #832 "AddKeyPerFile directory name is invalid"
Per #818 this is supposedly fixed, but with this code, I'm still getting an error

[code]

`System.ArgumentException: 'The directory name M:\...\nonexistant\ is invalid.'`

cc: @HaoK

[2018-05-07 21:18] HaoK commented on #832
This is fixed in 2.1 RTM, not RC1, what bits are you using?

[2018-05-07 21:32] josephgardner commented on #832
Thanks for the reply. You are correct, I'm using rc1 which is the latest on nuget.

[2018-05-07 21:32] #832 closed

[2018-05-08 01:31] erwan-joly commented on #830
comment in this pull request will answer to this question https://github.com/aspnet/Configuration/pull/789

[2018-05-08 13:15] joacar commented on #791
@ajcvickers Using the value produced by `systemd-escape "{connectionString}"` works. Don't know if there is any comment about this but I'd like to fix/add the, imo, missing piece.

[2018-05-08 13:15] #791 closed

[2018-05-09 08:25] fromm1990 commented on #830
I don't see them discuss the option of adding JsonConverters, or am I missing something?

[2018-05-11 02:39] erwan-joly commented on #830
i mean about json property. For converter i guess it should be implemented the same way

[2018-05-11 16:53] vdehaven opened #833 "Microsoft.Extensions.Configuration.UserSecrets.targets injects source file as last in project to compile"
### Title
*Microsoft.Extensions.Configuration.UserSecrets.targets injects source file as last in project to compile*

### Functional impact
This ordering precludes the package's use in F# dotnet console applications.

### Minimal repro steps

1. Create an F# console app. `dotnet new console --language F#`
2. Add Microsoft.Extensions.SecretManager.Tools package. `dotnet add package Microsoft.Extens

[2018-05-12 18:27] chrisoverzero commented on #825
This isn’t quite what you mention here, but environment variables already support sectioning. The section delimiter is the double-underscore: `__`. As in, `Grand__Parent__Value=999` produces 999 just as this does:

[code]

[2018-05-13 22:36] drewjcooper commented on #825
@chrisoverzero Thanks.  Wasn't aware of that, and I obviously missed it when I was looking at the code.  Oops.

[2018-05-13 22:36] #825 closed

[2018-05-15 00:08] traffk-viet opened #834 "Provide a reloadOnChange setting to AddAzureKeyVault"
We have an ASP.NET core app that pulls secrets from KeyVault on startup. These secrets may change behind the scene and we would like to be able to get these updates.

I believe the current way of doing this is to have a thread run on a schedule and call Configuration.Reload(); But I think this is a fairly common use case and a better way is to have something similar to AddJsonFile and have a reloa

[2018-05-17 15:42] smithybc commented on #662
We want to retrieve some secrets from a vault of some sort and replace parts of the configuration with these secrets. Making the JsonConfigurationFileParser public and adding the stream support would really help with this. What's the status on this work?

[2018-05-18 17:06] rwencel opened #836 "Binding/rebinding JSON array/lists/collections upon change/reload yields duplicate and unexpected results"
Using version 2.0.2, and a config with 2 JSON file sources (appsettings.global.json and appsettings.local.json, where the local settings supersede the global settings), trying to bind a List<string> property gives some duplicate and unexpected results when initially binding and when re-binding on change.  Here are some examples:

1)  appsettings.global.json StringList contains [ "1", "2" ] and app

[2018-05-18 17:28] HaoK commented on #836
Yeah this is by design at this point, the arrays are converted into indexed key value pairs that look something like array indicies, so that's why you are seeing that kind of behavior.

[2018-05-18 17:28] #836 closed

[2018-05-18 18:03] zippy1981 opened #837 "Feature Request: Configuration extension that reads from app services environment variables via AzureRM"
So here is the idea, lets say I want to run a local version of my app in visual studio, but configured exactly like it is on an app service.  I could pull that configuration from AzureRM with

https://resources.azure.com/subscriptions/__SUBSCRIPTION_ID__/resourceGroups/__RESOURCE_GROUP_NAME__/providers/Microsoft.Web/sites/__APP_SERVICE_NAME__/config/appsettings/list and https://resources.azure.com

[2018-05-22 13:02] PetterT2 commented on #546
Guid as key does not seem to work either

[2018-05-29 10:30] markmcgookin commented on #617
I am having this exact same issue:

[code]

[code]

I will try and knock up a simple application and stick it in a repo to confirm.

[2018-05-31 10:11] markmcgookin commented on #617
This might be fixed in today's 2.1.0 release. Updating the 2.1.0-rc-1 binaries to "2.1.0" and then manually adding Microsoft.Extensions.Configuration.AzureKeyVault seems to have removed the compile time error.

`<ItemGroup>
    <PackageReference Include="Microsoft.ApplicationInsights" Version="2.6.4" />
    <PackageReference Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.3.0" />

[2018-06-01 13:00] rgmills commented on #783
Hello, I wanted to add another data point.  I've encountered the general same issue (xunit & test collections), however the provider is different (https://github.com/Kralizek/AWSSecretsManagerConfigurationExtensions) but shares a similar pattern in implementation whereby `Load()` delegates to an `async LoadAsync()` to fetch configuration values.

I've managed to get this configuration provider to

[2018-06-02 07:54] AceHack commented on #555
I'm now getting this issues with .NET core 2.1 docker image dotnet:2.1-sdk

[2018-06-06 14:41] yuniansheng opened #839 "duplicated test method in ConfigurationBinderTests"
The two test method in Microsoft.Extensions.Configuration.Binder.Test.**ConfigurationBinderTests** are the same, i guess the original intention for **GetCanReadComplexProperties** should be testing the config.Get method. **GetCanReadInheritedProperties** and **GetCanReadStaticProperty** in this class also have the same problem.
[code]

[2018-06-06 16:45] HaoK commented on #839
Thanks i'll fix the test

[2018-06-07 12:39] stiano opened #840 "ConfigurationBinder: Support [Key] attribute"
The ConfigurationBinder should look for the KeyAttribute (or similar) on all the properties it aims to bind, and fallback to the current solution. We have legacy configuration files with long names not suited for property names.

`public class MyOptions
{
        [Key("C_CONFIG_SYSTEM_NET_MAILSETTINGS_SMTP_NETWORK_HOST_INTERNAL")]
        public string SmtpHost { get; set; }
}`

[2018-06-07 19:27] chrisoverzero opened #841 "Use of User Secrets Crashes in Environments without Appropriate Environment Variables"
I am developing ASP.NET Core applications to run on AWS Lambda. When running the application locally, User Secrets works correctly, retrieving configuration from my `%APPDATA%`. After deploying the application to our `development` environment <sub>(I am aware of the intended use pattern of user secrets)</sub>, however, it crashes with the included stack trace.

Looking at the source code, it appea

[2018-06-08 11:17] stiano commented on #840
It do not need to be an attribute though. An extension point that gives full control to the client application how to map property name to dictionary key would do the trick.

[2018-06-11 15:46] simonmurdock opened #843 "UserSecrets gets odd path for secrets file under 4.7.1 in Windows"
### Functional impact
This results in the app never finding the secrets file

### Minimal repro steps
- Create a new "ASP.NET Web Application (.NET Framework)
- Choose "MVC" as the template, default settings
- Add nuget ref to "Microsoft.Configuration.ConfigurationBuilders.UserSecrets"
- update web.config so appsettings appears like this:
[code]

### Expected result
The app to load and merge the s

[2018-06-12 05:38] MatthewDavidCampbell commented on #740
Terrible understand of the target syntax and MS build stages but have a similar problem when a **base** project has package references to *microsoft.aspnetcore.all* (2.0.8) and the runtime project references the base with the UserSecretsId in it's csproj.  The `CoreGenerateUserSecretsAttribute` is never run and the user secret attribute is never added to the assembly as a code fragment.  Assuming

[2018-06-12 17:06] natemcmaster commented on #740
@MatthewDavidCampbell - that's a separate issue. See https://github.com/aspnet/Configuration/issues/547.

[2018-06-12 17:09] natemcmaster commented on #547
Status update:

There is no change to for this bug, and nothing we can do at the aspnet level. By default, NuGet only flows some of the package assets across ProjectReference's. There is some possibility of changing this default (see https://github.com/NuGet/Home/issues/6091).

But until then, there are two known workaround. In the example above, Project.Library has a reference to UserSecrets and

[2018-06-13 07:29] MatthewDavidCampbell commented on #547
Appreciate the help.  Flagging `PrivateAssets` as **None** in the library project (second suggestion) had no effect.  Understanding of that option is to let stuff flow into subsequent projects (assuming **build** rather than **none** would have been sufficient).  Suggestion one (duplicating the `Microsoft.Extensions.Configuration.UserSecrets` package reference) in the _web_ project works.

[2018-06-13 07:55] spragchris opened #845 "Improvement: Do not merge arrays in configuration by default"
It seems like merging arrays from two files causes the arrays to merge by index. I don't think this is expected behaviour, and can even easily cause problems which aren't simple to diagnose.

I think the most obvious way to merge arrays, at least by default, is for one array to completely replace the other array, as if it were a single property, without merging.

In the following example, 'Unlimit

[2018-06-13 08:09] spragchris commented on #845
Realising the example is extremely contrived... here's the actual problem we experienced which caused me to raise this case. We configure clients for our OIDC configuration in appsettings.json. When deploying a product, we couldn't figure out why our refresh tokens were expiring after only 10 minutes (they should expire after 30 days by default.) It turns out that our testing settings, which were

[2018-06-13 08:10] spragchris commented on #845
Accidentally hit close and comment button instead. Time to go raise a feature request for Github :D

[2018-06-15 17:32] joniltonsilva opened #849 "Bind is ordered my Dictionary"
Hi,

Is that possible to add an option without ordering at this method?

 public IEnumerable<string> GetChildKeys(
            IEnumerable<string> earlierKeys,
            string parentPath)
        {
            var section = parentPath == null ? _config : _config.GetSection(parentPath);
            var children = section.GetChildren();
            var keys = new List<string>();
            keys.

[2018-06-15 17:40] joniltonsilva commented on #849
Example:

![json](https://user-images.githubusercontent.com/13085990/41481854-ef0ebd4a-70a9-11e8-9101-a5f07e99720d.JPG)
![class](https://user-images.githubusercontent.com/13085990/41481858-f3374ffe-70a9-11e8-8116-7a3cf77b357f.JPG)
![configure](https://user-images.githubusercontent.com/13085990/41481860-f616d410-70a9-11e8-84b0-48f414a15b00.JPG)

The result with **Dictionary Ordered**

![watch](http

[2018-06-23 10:25] Svansiepansie opened #850 "Configuration.AddAzureKeyVault fails on application startup"
Hello,

First of all, this is my first contribution to github, so I'm sorry if I have missed anything,

Anyway, here I go

I have added the extension nuget package Configuration.AzureKeyVault so that the secrets from my azurekeyvault are added to my configuration.

This works as intended, expect that it sometimes doesn't, I'll explain.
Sometimes my application will just throw a error 500 in IIS pr

[2018-06-25 16:13] pakrym commented on #850
`No such host is known` is usually caused by DNS resolution error.

Do you have custom DNS server? In the time of failure are you able to resolve your keyvault host using `nslookup hostname` in cmd?

[2018-06-25 16:18] pakrym opened #851 "IConfigurationBuilder Does not Contain .AddAzureKeyVault in 2.1"
_From @eopeter on June 20, 2018 17:0_

.AddAzureKeyVault was working in dotnet core 2.0 but not recognized in 2.1. I am using Microsoft.Extention.Configuration

[code]

_Copied from original issue: dotnet/core#1714_

[2018-06-25 16:18] pakrym commented on #851
_From @Petermarcu on June 21, 2018 20:43_

@muratg should this get moved to an ASP.NET repo to track?

[2018-06-25 16:18] pakrym commented on #851
_From @muratg on June 22, 2018 17:30_

@pakrym could you take a look and move to Logging repo acordingly please?

[2018-06-25 16:19] pakrym commented on #851
@eopeter, can you share your `.csproj` file please?

[2018-06-25 16:23] eopeter commented on #851
`
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.2.1" />
    <PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.0" />
    <PackageReference Include="Microsoft.Azure.KeyVault" Version="2.3.2" />
    <Packa

[2018-06-25 16:32] pakrym commented on #851
`Microsoft.AspNetCore.App` doesn't include a reference to `Microsoft.Extensions.Configuration.AzureKeyVault` like `Microsoft.AspNetCore.All` did in 2.0.

Try adding
[code]
to your csproj.

[2018-06-25 16:34] eopeter commented on #851
That did it!!! Thanks!!

[2018-06-25 17:05] #851 closed

[2018-06-26 16:37] Svansiepansie commented on #850
Hi there @pakrym
I do not use any custom DNS server.
In the time of the failure, I can resolve the host mentioning the method you describe.

I think since it occurs every now and then its hard to debug it.
I'm using google DNS now, will see if that improves the situation.

Unless there is an alternative DNS I could use

[2018-06-28 02:21] jseely opened #853 "Why no IConfigurationSection.GetSection(string) IConfigurationSection?"
Not sure if this is the right place to ask, why is there no IConfigurationSection nesting?

This seems like a pretty standard use case (multiple nested components that you want to expose configuration knobs for).

[2018-06-28 16:13] #853 closed

[2018-06-28 21:46] HassanHashemi commented on #781
@ajcvickers some how yes, in first attempt to build i got this error.
ignored that and ctrl+shift+b a few times and it was fixed.
i guess restoring is not triggered correctly.

[2018-06-30 09:50] Svansiepansie commented on #850
@pakrym
4 days have past since I use the google DNS instead of the default DNS on my EC2 instance.
No issues occured since then, looks like this can be closed.
So sorry for your time you've wasted on this ticket.

[2018-06-30 09:51] #850 closed

[2018-07-09 15:00] d-dizhevsky opened #856 "IConfiguration.Bind extension is missing"
As per [this doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.1&tabs=basicconfiguration#in-memory-provider-and-binding-to-a-poco-class) I should be able to bind a JSON configuration to its POCO representation via `IConfiguration.Bind` extension method which is in `Microsoft.Extensions.Configuration` package, but I'm not able to.

### Environment

[cod

[2018-07-09 15:38] d-dizhevsky commented on #856
`dotnet add package Microsoft.Extensions.Configuration.Binder` is the missing piece which solved the issue. I got confused by namespace\package names difference.
Closing this

[2018-07-09 15:38] #856 closed

[2018-07-11 07:56] RehanSaeed opened #857 "Add Ability to Validate Configuration"
The configuration providers currently don't provide a way to validate that what is loaded is valid. ASP.NET Core is perfectly happy to start an app with a null connection string for example. @andrewlock has written a wonderful [blog post](https://andrewlock.net/adding-validation-to-strongly-typed-configuration-objects-in-asp-net-core/) showing how to add validation.

## Example Usage Using Attribu

[2018-07-13 23:32] Eilon opened #859 "Add support for interpolation within appsettings"
_From @jkotas on June 27, 2018 2:26_

_From @BlacKCaT27 on June 26, 2018 14:13_

Currently, any app configuration entries in your appsettings.json file must be a direct value type, ex:

    "TargetDirectories": {
        "RootDir": "/path/to/rootdir/",
        "SubDir1": "subdir1",
        "SubDir2": "subdir2"
    }

If I, as a developer, want to concatenate or otherwise combine configuration para

[2018-07-13 23:34] HaoK commented on #859
We've been asked for this before, indirect config keys I believe, I'll try to find the previous issue

[2018-07-13 23:43] HaoK commented on #859
https://github.com/aspnet/Configuration/issues/129 was the one I could find there was another one I remember but I can't find anymore

[2018-07-14 00:12] BlacKCaT27 commented on #859
I wouldn't mind poking at this if you think it's something worth adding at
this point. I don't have any familiarity with the code yet though so any
advice on a starting point would be useful

On Fri, Jul 13, 2018, 7:43 PM Hao Kung <notifications@github.com> wrote:

[2018-07-23 17:18] Eilon opened #861 "memory leak during the use of reloadOnChange: true with ConfigurationBuilder"
_From @jkotas on July 23, 2018 8:12_

_From @abelpalaty on July 23, 2018 7:39_

  Hi,
We have dotnet core driver which connects to our product (CICS TG).
In the driver we create a connection and closes it after each transaction.
While creating the connection we have the following code.

[code]

With the setting reloadOnChange: true we see the memory leak with time eventhough the connection is clos

[2018-07-23 17:21] Eilon commented on #861
@abelpalaty have you noticed a long-term trend of memory growth? I think it's possible that within only 30 seconds that not all unused memory got cleaned up by the .NET Garbage Collector. The GC algorithm takes many factors into account, and with the overall memory usage of the process being fairly low (less than 80MB), the GC might not sense enough pressure to warrant collecting.

[2018-07-26 11:42] abelpalaty commented on #861
Hi,
    The customer had tried long term around 100000 requests and they had seen memory growth and reported it.
I did for just 2500 requests and were able to see same pattern.
In the above attached screenshots we see a GC on process memory where a orange mark is there.
In case of true we dont see anychange but increase of memory.  While in case on false with GC we see a small decrease in memory u

[2018-07-26 12:22] yfakariya opened #862 "Improve binding error message"
`ConfigurationBinder` classes binding logic only says that there is a specific error in somewhere -- it does not report any information to specify what value was wrong.

It is very convenience that exceptions thrown by `ConfigurationBinder` contains path information where binding error was occurred.

Note: Personally, I tried to implement path reporting with `IConfigratuonSection.Path` property, a

[2018-07-27 15:41] Eilon commented on #861
I wonder if this issue is related to the discussion at https://github.com/aspnet/Home/issues/1976 ...

[2018-07-31 16:38] ti82 opened #863 "Configuration binding of type Dictionary<string, object> fails if value is List"
Using this POCO settings class:

public RuntimeSettings
{
    public string Type { get; set; }
    public Dictionary<string, object> Parameters { get; set; }
}
Using object as the value type lets this be more generic and support strings, ints, bools, etc.

And a settings JSON file like this:

{
  "Type": "MyRuntimeType",
  "Parameters": {
    "param1": true,
    "param2": [ "subParam1": "Hello", "

[2018-07-31 20:15] ti82 commented on #863
Here is the call stack just below my code:

Parameter name: type
   at System.Reflection.IntrospectionExtensions.GetTypeInfo(Type type)
   at Microsoft.Extensions.Configuration.ConfigurationBinder.GetAllProperties(TypeInfo type)
   at Microsoft.Extensions.Configuration.ConfigurationBinder.BindNonScalar(IConfiguration configuration, Object instance)
   at Microsoft.Extensions.Configuration.Configur

[2018-08-03 10:47] abelpalaty commented on #861
@Eilon
    I went through Asp.net Core not Collecting Garbage.
    But in this case we are specific to reloadonchange. I dont see anything connecting to this.
Thanks

[2018-08-03 20:13] valeraf23 opened #864 "ConfigurationBinder binds string property with null value to string.Empty"
[code]
Json file : beta.json
[code]
Expected res.Contact ==null
Actually res.Contact == ""

[2018-08-06 07:44] andrewslavin commented on #845
I have the same issue. Is this a bug or by design? If by design - why? This behaviour is quite counter-intuitive. You'd expect values in the overriding json file to replace corresponding values from the base, not be merged with them.

@spragchris Can you please comment on the issue, thank you.

[2018-08-06 08:39] spragchris commented on #845
@andrewslavin I'm not part of this project or anything, I just suffered from this problem after scratching my head for a few days.

I think it's by design. I think this is a quality issue, the behaviour here was probably decided by the developer writing the functionality and not questioned. I'm a little shocked myself nobody from the team has read or commented on this case since I raised it... it'

[2018-08-06 08:58] andrewslavin commented on #845
Sorry @spragchris, I saw you closing and re-opening the issue, so presumed you were on the project team. I did not notice that you were also the person who'd raised it.

This behaviour is quite dangerous, almost resulted in a bug for us. Noticed accidentally while testing. Ended up using bar-delimited strings instead of arrays.

Can someone from the project team please comment on the issue - is th

[2018-08-06 09:13] spragchris commented on #845
@andrewslavin Hah no sorry, I accidentally closed the issue, then re-opened it.

[2018-08-06 16:33] steveoh opened #865 "Environment variables not found"
I am working with vs for mac on the beta channel and a dotnet core mvc application. I run an iterm2 console with zsh and a `~/.zshrc` file. I have a few machine level environment variables being exported from that rc file. eg:

[code]

I have set those values, restarted, yada yada, everything that should make them visible to vs for mac and the dotnet application. The [use multiple environments](ht

[2018-08-07 14:20] khellang commented on #864
Duplicate of https://github.com/aspnet/Configuration/issues/788?

[2018-08-07 14:27] valeraf23 commented on #864
@khellang No, because
`1. string g = default(string); // null`
2. In my json I clarified that "Contact" assigned to null
[code]

[2018-08-07 16:11] khellang commented on #864
I was mostly referring to what @HaoK mentioned in the issue:

And @andrweslavin's comment:

Based on the feedback from the team (@HaoK) in #788, it sounds highly unlikely that this will be changed.

[2018-08-07 18:11] HaoK commented on #864
Yep what @khellang says 👍

[2018-08-07 18:11] #864 closed

[2018-08-08 00:59] andrewslavin commented on #864
@HaoK, @khellang please understand that you cannot answer questions like this with "that's how it works". I just ran into another issue I was going to raise, but found that someone already had: https://github.com/aspnet/Configuration/issues/845. So far no one from the dev team has commented on it, but will the answer also be "that's how the binder works"?

The way the binder currently works does n

[2018-08-08 01:34] HaoK commented on #864
There's nothing that requires you to use the Binder, its meant solely as convenience, you can always write whatever custom binding code you want to bind lists in the manner that works for you using the configuration values.  Breaking changes for something low level like the binder has a pretty high bar

[2018-08-08 01:58] andrewslavin commented on #864
@HaoK Yes I can write my own code, but what is the point of providing the framework then?

You comment above, as well as your comments here https://github.com/aspnet/Configuration/issues/788, are mostly defensive, i.e. you are trying to defend what you've done, and now you are suggesting that I should write my own code if it does not meet my requirements.

I think what you and the team have done i

[2018-08-08 04:17] davidfowl commented on #864
If it’s a massive breaking change then it would need to be behind a flag.

[2018-08-08 05:49] khellang commented on #864
@andrewslavin I didn't answer "that's how it works". I quoted @HaoK from another issue. Read my comments again. BTW, it's a perfectly valid answer - whether you like it or not 😊

@HaoK is on the team, no?

[2018-08-08 08:41] andrewslavin commented on #864
@khellang

Yes, my reply was mostly to him, though by quoting him I presume that you agree with him.

I'm not sure what you are trying to say. That the way the binder currently works is fine? Sorry but your customers disagree. Or it's not fine but you will not change it anyway? Then why not? You customers are asking for an improvement, and so far you have not given a clear answer why you would not

[2018-08-08 09:03] khellang commented on #864
Actually I don't. I find the current behavior weird as well. I was just saying that you probably won't get very far given the preivious responses.

No, I'm saying that "this works as designed and we're not willing to make breaking changes" is a perfectly valid response.

[2018-08-08 11:01] andrewslavin commented on #864
@khellang If you agree that binder needs improvement, then why is braking change an issue? It can be put behind a flag. Can you please ask the team's PM to comment.

[2018-08-09 11:12] AkosLukacs commented on #833
Ran into this issue with latest SDK and packages, so still not solved.
@vdehaven Thanks for the workaround!

[2018-08-09 11:13] AkosLukacs commented on #754
Releated issue: https://github.com/aspnet/Configuration/issues/833
File generation works, but breaks console application builds. Luckily there is a workaround in the other issue.

[2018-08-10 00:02] DamianEdwards commented on #861
@ajcvickers shall we have someone attempt to repro this one?

[2018-08-10 00:04] ajcvickers commented on #861
@HaoK would be that someone.

[2018-08-10 00:06] andrewslavin commented on #864
@khellang @davidfowl @HaoK Can you please ask the team PM to join the conversation.

[2018-08-10 02:16] davidfowl commented on #864
“The PM team”

cc @DamianEdwards @glennc

[2018-08-13 09:25] spragchris commented on #864
Please look at my case #845 as well, I think it's a much more insidious problem because it won't be visible in many cases until you build a production environment.

To distill what I think is wrong here to it's core... with .NET Core config, you are assuming users want a complete generic solution instead of a key value pair store. We need to ask ourselves too many questions about your approach bef

[2018-08-13 10:27] andrewslavin commented on #864
@DamianEdwards @glennc Can you please comment on this issue as well as https://github.com/aspnet/Configuration/issues/845 and https://github.com/aspnet/Configuration/issues/788. They describe three distinct cases:
- Null gets bound as empty string
- Empty array gets bound as null
- Array gets merged with previous array instead of replacing it

But they probably have the same root cause and similar

[2018-08-13 10:34] khellang commented on #864
Who are you referring to here? If you're referring to me, I just have to say that I'm not a Microsoft employee.

[2018-08-13 10:38] andrewslavin commented on #864
@khellang Yes I presumed you were a member of the project team based on your comments here. Sorry for the confusion. It does not change the point I'm trying to make though.

[2018-08-16 17:09] HaoK commented on #731
This is being done via options validation instead of in the binder layer https://github.com/aspnet/Home/issues/3385

[2018-08-16 17:09] #731 closed

[2018-08-16 17:11] HaoK commented on #804
Options validation will be the feature that targets this, see https://github.com/aspnet/Home/issues/3385 which will allow data annotations to be used for required

[2018-08-16 17:11] #804 closed

[2018-08-20 16:12] los93sol commented on #829
having the same issue here, from what I've seen so far if you do -names[0] d -names[1] e -names[2] f then it will work but that's a pretty terrible experience and doesn't work at all for my use case since I need to use switchmappings for this as well

[2018-08-21 00:47] HaoK commented on #861
@ajcvickers I think the issue is that we never dispose the initial change token: https://github.com/aspnet/Configuration/blob/master/src/Config.FileExtensions/FileConfigurationProvider.cs#L32

Normally this isn't an issue for the main application configuration file.  But in the scenario where they are constantly creating new configuration builders, each configuration is leaking the initial file wa

[2018-08-21 00:49] HaoK commented on #861
So one complication is there is no explicit notion of disposing config right now, so technically other than if gc kicks in, there's no way to signal that you are done with a configuration file to trigger actually closing the reload on change file watcher...

[2018-08-21 00:53] sebastienros commented on #861
Might be related to https://github.com/aspnet/Home/issues/3110

[2018-08-21 01:01] HaoK commented on #861
Yeah looks like the same issue

[2018-08-21 15:54] Hunta commented on #851
I have this same issue, cannot find .AddAzureKeyVault, here is my .csproj file

`<?xml version="1.0" encoding="utf-8"?>
<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <LangVersion>7.1</LangVersion>
    <ApplicationIcon />
    <OutputType>Exe</OutputType>
    <RuntimeIdentifiers>win10-x64;ubuntu.16.10-x64</RuntimeIdentifiers>
    <St

[2018-08-21 16:40] Hunta commented on #851
Nevermind, adding the version number to:

```<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.1" />```

then close and reopen the solution + build solved it for me

[2018-08-25 18:07] milenstack opened #867 "YAML Support"
In addition to INI, XML & JSON, we should consider supporting YAML files.

[2018-08-25 18:09] milenstack commented on #867
yaml Configuration [https://github.com/andrewlock/NetEscapades.Configuration]

[2018-08-28 07:38] lonix1 commented on #624
The code referenced by @HaoK `Source.ReloadDelay` gives a 404 so I don't know what  `Source.ReloadDelay` is used.

For detecting configuration changes:
[code]

I've used a debounce delay of `2000` which is always effective (on linux), but is a bit long. What delay are people using for this?

[2018-08-28 17:35] Eilon commented on #867
Because there is no built-in YAML support in .NET Core (at this time), YAML support will need to be provided by the community, and it looks like there is already a package out there that does that.

[2018-08-28 17:35] #867 closed

[2018-08-29 05:00] aspnet-hello opened #868 "Test failure: ThrowsWhenNotOptionalAndDirectoryDoesntExist"
This test [fails](http://aspnetci/viewLog.html?buildId=541643&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made autom

[2018-08-29 05:00] aspnet-hello commented on #868
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-29 07:00] aspnet-hello commented on #868
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=541637&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-29 15:43] Eilon commented on #868
@HaoK can you take a look? Doesn't look like there have been a lot of changes to this repo in a while...  The last real change I could find is from 3+ months ago: https://github.com/aspnet/Configuration/commit/3e2d00cdf5602f8afcde53558654dee80c7083fc

[2018-08-29 17:53] HaoK commented on #868
Hrm this is a weird one, the test is pretty much just testing what happens when you feed in a bogus file.  So this means we are getting different errors when a file doesn't exist now, I'll see if something else changed lower in the stack...

[code]

[2018-08-29 18:09] HaoK commented on #868
Ah looks like @pranavkm made some changes to PhysicalFileWatcher to lazily create the file watcher, so we are getting a different exception now, I can just update the test to look for the absolute error message, before we were getting the directory not existing from CreateFileWatcher which is no longer invoked in the ctor.

https://github.com/aspnet/FileSystem/commit/b9986fc364ec439606f998d44e02be

[2018-08-29 20:40] HaoK commented on #868
Fixed via https://github.com/aspnet/Configuration/pull/870

[2018-08-29 20:40] #868 closed

[2018-08-29 21:01] aspnet-hello opened #871 "Test failure: ThrowsWhenNotOptionalAndDirectoryDoesntExist"
This test [fails](http://aspnetci/viewLog.html?buildId=541943&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automatically. I

[2018-08-29 21:01] aspnet-hello commented on #871
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-29 21:05] HaoK commented on #871
Fixed by https://github.com/aspnet/Configuration/commit/5d87c79bbdeb87bfe2c4a63f5eb5369c8e306b5c waiting til fix is propagated before closing issue

[2018-08-29 22:01] aspnet-hello commented on #871
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=541847&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-30 00:30] andrewslavin commented on #864
@DamianEdwards, @glennc I have already asked several times - can you please provide your view on this and related issues. Even if you have not formed a view yet, some response will be better than nothing. Ignoring the customer is the worst option.

[2018-08-30 05:01] aspnet-hello commented on #871
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=542163&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-30 07:00] #861 closed

[2018-08-30 07:12] HaoK commented on #586
Moving out to backlog and unassigned since this wasn't something we were planning on doing in 2.2

[2018-08-31 00:04] natemcmaster commented on #740
Should be fixed by https://github.com/aspnet/Configuration/pull/872

[2018-08-31 00:04] #740 closed

[2018-08-31 00:05] natemcmaster commented on #754
File generation should be resolved with https://github.com/aspnet/Configuration/pull/872.

[2018-08-31 00:05] #754 closed

[2018-08-31 00:07] natemcmaster commented on #808
No occurrences lately, but I made some changes to the test which should increase the stability anyways.

[2018-08-31 00:07] #808 closed

[2018-08-31 02:03] aspnet-hello commented on #871
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=542882&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-31 22:02] natemcmaster commented on #871
Can we backport this test fix to 2.2?

[2018-09-01 00:01] aspnet-hello commented on #871
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=543622&buildTypeId=Releases_22xPublic_UbuntuUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-01 09:57] GeorgeTsaplin commented on #800
I think this issue shiuld be resolved by supporting TypeConverter attributes at properties of Type, specified as generic at `Section.Get<T>`.

For example:
cats.json
[code]

[code]

Such code will fail because of converting "0" to bool.

To resolve this we can add such line of code before binding (`.Get<Cat>()`):
`TypeDescriptor.AddAttributes(typeof(Boolean), new TypeConverterAttribute(typeof(Bool

[2018-09-02 12:01] aspnet-hello commented on #871
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=543910&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-03 00:15] DumpsterDoofus opened #874 "JSON configuration binding of type Dictionary<string, string> fails if a key contains a colon"
### Minimal working example

Create a .NET Core console app project with the following `appsettings.json` contents:

[code]

Use the following entry point (adding NuGet references for `Microsoft.Extensions.Configuration.Binder` and `Microsoft.Extensions.Configuration.Json`, as necessary):

[code]

The result, `d`, is a dictionary with one pair, as expected.

However, replacing `"key"` with `"k:ey"

[2018-09-03 01:01] aspnet-hello commented on #871
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=544103&buildTypeId=Releases_22xPublic_Win2012) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-03 08:37] GeorgeTsaplin opened #875 "Support TypeConverterAttribute at ConfigurationBinder"
For example:
cats.json
[code]

[code]

Such code will fail because of converting "0" to bool.

To resolve this we can add such line of code before binding (`.Get<Cat>()`):
`TypeDescriptor.AddAttributes(typeof(Boolean), new TypeConverterAttribute(typeof(BooleanConverterEx))`.

But preferred way would be consider target type properties' TypeConverterAttribute. Configuration section POCO will be:
[co

[2018-09-03 08:37] GeorgeTsaplin commented on #875
this issue trace to #830

[2018-09-03 15:36] smariussorin commented on #612
Does not work, the GetValue is just for string and primites, use following 'hack'

[code]

[2018-09-03 15:44] smariussorin commented on #451
Thanks @forbeshawkins

[2018-09-04 05:46] GeorgeTsaplin commented on #875
implementing at [/GeorgeTsaplin/Configuration](https://github.com/GeorgeTsaplin/Configuration/tree/tasks/875-supportTypeConverterAtConfigurationBinder)

[2018-09-04 12:03] aspnet-hello commented on #871
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=544229&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-04 18:05] HaoK commented on #871
@natemcmaster what's the best way for me to backport?  Just reapply the changes or should I try to cherrypick the single commit over?

[2018-09-04 18:09] natemcmaster commented on #871
I usually try a soft cherry-pick to backport changes. `git cherry-pick --no-commit`

[2018-09-04 19:36] HaoK commented on #871
Fix backported, will wait a day or so to make sure no more bot reports before closing

[2018-09-05 01:02] aspnet-hello commented on #871
ThrowsWhenNotOptionalAndDirectoryDoesntExist [failed with about the same error](http://aspnetci/viewLog.html?buildId=544348&buildTypeId=XPlat_Windows_Win7_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-06 15:39] natemcmaster commented on #841
Resolved with https://github.com/aspnet/Configuration/pull/873. I added more fallbacks. If nothing by default is found, you'll need to set an environment variable.

[2018-09-06 15:39] #841 closed

[2018-09-06 22:20] HaoK commented on #871
Closing to see if its fixed

[2018-09-06 22:20] #871 closed

[2018-09-11 21:37] chrisoverzero commented on #841
I don't think this solution solves my problem.

What's been implemented is a solution to "I want to read some user secrets from a place, but I have no `HOME`." However, I don't want to read any user secrets because there are none to read.

My current workaround is to _set_ a `HOME` environment variable. It seems no better (and maybe worse?) to me to set `DOTNET_USER_SECRETS_FALLBACK_DIR` in order

[2018-09-13 00:15] DumpsterDoofus opened #879 "Empty lists are bound as nulls"
### Minimal working example

Consider the following `Main` method:

[code]

#### Case 1

With the following config, `c` has 2 items:

[code]

#### Case 2

With the following config, `c` has 1 item:

[code]

#### Case 3

With the following config, `c` is `null`:

[code]

#### Case 4

With the following config, `c` is null:

[code]

### Notes

In Case 3, I would expect a list with 0 items. I find it

[2018-09-14 20:39] valeraf23 commented on #864
@DamianEdwards, @glennc your silence disappoint yours customers who have questions about this topic.

[2018-09-17 14:12] HassanHashemi commented on #394
@HaoK How to bind a property with private setter?
In `2.1` this still dose not work.

[2018-09-19 10:40] herecydev commented on #879
[Related issue](https://github.com/aspnet/Configuration/issues/788) which got shut down as "Nothing to be done here" which I disagree with.

[2018-09-20 19:19] peteraritchie commented on #757
Where is this type of expansion being considered @ajcvickers?

[2018-09-21 20:18] williamb1024 commented on #799
@drauch How did you "register TypeConverters" for the `IPNetwork` or `KnownProxies` types?

[2018-09-21 21:08] drauch commented on #799
https://stackoverflow.com/questions/606854/inject-custom-type-conversion-to-net-library-classes

[2018-09-24 18:04] aspnet-hello commented on #643
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:04] #643 closed

[2018-09-24 18:17] natemcmaster commented on #841
Have you given my fix a try yet? I also added calls to a few new locations via `Environment.GetFolderPath`. Are these also empty in AWS Lambda?

[2018-09-24 18:44] chrisoverzero commented on #841
I'm afraid so. A function with this body:

[code]

...produces this log output:

[code]

[2018-09-25 06:55] LindaLawton commented on #859
@BlacKCaT27  are you looking into this?

[2018-09-25 10:46] BlacKCaT27 commented on #859
Sorry, not at the moment. Ended up changing jobs and haven't had a chance to do much c#

[2018-09-25 20:16] chrisoverzero commented on #841
That's a good question.

According to [the docs][], the only reasonable variable is `LAMBDA_TASK_ROOT`. Th-This isn't something you want to bake into the library, I'm sure.

Maybe a configuration setting that names the environment variable whose value to use? This is only very slightly better than my current solution of setting `HOME` to "/var/task". It does no more than remove the hard-coding. Bu

[2018-09-28 16:29] Eilon opened #882 "Add ability to cleanup Configuration related disposables"
_From @JanEggers on Friday, 28 September 2018 06:43:27_

Im having issues in a Unittests that complains that not all threads are ended when the unittest is completed.

Turns out this is due to using this:

[code]

the reloadable json file generates Filewatchers that hang in a sleep if the test is ended.

the core problem is that there PhsicalFileProvider is disposable but currently I have to do so

[2018-09-28 16:29] Eilon commented on #882
_From @JanEggers on Friday, 28 September 2018 06:49:23_

update: even after disposing the file providers like above im still having this:

Not Flagged		28660	8	Worker Thread	Worker Thread	Microsoft.Extensions.Configuration.FileExtensions.dll!Microsoft.Extensions.Configuration.FileConfigurationProvider..ctor.AnonymousMethod__0_1
 	 	 	 	 	 	mscorlib.dll!System.Threading.Thread.Sleep(int millisecond

[2018-09-28 16:29] Eilon commented on #882
_From @JanEggers on Friday, 28 September 2018 06:52:01_

this seems to be the source:

https://github.com/aspnet/Configuration/blob/9b80cd866891a34738fa7f7f74a3e6c98f74b281/src/Config.FileExtensions/FileConfigurationProvider.cs#L32

[2018-09-28 16:29] Eilon commented on #882
_From @Eilon on Friday, 28 September 2018 16:28:47_

@JanEggers I think ideally a unit test wouldn't use the "real" configuration and would just use the in-memory configuration provider, thus avoiding all external resources (and thus no file system watchers).

Another option would be for the unit test to just avoid using the `reloadOnChange` feature.

Are these options in your scenario?

[2018-10-03 04:26] crb02005 opened #885 "README has broken link"
Configuration Providers link from readme no longer works:

bleedingnedge.azurewebsites.net/2015/10/15/configuration-providers/

[2018-10-03 16:30] Eilon commented on #885
Thanks @crb02005 , I removed the broken/obsolete blog links (which was all of them 😄 ).

[2018-10-03 16:30] #885 closed

[2018-10-04 08:16] Yves57 commented on #826
Same issue for me. Useful to add startup logs without stopping everything. Do you accept PR for fix it?

[2018-10-04 08:46] hvanbakel commented on #826
I already created one, #827

[2018-10-04 23:31] michaeltnguyen commented on #394
@HassanHashemi You have to explicitly set `BindNonPublicProperties = true`.

For example:
[code]
Only then will it work for a private setter.

[2018-10-10 16:22] Eilon opened #892 "problem with Microsoft.Extension.Configuration.*"
_From @iceoz on Wednesday, 10 October 2018 13:41:35_

Hi, i'm facing a strange problem, i make some microservices, some of them are just consoleApp with hostbuilder using only Microsoft.NETCore.App SDK, and others are webapi using Microsoft.NETCore.App SDK and Microsoft.AspNetCore.App everyone with 2.1 version

everything worked fine until i try to make some nugets for helpers, in console applicat

[2018-10-12 06:42] rasmus commented on #778
We didn't recover from this. Until this is fixed we educate our developers to make sure to use lower casing for all settings 😢

Use case: We pull settings from multiple sources, e.g. Consul, environment variables, appsettings.json, command line, Vault etc. in order to give both developers and site operations maximum flexibility. Keeping casing of settings across all these sources was a pain until

[2018-10-12 15:23] f2calv commented on #411
A bit late to the party here but it might help someone, I'm upgrading an MVC 5 application to use DI but I was struggling to get strongly bound AppSettings/ConnectionStrings working;

In .NET Core (as of 2.1.5) I would simply write the below;
[code]

I tried the above example and it certainly compiles, but doesn't actually bind the properties - at least using newest packages;
[code]

The version w

[2018-10-15 12:21] diogoxluis commented on #814
To which file do I add these tags?

[2018-10-18 08:55] quanterion commented on #386
Sadly it is still impossible...

[2018-10-18 17:52] Eilon opened #896 "ConfigurationBuilder add elements to initialized array instead of replacing it"
_From @LordXaosa on Thursday, 18 October 2018 09:39:00_

Code:
[code]
[code]

in appsettings.json:
[code]

I expect after config loading there would be only 2 items: "3" and "4"
But there would be all 4. "123","test1","3","4"
Consider this is a bug or there should be an option for replacing array values.

_Copied from original issue: aspnet/AspNetCore#3666_

[2018-10-18 18:32] LordXaosa commented on #896
Such behavior doesn't seem to be obvious... I really expected 100% equal objects in config and in runtime. May be there should be an option? Count this as suggestion.

[2018-10-26 06:17] thviQit commented on #896
This is really bothering me as well. If I write something in my config.json, I expect it to overwrite default values, not add to it.
Basically it means you cannot have default values for collections/arrays, but always have to define them in your configuration. That is not the behavior I would expect.
Right now it giving me some headaches as I validate my option POCO with fluentvalidation, and that

[2018-10-27 04:48] Tratcher opened #901 "Enable Json custom Converter attribute for reading appsettings"
_From @rizamarhaban on October 27, 2018 4:35_

### Is your feature request related to a problem? Please describe.
I have a POCO configuration class that has `System.Version` property in it. On my `appsetting.json`, the value is stated as a string. When using the `Configuration.GetSection();` this does not convert the string value to `System.Version`. Example:
[code]

The `appsettings.json`:
[code]

[2018-10-28 20:53] uniondevelopment commented on #802
sometimes the issue can be caused by using statement "using AutoMapper.Configuration;"

[2018-10-29 14:14] isahyarima commented on #449
System.FormatException: 'Could not parse the JSON file. Error on line number '5': '}
"Logging": {'.'

[2018-10-29 16:33] Tratcher opened #902 "Mixed appsettings.json & appsettings.development.json"
_From @karelz on October 27, 2018 15:55_

_From @johndhunter on October 27, 2018 13:10_

I seem to be getting results from both appsettings.json and appsettings.development.json when I use the following:
`var users = _configuration.GetSection("AdministrationUsers");`

my appsettings.development.json is like:

[code]

whilst my appsettings.json is like:

[code]

With `ASPNETCORE_ENVIRONMENT` set to

[2018-10-29 16:42] Tratcher commented on #902
I understand why that happened, but there might be room for improvement here as the results are counter-intuitive.

Configs are layered, and [CreatedDefaultBuilder](https://github.com/aspnet/MetaPackages/blob/3e0ee5a711556581ebda53082d11cab1c0c8d197/src/Microsoft.AspNetCore/WebHost.cs#L169-L170) applies appsettings.json first and then overlays it with appsettings.{environment}.json.

In the config

[2018-11-01 20:33] rprimora opened #903 "Read section as raw string"
I have added a GeoJSON object as a value of one of my settings inside appsettings.json.
[code]

I  wanted to read this as a raw string but Configuration cannot see it that way. This would be easy if this object was simple but it is not.

If I was able to read it as a string than I could give it as such to Deserialize method of GeoJson providers that support this way of deserialization.

Is this po

[2018-11-02 22:54] johndhunter commented on #902
It's definitely counter-intuitive but I thought that might be the case and understand the solution - guess I just didn't read all the docs - and I really should be using an appsettings .production.json
thx

[2018-11-06 01:41] devop228 opened #905 "ConfigurationBuilder.Build throws NullReferenceException"
I created an implementation of `IConfigurationProvider`, of which `GetReloadToken` method returns null. After adding its corresponding `IConfiguraionSource` into `ConfigurationBuilder` then called `Build` method, a `NullReferenceException` was thrown. Below are the implementation of `IConfigurationProvider` and `IConfigurationSource`:
[code]
To use these implementations:
[code]
The reason of this

[2018-11-06 21:45] rasmus commented on #778
@ajcvickers why was the bug fix moved to the 3.0 milestone when there's a pull request with a fix? The current implementation throws an exception, which is rather problematic when combining settings from e.g. appsettings.json and environment variables as environment variables on Windows typically are upper case and setting in appsettings.json using camel casing or similar.

[2018-11-06 22:07] ajcvickers commented on #778
@rasmus Essentially because we didn't have resources dedicated to this area and hence most PRs were pushed out of the 2.2 release. We will revisit again in the 3.0 timeframe, but it's not clear yet if there will be any significant resources working in configuration for 3.0.

[2018-11-07 01:05] aspnet-hello opened #906 "Test failure: DeletingFilesThatRedefineKeysWithReload"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](https://dnceng.visualstudio.com/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=40796) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on release

[2018-11-07 01:05] aspnet-hello commented on #906
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-11-07 01:19] Eilon commented on #906
@HaoK failure -

[code]

I heard from @natemcmaster that he learned some tips & tricks to make file system watcher dependent tests more reliable.

[2018-11-08 00:33] HaoK commented on #906
@natemcmaster can you point me at any relevant PRs that made file system tests more reliable?

[2018-11-08 01:06] natemcmaster commented on #906
Most of the flakiness work I did was on dotnet-watch. But here are somethings which I found helped:

- Use `File.SetLastWriteTime(path, DateTime.Now);` to trigger file changes. Other operations, like `File.WriteAllText` actually cause multiple file system events.
- You make tests run faster and more reliably if you can use `TaskCompletionSource` + events instead of `await Task.Delay` to ensure ass

[2018-11-08 23:11] aspnet-hello commented on #906
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](https://dnceng.visualstudio.com/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=41867) on release/2.2 at 10:51:43 PM:
- DeletingFilesThatRedefineKeysWithReload

[2018-11-10 12:09] jez9999 commented on #745
Adding my support for the PR by @amoerie - a good solution for the problem.

[2018-11-14 18:56] 0Lucifer0 commented on #857
https://github.com/aspnet/Configuration/pull/789 Seems to be a won’t do

[2018-11-21 11:59] ahoka commented on #386
I cannot fathom such scenario where this is not an anti-pattern. I do wonder what enterprise calls for the aforesaid proposition?

[2018-11-21 12:10] mysticfall commented on #386
For a real life scenario, I used Configuration API to access various game related settings on a game engine.

The ability to combine various configuration sources (project settings, user overrides, etc) and access them in a type safe manner is quite nice, however if the player changes some of those settings in-game, there's no way to persist back to their source as it is, which largely defeats the

[2018-11-21 17:43] FSharpCSharp commented on #386
@mysticfall
Yes, I understand that with ASP.NET and Persistance. But all these additional developed tools have been moved to a new repository, and there it says explicitly that you can use them outside of ASP.NET as well.

[2018-11-21 19:07] SoftwareDreamer commented on #469
I have to second that.. this is terrible design, I just ran into that and it turned out I was reading somewhere about Kubernetes not supporting : and tried __ from the docs, which DO NOT explicitely warn that this is only working on Linux.

Honestly guys, terrible design, not your best work here. Consistency is important.

[2018-11-21 22:57] mysticfall commented on #386
@FSharpCSharp Sorry, I missed 'but' in my sentence so it could have read in the exact opposite way than what I really meant :sweat_smile:

Edited my comment now and thanks for opening a new issue in the new repository. I'll subscribed to it and hope it gets more attention soon.

[2018-11-28 15:02] Marusyk opened #908 "[Question] How does reloadOnChange work in AddJsonFile"
I have this code in Program.cs

[code]
Then I run my app in Docker container that managed by k8s.
I've created ConfigMap and in Deployment add volume to that file (ocelot.json). So, I expected when ConfigMap changes then my file ocelot.json also should change. And it does. I exec container and check that file has changed but my app doesn't see that.

Also I check sha1sum of file before and after c

[2018-12-04 01:53] ajcvickers commented on #276
Closing this as fixed, since the FileSystem issue is now fixed and it allows hidden files to be used on the PhysicalFileProvider, which can be used in the FileConfigurationSource.

[2018-12-04 01:53] #276 closed

[2018-12-05 21:06] NinoFloris commented on #800
@HaoK also important for F# users...

Most F# users usually use F# lists which are seen as non scalar by the binder. The binder then tries to access all properties of list, like Head which will result in an exception if you have a very normal default value, an empty list.

[2018-12-05 22:17] ghost commented on #394
In my case it still doesn't seem to work.
![aspnet-configuration-issues-394](https://user-images.githubusercontent.com/10577823/49547753-e5b66280-f8e3-11e8-905d-a23a357ec0c4.png)

[2018-12-05 22:36] michaeltnguyen commented on #394
@StFranc What does your AppSettings class look like?  `private set` is still required.

[code]

[2018-12-05 22:47] ghost commented on #394
Yeah, that's how I did it. I also tried protected, internal and protected internal - it seems that as soon as I add any access modifier it stops binding.

[2018-12-05 22:58] michaeltnguyen commented on #394
Ah, I think I know the problem.  You're correctly calling `Configure<AppSettings>(c => c.BindNonPublicProperties = true)`, and that makes an `IOptions<AppSettings>` available to your controllers.  After doing so, you can access the AppSettings via `services.BuildServiceProvider().GetService<IOptions<AppSettings>>().Value`

If you want to use `Configuration.Get`, you also need to specify binding fl

[2018-12-07 15:44] dr3s opened #909 "UserSecrets error after upgrading to 2.2.0"
Upgrading to 2.2.0 my test project with user secrets broke with the following error

[code]
 but I do have a UserSecretsId and the Microsoft.Extensions.Configuration.UserSecrets package as a direct dependency.

The only change in 2.2.0 that seemed related was:

https://github.com/aspnet/Configuration/pull/872

[2018-12-07 15:52] dr3s commented on #909
Note that this is the same error as when using 2.1.1 and not including Microsoft.Extensions.Configuration.UserSecrets package as a direct dependency of the test project.

However, once Microsoft.Extensions.Configuration.UserSecrets package is made a direct dependency of the test project the test runs.

[2018-12-08 23:51] Marusyk commented on #908
Filesystem monitoring does not work in docker mounted volumes (yet). The JsonConfigurationProvider relies basically on FileSystemWatcher monitoring the source file. The problem is that file system watch does not work in mounted volumes as stated [here](https://forums.docker.com/t/file-system-watch-does-not-work-with-mounted-volumes/12038).

[2018-12-08 23:51] #908 closed, assigned to nobody

[2018-12-09 01:56] ajcvickers commented on #341
Triage: We discussed this and at least for now we are keeping validation a concern of the options and not of the configuration or binder.

[2018-12-09 01:56] #341 closed

[2018-12-09 01:58] ajcvickers commented on #386
Triage: we have discussed this at length several time and while arguments can be made on both sides we're taking an approach of trying to keep config simple, which means we're not going to add the complexity of persistence.

[2018-12-09 01:58] #386 closed

[2018-12-09 02:06] ajcvickers commented on #559
The tests are now done. We don't plan to publish them to NuGet unless there is significant interest. The base class is small and easy to copy if other providers want to use it.

[2018-12-09 02:06] #559 closed

[2018-12-15 23:12] #566 closed

[2018-12-15 23:13] #572 closed

[2018-12-15 23:15] #604 closed

[2018-12-15 23:17] #617 closed

[2018-12-15 23:18] #689 closed

[2018-12-15 23:19] #700 closed

[2018-12-15 23:19] #705 closed

[2018-12-15 23:26] #812 closed, assigned to nobody

[2018-12-16 09:09] kyschouv commented on #801
Was this resolved? Or perhaps moved? This is still something we need, and we currently have to maintain our own package to work around this limitation.