[2016-12-21 22:54] divega commented on #572
cc @HaoK @glennc

[2016-12-21 23:11] HaoK commented on #572
We can certainly push it into base, but then it needs to go onto then base ConfigurationProviderSource as well

[2016-12-21 23:14] HaoK commented on #572
We'd probably also have to change the current ConfigurationProvider Load() to be non virtual and introduce another virtual load to automatically hook this up

[2016-12-29 00:04] necoras opened #573 "Allow for binding System.Type values."
If I have some Json representing a class of type MyClass:

[code]

I can Use Json.Net to deserialize that into an object:

[code]

However, if I try to bind to an appsettings.json with a similar setup (ie: I have a type named "$Type")
then that value isn't mapped. Instead the value is null.

Presumably this is because in the settings/configuration object `$Type` is not a valid property name. `$` i

[2016-12-29 00:22] divega commented on #573
@necoras you can try and if you think the result is a compelling change we can look at a PR.

However the configuration binder was not built to work as general purpose serialization. It doesn't read JSON files directly and but reads key value pairs from an `IConfiguration`, and then uses standard .NET type converters to go from the string representation of values to the target types of the propert

[2016-12-29 15:35] necoras commented on #573
@divega While I do think this is a reasonable feature (having code key off of types declared at run time rather than compile time can be useful), I don't really have the time to dig into all of the possible edge cases that might be involved. I'll go with your suggestion and pull in the settings object using Json.NET for now. Thanks.

[2016-12-29 15:35] #573 closed

[2016-12-29 22:08] HaoK commented on #559
This is kind of a pain since there's no common data format, I'll send out a PR for what I'm thinking so far, basically we can feed the providers key/value pairs for them to turn into their own data format, but this basically means every provider needs to implement a key/value => their config file format...which is kinda annoying

[2016-12-30 10:29] pavelbrylov commented on #569
Any ETA for 1.1.1 release? We also got this issue today :(

[2016-12-30 16:16] ryanmcdonnell commented on #569
I was able to work around this by duplicating some of the code in the extension class and passing the callback explicitly:
[code]

Also needed to copy the `GetTokenFromClientSecret` method:
[code]

[2016-12-30 17:38] Eilon commented on #569
@pavelbrylov no ETA, but we hope to get it out as soon as possible in 2017.

[2016-12-30 19:02] pavelbrylov commented on #569
@Eilon Thanks!

[2017-01-04 16:37] pksorensen commented on #487
I had the chance to play around with this last weekend and found that most stuff was configurable and extendable for most of my use case.

You can see my secret manager here: https://gist.github.com/pksorensen/6f067c2d2e62db05e996c39254790acd#file-configuration-cs-L256

Now the thing I would like added is, that for each secret to control what is added to Data from IKeyVaultSecretManager. Right now

[2017-01-04 18:54] divega commented on #487
@pksorensen I am not able to understand what you are describing, but if this is a feature request for the KeyValue provider, please create a new issue.

[2017-01-04 19:02] HaoK commented on #572
@divega do you want me to take a look at this for 2.0?

[2017-01-04 19:13] natemcmaster opened #575 "Make UserSecrets machine-local instead of app-local"
**Proposal:**
There is one, machine-local secrets store. The secrets store is still a key=value storage mechanism. Configuration can import secrets from the store.
The concept of 'user secret id' is replaced by 'sections'. Keys can be divided into 'sections' by using the ':' separator.

**Changes:**
Removes need to `<UserSecretsId>` in csproj.
Removes need for UserSecretsIdAttribute on the runtime

[2017-01-04 19:14] natemcmaster commented on #575
cc @glennc @divega @muratg

[2017-01-04 21:35] divega commented on #572
@HaoK sounds good. cc @glennc

[2017-01-09 09:03] ZoolWay opened #580 "Target framework .NET 4.5.1 missing from Binder + CommandLine"
The packages for `Microsoft.Extensions.Configuration.Binder` and `.CommandLine` specify *.NETStandard 1.1* as the only target framework while other packages also include *.NET Framework 4.5.1*.

Please add the .NET 4.5.1 support into Binder and CommandLine. I guess its a mistake that it is missing.

[2017-01-09 09:30] davidfowl commented on #580
.NET 4.5.1 supports netstandard 1.1. Did you try installing it or are you just looking at packages?

[2017-01-09 10:02] ZoolWay commented on #580
The other packages explicitly state *.NET Framework 4.5.1* in addition to *.NETStandard 1.1* on NuGet - so there is at least a small difference in the pure definition.

Nevertheless I tried it and when I build the project I get lots of those:
*The dependency Microsoft.Extensions.Configuration.CommandLine 1.1.0 in project myprojectname does not support framework .NETFramework,Version=4.6.1*

I get

[2017-01-09 10:06] davidfowl commented on #580
Some do, some don't. Packages that multi target do so because they *have* to. Packages only need to explicitly target .NET 4.5.1 when the APIs required are in a higher netstandard that doesn't support .NET 4.5.1. That isn't the case here.

It's no mistake. NETSTandard.Library 1.6.1 supports netstandard 1.0 - 1.6. One is the target framework the other is the package version, they are unrelated.

Se

[2017-01-09 10:46] ZoolWay commented on #580
When I started to strip the project down to upload a repro repo I found an intermediate `global.json` in my project hierarchy. I use it to set the tooling version to `1.0.0-preview2-003121`. That *lost* `global.json` had no sdk version set and this must have triggered to build that one project with the highest installed one which is `1.0.0-preview4-004233`.

I removed to old file and the correct `

[2017-01-09 10:46] #580 closed

[2017-01-11 15:39] joelharkes opened #581 "Feature request, Json environmnet variable (or make public Json EnvironmentVariable ConfigSource)"
I wanted to mimic: https://www.npmjs.com/package/config

because our architecture is mixed node/dotnet and running in docker containers, i wanted a unanimous way to control these through environment variables.

I was able to make this work but i had to copy: `JsonConfigurationFileParser`

maybe it would be nice not to make this an internal class. since it would be usefull for every json type Confi

[2017-01-11 21:35] HaoK opened #582 "Consider exposing Providers property on IConfigurationRoot"

[2017-01-13 21:57] HaoK opened #584 "Add support for a lazy ConfigurationProvider"
Today our base provider only handles eagerly loading all key/values in load, we should have some way to delay loading the values until needed

[2017-01-14 23:12] evgrud opened #585 "EnvironmentVariablesConfigurationProvider.Load no longer works with the current mscorlib"
Reproduceable with `coreclr` repos on `master` and any `aspnet` version including `master`.
Sorry if you already know this, or if a non-issue considering unstable builds.

`Environment.GetEnvironmentVariables` no longer returns a HashTable but a generic Dictionary `<string, string>`, so the cast to `DictionaryEntry` of its entries within `EnvironmentVariablesConfigurationProvider.Load` fails.

[2017-01-17 22:24] glennc commented on #585
Is this related to https://github.com/dotnet/corefx/issues/14417?

[2017-01-18 06:05] evgrud commented on #585
Yes, thanks, I just need to use a new version of runtime.win.System.Runtime.Extensions from the ASP.NET Core "dev" branch feed. There is `[assembly: TypeForwardedTo(typeof (Environment))]` in mscorlib so the Extensions library "hijacks" the type and makes it compatible.

[2017-01-18 07:16] divega commented on #585
Reopening so we have a chance to talk about our test coverage for this.

[2017-01-19 00:27] divega opened #586 "Make `Exists()` behavior consistent for nulled values"
Currently in our configuration provider implementation if the value of a configuration key is set to null, the value of the dictionary entry is set to null, but the key still remains in the dictionary, so checking for existence on the parent keys will return wrong (positive) results.

I think we can fix this by simply changing the behavior of the setter to remove the key from the dictionary.

This

[2017-01-19 19:52] Eilon commented on #569
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-20 04:56] GuardRex opened #589 "System.InvalidCastException for small-footprint self-contained test app"
cc/ @blackdwarf b/c this has to do with getting this app type running.

## Steps to reproduce
Create a small-footprint self-contained app for TF `netstandard1.6.2`.

Repro: https://github.com/GuardRex/testselfcontained

## Expected  behavior
Runs

## Actual behavior
:boom: at runtime with ...
[code]
... seems to be referring to ...

[code]
... at ...

https://github.com/aspnet/Configuration/blob/d

[2017-01-20 08:06] GuardRex commented on #589
@dasmulli suggested trying ...
[code]
... which turned out a little better. The process started ... but ...

![capture](https://cloud.githubusercontent.com/assets/1622880/22140846/92d3f56e-deb4-11e6-9f49-da3261ecf116.PNG)

[2017-01-21 20:15] bachratyg commented on #470
Hit this one today.

@ycrumeyrolle
A possible workaround is specifying the setting as a string in the file e.g.
[code]
This way the offending ToString is a noop and parses correctly into a double/decimal without modifying the application code. Doesn't seem like there's much you can do except not using json and/or creating your own json provider/fork. And submit a pull request of course :)

One thi

[2017-01-25 11:56] lszomoru commented on #512
@glennc, I am resuming working on this project so I was wondering if there is a better way to achieve this? Maybe some new capabilities that were added to .NET Core since September enable this scenario? Thanks!

[2017-01-25 21:36] divega opened #590 "Consider improving missing user secrets ID exception message to help with migration to msbuild"
Customers that are using user secrets will need to tweak any call to `AddUserSecrets()` too as part of their migration from project.json to .csproj.

The current exception message when the location of the user secret ID cannot be found (e.g. using EF Migrations or while publishing) looks like this:

This is all correct, but given a large number of customers may potentially run into this it makes s

[2017-01-25 21:36] divega commented on #590
cc @muratg @natemcmaster

[2017-01-26 17:48] niemyjski commented on #537
Were you able to resolve this issue?

[2017-01-26 18:01] davidfowl commented on #537
What version?

[2017-01-26 18:04] niemyjski commented on #537
I'm just seeing these same issues in my own lib running latest uwp 5.2.2 with latest releases on a .net standard 1.2 lib. Same errors

[2017-01-30 17:27] natemcmaster commented on #590
I'm assuming the intent here is to help project.json --> MSBuild conversion. We'd need to put this into 1.0.x patch for this change to reach the right people.

[2017-01-30 19:26] divega commented on #590
@natemcmaster yes that is it. I created this issue after the email thread.

[2017-01-30 20:47] muratg commented on #590
@Eilon heads up, another 1.0.4 candidate.

[2017-01-30 21:33] Eilon commented on #590
Ok, please place in the appropriate milestone.

[2017-01-30 21:56] natemcmaster commented on #575
Clarification: by machine-local, I really mean machine-and-user-profile-local. We wouldn't want secrets shared across user accounts.

[2017-01-31 00:22] divega commented on #575
I talked to @natemcmaster briefly about this and I think the fundamental departure from the current design contained in this proposal is that `dotnet user-secrets` would accept (and possibly require) the same string passed to `AddUserSecrets()` instead of figuring it out automatically from some project artifact.

Personally I am a bit more open to that because all the "magic" we have put in place

[2017-01-31 00:25] divega commented on #590
@natemcmaster mentioned we could also add `ObsoleteAttribute` to the overload that doesn't take parameters with a message pointing to the correct overload. That would probably help even more with the migration to .csproj than improving the exception message mentioned here but I don't think they are mutually exclusive.

[2017-01-31 18:35] pholly commented on #115
In Asp.net Core 1.1 the syntax to get the `IEnumerable` is

[code]

I use this to store allowed origins for CORS requests:
[code]

[2017-01-31 19:32] muratg commented on #590
@Eilon will track this with the rest of the Feb patch release. We may decide to skip this though, because we may need to patch a lot of other packages because of this version bump.

[2017-01-31 19:45] Eilon commented on #590
We should do whatever change we feel is right. If it means we have to rebuild more packages, so be it.

[2017-01-31 23:00] HaoK commented on #557
@glennc and I discussed this, and think the existing behavior is fine, since the usage:

[code]

[2017-01-31 23:06] #557 closed

[2017-02-03 06:44] mguinness commented on #115
@pholly Another approach is to use the Bind method as follows:

[code]

[2017-02-04 03:14] jindovu opened #591 "The call is ambiguous between the following methods or properties"
Hi everyone,
     I have problem with configuration when I trying to config on Startup.cs  Line bellow
[code]

it through message bellow
`error CS0121: The call is ambiguous between the following methods or properties:
'Microsoft.Extensions.DependencyInjection.OptionsConfigurationServiceCol
lectionExtensions.Configure<TOptions>(Microsoft.Extensions.DependencyInjection.I
ServiceCollection, Microsof

[2017-02-06 23:05] halter73 commented on #591
@jindovu Look in your project.lock.json. `Options`~~Configuration~~`ServiceCollectionExtensions.Configure<TOptions>(Microsoft.Extensions.DependencyInjection.IServiceCollection, Microso ft.Extensions.Configuration.IConfiguration)` hasn't existed since 1.0.0-rc1-final back when the Options package was called Microsoft.Extensions.OptionsModel.

Even though this Microsoft.Extensions.OptionsModel packa

[2017-02-07 00:02] divega commented on #591
@halter73 @jindovu checkout the code now that I added the right quotes. The generic argument was already there, but it is hidden in markdown without the quotes.

[2017-02-07 20:32] Tratcher opened #592 "Configuration.GetSection destroys Configuration["YYY"]"
_From @Eneuman on February 7, 2017 20:28_

I have a web application with a startup.cs that looks something like this:

[code]

After publishing it to Azure, and restarting the site I noticed that Cors origins was not set correctly.
I added a IConfiguration to one of my MVC Controls and returned the value of Configuration["AppSettings:CorsOrigins"]. The value looked fine but CORS wasn't working.

I

[2017-02-07 20:38] Eneuman commented on #592
More information about my configuration:
My application have a regular appsettings.json containing a value for AppSettings:CorsOrigins.
I have no appsettings.{env.EnvironmentName}.json file.
AppSettings:CorsOrigins is overwritten by settings on the Azure website.
I have no AppSettings:CorsOrigins secret in my KeyVault.

[2017-02-07 23:03] GuardRex commented on #589
I'm reopening ... this is still occurring.

Repro: https://github.com/GuardRex/testselfcontained

[2017-02-08 02:32] h82258652 commented on #537
I get the same error, both in Microsoft.Extensions.Configuration.Ini.
Seems System.IO.FileSystem.Watcher package install failed.

[2017-02-08 16:41] natemcmaster commented on #590
Proposed patch: https://github.com/aspnet/Configuration/pull/594

This requires bumping aspnet/Configuration to 1.0.2, which will probably mean rebuilding most downstream repos.

[2017-02-08 19:10] natemcmaster opened #595 "Obsolete .AddUserSecrets()"
Same as #590

[2017-02-08 21:08] Eilon commented on #575
I'd love to be in the brainstorm mtg for this. Can we set something up for that?

[2017-02-08 22:48] Eilon commented on #590
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:53] Eilon commented on #595
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-09 01:25] natemcmaster commented on #590
Fixed in https://github.com/aspnet/Configuration/commit/618ff3c5e33116d0f77b03a74e765e3e03074dc0

[2017-02-09 01:25] #590 closed

[2017-02-09 01:27] natemcmaster commented on #595
Fixed in https://github.com/aspnet/Configuration/commit/3676ff6de2e9ded386e863d2664f6aa7af257892

[2017-02-09 01:27] #595 closed

[2017-02-09 23:19] #569 closed

[2017-02-10 08:04] hcoona opened #596 "Cannot install on .NET v4.5 projects"
I cannot install **Microsoft.Extensions.Configuration.FileExtensions** & **Microsoft.Extensions.Configuration.Ini** in **.NET v4.5 projects**. Both of the packages are in version v1.1.0. The error message from Nuget is as following:

[2017-02-10 08:08] davidfowl commented on #596
We don't support net45, try upgrading to net451.

[2017-02-10 08:10] hcoona commented on #596
I cannot upgrade it to net451, is there any workaround?

[2017-02-10 08:13] davidfowl commented on #596
Nope.

[2017-02-10 08:13] davidfowl commented on #596
Recompile the code in your own project?

[2017-02-10 08:14] hcoona commented on #596
Is there anything special that it must attach to net451? Is it because one of the dependency or itself need a new feature bring from net451?

[2017-02-10 08:16] davidfowl commented on #596
We target frameworks based on API usage. Some APIs are only available on higher .NET Framework versions. Also FYI, net45 and net451 are out of support and we are looking at moving to requiring net46 for some of our libraries.

Why can't you move to .NET 4.5.1 or .NET 4.6?

[2017-02-10 08:18] hcoona commented on #596
Because the build system is not under my control.

[2017-02-10 17:50] kazuk opened #597 "adding DotnetCliTool to csproj project on VS2017RC"
Hi, Microsoft.Extensions.SecretManager.Tools package is this repo?

I will Encrypt to configuration items.

reading this.
https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets

[code]

I can not to do. because I don't have project.json .

I try add NuGet package reference to project.
error massage shown this. (I use ja-jp localized VS)

[code]

message means package type 'DotnetCliTool

[2017-02-11 06:17] natemcmaster opened #599 "UserSecrets 1.0.1 and 1.1.0 install into netstandard1.0 projects but shouldn't"
Because the targets file for Microsoft.Extensions.Configuration.UserSecrets is in build/netstandard1.0/, NuGet will allow this package to install into netstandard1.0 projects, even though its binaries are not compatible with anything less than netstandard1.5.

[2017-02-13 10:49] hcoona commented on #596
As the reason is by design, I'll close this thread. Thanks David for help!

[2017-02-13 10:49] #596 closed

[2017-02-15 19:29] #599 closed

[2017-02-16 07:02] natemcmaster commented on #575
We talked about this in a design meeting. Our conclusion is that the problems this attempts to address don't meet the bar for a re-design this big. We'll address the problems with better error messages and by removing the obsoleted APIs that depended on project.json

[2017-02-16 07:02] #575 closed

[2017-02-16 07:05] natemcmaster commented on #597
Because of https://github.com/NuGet/Home/issues/4190, you cannot install the package from the NuGet GUI. Instead, you must edit your csproj file to contain:

[code]

The source for this tool lives here: https://github.com/aspnet/DotNetTools/

[2017-02-16 07:05] #597 closed

[2017-02-16 07:07] natemcmaster commented on #550
@divega we should take care of this for 2.0. Should be a matter of deleting the obsolete APIs.

[2017-02-21 08:28] joelharkes commented on #469
To be honest i think this is terrible by design.

Moving AspNet Core forward to OS platform software and docker containers.

Kubernetes uses undescores as seperators. Docker engine uses underscore as separators, node uses unserscore as seperators. (and capital letters)

Dotnet? uses `:` and as alternative a double undescore?

Seriously? and then in code there is:

[code]

I'd vote for moving this

[2017-02-21 08:52] joelharkes commented on #469
For those who like it clean and simple: (Note it is now case-insensitive,  on default)

[code]

[2017-02-24 13:04] passuied opened #604 "Configuration binder performance"
It seems that the current implementation of the ConfigurationBinder is relying heavily on reflection which would have significant performance impact when binding a type multiple times over.

I know the current options pattern leveraging this binding is using Singletons and only rebinds on reload but in our application we are tweaking the options behavior so it can be resolved per lifetime scope in

[2017-02-24 13:28] passuied commented on #512
Hi I'm working on a similar problem but in my case I'm dealing with client-specific configuration

We have built a custom provider that lazy loads the client specific settings upon TryGet() (1000+ clients per shard).
We have also added reload capabilities but unfortunately at this point it will reload all or nothing (couldn't find a way to reload part of my source)

For DI, we ran into the same is

[2017-02-24 13:31] passuied commented on #512
@lszomoru, @glennc ^^ ;)

[2017-02-24 13:46] passuied commented on #584
@HaoK
We have just implemented our custom provider using lazy loading adding logic to our TryGet().

Our source plugs to Do and resolves our current request context to figure out which client this setting is for.
It will load all client-specific settings if missing and store them in sub sectionsof Data dictionary.
The biggest roadblock now is to reload only a given client setting and not the entir

[2017-02-24 15:43] davidfowl commented on #604
As a standalone component that can be used over and over I think it would be a fine contribution to have a method that creates a typed binder. It wouldn't be something we'd use by default since as you said, we do this mostly on singletons.

How are you "tweaking" the options behavior? You can't change the lifetime of the existing `IOptions<T>` that would potentially break too much stuff.

[2017-02-24 16:54] divega commented on #604
There are lifetime changes happening in 2.0 due to `IOptionsSnapshot<T>` and enabling scoped `IConfiguredOptions<T>` so in principle this is relevant. It would be good to have some measurements of the perf.

Cc @haok

[2017-02-24 17:39] passuied commented on #604
@davidfowl,

I'm using IOptionsSnapshot<T> which is registered per Lifetimescope, since it needs to reload on change. However it has currently a dependency on IOptionsMonitor<T> which is still registered as a singleton.
I am planning to test today to change the registration of this latter to a Lifetime scope also which I hope would give me the correct behavior.
However, the main down side I see is

[2017-02-24 18:34] HaoK commented on #604
Yup that was actually a bug and we fixed that in 2.0, where the snapshot is basically just a scoped equivalent of IOptions/OptionsManager, see https://github.com/aspnet/Options/pull/164

I'll take a look at the binder performance

[2017-02-24 18:37] HaoK commented on #584
Are you able to have a provider per tenant?  That would align with how reload works

[2017-02-24 20:52] HaoK commented on #584
Some initial thoughts for how this might look, will try switching a few providers over to this to see how it feels.

[code]

[2017-02-24 22:24] passuied commented on #584
@haok

The problem is I would prefer to avoid initializing all client sources/providers at startup.
First it may have a performance impact to set up a config with 1000+ sources that may/may not place any request.
But also how would I handle cases where a client is being provisioned without having to restart the service.

I would rather have the ability to dynamically add the source at runtime the

[2017-02-24 22:41] HaoK commented on #584
I'll have to think about this a bit more, we'll discuss this in the next triage as we are seeing a lot of requests about multi-tenancy scenarios.  @glennc

[2017-02-24 23:14] StummeJ opened #605 "AzureKeyVault via client certificate support"
We recently had to switch to using dotnet core and noticed that the certificate based authentication was unavailable.  With recent changes in some of the Azure repos there is a solution to make it work in dotnet core (at least when importing `"dotnet5.6", "portable-net45+win8"`.)

[2017-02-25 16:28] sebok commented on #548
Hi,
Your post was very useful for me, thank you.
So, I second your proposal :)

[2017-02-28 05:52] cpear opened #608 "Configuration.GetSection and appsettings.production.json"
Configuration.GetSection() does not seem to respect the appsettings.{env.EnvironmentName}.json file for the specific environment. It always pulls sections from appsettings.json regardless.

[2017-02-28 06:38] HaoK commented on #608
Can you include the code where you are building the configuration?

[2017-02-28 17:27] Eilon commented on #550
Once the PR is merged, please post an announcement that links back to this bug for discussion. The announcement should detail what a developer has to change to keep things running (e.g. API changes, etc.).

[2017-03-01 00:15] #550 closed

[2017-03-04 11:25] benaadams opened #610 "Possible Config issue on netcoreapp 2.0"
Dictionary Enumerator is a bit weird as it can be two types; depending on what interface it is accessed on

Environment variables can also return a `HashSet` which is why it needs `DictionaryEntry` rather than `KeyValuePair`

Previously this code would work fine [aspnet/Configuration](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.EnvironmentVariables/Envir

[2017-03-04 16:32] brockallen opened #611 "Binding to non-null IEnumerbale doesn't work"
When using the binding feature in the config system, for IEnumerable collections that have a default, non-null value, the collection is never assigned into the target model. For example:

For this json:
[code]

and this application code:

[code]

The output is:

[code]

I'd expect is to print "2".

I'd argue the issue is in `BindInstance` and an explicit handling for `IEnumerable` should be made (

[2017-03-04 16:38] brockallen opened #612 "Consider overload of Get<T> that accepts child section name"
It'd be nice to have a Get<T>(string section) that looks like this:

[code]

[2017-03-04 19:35] joseftw opened #613 "Problem with Ubuntu and Environment variables containing colons."
Im using IOptions<> with the following class ```MetroSettings```

[code]

My appsettings.json looks like this
[code]

I want to avoid having my apikey in the appsettings.json file so im setting an environment variable instead like this:
[code]
It works like a charm in Windows, the ApiKey property in MetroSettings picks up my value from the environment variable.

The problem arises when I deploy my

[2017-03-04 19:44] joseftw commented on #613
I found a solution thanks to this issue:

You are not allowed to have dots or colons in the names, so I changed to this instead and now it works :)

```MyPrefix_Metro__RealTimeDepartures__ApiKey```

[2017-03-04 19:44] #613 closed

[2017-03-07 15:17] vanillajonathan opened #614 "Configuration on Linux is not stored in $XDG_CONFIG_HOME"
The configuration is stored `~/.microsoft/usersecrets/<userSecretsId>/secrets.json`.

Note, however as per the [XDG Base Directory Specification](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html) it should be stored in the `$XDG_CONFIG_HOME` directory.

Example  `~/.config/microsoft/usersecrets/<userSecretsId>/secrets.json`.

https://github.com/aspnet/Configuration/blob/dev/

[2017-03-09 08:27] paulchapman opened #617 "AddAzureKeyVault possibly not working correctly"
I have a simple .net core app and I'm trying to retrieve a connection string. If I manually construct KeyVaultClient I am able to retrieve the secret for the key "ConnectionStrings--ApplicationDbContext".

If I call AddAzureKeyVault  with the same credentials (vault, client id and secret) both Configuration["ConnectionStrings--ApplicationDbContext"] and Configuration["ConnectionStrings:Application

[2017-03-09 09:46] DixonDs opened #618 "Service Fabric configuration provider"
Will it make sense to add support for Service Fabric configuration settings as outlined in this blog post https://dzimchuk.net/configuring-asp-net-core-applications-in-service-fabric/ ?

[2017-03-09 18:08] skolmer commented on #613
Thanks! This saved my day. My App Service on Linux application stopped working over night. After I changed all colons in azures application settings to double underscore it started working again.

[2017-03-15 07:11] am11 opened #620 "launchBrowser is not respected after dotnet migrate to MSBuild15/VS2017"
In launchSettings.json of ASP.NET MVC Core project, we have:

[code]

With .NET Core CLI v1.0.0-preview2.1, on running with `SomeEnvName` setting in VS2015, it launches the browser (while the app is still starting asynchronously).

After the `dotnet migrate` to CLI v1.0.0 RTM, running the project in VS2017 with same setting does not launch the browser.

I couldn't find any `aspnet/Announcement` ab

[2017-03-18 01:21] kyschouv opened #622 "Support TypeConverterAttribute on bound properties"
It's very difficult to add a custom `TypeConverter` for framework types to have them bind correctly within `ConfigurationBinder`. The documentation for `TypeConverterAttribute` specifies that the attribute can be attached to a property, and that property will then use the specified `TypeConverter` during serialization/deserialization. Unfortunately, `ConfigurationBinder` doesn't take the property'

[2017-03-19 04:58] mvadu opened #623 "Migrating Custom configuration related code to Core -IConfigurationElementCollectionElement"
Hi, I have some code which is based on the old `System.Configuration` namespace. I am currently in the process of migrating that to .Net Core. My code uses `IConfigurationElementCollectionElement` and `ConfigurationElement` class. What would be proper replacements for these in Core world?

[2017-03-20 10:22] magnusbakken opened #624 "ChangeToken.OnChange fires twice when listening for configuration changes"
When I use ChangeToken.OnChange to listen to configuration changes as described in https://github.com/aspnet/Configuration/issues/432, my handler usually gets called twice in quick succession.

To reproduce:
1. Create a new ASP.NET Core targeting .NET Framework project using the Web API template (I haven't tested targeting .NET Core).
2. Add this line in the Configure method in Startup.cs: `Change

[2017-03-21 19:48] kichalla opened #627 "Remove conditional compilation from test"
From here: https://github.com/aspnet/Configuration/pull/626#discussion_r107253061
![image](https://cloud.githubusercontent.com/assets/6559784/24167629/a6e0e1a2-0e34-11e7-848e-5a579aa6c222.png)

[2017-03-21 22:47] jbagga opened #628 "Flaky functional test on CI"
[DeletingFileWillReload](https://github.com/aspnet/Configuration/blob/dev/test/Microsoft.Extensions.Configuration.FunctionalTests/ConfigurationTests.cs#L686) fails on the OSX Universe test run.

http://aspnetci/viewLog.html?buildId=190391&tab=buildResultsDiv&buildTypeId=XPlat_Mac_MacUniverseCoreCLR

@pranavkm

[2017-03-21 23:08] pranavkm commented on #628
👍

[2017-03-22 18:32] JunTaoLuo commented on #628
Is this test only flaky on OSX or is it flaky on other platforms as well?

[2017-03-22 18:43] HaoK commented on #628
How often is this test failing?  The history doesn't appear accurate since its showing 99.9 pass rate 2 failures out of 1488 runs...

http://aspnetci/project.html?tab=testDetails&projectId=XPlat&testNameId=-6243998867234377954&page=2

[2017-03-22 18:56] JunTaoLuo commented on #628
Seems to be very rare, what's inaccurate about the history?

[2017-03-22 18:58] HaoK commented on #628
So why are we disabling this test if the failure has been twice this year?

[2017-03-22 19:04] Tratcher opened #630 "Chained config"
Hosting has multiple places where it has one config and wants to add more providers to it. Right now there is no config provider that accepts an existing config.  Without this you're forced to manually copy the keys and values, and you lose reload notifications.

What I want:
[code]

Note we don't have access to the original builder, and the order you want to add configs may vary.

See
https://git

[2017-03-22 19:15] pranavkm commented on #628
When we had an engineer meeting about this recently, I think the consensus was we wanted to not have tests that fail and pass on retries. Granted the failure rate is super low, but I guess we still want to identify what caused it to fail and what can be done to get it to 100% success rate. Re-running the test shouldn't be the solution. I'll let @Eilon  \ @ajcvickers chime in.

[2017-03-22 19:31] Eilon commented on #628
Yeah flaky is no good. We need to identify the cause.

[2017-03-22 19:37] Eilon commented on #628
BTW to add to this - any flaky test anywhere is a pain point. So if each repo has 2 - 3 flaky tests that each fail 1/50 times, do the math and you'll see this works out to 43.78888% failure rate on an average full stack build.

![image](https://cloud.githubusercontent.com/assets/202643/24217173/30d77534-0efc-11e7-969e-cec84f95568d.png)

(I totally made this up, but it's still true 😄 )

[2017-03-22 19:46] HaoK commented on #628
So specifically for this instance, there's no way to investigate something that fails once every 3 mons on a non windows OS, especially when its relying on OS file system watcher.  There's no actionable step to ever bring back this test.

[2017-03-22 19:48] HaoK commented on #628
The underlying feature doesn't currently have any functional tests (probably because they would be flaky :)... I filed this issue https://github.com/aspnet/FileSystem/issues/242 for that in the past (since I'd love to kill these feature regression tests that really belong in FileSystem, and not config)

[2017-03-22 19:50] HaoK commented on #628
I think a 100% pass rate bar for functional tests is almost by definition impossible for things that rely on external resources, a DB will go down from time to time...  a .1% failure rate for something that relies on OS file notification timing seems reasonable as well.

[2017-03-22 19:51] HaoK commented on #630
We had this feature and then we removed it I think...added it for hosting in the past

[2017-03-22 20:00] JunTaoLuo commented on #628
Would be nice to at least understand what could be the cause there. I see that in the test there is a delay for 1.1 seconds before checking for the configuration updates. Maybe the right thing to do here is to increase that. Our mac agents are especially slow for example.

[2017-03-22 20:01] JunTaoLuo commented on #628
Or maybe wait for the token to change with a longer timeout like 5 seconds.

[2017-03-22 20:03] Eilon commented on #628
Yeah @HaoK I agree we can't expect it to be 100% reliable when it uses external resources. But just upping the timeout could go a long way towards mitigating the failure.

[2017-03-22 20:06] HaoK commented on #628
Its already 'folk lore(as I copied this pattern from the tests in file systems)' that these tests that rely on file system notifications are flaky due to timing issues.  If the observed failure rate right now is .001344% at 2/1488.  We can pick another arbitrarily slightly larger timeout and reenable the test, but I'm not sure what that accomplishes how can we tell this if this did anything other

[2017-03-22 20:11] Eilon commented on #628
@HaoK honestly yeah we might go to 3 seconds. The point of this test really isn't that "exactly after X seconds this thing will happen" because like you say, that responsibility lies somewhere else entirely. We just want to know that we did a reasonably correct job wiring it all up, so whether it's 2 or 3 or 4 seconds doesn't matter. (But we don't want it to be, say, 20 seconds, because then the t

[2017-03-22 20:13] HaoK commented on #628
I totally agree with cracking down on flaky tests, I'm just pushing back on defining something that fails every 2 months as flaky.

[2017-03-22 20:14] HaoK commented on #628
Basically this means any test that ever fails will be disabled immediately if it ever has failed in the past 3 months...seems extreme.

[2017-03-22 20:21] HaoK commented on #628
In addition to cracking down on flaky tests, can we implement some basic retry which if successful allows the build to continue, that seems like a worthwhile enhancement given how many tests we have, and the impossibility of getting to 100% for functional tests  We'd still be able to track the flaky tests as well.

[2017-03-22 20:23] Eilon commented on #628
I don't think we want to ignore flakiness like that with retries because then we might miss actual product flakiness. I'd prefer that we consciously adjust things based on our observations in a minimal way.

[2017-03-22 20:58] ajcvickers commented on #628
Where we can make low-cost changes that may decrease flakiness even a small amount, I think we should do that. This seems to be a case like that. So we should try changing the timeout or similar because it's easy and might work. Any downside seems very minimal.

[2017-03-22 21:05] JunTaoLuo commented on #628
Would be nice to not depend on timed delays for synchronization of test events. Elsewhere we try to use callbacks and MREs with timeouts to ensure asserts are fired after certain events occurred https://github.com/aspnet/HttpSysServer/blob/6125e3982bb2b4d8cfbbfaaba328a808c8982f32/test/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests/Listener/ServerTests.cs#L162. Would be nice to try that here w

[2017-03-22 21:27] HaoK commented on #628
Sure, but this is more of a regression test to ensure that FileSystem notifications are actually triggering, we need to wait for the file system to actually trigger, that's the problem with the tests in that FileSystem repo today, all the tests mock'ing the underlying notification system, so in the past, the tests would be fine when the notifications were actually completely broken on linux

[2017-03-23 18:31] sei-jmattson commented on #611
I ran into this issue today and came to the same conclusion as @brockallen

[2017-03-25 22:57] ericwj opened #632 "reloadOnChange is only supported in ASP.NET Core 1.1 and higher?"
The docs say "reloadOnChange is only supported in ASP.NET Core 1.1 and higher".

Just to be sure, does the reloadOnChange behavior depend on ASP.NET? Does it work in another console app running on .NET Core 1.1?

[2017-03-26 01:14] dougbu opened #633 "Add baselines to enable checks for breaking changes"
Two shipped projects in this repo lacks baselines. Looks like baseline files (`baseline.net45.json` and `baseline.netcore.json`) should be created in `rel/1.0.1` (for UserSecrets) or `rel/1.1.1` (for AzureKeyVault) and checked into at least `dev`. The details below are reformatted from a recent Universe build on the CI.
[code]

[2017-03-27 01:41] davidfowl commented on #630
Well there was chained config and copying the config. Hosting currently copies and I think we added that to Configuration.

[2017-03-27 08:46] xuzhg opened #634 "test cases can't show in Test explorer of VS2017"
I am using VS2017 Enterprise as below:

![image](https://cloud.githubusercontent.com/assets/9426627/24347780/16228c4c-130c-11e7-9a08-7c29de1bb337.png)

I can use VS2017 to open the `Configuration.sln` and it can load all test cases in the Test Explorer several days ago, But today it can't load test cases except for AzureKeyVault project as below as below:

![image](https://cloud.githubusercontent.

[2017-03-27 16:48] tebeco opened #635 "IOption<T> should not be CaseSensitive for array"
(From a mobile phone so sorry for possible weird issue)

Repro steps :
* create a simple aspnet core project (I used net462)
* edit appsettings.json to add :
* "direct key" in camelCase like "foo":"bar"
* an array "fooBar": ["foo","bar"]
* create a class with PascalCase properties
String Foo{get;set;}
String[] FooBar{get;set;}
* add the class to the startup Configure
* inject it in any controller

[2017-03-27 22:49] HaoK commented on #584
We've decided not to purse changes in this direction after discussing our plans for 2.0.  This is a fairly advanced scenario that individual providers can attempt if so desired.

[2017-03-27 22:49] #584 closed

[2017-03-28 13:50] poke opened #636 "Consider removing GetConnectionString extension from abstractions"
I just stumbled upon [`GetConnectionString`](https://github.com/aspnet/Configuration/blob/2519ffc7fc1071befeae021551c6203126e117d3/src/Microsoft.Extensions.Configuration.Abstractions/ConfigurationExtensions.cs#L34) that was added as part of #406 as an extension method to `Configuration.Abstractions`.

In my opinion, this method is far too opinionated on not only how connection strings are supposed

[2017-03-28 18:17] natemcmaster opened #638 "Exception when using user secrets attribute on csproj file as suggested by Visual Studio auto formatting on paste."
_From @Bartmax on March 28, 2017 17:45_

**Example 1:**
[code]
This works 👍

------------
**Example 2:**
[code]
This throws an exception: 👎

   at Microsoft.Extensions.Configuration.UserSecrets.PathHelper.GetSecretsPathFromSecretsId(String userSecretsId)

I found this because I copy/paste in Visual Studio and the text got auto formatted as Example 2.

_Copied from original issue: aspnet/UserSecret

[2017-03-28 21:09] HaoK commented on #394
We decided to go ahead and allow binding to any settable property

[2017-03-28 21:19] HaoK commented on #493
We aren't planning on supporting this right now.  Its possible we will revisit this decision in the future.

[2017-03-28 21:19] #493 closed

[2017-03-28 21:21] #503 closed

[2017-03-28 21:25] HaoK commented on #507
We should consider switching this to automatically work with Environment.GetCommandLine

[2017-03-28 21:28] HaoK commented on #512
We don't plan on supporting multi-tennancy in configuration

[2017-03-28 21:28] #512 closed

[2017-03-28 21:32] HaoK commented on #516
What are you trying to accomplish with the earlier keys

[2017-03-28 21:39] HaoK commented on #523
Can you elaborate on what kind of command line usage you are trying that configuration is currently throwing on?

[2017-03-28 21:46] HaoK commented on #538
Was tracked via https://github.com/aspnet/Entropy/issues/181

[2017-03-28 21:46] #538 closed

[2017-03-29 10:17] galich commented on #523
sure, i was using
[code]

[2017-03-29 19:23] JunTaoLuo opened #640 "Update KeyVault version once they update Newtonsoft.Json dependency."
Tracking https://github.com/Azure/azure-sdk-for-net/issues/3003. We will need to update the dependency when they update their Newtonsoft.Json.

cc @pranavkm

[2017-04-03 16:55] Eilon commented on #628
@HaoK can you make the recommended change to the test?

[2017-04-05 10:40] spooky opened #641 "configuration inheritence doesn't work for collection values"
To reproduce
Settings class:
[code]
the appsettings.json:
[code]
the appsettings.Development.json:
[code]
the values resolved with the following code:
[code]

are:
[code]
expected:
[code]
Tried this with `Foos` being `strnig[]`, `IEnumerable<string>`, `List<string>` and `ICollection<string>` - same result.

This is very unintuitive.
If I remove the Foos value from appsettings.json then the result

[2017-04-06 09:10] grahamehorner opened #643 "Continers & Environment Variables"
I'm looking for a way to access environment variables very early in the application main entry point; so I may detect a value which informs the code about the environment configuration of the container (in this case a docker container) the application will then use this to load/reference the configuration json file setup kestrel accordingly; my question is how can I obtain environment variables &

[2017-04-06 12:06] DixonDs opened #644 "Ignore environment variables with empty values"
I think it makes sense to ignore environment variables with empty values. Our use case is Service Fabric application where in some environments we override configuration settings with environment variables and in some not by leaving overrides as empty strings . In that case I would expect to ignore empty values and read values from the next configured sources (e.g. JSON files)

[2017-04-07 13:10] mtxset commented on #451
{"Test":["1", "2", "3"]} can be read
var t = _config.GetSection("Test").GetChildren().Select(x => x.Value);
foreach (var numberin t) { ... }

[2017-04-07 13:16] mtxset commented on #451
{"Test":["1", "2", "3"]} can be read
List<string>t = _config.GetSection("Test").GetChildren().Select(x => x.Value).ToList();

[2017-04-07 20:12] jdom commented on #571
At this stage I'm curious about this. Is there a simple way to achieve this and get a json serialized snapshot of the entire configuration?

[2017-04-11 21:11] pranavkm opened #645 "ConfigurationTests.DeletingFileWillReload needs to be fixed in patch branches"
Seeing test flakiness in cross-plat. I guess we need to port the changes we did in #628

[2017-04-11 21:12] pranavkm commented on #645
cc @ajcvickers \ @HaoK

Patch branches: `patch\1.0.5`, `patch\1.1.3`

[2017-04-11 22:02] pranavkm commented on #645
Also cc @Eilon for triage etc

[2017-04-11 23:04] Eilon commented on #645
@ajcvickers can you assign someone to fix this ASAP for the patch branches & the dev one?

[2017-04-11 23:54] pranavkm commented on #645
Also these tests:

[code]

[2017-04-12 00:25] ajcvickers commented on #645
@HaoK Can you please work on this as a priority?

[2017-04-12 01:53] Eilon commented on #645
@HaoK please make sure the changes are in the correct branch - see above.

[2017-04-12 17:38] HaoK commented on #645
We are just looking to disable these tests in these branches, not to 'fix' them by upping the timeout as described in the other issue right?

[2017-04-12 18:03] pranavkm commented on #645
Yup.

[2017-04-12 20:04] #645 closed

[2017-04-13 20:27] pranavkm opened #648 "ConfigurationTests.ReloadOnChangeWorksAfterError flaky on xplat in patch branches"
One more test that needs to be skipped.

[2017-04-13 20:27] pranavkm commented on #648
cc @HaoK \ @ajcvickers

[2017-04-14 21:52] HaoK opened #650 "Combine IConfigurationSection into IConfiguration"
As discussed with @ajcvickers today, I'd like to combine these interfaces into a single IConfiguration.

The root today is the only thing that isn't a section.  And we can just use null to represent these in the root instead.

cc @glennc

[code]

[2017-04-14 23:09] ajcvickers commented on #290
The XML provider should support encrypted XML, so that would probably be the best way to get this functionality.

[2017-04-14 23:09] #290 closed

[2017-04-14 23:10] #410 closed

[2017-04-14 23:11] ajcvickers commented on #410
The parts of this that might make sense to do are tracked by other issues. Closing this discussion thread.

[2017-04-14 23:13] ajcvickers commented on #514
Closing because we don't think there is anything we are going to do in Configuration for this.

[2017-04-14 23:13] #514 closed

[2017-04-14 23:14] ajcvickers commented on #516
Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the projects and that is not practical. To ensure we maximize the t

[2017-04-14 23:14] #516 closed

[2017-04-14 23:17] ajcvickers commented on #523
We will look into this as part of #507. Closing this specific issue out.

[2017-04-14 23:17] #523 closed

[2017-04-14 23:20] ajcvickers commented on #536
I think what you are asking for is an overload of AddEnvironmentVariables that takes this param. If so, a flag could be added for this, but we don't intend to do this. The default behavior seems the most useful and covers most cases. We would consider a well done PR for this.

[2017-04-14 23:20] #536 closed

[2017-04-14 23:25] ajcvickers commented on #546
We don't plan to add enum support to the binder. We would consider taking a well written PR to support it.

[2017-04-14 23:25] #546 closed

[2017-04-14 23:27] ajcvickers commented on #547
@natemcmaster What's your recommendation for triage here? (Given that if you say we should do something, then you are volunteering to do the work.)

[2017-04-14 23:27] ajcvickers commented on #548
@natemcmaster What's your recommendation for triage here? (Given that if you say we should do something, then you are volunteering to do the work.)

[2017-04-14 23:29] ajcvickers commented on #549
Based on discussion with @glennc and @HaoK we probably won't do anything on this because it would be too different from what we already have.

[2017-04-14 23:29] #549 closed

[2017-04-14 23:31] ajcvickers commented on #554
@pakrym @muratg Putting this in 2.0. Talk to @glennc if this doesn't work.

[2017-04-14 23:31] #555 closed

[2017-04-14 23:42] ajcvickers commented on #560
We decided that we will standardize (as much as possible) on last one wins. Our providers should already be doing this. Other providers are recommended to do likewise.

(This assumes that the real question is as Diego stated--handling values that are the same, independent of casing.)

[2017-04-14 23:42] #560 closed

[2017-04-14 23:45] ajcvickers commented on #565
We should change this to override--matches the config pattern more closely.

[2017-04-14 23:50] ajcvickers commented on #566
We don't support all different forms of json that could be present. We handle pretty simple cases, but not more complicated formats. We feel that at this time we should keep the mapping really simple because otherwise it becomes both fragile and also ambiguous as to what the expected output would be.

We will try to fail with a better message indicating that the given json is not supported.

[2017-04-14 23:52] ajcvickers commented on #571
@alan-yeung Can you clarify what you are asking? Are you asking whether you should send a PR for this? If so, that's not something we want to support in the config codebase. If you meant something else, then please re-open the issue.

[2017-04-14 23:52] #571 closed

[2017-04-14 23:56] ajcvickers commented on #581
Thanks for sharing this. We don't want to bring this into the main repro right now, but maybe it makes more sense to put in somewhere like https://github.com/aspnet-contrib

[2017-04-14 23:56] #581 closed

[2017-04-17 18:55] natemcmaster commented on #548
Add this to the build warning:
[code]

This makes the message longer than normal build warnings, so you may also consider a fwlink.

[2017-04-17 18:56] natemcmaster commented on #547
Recommend closing. Not much we can do. Users must ensure they have a PackageReference to Microsoft.Extensions.Configuration.UserSecrets in the project that generates the user secret id.

[2017-04-18 14:18] netdragonboberb commented on #507
Thank you for describing the workaround. A long-term solution would be greatly appreciated as well.

[2017-04-18 21:22] ajcvickers commented on #537
We are not planning to fix this issue because the  [.NET Core SDK 1.0.0](https://www.microsoft.com/net/download/core) no longer supports project.json or Visual Studio 2015. Everyone doing .NET Core development is encouraged to [migrate from project.json to csproj](https://docs.microsoft.com/dotnet/articles/core/migration/) and [Visual Studio 2017](https://www.visualstudio.com/downloads/).

*BTW th

[2017-04-18 21:22] #537 closed

[2017-04-18 21:24] #585 closed

[2017-04-18 21:26] shirhatti commented on #589
Dupe of #585

[2017-04-18 21:26] #589 closed

[2017-04-18 21:27] #591 closed

[2017-04-18 21:31] shirhatti commented on #592
@Eneuman Is your appsettings.json file present in your published output?

[2017-04-19 06:16] Eneuman commented on #592
Yes, It is

[2017-04-19 06:57] galich commented on #537
out of curiosity i've made new UWP app (SDK 15063 with Microsoft.NETCore.UniversalWindowsPlatform 5.2.3 and 5.3.2) and added `Microsoft.Extensions.Configuration.Json` (1.1.1) - no issue today

[2017-04-19 17:31] danroth27 opened #651 "Remove the build time user secrets warning and ensure a descriptive runtime error is thrown"
The user secrets package will add a build warning if the `UserSecretsId` property is not included in the project file. Now that we have the meta package this results in a build warning for all ASP.NET Core projects. We should remove the build warning and ensure that a descriptive runtime error is thrown.

[2017-04-19 17:33] muratg commented on #651
@natemcmaster Could you paste the current runtime error?

@DamianEdwards, @danroth27 Could you guys review the runtime error and recommend any changes as you see fit?

[2017-04-19 17:35] natemcmaster commented on #651
[code]

[2017-04-19 17:43] danroth27 commented on #651
Proposed new text:
[code]

[2017-04-19 17:45] danroth27 commented on #651
One more refinement:

[code]

[2017-04-24 18:40] #547 closed

[2017-04-24 18:40] #548 closed

[2017-04-24 18:40] #651 closed

[2017-04-25 12:33] herecydev commented on #643
[code]

`IConfiguration` will be available to inject into your startup constructor. Let me know how that goes (I'm also using docker with environment variables)

[2017-04-25 17:34] johnkors commented on #635
Couldn't get a failing unit test for this. Maybe it's fixed.

https://github.com/aspnet/Configuration/compare/dev...johnkors:jsonarrays/issue-635

[2017-04-25 21:08] ajcvickers commented on #592
@Eneuman We're having trouble figuring out what is going on here. Can you post a project that reproduces the issue?

[2017-04-25 21:09] ajcvickers commented on #604
Considering for 2.0 for now, since binder may be used more. May punt if perf looks okay in common scenarios.

[2017-04-25 21:12] ajcvickers commented on #605
@pakrym Can you take a look at this and the associated PR and see if this is reasonabe/good/should be merged?

/cc @glennc Is this something that is important for your stuff?

[2017-04-25 21:13] ajcvickers commented on #608
Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the projects and that is not practical. To ensure we maximize the t

[2017-04-25 21:13] #608 closed

[2017-04-25 21:14] ajcvickers commented on #610
Closing as external since the corefx issue has been resolved.

[2017-04-25 21:14] #610 closed

[2017-04-25 21:19] ajcvickers commented on #611
We could treat a non-null but empty collection as something that we add to. This way an empty collection would be treated the same as a null collection.

[2017-04-25 21:21] ajcvickers commented on #614
@natemcmaster Is this related to user secrets?

[2017-04-25 21:22] ajcvickers commented on #617
@paulchapman Can you please post a project that reproduces the issue?

[2017-04-25 21:24] natemcmaster commented on #614
@ajcvickers yes.

@vanillajonathan can you explain why `~/.config` is preferable to `~/.microsoft`?

[2017-04-25 21:24] ajcvickers commented on #618
@DixonDs We probably won't take this in the main Configuration package, but it might be worth doing something in https://github.com/aspnet-contrib

[2017-04-25 21:24] #618 closed

[2017-04-25 21:26] ajcvickers commented on #620
@am11 This does not seem related to the ASP.NET config package. Maybe try filing an issue on https://github.com/aspnet/Home

[2017-04-25 21:26] #620 closed

[2017-04-25 21:27] pakrym commented on #605
I don't think `Microsoft.IdentityModel.Clients.ActiveDirectory` supports certificate auth anywhere but on `net45`

[2017-04-25 21:28] ajcvickers commented on #623
@mvadu The two systems are really very different, so there is no direct replacement for these things. Core configuration is really simple binding of key values, which can be interpreted by consumers.

[2017-04-25 21:28] #623 closed

[2017-04-25 21:33] cwe1ss commented on #618
Also look at https://github.com/Azure/service-fabric-aspnetcore - it contains ASP.NET Core related packages from the Service Fabric team.

[2017-04-25 21:35] DixonDs commented on #618
@ajcvickers Could you please elaborate why it is not suitable for the main repository (I assume you meant the repository, not the package, because it is a separate package anyway) given that KeyVault implementation is here?

More importantly, how can I practically contribute to https://github.com/aspnet-contrib ?

[2017-04-25 21:39] StummeJ commented on #605
This is true @pakrym.  This is to provide support while they re-tool and switch over to .netstandard.

[2017-04-26 07:29] davidfowl commented on #604
We should start by adding micro benchmarks.

[2017-04-26 09:49] vanillajonathan commented on #614
@natemcmaster,
Less clutter in the home directory.

Following common standards shared by other software.

A benefit is that it becomes very easy to backup and synchronize your configuration.
Just backup or synchronize ~/.config/.

If you were to backup or synchronize your whole home directory then that would include your Downloads, Videos, Music, and Pictures directories which may be gigabytes eve

[2017-04-26 12:59] grahamehorner commented on #643
@herecydev many thanks; a little different question, but related at what point can you access the IHostingEnvironment is this available from inside main( ) ? or is it specifically used/injected by WebHostBuilder() ? as its my understanding that it can be used for other types of projects not just Web ?

[2017-04-26 15:47] herecydev commented on #643
It's created in the `WebHostBuilder` and available as a service after `.Build()` is called. So you can consume it after that point. I don't scenarios for hosting have been thought in any great amount. To be honest, I'm not sure what you would really need from it if you were in a console application. Do you want to give an example of what you need and I can probably better answer your question.

[2017-04-26 16:29] ajcvickers commented on #614
@vanillajonathan Thanks for the additional comments. We will discuss in triage.

[2017-04-26 16:35] ajcvickers commented on #618
@DixonDs Because we have do decide whether the value of bringing this in is worth the cost of supporting/maintaining it. As discussed yesterday we didn't think that it met the bar. However, I will let @shirhatti make an additional assessment since he was not present yesterday.

[2017-04-27 23:13] shirhatti commented on #638
@Bartmax Do you want to submit a PR to add a trim() ?

[2017-04-27 23:16] shirhatti commented on #614
We don't want to introduce a breaking change at the cost of breaking existing users.

[2017-04-27 23:16] #614 closed

[2017-04-27 23:22] #627 closed

[2017-04-27 23:28] shirhatti commented on #630
@Tratcher @JunTaoLuo Do you still need this?

[2017-04-27 23:31] shirhatti commented on #632
The reloadOnChange works in console apps not using ASP.NET Core

[2017-04-27 23:31] #632 closed

[2017-04-27 23:41] shirhatti commented on #634
This issue was moved to aspnet/Home#2016

[2017-04-27 23:41] #634 closed

[2017-04-27 23:47] shirhatti commented on #636
I am sorry but we don't want to make this change.

[2017-04-27 23:47] #636 closed

[2017-04-27 23:57] shirhatti commented on #630
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L327

[2017-04-28 00:04] shirhatti commented on #644
What are you trying to accomplish?

It is highly unlikely we will make this change as this a breaking change.

[2017-04-28 01:13] Tratcher commented on #630
yes we still want chained config here: https://github.com/aspnet/Hosting/blob/7326379a20e6eb5a29e9aceebc0bc2847fc0a0ff/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L325
right now it's copying.

[2017-04-28 04:47] achaloux commented on #546
I submitted a PR that addresses this issue: https://github.com/aspnet/Configuration/pull/655

[2017-04-28 06:52] hcoona commented on #624
Reproduced also on .NET Framework 4.5.1

[2017-04-28 07:39] DixonDs commented on #644
Why would it be a breaking change if you do it as a configurable option? For instance, `EnvironmentVariablesConfigurationProvider` could have another ctor accepting either a boolean flag for this particular case or `Func<string, bool>` to filter values.

[2017-04-28 08:07] MichaCo commented on #644
The behavior of configuration is to use the first value found in any of the providers, depending on the reverse order you add them to the configuration builder.
So, if the variable exists in environment variables, the configuration will use whatever is specified. Which means, it overrides an eventually existing value from a JSON file with an empty string in your case.

If you change that to ignore

[2017-04-28 08:29] DixonDs commented on #644
@MichaCo

I don't think that's the case since we have `ConfigurationBuilder`. So you would have a new extension method passing that configuration setting. Most users won't even notice the change, I reckon.

Our case use case is Service Fabric application where we want to override some settings in some environment only. See https://docs.microsoft.com/da-dk/azure/service-fabric/service-fabric-manage

[2017-04-28 08:44] MichaCo commented on #644
@DixonDs you know that you don't have to load the environment variables last, right?
You can totally have another file (or other configuration source) in those environments where you don't want some of the environment variables. And the configuration would just use that instead of the empty env-var.

[2017-04-28 09:06] DixonDs commented on #644
@MichaCo
of course, but given that it is the same codebase with different environments that would mean either to have per-environment conditional compilation symbols to skip certain configuration sources or have some kind of two-step configuration initialization where you first read the configuration value whether you need to skip or not that configuration source and only then initialize the confi

[2017-04-28 09:06] #644 closed

[2017-05-01 15:05] ericwj commented on #632
Ah, I forgot about this, let me clarify my issue.

I am using a configuration file in a default system folder (such as LocalAppData). However the file provider abstractions as far as I know are configured once for a single root folder and changes to configuration files are only detected for files in that folder and its subdirectories.

By default, the file provider root is set to the content root

[2017-05-01 20:03] ebekker commented on #566
Thanks for the better messaging.

If I submitted a PR to support "generic" mapping from JSON object to Dictionary -- do you think it would be considered for inclusion -- or do you think the "simple cases" philosophy is pretty set in stone for now?

[2017-05-01 20:09] HaoK commented on #566
Sure, if you come up with something reasonable we'd certainly take a look and see.

[2017-05-04 16:35] chrisoverzero opened #659 "User Secrets Not Compatible with Visual Studio Docker Support"
**Summary**: User secrets cannot (easily, portably) be used with Visual Studio's "Docker Support" feature for ASP.NET Core projects.

Hi! I've been using User Secrets for a while in several ASP.NET Core projects. My company is evaluating a move to Docker for deployments, and – as part of that evaluation – I activated the Docker Support feature in Visual Studio. After this, the application complete

[2017-05-07 12:36] ericwj commented on #537
What's the status of using packages like this with UWP?

I find that adding references to Microsoft.Extensions.* packages compile and run, but XDesProc will crash with a FileNotFoundException and I'm seeing other problems depending on how my code uses these dependencies.

I'm referencing 1.0.2 packages (DI for one) as I saw pulling 1.1.1 would change a very, very long list of dependencies and I'm

[2017-05-08 12:05] Halofreak1990 commented on #451
I'm not a fan of this 'hack' to work around a weird design decision.

Why can't we have nice things, such as a GetValue<T> that does the right thing?

[2017-05-09 16:30] kwaclaw commented on #249
I would need something like this. My scenario:
- Current application executes a "job" based on pre-defined configurations stored in Json files, so we use ConfigurationBuilder.AddJsonFile().
- New requirement: call WebApi method supplying the same configuration as previously specified in configuration file.
- Simple solution could be: pass Json string in WebApi call and use ConfigurationBuilder.Add

[2017-05-11 09:05] bhugot commented on #582
Really needed for exposing configurations

[2017-05-11 13:30] hulvei3 opened #660 "Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0"
I installed Microsoft.Extensions.Configuration.Json 2.0.0-preview1-final and got this when running xunit tests.

Running VS 2017 and targeting net461

[2017-05-11 13:43] hulvei3 commented on #660
Apparently related to this issue https://github.com/nuget/home/issues/4467

[2017-05-15 15:31] tverboon opened #661 "(Docker) Environment Variable File"
In our project we had project.json, project.development.json and user secrets and in Docker we use an environment file we point to in docker-compose.yml.

Because of some business choices we needed to move more variables to the configuration. It became quite unmanageable across multiple projects, so we centralised appsettings.json. Still we needed to make sure that we had defined all variables in

[2017-05-16 05:00] shutdown256 commented on #641
I also hate this behavior - it makes using collections in the configuration highly unintuitive / near impossible. If the current behavior is needed  for some cases, then I recommend adding new syntax / override that can enable simple replacement of the entire collection with new set of values.

[2017-05-16 05:38] AmadeusW commented on #612
This would be very useful. Alternatively, it would be good to have support for arbitrary nesting like so:
`Configuration["level1"]["level2"]` or
`Configuration["level1.level2"]` or
`Configuration["level1//level2"]`

[2017-05-16 20:28] HaoK opened #662 "Refactor things so data format of the provider is not tied to File based providers"
For example, JSON/XML format with streams.

[2017-05-16 20:30] shirhatti commented on #660
Looks like this is being tracked by the linked issue. Closing as external

[2017-05-16 20:30] #660 closed

[2017-05-16 20:31] shirhatti commented on #659
ping @natemcmaster

[2017-05-16 20:34] HaoK commented on #648
@pranavkm which branches do you want this test to be skipped?

[2017-05-16 20:35] shirhatti commented on #641
This is by design.

[2017-05-16 20:35] #641 closed

[2017-05-16 20:35] shirhatti commented on #617
Feel free to re-open with a repro if your issue still persists.

[2017-05-16 20:35] #635 closed

[2017-05-16 20:37] shirhatti commented on #592
Feel free to reopen with a repro,

[2017-05-16 20:37] #592 closed

[2017-05-16 20:55] natemcmaster commented on #659
The advice was written with authors of third-party class libraries and tools in mind. The location of the files is not "under contract" so your docker-compose file might break in future versions. However, until that happens, volume mounting the user secrets location for **development** environments is fine, and seems like something Docker Tooling could consider doing by default. cc @dazhao-msft

T

[2017-05-16 21:06] pranavkm commented on #648
https://github.com/aspnet/Configuration/tree/patch/1.0.5
https://github.com/aspnet/Configuration/tree/patch/1.1.3

[2017-05-16 21:24] eldiosyeldiablo opened #663 "appsettings config transforms with arrays should perform update instead of merge operation"
I have a use case where I have an array that I want to mutate for production release but the transform on the appsettings is performing a merge operation when the item I want to change is in an array.

Example
appsettings.json
[code]

appsettings.Production.json
[code]

Desired final output:
[code]
The path to update this if mutating this by Path via environment settings would be
[code]

[2017-05-17 14:41] dfaivre-pcs opened #664 "KeyVault Provider can Deadlock"
https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.AzureKeyVault/AzureKeyVaultConfigurationProvider.cs#L44

`AzureKeyVaultConfigurationProvider.Load`  does not configure it's `GetAwaiter()` `continueOnCapturedContext` option to **false**.  Calling this from not async code bases can cause a deadlock.

Any chance we can use this instead?
[code]

[2017-05-17 14:58] chrisoverzero commented on #659
Right on, no worries there.

<sub>To say things that I'm sure you know, only to get them on the written record:</sub>

This solution moves a little backwards from (what I perceive to be) the design of User Secrets, as this means we have a file in source control (`docker-compose.override.yml`) that some of our developers will have to "forget" to commit their change to. Though, thanks to User Secret

[2017-05-17 21:02] dazhao-msft commented on #659
I know ASP.NET team is working on something to resolve this issue for runtime. Check this out:

https://github.com/aspnet/Configuration/tree/dev/src/Microsoft.Extensions.Configuration.DockerSecrets

@glennc has more context about it.

[2017-05-17 22:08] natemcmaster commented on #659
@dazhao-msft the DockerSecrets config provider is about loading configuration from "docker secrets" - a Docker feature for swarm mode.  UserSecrets is a separate feature, not related to Docker.

The request here is to flow the UserSecrets data into containers when running in development mode (e.g. launching container debugging in VS). Docker Tools for VS already volume mount some folders -- such a

[2017-05-17 22:42] Eilon commented on #650
@ajcvickers - can you do the needful with this bug?

[2017-05-17 22:47] HaoK commented on #650
I don't think I'm going to be able to get to this anymore for preview 2 (backlog/close?)

[2017-05-17 22:58] ajcvickers commented on #650
@HaoK Closing because we reviewed breaking changes across ASP.NET and decided not to take this one.

[2017-05-17 22:58] #650 closed

[2017-05-18 06:59] divega commented on #650
@HaoK @ajcvickers would it help if the root class also implemented `IConfigurationSection` with the extra members explicitly implemented? The with default template code you still get the right Intellisense but any time we need to reason about all nodes including the root uniformly we still can.

[2017-05-18 07:33] HaoK commented on #650
I don't think so, that has all of the additional downsides of additional special cases to deal with null/empty root's Path/Key, without the benefit of eliminating any of the if (config is IConfigurationSection) checks.

At this point I think the ship has sailed since this was mostly a cleanup type of thing anyways.

[2017-05-18 07:49] divega commented on #650
I think you wouldn't need to check for the interface but rather assume it is our implementation and the interface is there.

That said, I looked at all the places where we currently we have to check that I could find, and it seems that even if you had implemented what this issue proposed, you would be only replacing type checks with null checks on the individual properties. I.e. there was never to

[2017-05-19 19:24] #470 closed

[2017-05-23 19:07] HaoK commented on #628
Renabled, and bumped timeout x3 (1100 => 3300) ms

[2017-05-23 19:07] #628 closed

[2017-05-24 11:38] forbeshawkins commented on #451
public static class ConfigurationRootExtentions
    {
        public static List<T> GetListValue<T>(this IConfigurationRoot configurationRoot, string section)
        {
            var result = new List<T>();
            configurationRoot.GetSection(section).Bind(result);
            return result;
        }
    }

[2017-05-24 17:13] HaoK opened #666 "[Binder] Add support for PathString"
https://github.com/aspnet/Security/issues/1230

Used commonly in auth options

[2017-05-24 17:38] #638 closed

[2017-05-26 01:44] HaoK commented on #630
Not going to happen this week, moving out of preview2

[2017-05-31 22:02] pakrym commented on #605
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/670/files went in, I will update our reference as soon as they release package.

[2017-06-01 22:40] #666 closed

[2017-06-05 20:37] HaoK opened #671 "Add new Bind overload that takes configuration section"
https://github.com/aspnet/Configuration/pull/670

[2017-06-05 20:38] HaoK commented on #671
cc @danroth27

[2017-06-05 22:09] HaoK commented on #671
5f6ca395ab89cb76278f26cccdafb203fb0b7dbf

[2017-06-05 22:09] #671 closed

[2017-06-05 22:20] HaoK opened #672 "Reenable Binder.APICheck"

[2017-06-06 19:22] HaoK commented on #622
@ajcvickers We should retriage this, as I think TypeConverters might be a good option for how we deal with custom config binding of optoins in general.

[2017-06-06 20:12] HaoK commented on #622
Also look into general binding for options + config

[2017-06-06 20:23] HaoK commented on #663
We've discussed this before and unfortunately we think this behavior would be too ambiguous

[2017-06-06 20:23] #663 closed

[2017-06-06 20:24] HaoK commented on #661
@glennc what do you think?

[2017-06-06 20:25] HaoK commented on #659
@natemcmaster does this issue belong in a tooling repo/issue, can you route this appropriately/close if there isn't anything for us to do in Configuration

[2017-06-06 20:55] natemcmaster commented on #659
This issue belongs to the tooling team. There are no actionable items from the runtime.

@mlorbetske or @dazhao-msft  - where should we move issues for Web / Docker Tooling in VS? TFS, https://developercommunity.visualstudio.com/, or some other GitHub repo?

[2017-06-06 21:13] sgreenmsft commented on #659
@natemcmaster - Thanks for bringing this to our attention.  David has moved on from the Docker Tools team, but @yanchenw and I are good contacts going forward.  I'd suggest that GitHub issues for Docker Tools be moved here: https://github.com/microsoft/dockertools/issues

[2017-06-06 21:19] natemcmaster commented on #659
Thanks @sgreenmsft. Let's move this to https://github.com/Microsoft/DockerTools/issues/24

[2017-06-06 21:19] #659 closed

[2017-06-07 11:23] lukas-lansky commented on #387
I think it should not be like "in some scenarios, someone might need to enforce readonlyness", but "the overwhelming majority of configuration access is readonly, so this should be enforced statically to prevent mistakes unless opted-out to support complicated RW scenarios".

I was kind of disappointed when I saw that your design is mutable-everything because otherwise it's such a great solution.

[2017-06-08 22:08] #552 closed

[2017-06-09 00:21] DamianEdwards opened #674 "Update dependency from Microsoft.Extensions.Configuration.AzureKeyVault to Microsoft.IdentityModel.Clients.ActiveDirectory to version 3.13.9"
The version of `Microsoft.IdentityModel.Clients.ActiveDirectory` that `Microsoft.Extensions.Configuration.AzureKeyVault` is depending on is old and points to an incoherent package that is now causing NuGet restore warnings. We need to update to version 3.13.9 of `Microsoft.IdentityModel.Clients.ActiveDirectory` which now depends on `NETStandard.Library` directly and thus gets `System.Net.Http` fro

[2017-06-09 00:22] DamianEdwards commented on #674
FYI @muratg @mikeharder

[2017-06-09 00:29] DamianEdwards commented on #640
We need to ensure we update to their latest stable in time for our RTM release.

[2017-06-09 00:39] muratg commented on #674
Assigning to @pakrym

[2017-06-09 03:26] pranavkm commented on #640
@JunTaoLuo could you self assign this since you're already in the tracking thread?

[2017-06-09 22:24] mikeharder commented on #674
Should this be Preview2?

[2017-06-09 22:26] muratg commented on #674
@mikeharder Good question - I guess if we can get to it we probably should.

cc @Eilon

[2017-06-09 22:35] DamianEdwards commented on #674
If we can we should

[2017-06-09 22:36] mikeharder commented on #674
I think this is close to a "must have".  Without fixing this the warnings will show up in customer apps.

[2017-06-09 22:41] DamianEdwards commented on #674
Yeah agreed

[2017-06-09 22:51] #674 closed

[2017-06-12 05:32] HaoK commented on #648
Done 2a032ad6f9cc341c04b449db659a763c5e78a2de

[2017-06-12 05:32] #648 closed

[2017-06-12 18:19] HaoK commented on #672
b25033fbd37f5c6da87304b031dafcf149736aa1

[2017-06-12 18:19] #672 closed

[2017-06-12 22:36] HaoK commented on #630
@Tratcher can this wait til 2.1?  Is the loss of notifications a big deal right now for 2.0?

[2017-06-12 22:44] Tratcher commented on #630
It can wait if it has to.

[2017-06-13 09:39] yyjdelete commented on #660
@hulvei3 @shirhatti
Is this really the same issue? Seems the linked issue only happen at build time, but this one only happen when run.

Tested with VS2017 15.3.0 Preview 2, dotnet 2.0.0-preview1-005977, Win10 16199.

Test code
[code]
[code]
And `dotnet run`

[2017-06-13 09:57] yyjdelete commented on #660
Found an workaround is to install `NETStandard.Library.NETFramework` `2.0.0-preview1-25305-02`, but can't found any doc/relnote for this.

[2017-06-14 19:56] #664 closed

[2017-06-15 23:39] HaoK commented on #630
Yeah this is going to need to wait

[2017-06-15 23:45] HaoK commented on #624
Yeah this is just how change tokens work, what we did to mitgate this somewhat was add a delay before invoking callback so the changes hopefully will be finished:

https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.FileExtensions/FileConfigurationProvider.cs#L35

[code]

[2017-06-15 23:45] HaoK commented on #624
You likely need to do something similar if you don't want to get called multiple times for the same underlying change.

[2017-06-16 20:39] andyolivares opened #678 "Make JsonConfigurationFileParser class public"
I've created a custom IConfigurationSource to read JSON data from a non-file source and I wish I could have used the JSON parsing code present in JsonConfigurationFileParser instead of writing my own.

I don't see the need to re-implement JSON parsing code if one is already present. Also, the name JsonConfiguration**File**Parser is a bit misleading due to the fact that it parses from a Stream that

[2017-06-19 22:39] HaoK commented on #394
@ajcvickers how do you feel about punting this to 2.1?

[2017-06-19 23:44] ajcvickers commented on #394
Done.

[2017-06-20 17:56] HaoK commented on #582
427aecc6f8049f9248b5f72a6ae70814cfd5f53b

[2017-06-20 17:56] #582 closed

[2017-06-21 19:27] ibrahimbensalah commented on #660
Sounds to me like an issue with the assembly redirect, which is usually handled by nuget automatically, but I guess since the introduction of all these new project types it's not expect to be handled for you automatically. I came across this issue when I referenced a std lib project from a (test) project having .net framework v4.7

this is a starting point of how to fix it (inside of configuration

[2017-06-22 03:43] yyjdelete commented on #660
@ibrahimbensalah
Just install `NETStandard.Library.NETFramework`, see dotnet/core#686

[2017-06-24 07:50] endink commented on #678
+1

[2017-06-24 15:31] davidfowl opened #680 "Add Clear() to IConfigurationBuilder"
This will make it possible to remove all registered providers and start over.  Specifically, when using `WebHost.CreateDefaultBuilder()`, this would allow application code to change all previously configured options without losing the other benefits of calling that method.

/cc @glennc @divega @DamianEdwards @ajcvickers @HaoK

[2017-06-24 15:50] DamianEdwards commented on #680
Love it. Are there equivalents on the other builders we should also consider?

[2017-06-24 19:31] HaoK commented on #680
For the behavior, would Clear only clear the config sources, or also clear the Properties metadata that stores the base path/default file provider as well?

Maybe we should just change Sources to be an `IList<IConfigurationSource>` instead of IEnumerable, so people can clear/rearrange as desired, they already can modify Properties directly since its exposed as an `Dictionary<string, object> Proper

[2017-06-24 19:35] HaoK commented on #680
I think the past maybe we had special logic in Add, but its just a straight add now, so there's nothing that prevents us from exposing the ability for people to directly add to the sources

https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration/ConfigurationBuilder.cs#L38

[2017-06-24 19:47] davidfowl commented on #680
Maybe it should implement IList or ICollection

[2017-06-25 09:28] wind-rider opened #681 "UserSecrets reloadOnChange"
With `AddJsonFile(...)`, the `reloadOnChange` option is very convenient. Can this be made available for `AddUserSecrets<T>()` as well?

[2017-06-26 14:44] RoboBurned commented on #663
I have the similar issue but merging happens with values from config and default values set in options' class construction.
I have
[code]

[code]

As a result I get UserId default value was overridden by config file. But Roles array contains merged values:
UserId : 2
Roles:  [ "User", "Administrator" ]
If this is expected behavior then how can one override default value of array setting?

[2017-06-26 15:06] RoboBurned commented on #292
I definitely don't like this approach with `section.Value != null || section.GetChildren().Any()`
It will not work if section exists but is empty.
Example: I have configuration section. And I leave it empty because the corresponding class has default values that I like.
[code]
Later, I use
[code]
With suggested solution this will not work.

[2017-06-26 15:23] HaoK commented on #663
Try specifying it as a nested section with the key as the index, i.e. {"Auth:Roles:0", "User"}:

See https://github.com/aspnet/Configuration/blob/dev/test/Microsoft.Extensions.Configuration.Binder.Test/ConfigurationCollectionBindingTests.cs#L14

[2017-06-27 20:10] shirhatti commented on #680
We discussed this in triage and we want Sources to be an `IList<IConfigurationSource>`

[2017-06-27 20:11] shirhatti commented on #605
@pakrym Do you have an update?

[2017-06-27 20:12] shirhatti commented on #661
@glennc

[2017-06-27 20:13] shirhatti commented on #678
This is a dupe of https://github.com/aspnet/Configuration/issues/662

[2017-06-27 20:13] #678 closed

[2017-06-27 20:15] shirhatti commented on #681
ping @natemcmaster

[2017-06-27 20:29] natemcmaster commented on #681
@shirhatti if you want it, it's easy to add. We just need to make new overloads and flow this flag into the underlying `.AddJsonFile` call.

[2017-06-27 20:32] pakrym commented on #605
Just checked, new version was released yesterday, I'll change version we use soon.

[2017-06-27 21:52] QuantumHive opened #684 "An element with the same key but a different value already exists. Key: NETStandard.Library.NETFramework"
I'm running Windows 10 and I've encountered the following issue while cloning this repo (just letting you guys know):

- Clone the configuration repo to my local drive with `git clone <repo url>`
- Open the solution with Visual Studio 2017 Enterprise
- A non fatal error occurs and a dialog with the following message pops up:

The content of the diagnostic log (which has been appended multiple time

[2017-06-29 04:07] davidfowl commented on #680
@HaoK This is fixed right?

[2017-06-29 04:10] HaoK commented on #680
Yup, fixed via 6b4f1f863475ec74ef06c64352b58d600807a832

[2017-06-29 04:10] #680 closed

[2017-06-29 04:10] HaoK commented on #680
`builder.Sources.Clear()`

[2017-06-29 17:15] pakrym commented on #605
Configuration package was updated to reference version `3.14.0` of `Microsoft.IdentityModel.Clients.ActiveDirectory` that support cert auth in `netstandard` target.

[2017-06-29 17:15] #605 closed

[2017-06-30 14:39] user1336 commented on #612
@brockallen I believe this method is now available thanks to @HaoK.
[code]

[2017-06-30 16:20] maksym-devpro commented on #597
Dear Support Team,

We have faced a problem with adding "Microsoft.Extensions.SecretManager.Tools" into AspNet Core project in Visual Studio 2017.

Error message:

Package 'Microsoft.Extensions.SecretManager.Tools 1.0.1' has a package type 'DotnetCliTool' that is not supported by project 'SecretManagerInVs2017'.
http://screenshots.client-demo-site.net/scn-20170629-180145-9y6gp.png

I've tried to a

[2017-06-30 16:27] natemcmaster commented on #597
@maksym-devpro the error you described is a known issue. See https://github.com/NuGet/Home/issues/4190. As I mentioned before, manually edit your csproj and then run restore either in Visual Studio or on command line with `dotnet restore`.

[2017-07-03 10:18] maksym-devpro commented on #597
Thank you so much.
I was able to added  an extension.

[2017-07-05 19:36] #640 closed

[2017-07-06 18:06] Eilon commented on #554
@ajcvickers / @divega - Can this move to 2.1.0?

[2017-07-06 18:51] ajcvickers commented on #554
I think so. @divega?

[2017-07-06 20:26] divega commented on #554
Moved to 2.1.

[2017-07-07 10:01] bgever opened #689 "More descriptive error for duplicate key in AzureKeyVaultConfigurationProvider"
We encountered a situation where our Azure KeyVault had duplicate keys defined, what is a valid situation in KeyVault.

However, the [following line in `AzureKeyVaultConfigurationProvider`](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.AzureKeyVault/AzureKeyVaultConfigurationProvider.cs#L59) causes a very generic exception that the dictionary cannot hold d

[2017-07-10 13:29] tjrobinson commented on #569
I'm getting this with Microsoft.Azure.KeyVault 2.3.2 when running from an Azure Function, Debug configuration, .NET 4.6.2.

`Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor(AuthenticationCallback, System.Net.Http.DelegatingHandler[])`

[2017-07-11 08:16] divega commented on #569
@pakrym @muratg did you see https://github.com/aspnet/Configuration/issues/569#issuecomment-314105423?

It seems we depend on version 2.3.1 of Microsoft.Azure.KeyVault, and based on the comment above 2.3.2 could contain breaking changes. Was 2.3.1 intentionally chosen? It happens to be unlisted at https://www.nuget.org/packages/Microsoft.Azure.KeyVault/.

[2017-07-11 08:24] divega opened #691 "Microsoft.Extensions.Configuration.AzureKeyVault 2.0.0 depends on unlisted version of Microsoft.Azure.KeyVault"
According to https://github.com/aspnet/Configuration/blob/rel/2.0.0/build/dependencies.props#L4 we depend on version 2.3.1 of Microsoft.Azure.KeyVault. but that version has been unlisted over at https://www.nuget.org/packages/Microsoft.Azure.KeyVault/, which is a concern because it likely means that its owners consider it obsolete.

Also, according to https://github.com/aspnet/Configuration/issues

[2017-07-11 08:33] divega commented on #569
@tjrobinson thank you for reporting this. I have created #691 to follow up.

[2017-07-11 15:21] pakrym commented on #569
@divega, it's wasn't intentional we just updated to what was latest at that time.

[2017-07-11 20:14] shirhatti commented on #684
Sounds like a point in time thing. Can you try again now?

[2017-07-16 18:00] shima12 commented on #436
hello
how can fix you?i have this error

[2017-07-17 14:47] petriashev opened #694 "BindArray works not as expected"
Right now there is very dangerous feature in array binding!!!
If we bind object with initialized array we get old values + new values.
Expected result: new values replaces old.

see: https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Binder/ConfigurationBinder.cs#L420
`// binding to array has to preserve already initialized arrays with values
 if (arrayLength >

[2017-07-17 15:21] MichaCo commented on #694
If you use multiple configuration sources, there might be use cases where you want to just add values to an array (additive).
If you want to have existing values replaced, bind to a type which supports that, like dictionary or hashset?

[2017-07-17 21:02] Eilon commented on #691
cc @mikeharder .

What work is remaining here for 2.0?

[2017-07-17 21:53] mikeharder commented on #691
Configuration and Identity were both updated to `2.3.2` last week, and all our CI tests passed after the update.

https://github.com/aspnet/Configuration/pull/692
https://github.com/aspnet/Identity/pull/1313

@pakrym: Do you understand the issue described at https://github.com/aspnet/Configuration/issues/569#issuecomment-314105423?  Maybe there's a problem with 2.3.2 that wasn't caught by our CI t

[2017-07-17 22:32] pakrym commented on #691
@mikeharder No, I wasn't able to repro it, feels like customer upgraded from much older version of KeyVault because method in question haven't changed in a long time.

[2017-07-17 23:14] mikeharder commented on #691
@Eilon: Then I think this is done for 2.0.

[2017-07-17 23:29] #691 closed

[2017-07-18 08:44] petriashev commented on #694
The best solution is to create BindOptions where we can customize behavior.
Current behavior has hidden side effect.

example:
`
class SomeConfigurationWithPredefinedValues
{
    public string StringValue {get; set;}
    public string PropertyWithPredefinedValues {get; set;} = new [] {"1", "2"}
}
`

if PropertyWithPredefinedValues = new [] {"2", "3"} (from some config)
than PropertyWithPredefinedV

[2017-07-18 21:41] danroth27 opened #695 "Update Azure Key Vault config provider to support MSI"
MSI should allow us to use the ambient identity of the Azure App Service to acquire a token for talking to key vault using the ASAL library.

[2017-07-19 16:08] Tratcher commented on #624
This issue was moved to aspnet/FileSystem#287

[2017-07-19 16:08] #624 closed

[2017-07-25 17:38] lfoust commented on #314
I would like to +1 the request to support `Remove()`. Another scenario where this is useful is for arrays. If you have:

[code]

And you want to remove an item with:

`config["array:1"] = null;`

you will end up with an array which has two items: "item1" and null

Being able to remove an entire subtree  or individual keys would be very helpful here. If you want more details on my scenario (why I w

[2017-07-27 18:06] MartinJohns commented on #394
@nbarbettini I was bothered about this too, so I wrote a little library that works for my use case.

[Microsoft.Extensions.Configuration.ImmutableBinder](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.ImmutableBinder/)

It adds a new extension method `ImmutableBind<T>` which will create an instance and bind the configuration using a constructor. This allows for your option types

[2017-07-27 18:08] MartinJohns commented on #387
@divega I was bothered about this too, so I wrote a little library that works for my use case.

NuGet: [Microsoft.Extensions.Configuration.ImmutableBinder](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.ImmutableBinder/)
GitHub: [MartinJohns/ConfigurationContrib](https://github.com/MartinJohns/ConfigurationContrib)

It adds a new extension method `ImmutableBind<T>` which will cr

[2017-07-28 10:15] Pavel-Sulimau opened #698 "Azure Web App: Connection string with 'PostgreSQL' type is not supplied to the app"
I spend some time struggling to make PostgreSQL connection string supplied to my ASP.NET Core 1.1 app configuration and came to the conclusion that this is not implemented.

This is the way I obtain the connection string in Startup.cs:
![startup cs](https://user-images.githubusercontent.com/8143332/28712957-d6743088-7395-11e7-878f-e91e43df7bc7.png)

This approach works (note 'Custom' connection st

[2017-07-30 20:49] henning-krause opened #699 "Binder: Custom instance creation"
I'd like to propose an extension to the Binder class that would give the user more control on how strongly typed POCOs are being created.

This extension would on one hand allow binding to abstract classes or interfaces (picking up on  #368) and also enable the use of DI containers to create the instances,

I believe the changes required would be minimal. How any type information is stored would b

[2017-08-02 23:50] nehmebilal opened #700 "Adding configuration resolver Api for better integration with KeyVault and other use cases"
Hi guys,

I recently started using the Azure KeyVault extension and I find it difficult to use. The fact that the key in the KeyVault must match the configuration key is difficult to manage and error prone.

In the example below, to override the connectionString with a secret, I need to add the key `EventFlow--outputs--0--connectionString` to my KeyVault. If I later on I add another entry to my ar

[2017-08-03 17:11] jdkelley opened #701 "DockerSecretsConfigurationProvider adds docker secrets with appended newline to Configuration"
### Title
DockerSecretsConfigurationProvider adds docker secrets with appended newline to Configuration

### Functional impact

The secret added to the Configuration is not the intended secret.

### Minimal repro steps

1. Create a linux-based docker swarm (Make a single node swarm with `docker swarm init`)
2. Create a secret on the swarm with

[code]

3. Create a basic dotnetcore application that

[2017-08-03 21:11] alexvy86 opened #703 "Support for multi-line string values"
I'm using Akka.NET in a project and the way they do configuration is not-quite-JSON, but still a hierarchical structure, which I haven't been able to successfully integrate into `appsettings.json`. The only way I've been able to do it is to collapse all of their hierarchy into a single-line string value, which makes it a bit of a pain to work with.

For now I just put the whole thing as CDATA in a

[2017-08-04 08:32] laurynasr opened #704 "Calling ConfigurationBuilder.AddEnvironmentVariables with a prefix does not add connection strings"
We are using environment variables configuration provider in an Azure web app, and calling ConfigurationBuilder.AddEnvironmentVariables ("APPSETTING_") to keep all the unneeded environment variable stuff out of configuration. The problem we have is that connection strings (that are set by Azure as CUSTOMCONNSTR_ConnectionStrings:{0}) are filtered out because they do not have a prefix.
Adding anoth

[2017-08-04 10:37] laurynasr commented on #704
My bad, misread the code. Connection strings are added when you use "ConnectionStrings:" prefix

[2017-08-04 10:37] #704 closed

[2017-08-08 19:11] anurse opened #705 "Docker Secrets config provider should support prefixes"
To make the Docker Secrets config provider more flexible, we should allow the user to specify a prefix to be removed when converting Docker Secret names to Config keys.

This makes it easier to use secrets for multiple services, for example, you may have a secret named `backend.foo` which you want to appear as `foo` in the config system. This remapping can be achieved with docker configuration, bu

[2017-08-08 19:58] HaoK commented on #705
This hasn't shipped at all so we are free to do whatever surgery we want

[2017-08-08 21:03] anurse commented on #705
Good point, I do see now that I was grabbing it off myget.

[2017-08-08 21:54] HaoK commented on #699
Have you tried using the `Bind(T instance)` overload that takes an already intialized instance?

[2017-08-08 22:41] anurse opened #706 "Trim trailing newlines from secrets in Docker Secrets provider"
Docker Secrets manifest as files containing the secret value, but often end up with trailing newlines, because the documentation for creating them suggests the following syntax: `echo "Value" | docker secret create Name -`, which means the content of the secret is actually `Value\n` (because `echo` emits a newline after the provided string). Our configuration provider should trim out a trailing ne

[2017-08-08 22:43] HaoK commented on #706
Probably a dupe of https://github.com/aspnet/Configuration/issues/701

[2017-08-09 01:20] guardrex opened #707 "Can I get a value loaded by CreateDefaultBuilder for use in ConfigureAppConfiguration?"
Neither of these approaches work to get a config value from an *appsettings.json* file (via `CreateDefaultBuilder`) for use in further configuration in `ConfigureAppConfiguration` (values for `AddAzureKeyVault`). Can it be done?

[code]

[code]

This might be a dup of [Chained config (#630)](https://github.com/aspnet/Configuration/issues/630).

I have a feel'in my preferred approaches :point_up: a

[2017-08-09 05:08] anurse commented on #706
Indeed! I thought I searched earlier for Docker Secrets-related items (and I had, and I had also found this one, but promptly forgot ;))

[2017-08-09 05:08] #706 closed

[2017-08-09 05:09] anurse commented on #701
Note that the newline is actually added by the `echo` call used to create the secret. However, since this is so prevalent in documentation, we should fix the behavior to trim it out.

Also, you can work around it by using the `-n` switch to `echo` to prevent the newline from being added. For example:

[code]

[2017-08-09 06:17] henning-krause commented on #699
@HaoK, this would work with top level objects but not nested ones.

If I have a configuration that looks like this:
[code]

In this case using my solution, "loggers" could be an array of abstract loggers and the callback would differentiate between the instances based on whether the various properties are set.

Currently, I would have to use a logger class containing all properties (eventLogName,

[2017-08-09 07:27] HaoK commented on #699
So if you are looking for the binder to handle binding an array of ILoggers where the binder figures out what the type actually is, I don't think that's the direction we are going...

You can certainly do that already without too much effort, just add something like a type in the config for each of the loggers, and then you can write a helper that does something like this:

[code]

[2017-08-09 07:43] henning-krause commented on #699
The Binder wouldn't have to figure that out... that's where the callback from the BinderOptions comes in. It would figure things out and return a valid instance. As I said, the modifications are minimal and I would be happy to provide a PR for it.

[2017-08-09 08:12] HaoK commented on #699
Feel free to submit a PR with your ideas and we will take a look, but I don't think this is something we are likely to take, as this really sounds more like deserialization instead of binding.

[2017-08-09 19:03] guardrex opened #708 "Update the KV sample"
Any interest in an updated sample? https://github.com/aspnet/Configuration/tree/dev/samples/KeyVaultSample

1. From our earlier [chat](https://github.com/aspnet/Docs/pull/3525#issuecomment-319228567), @blowdart isn't in favor of storing connection strings (or anything else app-specific and sensitive) by environment in the same vault, which the sample implies is ok to do.
2. The sample currently ma

[2017-08-09 21:31] Rick-Anderson commented on #707
@ChengTian who can respond to this? Need an answer for https://github.com/aspnet/Docs/pull/3896

[2017-08-11 18:52] conniey opened #710 "Microsoft.Extensions.Primitives 2.0.0 NuGet package is missing"
**Repro steps:**
* Create a .NET Core 2.0 project
* Right-click -> Manage NuGet packages
* Search for "Microsoft.Extensions.Configuration.Json"
* Click "Install" on latest stable version, 2.0.0.

**Expected:** It installs
**Actual:**
Error		Unable to find metadata of Microsoft.Extensions.Primitives.2.0.0

[2017-08-13 17:04] NickCraver commented on #394
Can this change actually happen in 2.1? We're hitting this case now and admittedly I just *assumed* it would work, because that's where most binders end up. But this is a breaking change for users, if they have a property that wasn't bound to before and an upgrade suddenly starts changing things that really feels, to me, like a major version only deal.

[2017-08-13 17:25] HaoK commented on #394
We can always do it via an overload

[2017-08-13 17:38] NickCraver commented on #394
@HaoK excellent point, I suggest we go that route for the least surprise.

[2017-08-14 07:14] HaoK commented on #394
I'm guessing we end up adding something like these overloads:

[code]

[2017-08-14 07:19] davidfowl commented on #394
BindingFlags 😝

[2017-08-14 16:47] kevinlo commented on #611
Can you handle the non-null and non empty collection case too?

e.g.          IEnumerable<string> _data = new[] { "c" };

The Config data can have default value if it does not exist in the JSON and can be overwritten if it exists in the JSON.

I find this problem when I try to bind the IdentityServer4 [Client](https://github.com/IdentityServer/IdentityServer4/blob/RC2/src/IdentityServer4/Models/Cl

[2017-08-14 17:27] #633 closed

[2017-08-15 20:06] #684 closed

[2017-08-15 20:15] shirhatti commented on #694
Our binder implementation is meant to be primitive. We won't be making this breaking change.
Our recommendation at this point is to use your own binder.

[2017-08-15 20:15] #694 closed

[2017-08-15 20:16] shirhatti commented on #695
MSI? @danroth27 Can you elaborate?

[2017-08-15 20:22] #699 closed

[2017-08-15 20:30] shirhatti commented on #700
We're considering this, or at least a part of this for 2.1. I'll file another issue and close this

[2017-08-15 20:34] shirhatti commented on #703
Can you share an example of what you're trying to achieve?

[2017-08-15 20:41] shirhatti commented on #707
Not sure what you're trying to do here? Is this for an example in the docs? Can you share more context?

[2017-08-15 20:43] shirhatti commented on #708
@blowdart Do you think the KV sample needs to be updated?

[2017-08-15 20:44] shirhatti commented on #710
This issue was moved to aspnet/Home#2130

[2017-08-15 20:44] #710 closed

[2017-08-15 20:47] guardrex commented on #707
@shirhatti If you have a value stored in your *appsettings.json* that you read in via the `CreateDefaultBuilder`, you can't then use that value inside your `ConfigureAppConfiguration` to do additional config.

For example with the sample for the Azure Key Vault config provider topic sample, the values to pass to the `AddAzureKeyVault` are coming from the *appsettings.json* file.

What I was hoping

[2017-08-15 22:09] alexvy86 commented on #703
Sure, see below. The value of `AkkaConfig` is a multi-line string which contains HOCON (JSON-like but not identical). Even though I didn't close the quotes that delimit the string value of `AkkaConfig`, VS thinks each new line is a different property in the **JSON** hierarchy and complains about the syntax (screenshot further down). If I don't close the string, I'd expect VS to interpret the value

[2017-08-16 11:11] petriashev commented on #694
I cant use my own binder because there is no interface. Current binder is not replaceble.

[2017-08-16 11:53] HaoK commented on #694
We mean don't use the binder extension methods at all and implement your own binding logic.

[2017-08-16 12:09] petriashev commented on #694
I want to use current framework. I want to use Options.

Now in code:

https://github.com/aspnet/Options/blob/bf76cdbf8b3404faa1a1ef0d05225b653b0a4e0b/src/Microsoft.Extensions.Options.ConfigurationExtensions/ConfigureFromConfigurationOptions.cs#L23

https://github.com/aspnet/Options/blob/bf76cdbf8b3404faa1a1ef0d05225b653b0a4e0b/src/Microsoft.Extensions.Options.ConfigurationExtensions/NamedConfigur

[2017-08-16 12:47] richstokoe commented on #674
We are still seeing this error after upgrading from VS 15.2 to VS15.3 - but we are not ready to retarget all our projects from netstandard 1.5 to netstandard 2.x. Solution builds fine without Microsoft.Extensions.Configuration.AzureKeyVault dependency. Took out our team for a day to trace it back - it originally manifested as no nuget packaged restoring.
Need to re-add KeyVault to our solution ASA

[2017-08-16 13:03] HaoK commented on #694
You can still use options. Just call your own method

Services.Configure(o => YourBind(config, o))

[2017-08-16 13:18] petriashev commented on #694
Ok, Thank You!

[2017-08-16 14:18] richstokoe commented on #674
Still getting this after upgrading to VS 15.3. We aren't ready to retarget our libraries to netstandard 2.0 so we're blocked.

[2017-08-16 16:23] anurse commented on #707
The idea of using some of the constructed configuration providers to configure another one further down the chain is something we've discussed before. The main example being exactly the scenario above: configuring a more complicated configuration source. The idea being you'd put your Azure Key Vault credentials in Environment Variables or Docker Secrets or something, and then use that for most (if

[2017-08-16 16:23] anurse commented on #707
Yeah, it basically is ;)

[2017-08-16 17:53] shirhatti commented on #707
I'm going to close this as a dupe of #630. As it stands right now, we're already signed up to do chained config for 2.1

[2017-08-16 17:53] #707 closed

[2017-08-16 18:29] guardrex commented on #630
@anurse Thanks for explaining on #707. Sorry about the dup. What follows is an oversimplification, but it asks the basic question: Why have the OOB experience for `CreateDefaultBuilder` and `ConfigureAppConfiguration` be based on multiple providers in the first place?

It looks like in design there was the desire to keep the providers separate, thus the issue now is about chaining them.

A single

[2017-08-16 19:22] mikeharder commented on #674
@richstokoe: Can you please clarify what issue is blocking you?  Can you provide repro steps?

[2017-08-16 20:41] anurse commented on #630
No worries, it's not exactly easy to search for ;)

[2017-08-16 21:28] danroth27 commented on #695
Managed Service Identity. Infrastructure for getting an identity for the current app service that you then use to get a token to talk to key vault.

[2017-08-21 16:47] glennc commented on #661
To help me understand. You are using a `.env` file to set all your configuration as environment variables, but reading the file directly via the configuration library when not in a container. Is that right? Do you still use user/docker/kubernetes secrets with this?

[2017-08-21 22:17] Rinsen commented on #681
This would be great to have so I´m happy to see that it´s moving already! 👍

[2017-08-22 03:41] JefferyZh opened #713 "Are those code repeated?"
[FileConfigurationExtensions.cs#L46)](https://github.com/aspnet/Configuration/blob/dev/src/Config.FileExtensions/FileConfigurationExtensions.cs#L46)

this could be better?

[code]

same as [FileConfigurationExtensions.cs#L104](https://github.com/aspnet/Configuration/blob/dev/src/Config.FileExtensions/FileConfigurationExtensions.cs#L104)

[2017-08-22 05:03] tverboon commented on #661
@glennc Yes, that's right. At this moment we are not using user secrets anymore, but it could still be used of course. For development we use a secrets.env file and git ignore it so we don't check it in. Our product doesn't need the scale yet, so we don't use Kubernetes or Docker Swarm yet.

Our setup is something like this:
- /docker/development/common.env (used when run in docker)
- /docker/deve

[2017-08-25 11:49] xperiandri opened #716 "GetSection returns null value"
I have config
[code]

and class
[code]

Configuration is passed in as follows
[code]

I tried to read it as
[code]
to make `IntrospectionSettings` as a struct

It does not work

Then I tried
[code]
It returns null

Also tried this
[code]

#### Questions:
1. Why section cannot be a struct?
2. How can `Value` property of `IConfigurationSection` be null but not JSON object?

[2017-08-26 19:04] korzh commented on #716
The problem is in `internal` access modifier. Make it `public` and it will work well.

`Value` property is always `null` for `IConfigurationSection`. Use `GetChildren` method to get the list of section's items.

[2017-08-27 02:35] chrispaynter commented on #469
@joelharkes this looks like just the ticket to get around this. Do you have a link to this code fully implemented anywhere? Thanks.

[2017-08-27 20:34] joelharkes commented on #469
@chrispaynter https://github.com/joelharkes/AspNetCore.Better.ConfigurationSources

I lately prefixed it better. I've been off the dotnet core cloud project in m company for a while now so I'm not sure how up to date it is, but probably fine.

There is also one for json config which is really nice (node_config like)

[2017-08-27 23:33] chrispaynter commented on #469
Nice one, thanks @joelharkes

[2017-08-31 17:04] Tratcher commented on #630
@HaoK I need this again for the generic host: https://github.com/aspnet/Hosting/issues/1163.

[2017-09-01 16:29] serbrech opened #721 "AddEnvironmentVariables : Expose the Environment Target parameter through the configuration source"
Currently on windows, only process variables can be loaded (default target)
Consider exposing EnvironmentVariableTarget parameter.

[netcore-2.0 doc](https://docs.microsoft.com/en-us/dotnet/api/system.environment.getenvironmentvariables?view=netcore-2.0)

pseudo code :
[code]

or even :
[code]

[2017-09-01 17:09] serbrech commented on #721
I can send a pull request, but I can see that this is very focused on windows. Not sure how that fits in the global picture.

[2017-09-01 20:58] SurferJeffAtGoogle opened #722 "JsonReader chokes on MemoryStream"
When I create a new mvc app with `dotnet new mvc`, it creates a new appsettings.json.  The first 16 bytes of appsettings.json look like this:
[code]

Not sure what the efbb is, but the json parser doesn't seem to mind them.  **Sometimes.**

I created a minimal sample to reproduce this issue:
https://github.com/SurferJeffAtGoogle/csharp-docs-samples/blob/d3b208d6cff45157a50418a8ba59e8fbae8dc2be/App

[2017-09-01 21:44] SurferJeffAtGoogle commented on #722
`memStream.Seek(0, SeekOrigin.Begin);` fixed it.

[2017-09-01 21:44] #722 closed

[2017-09-01 21:50] moozzyk commented on #722
EF BB BF is [BOM](https://en.wikipedia.org/wiki/Byte_order_mark)

[2017-09-05 17:48] #630 closed

[2017-09-06 12:21] Tratcher opened #723 "Same key form the second JSON source is ignored"
_From @Li-ReDBox on September 6, 2017 7:35_

I load two json files in BuildWebHost like this:

[code]
In version1.json:
[code]
In version2.json
[code]
I have tried `optional` to be `true` or `false`, in neither case, the key-value pair from version2.json is loaded without switching order.

My understanding is that for the same key the latest value wins. Why cannot I get that result?

_Copied from

[2017-09-06 18:41] HaoK commented on #723
I can't reproduce this:

Steps:
- New WebApplication in VS
- Added version1.json/version2.json with key/versions1/2
- Modified Program:

[code]

In the debugger, attached to Startup ctor, and immediate window: configuration["key"] = "version2", if I put version1.json last, I see "version1"

[2017-09-07 01:10] Li-ReDBox commented on #723
@HaoK My apologies for not doing another confirmation test separately and created issue too quickly. I edited both json files in VS Community 2017 15.3 by copy-past-save-as. Somehow after editing, it did not save neither have a dirty flag. But I cannot reproduce VS editor's behaviour reliably even I am very sure it was that caused the saga.

[2017-09-11 21:39] elauffenburger opened #726 "Consider making JsonConfigurationFileParser sealed or public"
Hi all,

First off, thanks for your excellent work on this framework -- definitely made my life better!  I have a (potential?) need to expose JsonConfigurationFileParser, so I wanted to talk that over with y'all.

I'm implementing a ConfigurationProvider that needs to parse json, but the json is from a web service, not a file source, so inheriting from JsonConfigurationSource & JsonConfigurationPr

[2017-09-12 00:11] aodpi opened #727 "List of objects in json configuration issue"
I'm creating a json file that I wish to add in configuration through `configuration.AddJsonFile()` with the following structure:

[code]

then I have a POCO class for it:

[code]

The problem is that when I call `services.Configure<JsonLocalizerOptions>(Configuration.GetSection(nameof(JsonLocalizerOptions)))` the `value` object from the setter of the property `SupportedLanguages` contains the defa

[2017-09-12 13:47] flatproject opened #728 "[Question] Migrating from 1.1 to 2.0 - Loading configuration settings from database"
In V2.0 the Startup looks like this:
[code]

In my V1.1 app i used to add configuration settings from the database like this:
[code]

How can I use the new way of loading all the default json sources in Program.cs but being able to add my custom db source as well in Startup? Is it possible or should i continue doing it as in V1.1 ?

[2017-09-12 20:33] shirhatti commented on #703
This issue was moved to aspnet/Tooling#1057

[2017-09-12 20:33] #703 closed

[2017-09-12 20:33] #708 closed

[2017-09-12 20:34] shirhatti commented on #713
If you feel strongly about this, you're welcome to submit a PR

[2017-09-12 20:34] #713 closed

[2017-09-12 20:35] shirhatti commented on #716
Dupe of https://github.com/aspnet/Configuration/issues/394

[2017-09-12 20:35] #716 closed

[2017-09-12 20:37] shirhatti commented on #721
Feel free to open a PR

[2017-09-12 20:38] #723 closed

[2017-09-12 20:38] davidfowl commented on #721
What does it do on other OSes? Nothing?

[2017-09-12 20:39] shirhatti commented on #726
Dupe of https://github.com/aspnet/Configuration/issues/662

[2017-09-12 20:39] #726 closed

[2017-09-12 20:42] shirhatti commented on #727
Dupe of https://github.com/aspnet/Configuration/issues/694

[2017-09-12 20:42] #727 closed

[2017-09-12 20:46] shirhatti commented on #728
See https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/

[2017-09-12 20:46] #728 closed

[2017-09-13 08:11] flatproject commented on #728
Not sure why you closed the ticket. Your answer leaves a lot to be desired.
Can you point me to which part of the link applies to my question?

[2017-09-13 08:24] davidfowl commented on #728
@shirhatti There isn't a single line in there that explains it. @flatproject there's a new method on the IWebHostBuilder in your program.cs called ConfigureAppConfiguraton, you can call it to add more providers or change the existing providers.

[2017-09-13 08:25] davidfowl commented on #728
@scottaddie do we have any docs for config migration?

[2017-09-13 11:01] flatproject commented on #728
@davidfowl great thanks, exactly what i was looking for and yes some documentation would be great!

[2017-09-13 15:41] scottaddie commented on #728
@davidfowl We don't have any docs for this, but I'm happy to create some. Would you like this added as a section to the [main migration doc](https://docs.microsoft.com/aspnet/core/migration/1x-to-2x/), or should it be its own migration doc?

[2017-09-13 15:43] davidfowl commented on #728
@scottaddie make it part of the migration doc

[2017-09-26 00:21] jackbond opened #730 "Microsoft.Extensions.Configuration v2 is incompatible with System.Net.Http"
I have a solution with several projects which use the System.Net.Http Nuget package. I have a test project which uses Microsoft.Extensions.Configuration and Microsoft.Extensions.Configuration.Json Nugets. When I upgrade to v2 of these Nugets (from v1.1.2), when I perform a build, an older version of System.Net.Http.Dll gets copied to the output directory and causes runtime errors. I'd like to swit

[2017-09-26 15:53] davidfowl commented on #730
Can you make a simplified repro project and push it to github?

[2017-09-27 09:05] vanillajonathan opened #731 "ConfigurationBinder: Support the [Required] attribute"
The `ConfigurationBinder` should look for the `RequiredAttribute` on all the properties it aims to bind.

Example:
[code]
Where
[code]

Then if nothing in the configuration can be found that can be bound to `Foo` then it should throw some kind of exception.

[2017-09-27 15:20] pakrym opened #732 "Allow for custom error message details for KeyVault error messages"
When connection to KeyVault fails we need to display error message, bold part should be custom per auth token source (Visual Studio, MSI, Azure CLI, Integrated Windows Auth, client secret, or certificate):

Cannot access Key Vault ${URI_of_KeyVault} using account ${Name_of_account}. **Please select a different account from Tools | Options | Azure Authentication Account or ask your administrator to

[2017-09-28 08:27] serbrech commented on #721
Good question, @davidfowl. I guess it should do nothing? or is the current behavior satisfactory (and user env/session env become useless on windows)?

[2017-09-28 10:35] serbrech commented on #721
Here is how Environment.Target behaves on Windows/Linux

- Setting variable from dotnet core on Linux only works with EnvironmentTarget.Process. Other targets do nothing.
- Everything works as expected on windows.
- Dockerfile ENV directive set the variable on the Process target, both on Windows and Linux
- if no target is specified in `Environment.GetEnvironmentVariables` it defaults to Process

[2017-09-28 11:37] astef opened #733 "Add wrapping configuration source"
The problem described in this question: https://stackoverflow.com/questions/46466300/how-to-place-a-configuration-source-to-a-certain-configuration-section-to-avoid

I think it would be handy to solve such problems with the following extension method:

[code]

[2017-09-28 12:26] umeshbapat commented on #436
How did you fix the error?

[2017-09-28 13:10] rahulsahay19 commented on #436
@shima12 @umeshbapat  Check my project @ https://github.com/rahulsahay19/Movie-Review-SPA. This looks like DI issue. 2 year old thread. Don't remember exactly.

[2017-09-28 15:15] archnae commented on #386
Support for persisting an **IConfiguration** instance is of a secondary importance - you can always implement a custom persister after all. What is important, is ability to convert typed configuration objects back to **IConfiguration** that is opposite to the ConfigurationBinder's
`Bind(this IConfiguration configuration, object instance)`
something like
`Unbind(this  object instance, IConfiguratio

[2017-09-29 15:35] isaac2004 commented on #728
@scottaddie I can grab this if you aren't working on it. It can either be a new section of add onto *Update Main method in Program.cs* section. Thoughts?

[2017-09-29 16:03] scottaddie commented on #728
@isaac2004 It's all yours. Thanks for volunteering.

[2017-10-03 10:32] andreyshade opened #734 "Problem with GetSection().AsEnumerable(). It returns additional element."
I have some records in config like this:
`"Option": [ "A", "B"],`
Then if i try to get value:
`_configuration.GetSection("Option").AsEnumerable()`
I receive collection with 3 items, and collection starts with `null` value element

[2017-10-03 19:59] pakrym commented on #732
Error get thrown by `KeyVaultClient`. I have doubts about instrumenting every our library that uses key vault to allow for nicer exception message. Maybe the better way would be to have this functionality in key vault client library.

[code]

[2017-10-04 20:41] ajcvickers opened #736 "nvalidOperationException: Unable to resolve service for type 'Microsoft.Extensions.Configuration.IConfigurationRoot' while attempting to activate My Clas"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/9938 by @tanmaymandal

I am making a .net core webapi project where i have a config file appsettings.json. it's very normal
[code]
In start up i have mapped
[code]
I have put where my interface is implemented , so it should take the configuration and parse accordingly

Here is my configuration class
[code]
 .**ConfigurationBase** has

[2017-10-05 11:14] aodpi commented on #736
https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/#add-configuration-providers

I think that IConfigurationRoot has changed to just IConfiguration based on the docs.

[2017-10-05 15:02] simonporter opened #737 "AzureKeyVaultConfigurationProvider deadlocks in Load()"
AzureKeyVaultConfigurationProvider Load uses ConfigureAwait on the LoadAsync call but not on the subsequent async calls.
https://github.com/aspnet/Configuration/blob/dev/src/Config.AzureKeyVault/AzureKeyVaultConfigurationProvider.cs#L41
This would happen in any win forms app, WCF or xunit test.

[2017-10-09 10:09] grahamehorner opened #738 "ConfigurationBuilder support for byte array/stream"
Please consider supporting/adding loading configuration from a byte array/stream; for example ServiceFabric service context is passed InitializationData as a byte array loading this data into using the ConfigurationBuilder

ConfigurationBuilder builder = new ConfigurationBuilder();
builder.AddJsonFile([stream/bytearray]);

[2017-10-09 20:23] starcoda commented on #695
I achieved this by creating another extension method in case anyone else is looking for a solution:

[code]

And then it is possible to call that on startup. I store the key vault URI is app settings, so need the double build to access the key vault uri:

[code]

[2017-10-11 14:17] johnkors opened #739 "dotnet publish includes a bunch of Framework assemblies"
Probably missing something from @terrajobst netstandard/netcore videos here :/

I've a console app targeting `net461`, referencing `Microsoft.Extensions.Configuration.Json` v.2.0.0:

[code]

`Microsoft.Extensions.Configuration.Json` version 2.0.0 is a `netstandard2.0` class library. What I don't get is why I get a full list of system.* assemblies (looks like allof NETStandard.Library of some versi

[2017-10-11 20:33] terrajobst commented on #739
It's because .NET Standard 2.0 support implies having also support for .NET Standard 1.x. That's why you get all the 1.x assemblies as well.

[2017-10-12 06:38] sschleicher208 commented on #552
I have UserSecrets working correctly on my .NET 2.0 Core Web API.  I also have it working correctly for my integration test suite against this same API using the test server based on the function below (all tests pass).  The problem occurs when I use the live testing feature in which case I get the same error related to this thread (see below function).

[code]

Message: System.InvalidOperationExc

[2017-10-12 11:09] johnkors commented on #739
OK thanks! The tooling cannot trim the published output dlls when targeting full framework? Or what are my options here if I want to trim the output? Is the only option to target netcoreapp2.0?

[2017-10-12 13:56] natemcmaster commented on #552
@sschleicher208 can you open a new issue?  This one is closed.

[2017-10-12 14:00] sschleicher208 opened #740 "UserSecrets not working correctly under Live Unit Testing"
I have UserSecrets working correctly on my .NET 2.0 Core Web API. I also have it working correctly for my integration test suite against this same web API using the test server based on the function below (all tests pass). The problem occurs when I use the new live testing feature. I am already using the new extension method that was previously documented to handle this type of bug, so I'm not sur

[2017-10-12 15:51] natemcmaster commented on #740
As a workaround, try adding this to your csproj file.
[code]

If it works, then the problem is this:

https://github.com/aspnet/Configuration/blob/78fd1d534d8da3361412c25a0db3b8f053d5b472/src/Config.UserSecrets/build/netstandard2.0/Microsoft.Extensions.Configuration.UserSecrets.targets#L16-L19

We should generate the assembly attribute even when DesignTimeBuild is true.

[2017-10-12 22:35] sschleicher208 commented on #740
So I was not sure which project to paste this in (the web site project or the test project).  I first pasted exactly what you provided in the test project which didn't work.  Then I pasted it in the web API project which didn't work either.  Its really strange.  The only time the tests fail with that error is when running under live debugging.  Normal running of the test suite works perfectly.

[2017-10-13 00:14] terrajobst commented on #739
We could make the tooling smarter, but it falls apart as soon as you load any assemblies dynamically. The good news is that these files are only deployed by .NET Framework applications. In other frameworks (Xamarin, .NET Core) the .NET Standard support files are part of the runtime already. And the same will be true with .NET Framework 4.7.1 onwards.

[2017-10-14 00:17] sschleicher208 commented on #740
So I'm able to reproduce this by following the steps below:

1. Create new .net core web api
2. Create new .net core XUnit test project
3. From test project, add reference to .net core web api
4. From test project, add reference to Microsoft.AspNetCore.TestHost
5. From web api, add reference to UserSecrets and then manage user secrets
6. Add something in user secrets (doesn't matter what it is)
7.

[2017-10-16 11:03] johnkors commented on #739
Interesting. I did a quick test, and apparently the output also differs with csproj-type.

https://github.com/johnkors/dlls
https://ci.appveyor.com/project/JohnKorsnes/dlls/build/1.0.9

`dotnet build oldstyle.csproj` => only classlib.dll
`dotnet build newstyle.csproj` => loads of system.*.dll

Both are net461 projects, referencinga netstandard2.0 project.

[2017-10-17 07:44] johnkors commented on #739
Not sure how to interpret that behaviour, @terrajobst. What makes the SDK trim the output in the older csprojs, but not in the new - for the same TFM?

[2017-10-18 07:36] FSharpCSharp commented on #386
I should also like to comment on this subject. In my opinion, it is quite relevant that you can save changed configurations in memory. This should not be done automatically, of course, but the option should be provided. If I remember correctly, it was already in the old Microsoft configuration model, which was used with Windows Forms a long time ago.

It is described [here](https://msdn.microsoft.

[2017-10-20 17:37] ig-sinicyn opened #742 "Configuration.AzureKeyVault 2.0.0 incompatible with Microsoft.IdentityModel.Clients.ActiveDiretory 3.17"
Current version of `Configuration.AzureKeyVault` is incompatible with `Microsoft.IdentityModel.Clients.ActiveDirectory 3.17.0` package.

Attempt to build config fails with
[code]

[2017-10-24 19:20] ArtyomBaranovskiy commented on #742
FYI, the issue is happening due to the fact that the aforementioned method was moved to a separate class and now is an extension method. The simple re-compile targeting Microsoft.IdentityModel.Clients.ActiveDiretory 3.17 library should fix the issue.

[2017-10-25 12:46] Zonciu opened #743 "Mapping environment variables"
Is there any way to map environment variable to custom key? Like command line SwitchMappings.

[2017-10-25 22:36] flowdopip opened #744 "Replace setting through Environment Variables"
Hi,

I don´t know if this is the right place to post this issue. If not please sorry!

I have a application in .net core 2.0 and i´ve created a folder for application settings
/config/servicediscovery.json

Sample
{
"Discovery": {
"Enabled": true,
"Url": "http://localhost:8500",
"ServiceId": "service",
"ServiceName": "service",
"ServiceUrl": "http://localhost",
"ServicePort": "53489",
"HealthCheck

[2017-10-26 13:39] lvanderbijl commented on #742
I don't think that will entirely work. The AuthenticationContext class in ActiveDirectory 3.17 doesn't have an overload for acquiring a token with client credentials - see issue linked above

[2017-10-27 04:31] glennc commented on #742
@pakrym

[2017-10-27 05:31] ArtyomBaranovskiy commented on #742
@lvanderbijl In my case the only way to go was to get rid of this Configuration.AzureKeyVault extension:
in fact I had to upgrade Microsoft.IdentityModel.Clients.ActiveDiretory to 3.17 due to the fix https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/511 (where they removed *.Platform.dll library).
In fact, the currently release version does contain the mentioned method (no

[2017-10-27 07:41] amoerie opened #745 "Support repeated elements in XML configuration"
### When repeating an element in appsettings.xml, an exception occurs because a duplicate key will be produced

### Functional impact
*Configuration that is possible from JSON is not always possible from XML, for example configuring Serilog sinks*

### Minimal repro steps

1. Create a .NET Core 2.0 application with an appsettings.xml file
2. Fill in the appsettings.xml file like this:

[code]

3.

[2017-10-27 22:47] kyschouv opened #746 "Make IKeyVaultClient public and provide a way to specify a custom implementation in AzureKeyVaultConfigurationExtensions"
I wanted to build a custom implementation of IKeyVaultClient to load active secret versions, but since it's internal, I'm unable to. My only option is to build my own version of the entire configuration provider just to support secret versions.

[2017-10-30 18:40] BradBarnich commented on #745
I just ran into this myself, thank you for the code sample!

[2017-10-30 22:13] glennc opened #747 "Aggressive throwing of exceptions in CommandLineArgs configuration"
This PR adds the CommandLine config source to the default builder created by the templates: https://github.com/aspnet/MetaPackages/pull/241

One limitation that annoyed me when we did this is that you cannot pass a single switch to turn on a value. In my case I wanted to pass `-i` to mean interactive=true. But I couldn't find a way to make that work, and the config provider throws if it cannot par

[2017-10-31 01:28] scottaddie opened #748 "This overload appears to be missing in .NET Core 2.0, at least in a vanilla console app"
Moved from https://github.com/aspnet/Docs/issues/4677. Originally logged by @gzak.

https://github.com/aspnet/Docs/blob/cd0f36ce9f3be0513692415d2ab1eeecfc48c598/aspnetcore/fundamentals/configuration/sample/IOptionsSnapshot2/Startup.cs#L73

I can't bind a poco options class to a subsection, i have to use the lambda syntax with a call to .Bind(), like so:

[code]

But that's obviously more verbose,

[2017-10-31 02:36] HaoK commented on #748
You are just missing a reference to the Options.ConfigurationExtensions package most likely

https://github.com/aspnet/Options/blob/dev/src/Microsoft.Extensions.Options.ConfigurationExtensions/OptionsConfigurationServiceCollectionExtensions.cs#L33

[2017-10-31 02:36] #748 closed

[2017-11-01 05:14] Janidbest commented on #385
we wanted to give a handy tool to our deployment admin to run (dotnet  xxx.dll), which allows them to input the sensitive data and in return gives protected string using DPAPI.

It will be nice to have a set/save configuration so that code can automate it, rather asking them to copy across to appsettings file.

every appsettings certainly have a sensitive data, which needs to be protected from thi

[2017-11-01 17:50] renatotkr commented on #745
nice work @amoerie, I had the same problem, in my case I need a list of nodes, which is not possible right now

I'm converting to json for now

[2017-11-01 21:43] hossambarakat commented on #689
@shirhatti I would like to work on this item, would you please assign it to me?

[2017-11-08 06:29] Janidbest commented on #262
We have done something similar to protect the sensitive data on the app settings file.
We have protected the data using a console app and defined parameters like (Application name, persists keys to a location)
Then on the application using the same provider with the same settings, unprotect during run time. So some one who is having access to the file or leaked the app settings, doesn't have to wo

[2017-11-10 16:28] Rudithus opened #751 "Plans on DockerSecrets"
I've looked around but I couldnt find a planned release date on dockersecrets configuration. Would love to know if there are planned changes or a release date.

Furthermore, I would like to start a discussion on the neccesity of this package. Should the app really care wheter its receiving configuration from a container? I'm leaning towards to thinking apps should not care if they are hosted in a

[2017-11-11 10:07] bdovaz commented on #745
I'm also interested in this, please make a pull request!

[2017-11-11 10:14] amoerie commented on #745
I have little faith a PR would be approved if nobody from Microsoft even responds here after two weeks..

[2017-11-11 13:01] bdovaz opened #752 "Can't read a XML list"
The following code:

[code]

Will crash because "Items" is deserialized with 0 values. Why is that? How can I do it properly?

This example is very simple but my model has more depth and more classes with dictionaries and collections.

I also tried to do this without luck:

[code]

If I do it in json format I don't have any problems but I need it in XML format.

[2017-11-14 17:27] AlexandreArpin commented on #737
I can confirm this is happening to us as well.

We've dealt with this issues a number of times, based on the readings and documentations we've read on the web, generally the "right" way to run a `Task` to completion on in a synchronous manner is using a `Task.Run` with an Async Lamba.

I've pulled the code in my net471 project and used the Task.Run method and I can confirm the deadlocks go away 10

[2017-11-16 00:47] whitebear-gh opened #754 "UsersSecrets tool doesn't work with F# projects"
Hi,

When I try to use user secrets in my F# project I get following error:
[code]

[code]

Is there something wrong with my fsproj or maybe you just don't support F# projects?

[2017-11-16 20:57] kzeronik commented on #695
Is there an update on this request - the MSI feature is a huge advantage over creating Service Principals by hand and the [AzureServiceTokenProvider](https://github.com/Azure-Samples/app-service-msi-keyvault-dotnet/) understands the context the app is running in so no need to supply and appId and appSecret

@starcoda I think I see what you are doing - I assume the key valut uri to the secrets are

[2017-11-16 22:48] danroth27 commented on #695
You can use the key vault config provider with MSI today using the AzureServiceTokenProvider.

[code]

Given how simple this code is I'm inclined to say doing further integration isn't worth it, unless we hear otherwise. Closing.

[2017-11-18 14:47] kzeronik commented on #695
That works - ty

[2017-11-21 10:40] RehanSaeed commented on #751
I pushed [Microsoft.Extensions.Configuration.DockerSecrets.Unofficial](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.DockerSecrets.Unofficial/) to NuGet for ASP.NET Core 1.1.0 but was hoping 2.0 would release for real. What are the blockers?

[2017-11-22 15:26] andriysavin commented on #339
Hi everybody. I can't find this provider in v2.0, where did it go?

[2017-11-27 21:52] natemcmaster opened #755 "[2.0.x] Set LocalUserSecrets project capability"
Port #750 to the next 2.0.x UserSecrets package to enable VS tooling.

Workaround: to enable new UserSecrets VS tooling, users need to manually install a 2.1.300 .NET Core SDK, or add this to their project.
[code]

[2017-11-28 15:13] AlexandreArpin commented on #737
Hi! Just checking to see if there's any follow up on this.

I'd be really happy to help with this issue, but I'd be nice to have some help and/or some discussion as to how we could solve this issue.

Thanks!

[2017-11-28 15:40] tthiery commented on #661
@tverboon As someone who just fought with Docker about similar topics, this would be a nice thing to have. Why not as an 3rd party nuget? Maybe @glennc can promote it here in the README or as part of docs.microsoft.com. Like that the maintainence burden stays low for Microsoft (which is the nr.1 reason why they do not do things like that). I am sure there is a whole ecoysystem already around this

[2017-11-28 15:48] tverboon commented on #661
@tthiery Can definitely do that. Good reason to make my first public and open source NuGet package.

[2017-11-28 15:52] thepill commented on #751
Would be great if this feature gets released 👍

[2017-11-29 19:47] thepill commented on #701
`echo "test" | ...` within windows powershell will add `\r\n` so i think this fix will only work for linux

[2017-11-29 20:06] danroth27 commented on #695
We've discussed this some more and decided to make this a one-liner.

@glennc @pakrym

[2017-11-29 23:15] danroth27 commented on #732
I spoke to @blowdart and we can't provide user information in our error messages due to security concerns. We currently surface the key vault client errors directly. If we need error message improvements then we should work with the key vault client team on that.

[2017-11-29 23:15] #732 closed

[2017-12-01 21:44] andrewvk commented on #742
Fixed in ADAL 3.17.2

[2017-12-04 18:52] votrubac opened #757 "Variables expansion (e.g. %DataRootFolder%)."
### Scenario
appsettings.json contains multiple configuration keys that share a common part (e.g. a root folder). This common part changes per a deployment/customer.
[code]
In the launchSettings.json, there is an environment variable that defines that common part.
[code]
### Current Implementation
Currently, we need to add a post-processing code to iterate through all options and call Environment.

[2017-12-13 17:06] amoerie commented on #752
Looks like you've run into the same issue I did :-)

https://github.com/aspnet/Configuration/issues/745

[2017-12-14 11:01] thestonehead opened #758 "Chaining configuration providers"
Hello.

I'm trying to chain several configuration providers together in Asp.Net Core 2 application. It works fine until  one configuration provider depends on configuration supplied by another provider that was loaded before it.
Example:
Application uses a 3rd party service for fetching setup configuration (Consul, database, REST API...) but in order to define where that service is hosted and give

[2017-12-14 12:45] thestonehead commented on #758
Ok, while that would be a neat functionality, I have solved my own problem by just loading configuration before creating WebHost object.

[code]

And then using these values for setting up web host.

[2017-12-14 12:45] #758 closed

[2017-12-15 13:01] pantonis commented on #451
This is dumb. Why do you have GetValue<T> and it only works for primitives and string?

[2017-12-15 13:24] and85 opened #759 "Does GetChildKeys from ConfigurationProvider work correctly?"
Hi,
I think there is a bug in method GetChildKeys of https://github.com/aspnet/Configuration/blob/dev/src/Config/ConfigurationProvider.cs.

According to the documentation, it supposes to return the list of keys for this provider.

Let's imagine that I have a provider that contains keys with names which contain semicolon in their name, e.g. part1:part2:part3
then if I do something like

[code]

It

[2017-12-17 11:43] Meir017 commented on #82
When looking for a YAML configuration provider I found a couple:

- https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Yaml
- https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Contrib.Stormpath.Yaml
- https://www.nuget.org/packages/XploRe.Configuration.Yaml
- https://www.nuget.org/packages/NetEscapades.Configuration.Yaml

Which one is the recommended one to use?

[2017-12-18 11:05] and85 commented on #759
Hm, I've achieved what is needed recursively iterating through keys and their parts. That's pretty ugly, but looks like it works though. Is it the way to go, or I have missed something?
[code]

[2017-12-18 15:39] johnkors opened #760 "How to tell app to reload configs from it's wired providers"
Hi,

I want to be able to trigger an update/refresh configs outside of a provider / talk to the config provider and tell it to update itself.  My scenario is that my app contains APIs to tell it to re-fetch new configs settings from an external source (not file).  Is there any useful config API to achieve this? I guess the reloadtokens are for the other way around (doing other stuff _on_ when chan

[2017-12-18 21:07] HaoK commented on #760
Try reload on the root

https://github.com/aspnet/Configuration/blob/dev/src/Config.Abstractions/IConfigurationRoot.cs#L17

[2017-12-18 21:07] #760 closed

[2017-12-18 22:30] johnkors commented on #760
Thx!

[2017-12-19 10:14] johnkors commented on #736
I had to cast it like so to get hold of the IConfigurationRoot

[code]

[2017-12-19 10:16] johnkors commented on #760
Not sure why, but I had to cast it like so to get hold of it:

I had to cast it like so to get hold of the IConfigurationRoot

[code]

It crashes runtime if not by
`InvalidOperationException: Unable to resolve service for type 'Microsoft.Extensions.Configuration.ConfigurationRoot'`

[2017-12-27 17:41] markolbert opened #762 "AzureKeyVault: Binding to Sections Not Working?"
I'm experimenting with trying to bind a complex Azure secret to a class. My key vault contains two entries:

list--one => one
list--two => two

I've set up my configuration environment as follows:

[code]
I can access the vault through the AzureKeyVault configuration provider, but I can't bind to the following class:

[code]
In other words, these variables are both null::

[code]
while these work

[2017-12-27 17:50] markolbert commented on #762
Sigh. Never mind; newbie mistake. I forgot that you have to configure the service provider as follows:

`            serviceCollection.Configure<List>( configuration.GetSection( "list" ) );
`

[2017-12-27 17:50] #762 closed

[2017-12-27 23:13] markolbert opened #763 "AddAzureKeyVault() Produces Flood of Console Messages"
When I build a ConfigurationBuilder object that uses the Azure KeyVault provider:

[code]
I get a ton of messages in my console app's window. Here's an example of one of the many messages:

2017-12-27T23:10:51.6585931Z: 4c200df6-1bd5-4511-9906-8dec779bb439 - AcquireTokenHandlerBase.cs: ADAL PCL.CoreCLR with assembly version '3.17.3.35304', file version '3.17.41219.2324' and informational version '

[2017-12-29 09:10] chikien276 opened #764 "[Questions] How to use `AddDockerSecrets` and double underscores to configurate ASP .NET core project"
I explored that there are extensions to configure docker secret in AspNet project in [here](https://github.com/aspnet/Configuration/tree/rel/2.0.0/src/Microsoft.Extensions.Configuration.DockerSecrets). But there is no way can I make it work in my project although I've imported MetaPackages (v2.0.0) in `.csproj` file and all I could find about these packages is a unlisted package [here](https://www

[2018-01-03 21:57] markolbert opened #765 "Bug: Default Value of LoggerCallbackHandler.UseDefaultLogging Causes Flood of Console Messages"
This is a follow-up to issue #763, which I have closed.

I believe there is a bug in the default value for LoggerCallbackHandler.UseDefaultLogging. It is currently set to true, which results in a flood of logging messages related to accessing the Azure key vault. This is a problem when an app has its own logging system, because the key vault messages get handled by the app's logging system.

I thi

[2018-01-03 21:58] #763 closed

[2018-01-05 17:30] pakrym opened #766 "Add KeyVault provider overload that uses MSI to authenticate"
https://anthonychu.ca/post/secrets-aspnet-core-key-vault-msi/ for a sample

[2018-01-10 07:25] devilune commented on #331
For your reference:
I register oracle providers like this.
It works fine in windows.

ASP.NET Core 2.0
Entity Framework 6
Oracle 11g

[code]

[code]

In appsettings.json
[code]

[2018-01-16 20:20] HaoK commented on #701
Clearing 2.1 milestone as docker provider hasn't shipped so this isn't high priority for 2.1

[2018-01-16 20:26] #565 closed

[2018-01-17 11:07] Matthew-Bonner opened #767 "Add a bind method that creates object instance to allow for readonly properties"
Something like the following:

`public static void Bind<Type>(this IConfiguration configuration);`

So that we can do:
[code]

This will make the application more robust by preventing the accidental change of a property during the application execution.

[2018-01-18 21:52] karolz-ms opened #768 "Mismatch between Ms.Ex.Configuration and Ms.Ex.Configuration.Abstractions"
(analysis by @joperezr)

Microsoft.Extensions.Configuration.dll has a class (ConfigurationBuilder) that implements an interface from Microsoft.Extensions.Configuration.Abstractions.dll (IConfigurationBuilder). At the time when the implementation was made, the Interface didn’t have the get_Properties member. Later on, the interface added this extra member, and the implementation did it as well, but

[2018-01-18 21:55] HaoK commented on #768
What versions of the nugets are you seeing this issue in?

[2018-01-18 21:56] karolz-ms commented on #768
1.1.1 and 1.1.2

[2018-01-23 16:06] d5omino commented on #550
hey all - so from a core 2.0 context all the docs seem to be completely out of date and dare i say "wrong". i'm sorry to put it so bluntly. The good news is it seems the dev team has done considerable work and has made the user secrets solution quite elegant - the caveat is one has to "discover" that by ones self with nothing but really out of date docs pointing you in all sorts of different direc

[2018-01-25 13:40] alexdresko commented on #759
@and85 Nice, thanks for the code. I'm using it in the following [kinda hacky] code wherein I dump all of the configuration sources with their configuration data, then dump the merged configuration data. It's quite helpful when trying to figure out where a particular setting came from, or could come from.

    public static void DisplayConfigurationInformation(string[] args, IConfigurationRoot conf

[2018-01-26 14:26] CiprianMo commented on #745
This became an issue for me too, there will most likely be more people with the same problem in the future

[2018-01-26 14:49] amoerie commented on #745
If there is interest from Microsoft for this, I am willing to make a PR, but seeing as they've not responded for 3 months I am assuming they are either inundated with issues and PRs or they simply don't care about this. (XML isn't exactly hip anymore 😄 )

Still, should there be interest from Microsoft in this feature, I would love to hear it. We still have to support MSI installers and updating XM

[2018-01-30 08:24] Celta0210 commented on #331
devilune How to register the provider them, becouse I can't do it. I undertand the method, but may be becouse I'm new i can't register oracle provider in a service.

Could you help me

[2018-01-30 14:06] devilune commented on #331
@Celta0210
1. Do you use .NET Framework? or .NET Core? I use .NET Framework 4.7.1
1. Is there are any compile errors or an exception occurred?
1. Could you post your codes?

[2018-02-01 17:26] Eilon opened #770 "Loading list from appsettings.xml fails"
_From @sandersaares on February 1, 2018 10:4_

I haven an appsettings.xml file with the following structure:

[code]

I wish to load this using the XML configuration loading pattern documented at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?tabs=basicconfiguration

Expected behavior: a list is loaded, accessible as `aaa:0` and `aaa:1`

Actual behavior: System.FormatExce

[2018-02-01 18:40] muqeet-khan commented on #770
@sandersaares you will need to provide some sort of indices to your array for it to be populated in the Configuration.

Example:

[code]

you can then call it by `Configuration["aaa:s"]` . Replace s,t with 0 based index and call `Configuraiton["aaa:0"]`

Here (https://github.com/aspnet/Configuration/issues/115#issuecomment-94975165) is the only place I could find a relevant spec for this.

[2018-02-01 21:25] fiksen99 opened #771 "Connecting to a KeyVault via ConfigureAppConfiguration(...).Build() throws when Keyvault contains disabled Key"
Create a Keyvault with a managed key. Use the folowing code in an ASP.NET Core Program.cs-> BuildWebHost method to configure the client:

[code]

This causes a call into `AzureKeyVaultConfigurationProvider.LoadAsync()`, which gets all secret items from the vault, then tries to Get All Secrets via `client.GetSecretAsync(secretItem.Id)` (looping through each of the secretItems returned).

This throw

[2018-02-03 12:52] akrobet commented on #745
Could you maybe create a nuget package from this?

[2018-02-05 08:25] amoerie commented on #745
Well I'm hesitant to distribute this, as I don't really want to be the "owner" of this thing. And when, or if, Microsoft decides to fix this issue, that would immediately make my NuGet package redundant.

Of course you're free to just include the source code + unit tests from the repository I created. For now, that's what I would recommend.

[2018-02-05 08:28] amoerie commented on #770
More discussion on this issue can be found here: https://github.com/aspnet/Configuration/issues/745

[2018-02-05 08:49] akrobet commented on #745
Okay, thanks for the reply, will do that.

[2018-02-06 17:12] 123g commented on #386
Any ETA when the lib will be able to save back to the source?

Thanks

[2018-02-08 14:13] kl1mm commented on #394
Still waiting for it  :)

[2018-02-08 18:38] #766 closed

[2018-02-11 17:13] ckolumbus opened #773 "Problematic(?) handling of over-loading arrays/lists from multiple configuration sources"
I'm not sure whether it's related to #694 so I [provide a complete example](https://github.com/ckolumbus/Example_Issue_AspnetConfigurationArrayOverwrite) for the issue I'm referring to.

It seems due to the nature of mapping JSON,..whatsoever configuration format to a flat dictionary with the colon notation there arises a problem when overwriting array configuration items that have been defined al

[2018-02-11 22:10] dodexahedron opened #774 "Setting key must match property exactly, preventing use of some json styles"
### Functional impact
Due to the fact that, on [line 172 of ConfigurationBinder.cs](https://github.com/aspnet/Configuration/blob/2d68e24422f8bf5e9d23be8178cd66f8cea62094/src/Config.Binder/ConfigurationBinder.cs#L172), the reflected property name is used for matching properties to JSON dictionary keys, it is not possible to consume many legal JSON properties in a configuration file.

This is a prob

[2018-02-12 00:36] dodexahedron commented on #774
I implemented this as using DataMemberAttribute, but I'm wondering if it would be a better idea to just use a new custom attribute class that lives in this namespace, so that this is not a potentially breaking change.

[2018-02-12 18:50] DamianEdwards commented on #764
This package was never actually shipped in a supported state. We're hoping to include it in the 2.1 release.

[2018-02-12 18:50] #764 closed

[2018-02-12 18:51] DamianEdwards commented on #705
@glennc can you determine if this is something we'd want to add as part of putting this in 2.1 please?

[2018-02-12 18:54] DamianEdwards opened #776 "File-per-key configuration provider that supports layout & function of container secrets configuration"
This is currently in the code base as the `DockerConfigurationProvider` but hasn't actually shipped. It should likely be renamed and the feature set should be revisited to ensure it meets requirements.

[2018-02-12 19:56] HaoK commented on #776
I recommend something like DirectoryConfigurationProvider for the non-docker name, if its more or less going to work like how it does today.  Its basically using a directory via IFileSystem as the configuration source.

[2018-02-12 20:09] DamianEdwards commented on #776
Yeah that's not bad. We were thinking something like *KeyPerFileConfigurationProvider* as something a little more descriptive.

[2018-02-12 20:37] HaoK commented on #776
What do you want the builder API to look like?  The name should probably just match whatever you land on there...
[code]

[2018-02-12 22:26] clearwaterstream opened #777 "PathHelper.GetSecretsPathFromSecretsId() will resolve to C:\WINDOWS\system32\config\systemprofile\AppData\Roaming\Microsoft\UserSecrets when debugging under IIS"
Following the article here:

https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?tabs=visual-studio

The secrets.json file DOES exist in %APPDATA%\... for my Windows user account. However, when I debug in Visual Studion under IIS (using Admin account) the %APPDATA% path resolves to C:\WINDOWS\system32\config\systemprofile\AppData\Roaming which does not have secrets.json

I've verifie

[2018-02-12 22:30] clearwaterstream commented on #777
P.S. Using ASP.NET Core 2.0.1 with .NET 4.7.1 on Win10 x64 (RuntimeIdentified is set to win10-x64)

Using Visual Studio 2017 Pro, version 15.5.5

Using this profile to debug:

`"profiles": {
    "IIS": {
      "commandName": "IIS",
      "launchBrowser": true,
      "launchUrl": "http://localhost/DTI.Gentium.Services.CreditApp/",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "D

[2018-02-13 08:00] rasmus opened #778 "Different casing in variables causes exception"
### Case
Add the same configuration key value pair to from different configuration sources using different casing.

### Expected result
Configuration value from last configuration source is the value present in the final configuration.

### Actual result
`ArgumentException` with the message `An item with the same key has already been added` is thrown.

![image](https://user-images.githubuserconten

[2018-02-13 18:26] natemcmaster commented on #755
@Eilon @muratg @danroth27 - patch candidate.

[2018-02-13 18:41] Eilon commented on #755
Can this wait for ~April's patch?

[2018-02-13 19:25] yzorg commented on #82
@Meir017 for YAML, the download counts say NetEscapades.Configuration is the clear leader.

[2018-02-13 19:28] yzorg commented on #82
I find disappointing dotnet core team hasn't picked a successor to JSON as best configuration format for dotnet.  As part of .NET since 1.0 the XML config file standard was, I believe, a big part of the productivity and ecosystem "win" for early .NET.  By not endorsing a "best" configuration file format I think they are missing those ecosystem & productivity benefits this round.  If they don't wan

[2018-02-14 21:29] astef commented on #733
I would love to work on this some day, but without any response and guidance from the team it looks to risky

[2018-02-15 11:27] orb3b opened #779 "ConfigurationBuilder AddJsonFile reloadOnChange=true doesn't work with symlinks on Ubuntu"
I use the following code to create configuration:
[code]
If "appsettings.json" is a real file,
values in configurationRoot get updated if "appsettings.json" file changes.

But if "appsettings.json" is a _symbolic link_ created with command:
[code]
values in configurationRoot _don't get updated_ if "appsettings_real.json" file changes.

OS: Ubuntu 14.04
Target framework: .Net Core 1.1
Microsoft.Ext

[2018-02-15 17:53] mikeharder opened #780 "CommandLineConfigurationProvider should be less strict and accept parameters with no value"
Currently, the `CommandLineConfigurationProvider` is quite strict and throws if a command-line parameter has no value.  This causes apps to fail startup if passed an argument they don't expect.  Combined with https://github.com/dotnet/cli/issues/8596 which can cause `dotnet run` to pass unexpected arguments to the app, it's easy for apps to fail in common scenarios like `dotnet run /nodeReuse:fals

[2018-02-15 17:57] AArnott commented on #755
@Eilon, we want it installed when users update to 15.7. Would the April patch do that?

[2018-02-15 18:24] muratg commented on #755
+ @leecow for the timeines for 15.7 vs april vs march patches.

[2018-02-15 21:13] leecow commented on #755
An April patch would likely be on or about 4/10. I believe 15.7 is targeting the first part of May

[2018-02-15 22:07] mikeharder commented on #747
Dup of https://github.com/aspnet/Configuration/issues/780

[2018-02-15 22:07] #747 closed

[2018-02-15 22:20] DamianEdwards commented on #780
@ajcvickers @HaoK

@davidfowl @mikeharder and I just discussed this and this is the desired fix for 2.1.0-preview2:
- Make it so the `CommandLineConfigurationProvider` ignores args that aren't in the expected format, ignore meaning they're skipped and nothing is added to the config for that arg

e.g.

CLI Args | Config Key/Value Pairs
---|-----
/foo=bar | foo=bar
--foo=bar | foo=bar
foo bar | [non

[2018-02-15 22:58] AArnott commented on #755
Thanks. Would the 15.7 installer automatically update people?

[2018-02-16 05:41] Eilon commented on #755
At this point this will pretty much have to wait for April anyway. Don't want to risk jeopardizing the March patch.

@AArnott - this is just a NuGet package update; users would have to update their apps no matter what we do. We can't update apps to reference the new package. However, we will update the ASP.NET Core project templates to use the new version, so all new projects created with the Apri

[2018-02-16 07:47] AArnott commented on #755
That sounds OK: If new projects get the new behavior.

What does picking up a new .NET Core have to do with new project templates for ASP.NET Core? ASP.NET Core templates don't come from the version of .NET Core, do they?

[2018-02-16 17:19] Eilon commented on #755
@AArnott they do. All ASP.NET Core templates come from within the .NET Core SDK. It was inside it all along!

[2018-02-16 18:18] natemcmaster commented on #755
The other option we have is to backport the fix to Microsoft.NET.Sdk.Web to 15.7. This fix adds `<ProjectCapability Include="LocalUserSecrets" />` for older versions of the M.Ext.Config.UserSecrets package, even 1.x versions. Users wouldn't need to do a NuGet package update to lightup the new tooling.

[2018-02-16 19:33] AArnott commented on #755
Ah. The SDK makes more sense.

I like @natemcmaster's idea.

[2018-02-18 11:41] husainaloos opened #781 "Why is .NETCoreApp 2.1 flagged"
When I run the source code in VS 2017, I am getting the following error:

`The current .NET SDK does not support targeting .NET Core 2.1.  Either target .NET Core 2.0 or lower, or use a version of the .NET SDK that supports .NET Core 2.1.`

But the solution builds fine if I run `build.cmd`. Is there a way to configure my VS to be able to build?

Note that I already have dotnet 2.1.4 on my machine.

[2018-02-18 11:49] husainaloos commented on #434
Currently, the configuration solution does not depend on any logger to log anything. Wouldn't introducing a logger be a breaking change?

[2018-02-18 14:40] davidfowl commented on #434
You might introduce a cycle here, configuration can’t depend on logging so this would need to be done at another level entirely or not use the logging APIs

[2018-02-18 17:03] MHHenriksen commented on #434
I'd like to point out an alternative solution, which we're using with good results in our projects:

Instead of logging the source location directly, attach it as metadata to each key-value-pair. It can be made available through separate methods to avoid breaking backwards compat, and makes it straightforward to log after logging has been initialized.

The info itself would be provided by the sour

[2018-02-18 23:45] Eilon commented on #755
@natemcmaster indeed that sounds interesting, more useful, and perhaps easier. Can you start a thread on that, detailing the exact proposal? Include me and @DamianEdwards and other required people.

[2018-02-19 12:58] victator commented on #780
Guys, but what about "accept parameters with no value"?
To many tools accept arguments with action-meanings like --init, --run. It's too ugly to specify "--init="

[2018-02-19 16:27] DamianEdwards commented on #780
For those cases you want a proper command line parser, this is specifically just about the configuration provider.

[2018-02-19 19:33] adamkjonesmesh opened #783 "AddAzureKeyVault Failing when using IClassFixture in xunit integration tests"
Hello,

### Description
#### Scenario
1. You have a .net core xunit test project.
2. You have more than three test classes.
3. Each test class implements IClassFixture.
4. The class fixture class contains code that uses key vault in the configuration builder.

#### Problem
When you go to Test Explorer in Visual Studio 2017 and select Run All on the tests, the tests will hand and never execute.  No

[2018-02-20 22:49] HaoK commented on #780
So for the example above in:

"--biz /baz=boo"  Doesn't this mean Key = "biz" Value = "/baz=boo"?

[2018-02-20 22:55] HaoK commented on #780
Basically we can ignore the last argument when we end up with an odd number of arguments, but its currently valid to just have pairs of values:

`--Key4 Value4 /Key5 Value5` and there's no restriction/parsing on the value today, its just used as is, so if Value4 happens to look like "/baz=boo" that becomes a value for the previous key

[2018-02-21 21:53] natemcmaster commented on #755
Closing as this happened to be fixed by another change the websdk decided to take for 2.1.2xx.

https://github.com/aspnet/websdk/pull/308

[2018-02-21 21:53] #755 closed

[2018-02-22 21:40] #780 closed

[2018-02-22 22:52] MV10 opened #786 "FileExtensions missing method exception, and both 1.0.0 and 2.0.0 referenced."
I'm hoping someone can point me in the right direction to troubleshoot this.

I'm trying to figure out why a previously-working netstandard2.0 library project started crashing today with a `MissingMethodException` being thrown by `Configuration.FileExtensions` on the call to `SetBasePath`. (I'm aware that this usually indicates a version mismatch, but I have working websites deployed with the code

[2018-02-22 22:56] HaoK commented on #786
Hosting itself in 2.0 uses Config, so you can't really not use Config 2.0 anymore...

[2018-02-22 22:57] HaoK commented on #786
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Microsoft.AspNetCore.Hosting.csproj#L19

[2018-02-26 02:43] andrewslavin opened #788 "ConfigurationBinder binds empty array as null"
Example:

1. I have a class `AppSettings` with property `public string[] SomeValues { get; set; }`.
1. My `appsettings.json` is `{"SomeValues": []}`.

When I bind an instance of `AppSettings` to the configuration like this: `configurationBuilder.AddJsonFile("appsettings.json").Build().Bind(appSettings)`, property `SomeValues` is null. I expect empty array.

Note that if I change `appsettings.json`

[2018-02-26 08:43] MichaCo commented on #788
I think the binder doesn't tough a property when the configuration source doesn't yield any value for the property.
`SomeValue` is null because you didn't initialize it. Try
[code]

[2018-02-26 10:04] andrewslavin commented on #788
Thanks @MichaCo. This solves the specific issue I described, but creates another. If property is declared as `public string[] SomeValues { get; set; } = new string[0];` and `appsettings.json` is `{"SomeValues": null}`, `SomeValues` stays as empty array. Expected null.

I can obviously work around both scenarios, but the expected behaviour is that I do not have to give default values to the propert

[2018-02-26 23:07] QuantumHive commented on #451
I agree with @Halofreak1990 and @pantonis
I've been scratching my head why my code didn't work:
[code]

Guess I have to use the '_hack_' =/

[2018-02-27 00:12] HaoK commented on #788
This mostly just due to how config works, you can't store null values in config today, as there's no way to determine if config has a "key" just with a null value today.  So the binder works as @MichaCo describes, it basically just uses reflection on properties and checks if there is a value in the config with the matching key, if a null value is returned, that property is left alone.

[2018-02-27 00:17] HaoK commented on #759
You shouldn't use the KeyDelimiter in keys

[2018-02-27 00:17] #759 closed

[2018-02-27 00:31] andrewslavin commented on #788
@HaoK thank you for the detailed explanation. I have one last question:

- Is this behaviour of `ConfigurationBinder` impossible to change because of

[2018-02-27 00:34] HaoK commented on #788
We are unlikely to change the binder at this point no.  What behavior are you looking for?

[2018-02-27 00:42] andrewslavin commented on #788
As I described above, the naturally expected behaviour is "what you see is what you get". If `appsettings.json` has `SomeValues` set to `null` or empty array, I expect the `SomeValues` property of my `AppSettings` class to be set to `null` or empty array correspondingly.

That should happen even if the property has been declared with a default, e.g. `public string[] SomeValues { get; set; } = new

[2018-02-27 00:49] HaoK commented on #788
How would you imagine this working if config doesn't let you distinguish between "SomeValues" = null and it just never being set?

[2018-02-27 00:50] HaoK commented on #788
If that ability was added to config, then you could ask for the appropriate binder change

[2018-02-27 02:04] andrewslavin commented on #788
@HaoK here's the behaviour I expect:

1. Whatever is in the json file, gets applied to the class properties, including nulls and empty arrays.
1. If there's a property in the class that does not have a matching key in the json file, the property retains its default value if defined, or it will be the default of the type if not defined.

I do not think I want or need to be able to distinguish. When

[2018-02-27 03:33] HaoK commented on #788
Yeah I don't think that's an improvement over todays behavior, that would basically result in every property being null if its not defined in config.

[2018-02-27 04:05] andrewslavin commented on #788
Not sure what you mean, that's not the improvement I'm asking for. It already works like that right now:

- every nullable property not defined in config will be null,
- every not nullable property not defined in config will be default of type.

[2018-02-27 04:39] andrewslavin commented on #788
@HaoK I feel there's still a lack of understanding of what I'm asking for, so I'll try to explain again, in a slightly different way:

1. When a class gets instantiated, all its properties get set to their relative defaults of type. And those properties that have explicitly defined default values, get set to those default values.
1. Now as we have an instance of the class, we start updating its pr

[2018-02-27 05:08] HaoK commented on #788
As I said before, there's no way for you to make the binder work like this (3 vs 4) without the ability to tell if a config key is defined vs just not set.  If you feel you can make this work, feel free to submit a PR demonstrating this and we can discuss from there if you like

[2018-02-27 05:12] HaoK commented on #788
You don't actually even need to submit a PR to the binder, you can just write the code to distinguish between steps 3 and 4 using `IConfiguration`

[2018-02-28 22:51] ryanbrandenburg opened #790 "Flaky test: ReloadOnChangeWorksAfterError"
We're running into errors on the CI where tests aren't getting the expected results:

[code]

http://aspnetci/httpAuth/app/rest/builds?locator=tag:ConfigJson,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)

[2018-03-01 01:02] HaoK commented on #790
How often is this test failing?  Its a functional test that is relying on the underlying file system firing in time

[2018-03-01 01:19] erwan-joly commented on #781
i got the same issue i tried to reinstall 2.1.4 and still the same

[2018-03-01 03:42] erwan-joly commented on #774
@dodexahedron none of the functionality of DataMemberAttribute works in configuration. So it can't really break anything. I think using DataMemberAttribute which is part of serialisation make sense here.   Could be nice to add EmitDefaultValue Order and TypeId of this flag too as there is another pull request for the isRequired of this same attribute #789.

[2018-03-01 08:32] joacar opened #791 "[Question] Connection string in Linux service file configuration as environment variable"
Originally posted [here #11096](https://github.com/aspnet/EntityFrameworkCore/issues/11096).

I have a `.service` file to run my ASP.NET Core MVC application using Kestrel on Ubuntu 16.04.

[code]

Running the above causes argument exception. Keyword "'server" not recognized (note the '). Enclosing the value in double quotes causes exception that the format is invalid at line 49. (Just after the 3

[2018-03-01 19:48] neyromant opened #792 "System.InvalidOperationException if configuration has dictionary with colon in key."
Hi.
I got a error when I tried to read an object from the configuration that was loaded from the json file.
I wrote simple config file:

testdata.json:
[code]
And I wrote simple program for read that config file:
Program.cs
[code]

During the call to config.Get <TestData> (), I get an error System.InvalidOperationException: 'Cannot create instance of type 'System.String' because it is missing a pu

[2018-03-01 20:24] erwan-joly commented on #774
yes but if they already use it the expected behavior should be the behavior you implemented. Seems to be the normal behavior to me

[2018-03-02 18:45] ajcvickers commented on #790
PR: https://github.com/aspnet/Configuration/pull/793

[2018-03-02 18:46] #790 closed

[2018-03-04 22:05] mmisztal1980 opened #794 "[.NET Core 2.1 Preview 1] IConfiguration.GetSection returns IConfigurationSection with null Value"
Hi,

I'm giving .NET Core 2.1 preview 1  a spin:

appSettings.json
[code]

appSettings.Development.json
[code]

Here's a helper class I'm using to load my configuration:

[code]

and the Program.cs
[code]

If I place a breakpoint in Program.cs , at the highlighted location, attempts to resolve the `Serilog` or `Logging` config section via `IConfiguration.GetSection("Serilog")` or `IConfiguration.G

[2018-03-09 16:22] flowdopip commented on #744
bad command

docker run --rm -it -p 5000:80 --name ServiceName --env ASPNETCORE_ENVIRONMENT=Production -e Discovery:HealthCheck="htttp://www.microsoft.com  Repository:Service:2.0.17298.133"

[2018-03-09 16:22] #744 closed

[2018-03-09 22:49] ajcvickers commented on #705
@glennc How important is this for 2.1? (No answer means we will punt it out. :trollface:)

[2018-03-09 23:00] ajcvickers commented on #681
@natemcmaster Do you think we should do this for 2.1? (Or will you do it? :trollface:)

[2018-03-09 23:01] #436 closed

[2018-03-09 23:03] natemcmaster commented on #681
The implementation is trivial: add an overload and plumb it through to AddJsonFile.

https://github.com/aspnet/Configuration/blob/fdd8b2a0d02fc9f358d6f00514b7534f5f4b7a0a/src/Config.UserSecrets/UserSecretsConfigurationExtensions.cs#L140

I personally don't care that much and don't think it's very useful. But if someone made a PR to add this overload, I would have no problem taking it in. IMO mark

[2018-03-09 23:09] ajcvickers commented on #730
**Config Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2018-03-09 23:09] #730 closed

[2018-03-09 23:14] #737 closed

[2018-03-10 01:24] ajcvickers commented on #394
Triage: @HaoK Let's try for an initial implementation as a stretch goal for 2.1.

[2018-03-11 17:32] williamb1024 commented on #778
This appears to be caused by: https://github.com/aspnet/Configuration/blob/fdd8b2a0d02fc9f358d6f00514b7534f5f4b7a0a/src/Config/ConfigurationRoot.cs#L91
Which is using the default equality comparer, which is StringComparison.Ordinal. This causes GetChildren to return duplicate sections (or sections differing only by case).

[2018-03-12 19:12] ryanbrandenburg opened #795 "Flaky tests: CreatingWritingDeletingCreatingFileWillReload et al"
These tests have recently taken to failing on OSx: http://aspnetci/project.html?projectId=XPlat&buildTypeId=XPlat_Mac_MacUniverseCoreCLR&tab=testDetails&testNameId=3759396832575739260&order=START_DATE_DESC&branch_XPlat=__all_branches__&itemsCount=50

Offending tests include:
 * FileWatcherTests.MultipleFiles(usePolling: False)
 * ConfigurationTests.CreatingWritingDeletingCreatingFileWillReload
 *

[2018-03-12 19:37] ryanbrandenburg commented on #795
A non-exhaustive list of the builds affected by this can be found [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:ConfigJson,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-12 19:50] HaoK commented on #795
So the config tests will definitely fail if the file watcher functional tests are faling too:

https://github.com/aspnet/DotNetTools/blob/261b27b70027871143540af10a5cba57ce07ff97/test/dotnet-watch.FunctionalTests/FileWatcherTests.cs

[2018-03-13 19:00] shirhatti commented on #705
Spoke to @glennc offline. This was relevant for Docker Swarm, but there's a cleaner pattern from Kubernetes where we wouldn't require filtering.

[2018-03-13 21:17] #771 closed

[2018-03-14 20:37] HaoK opened #797 "Add Configure(IConfiguration, Action<BinderOptions) overloads"
Need to update OptionsBuilder and IServiceCollection methods.  Will need to store the configuration into the IConfigureOptions

[2018-03-15 15:56] drauch opened #799 "IPAddress configuration (or how to configure ForwardedHeadersOptions via appsettings)"
We want to configure `Microsoft.AspNetCore.Builder.ForwardedHeadersOptions` via our `appsettings.json` file. While "normal" (i.e., string and boolean) properties work just fine this Options class has two "special" properties:

    public IList<IPAddress> KnownProxies { get; }
    public IList<IPNetwork> KnownNetworks { get; }

which both return a pre-filled (non-read-only) list which can be extend

[2018-03-15 16:14] HaoK commented on #799
The binder will try to use TypeConverters to convert from string to the property Type, but it won't look for constructors, so if you register TypeConverters for those types it should work.

[2018-03-16 09:21] drauch commented on #799
So, that these two are read-only properties is no problem for the infrastructure? It just needs a type converter from string to IPAddress and string to IPNetwork and everything's fine?

[2018-03-18 16:42] aejay opened #800 "Custom binders for mapping config string values to types known to the composition root"
The ease the Binding portion of this library adds to configuration is very valuable for the projects I'm involved in, but I find a lot of cases where the flexibility of binding seems to be lacking. I might just be approaching problems incorrectly (if so, any help pointing me in the right direction would be nice).

It seems like either the binder will work great because you are working with basic t

[2018-03-18 17:28] HaoK commented on #800
This is something we could consider adding to the new BinderOptions introduced with https://github.com/aspnet/Configuration/pull/796

We could easily add a `CustomBind<T>(Func<T> func)` to the options, is that basically what you want for more control over a specific type?
[code]

Thoughts @ajcvickers @davidfowl

[2018-03-19 07:37] drauch commented on #799
It doesn't seem to work that way. I can't even bind a class with only an `IPAddress[]` and nothing else using my new type converter (which I have registered for `IPAddress` using `TypeConverter.AddAttributes`). Unfortunately, I cannot debug into the binding logic because it seems to be loaded in a dynamically compiled assembly (which doesn't come with debug symbols, and R# cannot provide debug sym

[2018-03-19 09:15] drauch commented on #799
Yup, tried it, works. Thank you.

[2018-03-19 09:15] #799 closed

[2018-03-20 12:05] MV10 commented on #786
The 1.0.0 dependency ended up coming from some part of the Azure Functions web jobs hosting, so I just separated out the config dependencies into a pair of mini-libraries until Functions catches up.

[2018-03-20 12:05] #786 closed

[2018-03-21 20:32] HaoK commented on #394
c4308478186aa42e5d6b615cbb612d7f0ca0b92b

[2018-03-21 20:32] #394 closed

[2018-03-21 20:33] HaoK commented on #394
`config.Get<T>(/Bind(options, binderOptions => binderOptions.BindNonPublicProperties = true)`

[2018-03-21 21:39] shirhatti commented on #695
cc @muratg
We'll try to get this in 2.1.0

[2018-03-21 21:41] shirhatti commented on #742
@ig-sinicyn Feel free to re-open if this repros with the newer ADAL.

[2018-03-21 21:41] #742 closed

[2018-03-21 21:44] shirhatti commented on #746
We've only created this interface for testing, no plans to make it public.

[2018-03-21 21:44] #746 closed

[2018-03-21 21:54] kyschouv commented on #746
Is there any way for me to implement versioned secret support then? I currently have a fork of this library in which I've added some support for versions, but I'll be missing any updates to the library.

[2018-03-21 22:06] shirhatti commented on #746
Ahh. Versioned secrets from KeyVault at least warrants a conversation as a first class feature in itself. Can you create a new issue for that?

[2018-03-21 23:17] ryanbrandenburg commented on #795
This issue was moved to aspnet/DotNetTools#412

[2018-03-21 23:17] #795 closed

[2018-03-21 23:56] kyschouv opened #801 "Load versioned secrets from KeyVault"
We need a way to be able to load versioned secrets from KeyVault. We'd like to manage KeyVault secrets using versions, but for scenarios where we need to load multiple versions (for example, loading all active versions of a decryption certificate during rollout periods), we have no way to accomplish this other than to create our own provider.

See also #746

[2018-03-21 23:57] kyschouv commented on #746
Done. #801

[2018-03-22 16:26] Eilon opened #802 "iconfigurationsection does not contain a definition for get"
_From @blowdart on March 22, 2018 12:57_

_From @WaedSaleh on March 22, 2018 12:18_

I  passed Configuration object to the class library and when I use  it to get a configuration  like
 Configuration.GetSection("Settings").Get<Settings>(); I get the error iconfigurationsection does not contain a definition for get.

PS : In Startup class, it works fine but in the class library not.

_Copied from o

[2018-03-23 17:38] WaedSaleh commented on #802
@Eilon Any Update

[2018-03-23 18:08] Eilon commented on #802
@WaedSaleh can you share your project so we can take a look?

[2018-03-25 11:12] WaedSaleh commented on #802
@Eilon , Here you Go!
https://github.com/WaedSaleh/MvcCoreApp

In Startup class you will see Get<StageSettings> works fine , while in class MvcCoreManager it not.

[2018-03-25 11:24] WaedSaleh commented on #802
Never Mind I add Microsoft.Extensions.Configuration.Binder and It works

[2018-03-25 21:14] Eilon commented on #802
Ah, yes, that's where the extension methods are defined, so closing this issue.

[2018-03-25 21:14] #802 closed

[2018-03-27 18:42] Eilon commented on #701
Still planning this for preview2?

[2018-03-27 18:50] HaoK commented on #701
Lets move this to post preview2, its a minor few line fix, but I'm working on getting docker renamed and officially part of the builds/ship list still, so I can get this in the next milestone after preview2

[2018-03-27 18:55] Eilon commented on #701
@HaoK - can you tag the lead/PM/whoever for this? I don't want to stomp on peoples' repos.

[2018-03-27 18:59] HaoK commented on #701
@shirhatti I recommend we move this to post preview2

[2018-03-27 19:01] shirhatti commented on #701
Sure. I have no objections moving this out post preview2

[2018-03-27 19:08] HaoK commented on #701
Cool, moved to rc1

[2018-03-27 23:57] HaoK commented on #776
Fixed via https://github.com/aspnet/Configuration/pull/784

[2018-03-27 23:57] #776 closed

[2018-03-29 13:45] drauch opened #804 "Errors on non-existing properties (or: how to require configuration properties)"
We want to make sure that some existential configuration settings are indeed set by the user and cannot be forgotten. By default, the configuration system doesn't care if a configuration options is not set, it simply does not fill the corresponding property in the Options instance. Is there a way to mark certain Options as required and let the configuration binding fail if they are not provided?

[2018-03-29 23:11] 0Lucifer0 commented on #804
https://github.com/aspnet/Configuration/pull/789

[2018-03-30 07:48] drauch commented on #804
Oh, great to hear that there's something on the way!

Do you know of any good workaround for ASP.NET Core 1.x users which cannot upgrade to 2.1-previews yet?

[2018-03-30 19:22] timdoke opened #805 "JsonConfigurationFileParser made public and extendable"
Hi.. I would like to make some changes to the JsonConfigurationFileParser class.  In particular, making it more extendable.  Currently, all the things that do logic here are private.  I have a need to do a configuration parser that integrates with aws's KMS, and the only way I can currently do that is by making a new implementation.  In particular, I would like the Parse and VisitPrimitive methods

[2018-04-02 16:25] timdoke commented on #805
Hey @danroth27, any thoughts on this?

[2018-04-02 19:56] danroth27 commented on #805
@shirhatti @ajcvickers

[2018-04-03 06:21] drauch commented on #804
Also: will your PR be part of ASP.NET Core 2.1?

[2018-04-03 08:44] tschuegge commented on #788
Same issue here: `null` and `[]` is not the same.
Our ugly workaround is `[null]`.

[2018-04-03 08:53] kreavivity commented on #788
I agree with @andrewslavin .
Take the following settings file as an example:

[code]
For me this has the meaning that **NO whitelist exists** and so everybody is allowed to do something.
<br>
[code]
But this means for me that nobody is allowed to do something,
because **there IS a whitelist with no elements in it**.
<br>
What I want to say is that in this example the meaning of null and [] is the

[2018-04-04 19:11] timdoke commented on #805
That's interesting that you want to abstract the source of the configuration first.. We are actually planning on using https://github.com/SteeltoeOSS/Configuration in addition to KMS decryption in a few months..

[2018-04-05 05:41] HaoK commented on #805
Yeah I figure #662 will result in something like a StreamConfigurationProvider base provider, which you can add via files or streams, and then hook up the appropriate processing for the stream to load the stream data...  I haven't spent anytime thinking about this really, but maybe it would look something like:

[code]

[2018-04-05 13:11] CarlosOnline opened #806 "Method not found: 'Void Microsoft.IdentityModel.Clients.ActiveDirectory.PlatformParameters..ctor(Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior)'."
Missing method: **Microsoft.IdentityModel.Clients.ActiveDirectory.PlatformParameters..ctor** is missing for .net core 2.0.3.
Is there any way to resolve this issue?

**Error:**
Message=Method not found: 'Void _Microsoft.IdentityModel.Clients.ActiveDirectory.PlatformParameters..ctor(Microsoft.IdentityModel.Clients.ActiveDirectory.PromptBehavior)'._
  Source=Microsoft.WindowsAzure.MediaServices.Clie

[2018-04-05 13:22] CarlosOnline opened #807 "Could not load type 'Microsoft.IdentityModel.Clients.ActiveDirectory.PlatformParameters"
Could not load type **Microsoft.IdentityModel.Clients.ActiveDirectory.PlatformParameters** for .net core 2.0.3.

Is there any way to resolve this issue?

**Error:**
_Could not load type 'Microsoft.IdentityModel.Clients.ActiveDirectory.PlatformParameters'_ from assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory.Platform, Version=3.19.2.6005, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

[2018-04-05 13:34] flytzen commented on #807
There is a similar problem in Azure Functions (I don't have the ref to hand). Maybe related?

[2018-04-05 15:19] timdoke commented on #805
@HaoK  I like the direction you are going with on the IConfigurationStreamReader..  Hopefully what I had to do will be easier in the future -- override for the extension method, configuration source, configuration provider, configuration file parser just to be able to provide a decryption method for a json string or encrypted json file.

Basically, I'm hoping that we can plug in different implemen

[2018-04-05 16:25] Eilon commented on #807
This issue was moved to Azure/azure-sdk-for-media-services#201

[2018-04-05 16:25] #807 closed

[2018-04-05 16:26] Eilon commented on #806
This issue was moved to Azure/azure-sdk-for-media-services#202

[2018-04-05 16:26] #806 closed

[2018-04-06 14:06] timdoke commented on #805
Yeah, I guess my point was it would be nice if that sort of injection/modification could happen in the startup class instead of four levels deep.

[2018-04-06 17:56] ryanbrandenburg opened #808 "Flaky test: GeneratesAssemblyAttributeFile"
This test [fails](http://aspnetci/viewLog.html?buildId=442133&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:

[code]

Future instance of this failure can be seen [here](http://aspnetci/project.html?projectId=XPlat&buildTypeId=&tab=testDetails&testNameId=-5331495885025554847&order=START_DATE_DESC&branch_XPlat=__all_branches__&itemsCount=50).

[2018-04-06 19:02] lucastheisen opened #809 "IConfigurationSection can have Value and Children"
Perhaps its just me, but I think this may qualify as a bug.  Specifically, if you were to declare a base config like this:
[code]
And added an override:
[code]
Instead of replacing `db`'s string value it would just _add_ a config section.  So now it would be both a leaf and branch which just seems wrong.  It also makes it impossible to re-serialize to JSON.

[2018-04-06 19:09] HaoK commented on #809
This is just how the system was designed, I personally don't love the behavior where configuration can have values and children, but it is what it is at this point.

[2018-04-06 19:09] #809 closed

[2018-04-06 19:10] HaoK commented on #809
This is mostly due to how ini supports this value + children

[2018-04-06 20:30] lucastheisen commented on #406
@HaoK or @divega , it appears that the [azure folks went with](https://github.com/Azure/azure-functions-core-tools/commit/fa81fadefe5885aa4138b235f7494670dac96386):
[code]
And an [associated `ConnectionStrings` object](https://github.com/Azure/azure-functions-core-tools/blob/master/src/Azure.Functions.Cli/Common/ConnectionString.cs).  Does it still make sense to use the non-hierarchical approach y

[2018-04-06 20:49] HaoK commented on #406
@lucastheisen Can you file a new issue?  Closed issues don't get much visibility.

[2018-04-06 20:58] lucastheisen opened #810 "Re-re-revisit connection string conventions"
It appears that the [azure folks went with](https://github.com/Azure/azure-functions-core-tools/commit/fa81fadefe5885aa4138b235f7494670dac96386):
[code]
And an [associated `ConnectionStrings` object](https://github.com/Azure/azure-functions-core-tools/blob/master/src/Azure.Functions.Cli/Common/ConnectionString.cs).  Does it still make sense to use the non-hierarchical approach you mention above?

[2018-04-06 20:58] lucastheisen commented on #406
Sure: https://github.com/aspnet/Configuration/issues/810

[2018-04-07 06:59] divega commented on #810
If “ConnectionStrings:name:ConnectionString” is a thing we need to support, we can probably add it to the existing convention implemented in the extension method without too much hassle. E.g. check for a value in “ConnectionStrings:name” first and otherwise look for the subkey”.

We could add an extension method for the provider name for consistency (GetConnectionProviderName?). Not sure there is

[2018-04-07 10:38] lucastheisen commented on #810
Perhaps I missed something, but using a DB other than SQL Server needs provider information to be able to locate the proper `DbProviderFactory` implementation.

Seems like a reasonable approach to me.

This would work.  Could also use `GetConnectionString<ConnectionString>()` and the ConnectionString object could be just like [this one](https://github.com/Azure/azure-functions-core-tools/blob/mast

[2018-04-07 15:15] divega commented on #810
That is only true if the application is abstracting the database provider and only using the base ADO.NET provider API. That is more common on libraries. On applications it is more common to just use a specific ADO.NET provider API to take advantage of all its capabilities.

Another click-stop is to have a part of the application that decides what DbProviderFactory to use and pass the singleton Db

[2018-04-07 18:42] lucastheisen commented on #810
@divega , my use case is one of those _application is abstracting the database provider_ situations.  Specifically, i am putting together an ETL framework for my teams to make the most common ETL tasks simple.  Our environment includes many database vendors (SQL Server, MySql, Oracle, PostgreSQL) and some tasks move data from one vendor to the other.  Others don't do any _direct_ database work.  S

[2018-04-07 22:47] timdoke commented on #805
I can close this, @HaoK , if you think I'm just duplicating requests from elsewhere.. Thanks!

[2018-04-09 18:05] HaoK commented on #695
@muratg is this still planned for 2.1 if so can you assign this bug to someone?

[2018-04-09 21:26] HaoK commented on #701
e25be46acb00ff4dcf684e75839342d7c37f2787

[2018-04-09 21:26] #701 closed

[2018-04-09 21:27] HaoK commented on #805
Cool yeah you can follow #662 for tracking this issue

[2018-04-09 21:27] #805 closed

[2018-04-10 03:48] muratg commented on #695
@natemcmaster will likely take this (if we end up doing it.)

cc @davidfowl

[2018-04-10 03:53] pakrym commented on #695
Done https://github.com/aspnet/Configuration/pull/761

[2018-04-10 03:53] #695 closed

[2018-04-10 08:06] HaoK commented on #751
We renamed the provider to https://github.com/aspnet/Configuration/tree/dev/src/Config.KeyPerFile and it will be a part of 2.1

[2018-04-10 08:06] #751 closed

[2018-04-13 14:59] TPucke opened #811 "Manage user secrets for a netstandard2.0 project"
I'm working on a project targeting netstandard2.0.  The IConfigurationBuilder.AddUserSecrets api is available and works, but I'm having a harder time managing my secret settings than I should have to.  Is there a reasonable way to directly manage the user secrets configuration file for a project targeting netstandard2.0 ?   I can't find anything comparable to the Microsoft.Extensions.SecretManager

[2018-04-13 19:24] pakrym opened #812 "ConfigurationBuild.Build with non-existent Json file and reloadOnChange hangs on Ubuntu"
After instrumenting app from issue https://github.com/aspnet/AzureIntegration/issues/171 with a bunch of `Console.WriteLine()` calls:
![image](https://user-images.githubusercontent.com/1697911/38753295-c89acf6e-3f12-11e8-95a2-9840135fc091.png)

I got the following output:
![image](https://user-images.githubusercontent.com/1697911/38753268-b8d43462-3f12-11e8-86ab-9c5b52b71000.png)

That means that

[2018-04-13 20:39] HaoK commented on #812
Can you try hooking the OnLoadError in case there's exceptions blowing things up?

https://github.com/aspnet/Configuration/blob/dev/src/Config.FileExtensions/FileConfigurationProvider.cs#L78

[2018-04-13 20:42] pakrym commented on #812
No, but why would it hang?

[2018-04-13 21:48] HaoK commented on #812
Maybe something in the change token path hangs, maybe Watch is hanging?

https://github.com/aspnet/Configuration/blob/dev/src/Config.FileExtensions/FileConfigurationProvider.cs#L32

[2018-04-13 21:50] HaoK commented on #812
That's really the only line that would get called that's interesting in Load for a non existing file, so it almost certainly is the Watch call

[2018-04-13 22:26] HaoK commented on #812
Can you try just running that in your scenario instead of config.Build, just call .Watch() on the json file and seeing if that also hangs?

[2018-04-13 22:29] HaoK commented on #812
Hopefully its just an easy bug where .Watch on Ubuntu with a non existent file hangs.  At least I would hope a bug like that is a easy fix in FileSystem :)

[2018-04-13 22:31] pakrym commented on #812
No, it's not as easy as that, running the same app on the same machine outside CI run works just fine.
I can but it would require merging to src to even try. I would prefer to create a standalone repo now that we know it's in Configuration/FileSystem.

[2018-04-15 15:04] mmisztal1980 commented on #794
I was actually expecting to get the entire subsection via the Value property

[2018-04-15 15:38] lucastheisen commented on #794
`IConfiguration.GetSection("Serilog")` already returns _the entire subsection_...  Were you hoping to get it back as a JSON strong out something?

[2018-04-18 03:09] Rick-Anderson opened #813 "/// comments wrong: ConfigurationSection.Value docs are incomplete"
Copy from https://github.com/MicrosoftDocs/feedback/issues/303 by @MV10

The docs state "Gets or sets the section value."

This is only accurate if GetSection is called on a key that has a single value. If GetSection actually returns a configuration section, then Value will be null and the GetChildren extension method should be used to iterate over configuration contents.

ConfigurationSection
Con

[2018-04-18 04:05] HaoK commented on #813
I'm pretty sure a sections can have children and a value at the same time

[2018-04-18 04:41] Rick-Anderson commented on #813
@MV10 if you can post a repo we'll reopen this.

[2018-04-18 04:41] #813 closed

[2018-04-18 10:13] MV10 commented on #813
It's simple to reproduce. ASP.NET not required! 😛

https://github.com/MV10/issue_aspnet_813

For this sample config, only the `foo` key results in a non-null `Value` property.

[code]

[code]

[2018-04-18 16:10] HaoK commented on #813
While its true a single json file can't express both a value and a subsection, that's not a limitation of configuration in general.  You can accomplish that via two json files, with a second one that sets "section:subsection = "value".  ini files support this natively.  You can also directly set configuration values programatically

[2018-04-18 16:59] MV10 commented on #813
@HaoK Of course! Very interesting. Thank you.

[2018-04-20 02:49] Itfly opened #814 "The configuration file 'appsettings.json' cannot be found when running app on dotnet:2.1-runtime"
I use console app to host my grpc server, it reads configuration like below code:
[code]

This app works well on both my local machine (dotnet 2.1.104) and docker with `dotnet:latest`, except on docker with `dotnet:2.1-runtime` which throws the below exception:
[code]

I created the issue first on [dotnet/dotnet-docker](https://github.com/dotnet/dotnet-docker/issues/491), and @MichaelSimons said m

[2018-04-23 17:09] natemcmaster commented on #814
My guess is that the file is simply missing from your publish output. The repro you attached has
[code]
This would mean the files is only in the output of `dotnet build`, not `dotnet publish`.
Try updating it to this:
[code]

[2018-04-24 01:42] Itfly commented on #814
@natemcmaster THe file is in the publish folder and also in the running container. It's just not working on linux vm or docker. I used `strace` to trace the system calls there's no open(/app/appsettings.json) call before it throws exception.

[2018-04-24 05:05] natemcmaster commented on #814
Thank you for the repro. This helped a bunch. There is a gnarly bug in .NET Core caused by the new rollforward mechanism that lifts you from .NET Core 2.0 to 2.1. I've filed https://github.com/dotnet/corefx/issues/29298 with more details. The bug isn't actually in aspnet/Configuration, so I'm going to close in favor of that bug.

Until this is resolved, I recommend changing your application to com

[2018-04-24 05:05] #814 closed

[2018-04-24 05:11] Itfly commented on #814
Thanks, `microsoft/dotnet:latest` works well

[2018-04-24 16:48] #554 closed

[2018-04-24 16:50] ajcvickers commented on #661
@glennc Should we still keep this open?

[2018-04-24 16:51] ajcvickers commented on #698
Triage: we're not currently planning on doing anything here, but we could re-consider based on feedback.

[2018-04-24 16:51] #698 closed

[2018-04-24 16:53] ajcvickers commented on #721
Triage: we're not planning to do anything here, but we would consider taking a well-written community PR in this area.

[2018-04-24 16:53] #721 closed

[2018-04-24 16:55] ajcvickers commented on #731
Putting this in 2.2 and assigning to @HaoK to match the open PR.

[2018-04-24 17:54] ajcvickers commented on #733
Closing this in favor of https://github.com/aspnet/Configuration/blob/dev/src/Config/ChainedBuilderExtensions.cs. If there is still value in the wrapping source that is not provided by chaining, then please elaborate and we may re-consider.

[2018-04-24 17:54] #733 closed

[2018-04-24 17:55] ajcvickers commented on #734
This is by-design. The first element is the "root", which is currently null. If the root is always empty, then it can be skipped with `Skip(1)`.

[2018-04-24 17:55] #734 closed

[2018-04-24 19:42] ajcvickers commented on #736
Closing. IConfigurationRoot cannot be resolved from D.I. if it is not registered in D.I.

[2018-04-24 19:42] #736 closed

[2018-04-24 19:44] ajcvickers commented on #738
Closing this as we are not planning to do this directly. However, #662 should make it easier to handle JSON coming from other sources.

[2018-04-24 19:44] #738 closed

[2018-04-24 19:45] #739 closed

[2018-04-24 19:46] ajcvickers commented on #740
@natemcmaster Any thoughts on this? Can we close it or is there work that we should do here?

[2018-04-24 19:47] ajcvickers commented on #743
Triage: closing as we don't plan to do this.

[2018-04-24 19:47] #743 closed

[2018-04-24 19:50] #752 closed

[2018-04-24 19:50] ajcvickers commented on #752
Duplicate of #745

[2018-04-24 19:51] ajcvickers commented on #757
Triage: closing this as we don't plan to implement this in the Configuration code.

[2018-04-24 19:51] #757 closed

[2018-04-24 19:55] ajcvickers commented on #767
We don't plan to add support for read-only properties, but we do now support internal/private properties, which should allow this to work when the properties have private setters. See #394

[2018-04-24 19:55] #767 closed

[2018-04-24 20:06] natemcmaster commented on #740
There is work. We should probably remove the DesignTimeBuild condition from the assembly attribute generation, but I want to check first that the target doesn't break incremental builds when we do so.

[2018-04-24 20:43] tugberkugurlu commented on #680
Amazing, just had a case to use this 🎉 Thanks for changing this!

[2018-04-24 20:47] amoerie commented on #745
I have further information pertaining to this issue: the suggested workaround on the official docs, which suggest to use the "Name" attribute, actually introduce a new, subtle problem: it becomes impossible to then have a sub element <Name>...</Name>.

### Minimal repro steps

1. Create a .NET Core 2.0 application with an appsettings.xml file
2. Fill in the appsettings.xml file like this:

[code]

[2018-04-25 08:27] amoerie opened #815 "Mixing JSON and XML configuration leads to subtle bugs when using the "Name" attribute"
### When configuration is loaded from both a JSON and an XML file, the configuration may be invalid depending on the order in which the files are added to the ConfigurationBuilder

### Functional impact
In our test scenario, Serilog configuration failed to load properly because of this bug.

### Minimal repro steps

1. Create a .NET Core 2.0 console application with an appsettings.xml and an appse

[2018-04-25 09:47] amoerie commented on #815
Created pull request that solves this problem: #816

[2018-04-25 09:47] amoerie commented on #745
Created pull request that solves this problem: #816

[2018-04-25 15:48] #661 closed

[2018-04-25 16:35] ajcvickers commented on #768
@natemcmaster Is this something we need to react to in some way? It's about 1.1.1 and 1.1.2, but is quite recent--January.

[2018-04-25 16:35] ajcvickers commented on #770
Duplicate of #745