[2016-01-13 01:03] HaoK commented on #338
We can actually just return a bool for Bind since its a void currently

[2016-01-13 01:21] davidfowl commented on #338
TryBind

[2016-01-13 16:19] teodimache commented on #239
I see there's also  https://github.com/aspnet/Common/tree/dev/src/Microsoft.Extensions.CommandLineUtils

[2016-01-13 23:34] HaoK commented on #365
Triage: not planning on doing this, see above

[2016-01-13 23:34] #365 closed

[2016-01-13 23:34] HaoK commented on #359
Will be fixed when we split Get

[2016-01-13 23:40] HaoK commented on #340
Triage: not planning on doing this

[2016-01-13 23:40] #340 closed

[2016-01-13 23:40] HaoK commented on #327
Please reopen if this still repros.

[2016-01-13 23:40] #327 closed

[2016-01-13 23:42] HaoK commented on #308
@davidfowl unless you think we need to fix anything, this looks like a non issue.

[2016-01-13 23:42] #308 closed

[2016-01-13 23:42] #310 closed

[2016-01-14 20:43] divega commented on #359
@HaoK actually I am not sure this is the issue we had in mind would get resolved when we split. In fact I am not sure I understand what the issue is.

@langtu could you elaborate on how you expect the behavior to change and how it would help avoid teh exception in Abc property? The exact code you mentioned is already present in the `BindProperty()` method.

[2016-01-14 23:28] HaoK commented on #343
ba1d9b4cbc363db9318f201f08fbfecc72e7922b Get has been split into GetValue/Bind

[2016-01-14 23:28] #343 closed

[2016-01-14 23:29] HaoK commented on #359
Yeah sorry I thought this was another bug, I resolved that with the GetValue split, unassigning this bug

[2016-01-14 23:30] HaoK commented on #302
Won't get to this in RC2

[2016-01-14 23:37] HaoK commented on #120
Not going to get to this for rc2, clearing for retriage...

[2016-01-15 07:06] Eilon commented on #335
@divega I unassigned @kirthik because she won't be back before RTM.

[2016-01-15 08:29] divega commented on #335
Thanks @Eilon thanks. @pgrudzien12 actually provided the fix in #337 and a better one in #358 and the PRs are already assigned to @HaoK.

[2016-01-15 22:33] HaoK commented on #335
81115be8b1f1a369c08372d8e7b45317d434fd65

[2016-01-15 22:33] #335 closed

[2016-01-16 00:39] divega commented on #335
Thanks @pgrudzien12 for the fix!

[2016-01-16 17:25] Meir017 opened #369 "Incorrect documentation"
In the file [FileConfigurationExtensions](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.FileExtensions/FileConfigurationExtensions.cs#L38) the documentation for the method GetBasePath is incorrect

[2016-01-17 09:05] davidfowl opened #370 "Helper to enumerate IConfiguration?"
I was trying to copy an `IConfiguration` into a flat dicitonary and came up with this (completely untested) method:

[code]

It would be useful to have something that expanded all of the kvps without doing manual recursion.

/cc @divega @HaoK

[2016-01-18 01:43] damienpontifex commented on #344
Hi @bradygaster did another deployment the other day and came across this issue again. I'm not using the tooling updates in VS as we have had the templates for a while so the connection string naming is correct.

As an example I have a "StorageConnectionString" setup in azure, which has "UseDevelopmentStorage" in my appsettings.json. When I deploy it to Azure, it still tries to connect to 127.0.0.

[2016-01-19 20:58] divega commented on #370
Looks good!

Curious, do you see this as something many customers will need to do or as a rather advanced scenario?

FWIW, we could have had `IConfiguration: IEnumerable<KeyValuePair<string, string>>` directly but decided against it to avoid some unwanted side effects (like having the whole set of LINQ operators show up in Intellisense). We could have an extension method for this instead.

[2016-01-19 23:13] bradygaster commented on #344
Sorry for the delay @damienpontifex - just saw this in the morning.

Sounds like the app setting you're pushing with your JSON code isn't being overwritten when you deploy your code to Azure, even though you're using the AddEnvironmentVariables() call at the end of your config. I'm not sure why it wouldn't load up your settings in Azure and would instead read from the config file. I'm going to che

[2016-01-20 00:21] damienpontifex commented on #344
I have moved all my azure configuration into App Settings to make this work. I did this via a new resource group deployment via powershell after updating the ARM template.

It was happening with all configuration that was put under Connection Strings in Azure rather than just storage.

[2016-01-20 15:37] javivalero commented on #343
Changing:
    configuration.Get("Data:DefaultConnection:Connectionstring")
with this:
    configuration["Data:DefaultConnection:ConnectionString"]

works for me in a migration from beta6 to RC1

[2016-01-21 09:44] davidfowl commented on #370
Yes, see https://github.com/aspnet/Hosting/issues/582 where I ran into this.

[2016-01-26 22:21] HaoK commented on #359
@divega I think he's saying we shouldn't call GetValue if there's no setter, right now we are calling GetValue even if there's no setter so its unnecessary work...

[2016-01-26 23:05] HaoK commented on #292
I don't think this statement is true: "Having children invalidates the Value property immediately, because a section cannot have both; since the children collection is the actual value."

[2016-01-27 08:33] divega commented on #359
@HaoK oh that makes sense (although in the description @langtu talks about the getter instead?). Getting the value if there is no setter is not only unnecessary but I see how in this particular scenario it can cause an unwanted exception.

Let's fix this, ok?

[2016-01-27 22:00] divega commented on #292
@haok Yes, that is correct: A section can have a value and children at the same time.

Anyway, I can see how having an `Exists()` method could help. It could either be sugar over `section.Value != null || section.GetChildren().Any()` or as something slightly less expensive (but that would imply changes to the provider contract).

I will move this to the backlog and track user feedback. We can add

[2016-01-28 21:06] HaoK commented on #359
Actually maybe I am wrong, it looks like we can't short circuit because we need to potentially bind sub properties of complex objects even if the property is read only, imagine:

[code]

We want to set name on child even if getonlyprop is not settable since there's already a child instance.

[2016-01-28 21:06] HaoK commented on #359
Looks like this behavior is by design.  We do need to call the getter as part of binding...

[2016-01-28 21:06] #359 closed

[2016-01-28 21:47] divega commented on #359
I see. Do we swallow the exception if `GetValue()` throws and stop walking down the tree? It seems that should also help in this scenario.

[2016-01-28 21:56] HaoK commented on #359
We don't swallow exceptions, they just blow up and bubble out

[2016-01-28 21:57] HaoK commented on #359
Should we consider adding some kind of [BinderIgnore] equivalent?

[2016-01-29 22:09] HaoK commented on #323
[code]
becomes something like
[code]

[2016-01-29 22:16] Eilon commented on #323
Suggestion: `watchChanges` --> `reloadOnFileChanged`

[2016-01-29 22:51] JunTaoLuo commented on #370
I added the suggested enumeration as an extension method as part of https://github.com/aspnet/Hosting/pull/596. Once it is implemented in Configuration, I'll remove the redundant extension in Hosting.

[2016-01-29 23:04] divega commented on #370
@JunTaoLuo Yes I was looking at it this second. Thanks for the heads up.

@HaoK Let's have this as a public extension method in Configuration (it could live side-byside with the `GetValue<T>()` stuff). Need to decide about naming:

- 'ToKeyValuePairs()`
- `Flatten()`
- `GetFlattenedSettings()`

etc.

[2016-02-01 16:52] rustd commented on #323
@HaoK can you please update the templates as well once you checkin these changes.

[2016-02-01 23:11] nbarbettini commented on #345
I like this better than the current `Key:Value` syntax. It's more readable (to me, at least).

[2016-02-02 00:47] divega commented on #345
At first glance this looks like an interesting approach but seems to reflect a different set of goals from what we have used in the design of Configuration. E.g. in this proposal the syntax for key paths doesn't merely have different readability characteristics (and I agree, readability is very subjective) but can express much richer structure that what we can express in Configuration keys. Config

[2016-02-02 00:50] nbarbettini commented on #345
@divega That's a fair point. I should have been more specific: I was simply referring to using periods in `key.value` instead of colons. I agree, some of the other syntax is out of scope.

Readability is subjective, that's true. My pitch is that a lot of developers are conditioned (from working with JSON and YAML) to read `key.subkey.value` and understand it implicitly.

[2016-02-02 01:40] divega commented on #345
When we initially looked at the main kinds of configuration sources we wanted to support and we picked a delimiter that we believed would work with most of them and at the same time would create the less ambiguity possible. We didn't choose dot or underscore because they were valid and commonly used token in identifiers in some of the sources. We picked colon which is either invalid or less common

[2016-02-02 01:40] divega commented on #345
cc @lodejard

[2016-02-02 01:51] divega opened #373 "Remove key delimiter argument in IConfigurationProvider.GetChildKeys() and any other API"
Passing a delimiter in this API is a leftover from previous iterations of the design. The delimiter is now fixed to `:` and if there is any conversion required between the standard configuration delimiter and whatever the provider's underlying representation uses, that is implementation detail of the provider.

Constants.KeyDelimiter should probably be moved into Microsoft.Extensions.Configuration

[2016-02-03 22:07] divega opened #376 "Revisit Azure Web Site conventions for connection strings"
### TL;DR
The proposal is to change the names of the configuration setting keys we generate from connection strings configured for Azure Web Sites to match the original name chosen by the user, plus a child setting for the provider name. E.g. if the user configure a connection string named `foo`, he will be able to retrieve it using `config["foo"]`, and the provider name using `config["foo:Provide

[2016-02-05 00:57] danroth27 commented on #376
Seems reasonable. The name you enter in the portal should be the key you use to get the value via the config API.

[2016-02-05 01:56] rowanmiller commented on #376
:+1:

[2016-02-09 04:31] nbarbettini commented on #82
I didn't see @Jetski5822's contribution above, and I built my own as well: https://github.com/stormpath/stormpath-dotnet-config/tree/master/Microsoft.Extensions.Configuration.Contrib.Stormpath.Yaml

[2016-02-09 04:39] nbarbettini opened #379 "Use reflection to examine an object for configuration properties"
For one of my use cases, I want the user to be able to provide an instance of a POCO containing configuration properties and values.

For example,
[code]
would produce the keys
[code]

[2016-02-09 04:41] nbarbettini commented on #379
I wrote a `ConfigurationProvider` for my project to satisfy this requirement. I added support for anonymous types as well.

The code is here: https://github.com/stormpath/stormpath-dotnet-config/tree/master/Microsoft.Extensions.Configuration.Contrib.Stormpath.ObjectReflection

I'm happy to copy my code into a PR for this repo, if this is something that's on the roadmap. :smile:

[2016-02-11 16:48] steelheaddigital opened #380 "Missing System.Linq.Expressions dependency"
When running a dotnet core console app on Linux, I'm getting the following exception when trying to load configuration values from a json file.

`Could not load file or assembly 'System.Linq.Expressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.`

My project.json looks like this:
[code]
If I add an expl

[2016-02-11 18:07] divega commented on #380
Did you try running your code on .NET Core on Windows? That won't use the GAC and it would be useful to know if it works or if it fails with the same exception. A full stack trace for the exception would be useful too.

FWIW, I am not aware of any reason Configuration would need System.Linq.Expressions.

[2016-02-11 21:12] steelheaddigital commented on #380
Here's the stack trace:

[code]
When I say it works in Windows without `System.Linq.Expressions`, I'm running it from Visual Studio and it works.  I have yet to get .NET core installed via the MSI to actually work on Windows.  It throws tons of errors when doing the restore and `dotnet run` using the MSI installed executable doesn't seem to actually run the app.  I don't know, that's a different i

[2016-02-11 21:17] steelheaddigital commented on #380
I'm also running the app in Docker if that makes any difference.

[2016-02-12 14:36] eriksendc opened #381 "Configuration Only Sees System Environment Variables When Deployed to Windows Server 2012 R2"
Hi All,

Just as a quick preface, I did do my best to search through open and closed issues and did a fair bit of googling before submitting this. My apologies in advance if this is something that I should have answered on my own...

I'm working through deploying my application to some hosted infrastructure. First time doing this. Followed all the instructions here: [.](https://docs.asp.net/en/lat

[2016-02-12 19:32] HaoK commented on #373
Are you sure you want to move the constant into Abstractions?  Its currently only used in the implementation, it seems weird to define a constant somewhere that doesn't use it at all, its not even in the APIs anymore...

[2016-02-12 19:49] #369 closed

[2016-02-12 20:56] divega commented on #373
Yes, so that other implementations (of providers or any library code that deals with configuration in a generic way) can use it without having to duplicate code or depend on the full Configuration package. It is part of this our contract now.

[2016-02-12 21:13] HaoK commented on #373
This seems a bit dirty to me.  I don't think you can have it both ways.  I think it makes more sense to expose this constant via:

[code]

If other providers/libraries want to depend on what the Configurationprovider's key deliminter is, they can do that and its clear that its soley tied to this provider's implementation.  It seems super weird to define this as a Constant in abstractions now that

[2016-02-12 21:20] divega commented on #373
It happens to be fixed to be ":" and is part of the contract that all providers need to implement. That is why we don't flow it anywhere anymore. I would agree that the class name Constants is inadequate.

[2016-02-12 21:24] HaoK commented on #373
Why is it fixed to be ':'?  Are you are forced to use ':' even if you aren't deriving from ConfigurationProvider?

[2016-02-12 21:25] HaoK commented on #373
Something is starting to feel really broken to me here...

[2016-02-12 21:27] divega commented on #373
Yes. Your provider would only work correctly if it plays by the same rules as the other providers. And ":" being the delimiter is one of the rules. It is not user configurable, it is not up to the provider, it is an invariant in Configuration.

[2016-02-12 21:31] HaoK commented on #373
We should sync up offline then so I understand this.  It feels really weird to me that there's a magic contract that's not exposed anywhere in any of the apis/docs, that needs to understand splitting of ':'.  Removing key delimiter seems worse to me than always passing in ':'

[2016-02-12 21:37] divega commented on #373
That is precisely what I am asking you to do: expose it, because without it being exposed, it is weird.

We can sync up later about this and I will explain. For now, just do it. You are removing it from the only place where it was left, it is not functional right now. If you pass something different from ":" in this API, it will just return wrong results.

Please also create a unique name for the

[2016-02-12 21:43] HaoK commented on #373
So I just don't think this change is necessarily the right fix.  Today ConfigurationRoot has an internal non virtual GetChildrenImplementation which basically calls GetChildKeys on all of the providers.

ConfigurationSection just calls root's implementation.

If what you describe is really the behavior you want.  Why don't we just nuke the entire extensiblity point and not make GetChildKeys a meth

[2016-02-12 21:54] divega commented on #373
I am not sure what you mean. `GetChildKeys()` has its role. It returns the existing children keys of a given key in a provider. It just happens to do it based on a fixed delimiter, for both the input and outputs.

[2016-02-12 21:56] divega commented on #373
The logic is compketely replaceable but it has to use ":" as the delimiter in inputs and outputs. Don't get distracted by the fact that all of our providers share implementation.

[2016-02-12 22:01] HaoK commented on #373
So the delimiter only has to be ':' because ConfigurationRoot has hardcoded this logic into it.  Is there no way for this logic to live completely in the providers, that would feel much more clean to me, the key delimiters should be something the providers are concerned with only

[2016-02-12 22:14] divega commented on #373
It is unnecessary to leave it open. Providers already need to deal with whatever data structure and delimiters the underlying data source uses and convert that to the canonical representation of keys in Configuration.

Another aspect of this: Look at the `Include()` feature. How would we deal with an included configuration that is using a different delimiter (assuming it was allowed)?

[2016-02-12 22:15] divega commented on #373
Anyway, let's take this discussion offline for now.

[2016-02-15 01:16] divega commented on #366
(Added a description and moved back to RC2 for consideration)

[2016-02-16 18:44] herecydev opened #384 "Reloading configuration providers"
How should the `ConfigurationBuilder` or `ConfigurationRoot` deal with calling Load on the providers?

Currently the `ConfigurationBuilder` [implicitly calls load](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration/ConfigurationBuilder.cs#L37) and there is an overload supposed to be [only for testing](https://github.com/aspnet/Configuration/blob/dev/src/Microso

[2016-02-17 14:31] andrew-vandenbrink opened #385 "Why there is no save in ConfigurationProvider?"
https://github.com/aspnet/Configuration/blob/f4e4e530b0baeb6c939e6a63950acdd3d26be832/src/Microsoft.Extensions.Configuration/ConfigurationProvider.cs

Maybe duplicates,
It seems so obvious, why there is no save?
[code]

Is the configuration only supporting read only setting?
What kind of setting that never change?

There is no AddSetting here
https://github.com/aspnet/Configuration/blob/81115be8b1

[2016-02-17 16:49] nbarbettini commented on #385
My understanding is that aspnet/Configuration is meant to always be read-only. It specifically ignores persistence concerns in an effort to be as lightweight as possible.

If you think about it, Configuration is basically replacing App.config - which was read-only as well. In my opinion, if you need to write configuration you need some sort of database.

The project folks can chime in if my unders

[2016-02-17 18:28] herecydev commented on #385
@nbarbettini Sounds right to me, feels incorrect to write back to config. Some of the fundamentals of deployment tools like [Octopus](https://octopus.com/) are based on that immutability of both the program and the configuration. If you allow the program to change the configuration you can run into all kinds of headaches as the behavior mutates with it.

[2016-02-17 21:24] divega commented on #385
Yes, we want to keep Configuration lightweight and so we are conservative about adding features. Persistent is one of the features we have not rushed to implement in 1.0 but we could choose to implement in the future.

I think it is worth mentioning that Configuration is not immutable though. E.g. both the indexer property on `IConfiguration` and `IConfigurationSection.Value` are settable, calling

[2016-02-17 21:26] nbarbettini commented on #385
Okay, so I guess I was half-correct.

I like what @herecydev pointed out. I'd be in favor of strict immutability, if that ever comes up.

[2016-02-17 21:30] divega opened #386 "Support for persistence"
Currently configurations are mutable in memory but cannot be persisted back to the source of providers. This issue is to track the feature request to add the ability to persist changes made in memory. This could look like a new provider interface with a method to commit changes. We the user requests a changes to be committed we could iterate over providers looking for those which implement this in

[2016-02-17 21:36] divega commented on #283
Closing in favor of a backlog item at #386. There are valid points raised here that we would need to address.

[2016-02-17 21:36] #283 closed

[2016-02-17 21:39] divega opened #387 "Support for readonlyness"
In some scenarios it might be good to have either an interface that doesn't expose mutability or an implementation of the configuration interfaces that throws when changes are attempted. The application could pass instances of these to components that it trusts enough to read configuration but not to modify it.

[2016-02-17 21:40] divega commented on #385
I have created an issue so that we can track persistence in the backlog: #386.

We have discussed immutability in the past but I think we had more compelling reasons to allow changes than to forbid them. One thing we considered that we just haven't designed yet is to have a version of the interface that does not include mutability (or perhaps an implementation that throws) that you could use to pa

[2016-02-17 21:40] #385 closed

[2016-02-17 21:56] divega commented on #207
In #376 we are proposing to move to a model in which we don't prepend prefixes to names of keys for connection strings for Azure Web Apps. If we do that, we shouldn't do what this item describes either.

[2016-02-17 21:58] divega commented on #376
We should close #207 if we do this.

[2016-02-17 22:00] divega commented on #376
I would like to go ahead with this change. Any pushback @davidfowl @loudej?

cc @Eilon @HaoK

[2016-02-18 07:28] andrew-vandenbrink commented on #385
@nbarbettini  AppConfig is writeable
http://stackoverflow.com/questions/11149556/app-config-change-value

@divega If I really want never changed settings, just use public const, why bother to use this config and option service?

[code]

What kind of Configuration that is not configurable? If you guys really want to have Read Only Configuration, then call it ReadOnlyConfiguration api

[2016-02-18 08:10] herecydev commented on #385
It is configurable, just not from within the program itself. If you use global settings from within the code, every time you need to change them you need to ship a new version. That means a new version of *your code* for development, staging/production. etc.
We build code once and change the configuration depending on where it's going to live.

[2016-02-18 09:19] andrew-vandenbrink commented on #385
You are correct if its client app like winform or wpf but this is asp.net core, i put new code in a hot way while its running

[2016-02-18 15:48] nbarbettini commented on #385
@andrew-vandenbrink The advantage to using Configuration over a simple POCO is that I can load my config from JSON, environment variables, command line, etc.

[2016-02-18 15:54] nbarbettini commented on #387
:+1: It would be great to see more strict immutability, plus the option for persistence (depending on the outcome of #386).

[2016-02-19 20:42] HaoK commented on #373
70b9b0325be999e80bc97dfda095b73e0e17c790

[2016-02-19 20:42] #373 closed

[2016-02-20 17:44] herecydev commented on #221
Relates to #387.

[2016-02-20 18:36] divega commented on #221
Good catch @herecydev. I will close this one as a dupe.

[2016-02-20 18:36] #221 closed

[2016-02-22 19:27] divega commented on #376
Going ahead with this change for RC2. @HaoK please can you also handle the corresponding change in templates?

[2016-02-22 19:43] #207 closed

[2016-02-23 18:36] HaoK commented on #370
I like `IEnumerable<KeyValuePair<string, string>> Flatten(this IConfiguration configuration)`

[2016-02-23 20:43] dtillman opened #391 "Add Stream support to Json Configuration Provider"
Currently the Json Configuration provider enables parsing Json from files (i.e. supply a path to file).  We have use cases in which the Json we need parsed is provided as environment variables. We would like to see the Json Configuration provider add API support for streams so that we can wrap our Json in a MemoryStreams and make use of the provider.  Currently, we create a temp file and write the

[2016-02-23 21:50] HaoK commented on #376
aa72ee5b32f3c90543ed41df5026ca6b5b2b5300

[2016-02-23 22:18] HaoK commented on #370
@divega What GetValue stuff?  The ones that live in the binder?  or did you want me to move those to Configuration now as part of adding Flatten?

[2016-02-24 00:03] divega commented on #370
I was referring to having this as an extension method in configuration alongside `GetValue()`, but this is a completely independent change.

I am not sure about the naming. Of the three options I wrote down I think `Flatten` is the one that is going to require looking into documentation the most in order to understand what it does, but I guess once you know what it does, it is the shortest :smile:

[2016-02-24 01:46] HaoK commented on #370
Well GetFlattenedSettings doesn't really make sense given the current config apis.  I don't really think ToKeyValuePairs actually is very clear compared to something with the word Flatten in it.

Since this is just a DepthFirstTraversal, maybe that makes it clear?

`DepthFirstEnumeration()`
`DepthFirstTraversal()`

[2016-02-24 17:35] nbarbettini commented on #368
This would be helpful. :+1:

[2016-02-24 17:38] nbarbettini opened #393 "Allow binding to IReadOnlyCollections"
Binding to `IList` and `IDictionary` works great out of the box.

It would be great if this worked too:
[code]

Internally, I think it'd make sense to instantiate a `Dictionary<,>` of the same generic parameters to back the property.

[2016-02-24 17:42] nbarbettini opened #394 "Allow binding to internal properties"
I have a settings class that I want to be immutable, i.e. I don't want the user to be able to change the value after the object has been hydrated by ConfigurationBinder.

To achieve this, it looks like:

[code]

Currently, ConfigurationBinder only looks for public setters, so this doesn't work.

[2016-02-24 17:48] davidfowl commented on #368
Why?

You guys are trying to turn this configuration binding into a general type deserializer. I think this goes too far. We shouldn't be storing type information in the file format. We want to keep settings decoupled from type information in general. It's just a loose bag of key value pairs in the end.

If you want something like this it should be expressed in the method signature:

[code]

[2016-02-24 21:34] HaoK commented on #370
Actually why can't we just call this Enumerate?

[2016-02-24 23:27] HaoK commented on #274
3480095916a8937748137a74c9db0377590446b0

[2016-02-24 23:27] #274 closed

[2016-02-25 00:12] divega commented on #368
Agreed with @davidfowl. It is not the intent to turn

[2016-02-25 00:15] divega commented on #368
(I hit the send button too soon) Agreed with @davidfowl. It is not currently our intent to turn `ConfigurationBinder` into a general type deserializer. We can always change our mind in the future if we get enough feedback and learn about new compelling scenarios for this but closing for now.

cc @shirhatti @danroth27

[2016-02-25 00:15] #368 closed

[2016-02-25 00:16] nbarbettini commented on #391
Or(/and) simply parsing JSON from a string variable?

[2016-02-25 00:23] divega commented on #370
I am not completely against any of these names besides probably the "depth first" ones, as I don't think the fact that is depth first is going to play much of a role :smile: Thinking of `Enumerate()` I also believe the existing LINQ idiom `AsEnumerable()` could work. The method would return an `IEnumerable` of `KeyValuePair<string,string>` which is a bit complicated but conceptually key value pair

[2016-02-25 00:42] MichaCo commented on #370
Well known terms (from linq) are ToList, ToArray, ToDictionary or AsEnumerable.
I'd use
`ToDictionary` returning `IDictionary<string, string>`), or
`AsEnumerable` returning `IEnumerable<KeyValuePair<string, string>>`

[2016-02-25 00:44] HaoK commented on #370
I like AsEnumerable as well

[2016-02-25 00:44] HaoK commented on #370
We could do both of those actually ToDictionary/AsEnumerable

[2016-02-25 00:46] MichaCo commented on #370
:+1:

[2016-02-25 01:22] divega commented on #370
Having `AsEnumerable()` is nice because unlike `ToDictionary()` it streams. Moreover once you have `AsEnumerable()` getting a dictionary is pretty easy using the existing LINQ operators:

[code]
So I don't think we would need to add `ToDictionary()`.

[2016-02-25 01:24] jonathanmarston commented on #368
The primary use case that I had in mind was to allow specifying implementations of various subsystems through configuration. A common use case could be logging. You could specify completely different loggers to use (file, database, email, etc) simply by modifying a config file. I realize the latest trend is to specify your implementations for DI in code rather than configuration, but for some scen

[2016-02-25 01:29] divega commented on #391
Last time I checked the dependency on having actual files was pretty light. In fact we use streams for testing and we had a recent contribution (https://github.com/aspnet/Configuration/commit/81115be8b1f1a369c08372d8e7b45317d434fd65) which changed the error handling logic to work entirely on streams.

I think this is very doable, especially if someone sent a PR.

[2016-02-25 01:31] HaoK commented on #370
So why don't we just make IConfiguration extend IEumerable instead of adding an AsEnumerable?

[2016-02-25 01:32] divega commented on #370
Mostly because it would automatically pollute our nice API with several dozen LINQ operators :smile: See my previous comment at https://github.com/aspnet/Configuration/issues/370#issuecomment-172984882.

[2016-02-25 01:49] divega commented on #394
I think it would be nice to remove this constraint from the "POCOs" the binder works with. @HaoK any thoughts on this?

cc @shirhatti

[2016-02-25 01:52] HaoK commented on #394
There was no particular reason other than picking public properties as an easy starting point. We can certainly bind to internal as well if that feels like a good behavior change.

[2016-02-25 01:58] divega commented on #394
Agreed, but let's discuss it a bit in triage. I am not sure that internal is necessarily the only way users would restrict access to members, e.g. private setters is also pretty common. It would also be cool if the binder aligned a bit more with property discovery conventions in EF Core. Besides that we should discuss doing this now vs. moving it to the backlog.

[2016-02-25 18:42] dtillman commented on #391
Great! ... Thanks!
I'll put a PR together and submit.

[2016-02-26 19:36] HaoK commented on #370
b958a68eb96dc38e4606c214b2e23952f60af9ff

[2016-02-26 19:36] #370 closed

[2016-02-29 00:59] dtillman opened #398 "Question: Naming guidance"
I am building a OSS configuration provider and could use some guidance on naming.

My understanding is that modules under the namespace Microsoft.Extensions.* represent extension points for ASP.NET5 (i.e. Configuration, Logging, DependencyInjection, etc.)  The modules with the naming Microsoft.Extensions.* are Microsoft implementations of those Extensions.

I've seen some discussion that suggest M

[2016-02-29 01:12] dtillman commented on #391
Status :PR ready, waiting for my company to approve cla.

[2016-02-29 06:35] Eilon commented on #398
The guidance is to name things whatever you want :smile:

In general, the first segment of the name should be the company name or product name (e.g. Microsoft, GitHub, AwesomeProduct, etc.). After that it's usually a sub-product name or feature area.

It's worth noting that all the Microsoft.Extensions.* stuff is *not* specific to ASP.NET at all. They are usable from console apps, phone apps, web

[2016-02-29 18:41] #398 closed

[2016-03-01 18:20] gu-co opened #400 "Reading configuration locks conf files and doesn't fail when a file is locked and can't be read"
We use  Microsoft.Extensions.Configuration.JsonConfigurationExtensions.AddJsonFile to add config files to our services. When running unit tests with some parallelism, we realized that this method of reading config files locks the files it reads, which is problematic when running multiple test that try to read the same config at once. The lock seems to be due to Microsoft.Extensions.Configuration.J

[2016-03-01 21:26] HaoK opened #401 "Revisit FileProviders"
Chatted with @lodejard and he had some thoughts about how we can improve these.

- Support IFileProvider abstraction directly
- Revisit how we expose BaseFilePath

[2016-03-01 22:59] shirhatti commented on #400
Let's revisit after changes to `IFileProvider`

[2016-03-01 23:09] shirhatti commented on #384
#401

[2016-03-01 23:20] shirhatti commented on #381
Are you running under IIS? IIS runs under it's own user and your "User variables" will not be accessible to your application.

[2016-03-02 14:24] eriksendc commented on #381
Which user would IIS be running under? So the environment variables are read by IIS, and then transferred to the identity of the app pool?

[2016-03-02 16:40] SajayAntony commented on #381
http://www.iis.net/learn/get-started/planning-for-security/understanding-built-in-user-and-group-accounts-in-iis

[2016-03-02 21:48] HaoK commented on #401
Make sure to Address https://github.com/aspnet/Configuration/issues/323 as part of this issue

[2016-03-02 22:38] divega commented on #401
Related existing issue: https://github.com/aspnet/Configuration/issues/183.

[2016-03-03 02:57] lmxin123 opened #403 "How can I update Configuration in Runtime"
When I modify appsetting.json file,
I have call builder.reload() mathod and Configuration data has updated.
but when use DependencyInjection to get IOptions<someclass> ,
the value has not update.
so ,how can update Configuration on runtime?

[2016-03-03 10:22] artganify opened #404 "Remove the ability to set configuration values"
Pretty old stuff, but since the ability to commit configuration has been removed in #147 according to issue #143 (any reason for that decision, btw?), we're still left with 'set' methods for configuration values on e.g. `IConfiguration` and `IConfigurationProvider`.

The 'set' methods somewhat imply that it's possible to store configuration. But since this is only temporary/in-memory, there's abso

[2016-03-03 10:25] #404 closed

[2016-03-03 10:26] artganify commented on #404
Okay, I just notices this somewhat duplicates #387,  #386 and #283. Nevermind.

[2016-03-07 22:45] divega commented on #376
Reopening as we probably need to make some changes based on the outcome of the discussion at https://github.com/aspnet/Templates/pull/415.

[2016-03-10 00:06] shirhatti commented on #403
https://github.com/aspnet/Options/issues/126

[2016-03-10 00:06] #403 closed

[2016-03-10 01:04] #376 closed

[2016-03-10 01:21] divega opened #406 "Re-revisit connection strings conventions"
### TL;DR
We changed our mind again: Connection strings will be expected to be added under a section called "ConnectionStrings". The Azure Web Site logic we have will align with that. We will also have sugar extension methods to make how to consume connection strings more discoverable.

### Details

As a follow up to the discussions we had in the template changes at https://github.com/aspnet/Templ

[2016-03-11 21:45] HaoK commented on #406
I don't like number 4, the sugar seems more magical and less flexible (and more characters than) config["ConnectionStrings:Foo"].

[2016-03-11 23:10] divega commented on #406
@HaoK I think in the meeting me decided to do it even if some people may not like it.

[2016-03-11 23:31] HaoK commented on #406
I remember the vote on the three options. This must have been tacked on while I wasn't paying close attention :).  I'll go ahead submit a pr to templates with the proposed sugar change to make sure there is no pushback.

[2016-03-15 12:26] langtu commented on #359
Sorry for late response.
@HaoK  @divega You're right. I talked about calling `GetValue()` before `setter`.
@HaoK Another equivalent: `[JsonIgnore(Kind=Setter)]`, `Kind` = `[All, Setter, Getter]`, and default value = `All`

[2016-03-15 19:16] GunterGlad opened #409 "GetValue returning default"
Currently when we do Configuration.GetValue it keeps returning the default value. We are running the latest version.

We have this code:
[code]
This is the config I have:
[code]
and this is my object
[code]

I have submitted this pull request to fix the bug:
https://github.com/aspnet/Configuration/pull/405#issuecomment-194041162

[2016-03-15 23:23] HaoK commented on #409
Well, GetValue doesn't work against sections anymore.  I'm not personally in love with this distinction, but this was the behavior that the 'Value' suffix is trying to imply...

 @divega

[2016-03-15 23:25] HaoK commented on #409
You need to call `GetSection("email").Bind(emailSettings)` now (RIP Get)

[2016-03-15 23:26] GunterGlad commented on #409
Thanks for the explanation.

[2016-03-16 16:08] artganify opened #410 "Revisit configuration API (design flaws)"
Alright, here's a big one. I played around with the current state of the configuration API a little while (both the `Microsoft.Extensions.Configuration.Abstractions` as well as the `Microsoft.Extensions.Configuration` implementations) and I noticed various inconsistencies, design flaws, not really obvious behaviors etc. etc. A lot of the things I'm going to mention here have already been discussed

[2016-03-16 22:58] #409 closed

[2016-03-20 23:18] John0x opened #411 "services.Configure not working with Configuration"
Hey, I'm using the newest unstable coreclr version of dnx (upgraded using dnvm upgrade -u -r coreclr today).

[code]

Does not work, even though the official documentations says it should.
services.Configure<Settings>(Configuration.GetSection("Settings"));
Does not work either, since the Configure method expects an Action<Settings>

Where is the problem?

[2016-03-20 23:33] davidfowl commented on #411
Make a full sample, put it on github and we'll have more data about what's not working and why.

[2016-03-21 08:03] John0x commented on #411
Well, it's pretty simple actually.
It's just a standard asp.net webApi project which I've modified to work with rc2.

project.json:
`
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true,
    "preserveCompilationContext": true
  },
  "tooling": {
    "defaultNamespace": "ShopApi"
  },

  "dependencies": {
    "AspNet.Raven": "1.0.0-*",
    "Microsoft.AspNetCore.IISPlatfor

[2016-03-22 19:11] HaoK commented on #366
Cutting chained providers as part of config changes

[2016-03-22 19:11] #366 closed

[2016-03-22 19:12] HaoK commented on #323
Handled as part of https://github.com/aspnet/Configuration/issues/401

[2016-03-22 19:12] #323 closed

[2016-03-30 19:43] ghousemm opened #415 "Issue with Reloading strongly typed configuration when appsetting.json is changed."
Hi,
            I have  been able to set up strongly typed configuration in ASP.NET 5, and it works fine. I have also set the configuration to reload automatically when the  appsettings.*.json configuration files are changed. But this only seems to work if I use the untyped configuration. The strongly typed configuration class still retains the old values when the appsettings.json files are change

[2016-03-30 22:39] HaoK commented on #411
You are just missing the reference to the `Microsoft.Extensions.Options.ConfigurationExtensions` which contains this method.

[2016-03-30 22:39] #411 closed

[2016-03-30 22:45] HaoK commented on #384
We've made this better with the PR for #401

[2016-03-30 22:45] #384 closed

[2016-03-30 22:45] #381 closed

[2016-03-30 22:46] HaoK commented on #379
For now we think this would be a good sample, feel free to submit a PR for the Entropy repo which is where we put our samples like this...

[2016-03-30 22:46] #379 closed

[2016-03-30 22:49] HaoK commented on #348
We can consider this again if people run into this in the future

[2016-03-30 22:49] #348 closed

[2016-03-30 22:49] #344 closed

[2016-03-30 22:50] #352 closed

[2016-03-30 22:55] #317 closed

[2016-03-30 22:56] HaoK commented on #278
@sayedihashimi this isn't really a configuration issue, do you want to track this somewhere else?  Closing for now

[2016-03-30 22:56] #278 closed

[2016-03-30 22:59] HaoK commented on #120
Can you take a look and add documentation if we are still missing any?

[2016-03-30 23:01] #367 closed

[2016-03-30 23:06] HaoK commented on #362
@shirhatti Can you make sure we have some updated samples somewhere since Lou's blog is definitely out of date

[2016-03-31 00:17] nbarbettini commented on #379
Will do, thanks @HaoK

[2016-03-31 20:13] HaoK commented on #302
Yeah I thought I saw empty name tests, they were added in https://github.com/aspnet/Configuration/commit/f4e4e530b0baeb6c939e6a63950acdd3d26be832

[2016-03-31 20:13] #302 closed

[2016-03-31 20:15] HaoK commented on #332
Can you give a concrete example with inputs and then of what you expect the output to be so I can try and explain what the issue is?

[2016-03-31 21:42] HaoK commented on #401
30e59f1190e01a9ae0c2fae4022af5ba3ca2eafd

[2016-03-31 21:42] #401 closed

[2016-03-31 21:43] HaoK commented on #351
30e59f1190e01a9ae0c2fae4022af5ba3ca2eafd

[2016-03-31 21:43] #351 closed

[2016-04-01 04:19] HaoK opened #418 "Cleanup for file changes"
So few things we should consider revisiting.

Source.Path might not be the best name now that its no longer absolute, perhaps this should be changed to something like FileName instead?

Related, maybe we should do some validation and eagerly throw when an absolute path is passed in, as opposed to just failing to find the file since it just basically will never work.

Cleanup/resolve the GetBasePat

[2016-04-01 23:29] HaoK commented on #418
Reverted the UserSecrets changes, should be good for now...

5d6b9e547d27cd6d44dabec91059b1f029f50c17

[2016-04-01 23:29] #418 closed

[2016-04-04 08:33] HaoK commented on #121
We added a base class, but we went for an IFileProvider based class instead of streams directly, that said, there's also an overload for Load(Stream) as well.

see https://github.com/aspnet/Configuration/pull/407

[2016-04-04 08:33] #121 closed

[2016-04-04 08:34] HaoK commented on #183
We added FileConfigurationProvider/Source which enables this

[2016-04-04 08:34] #183 closed

[2016-04-04 08:36] HaoK commented on #256
"." is definitely no longer supported by the built in PhysicalPathProvider as of https://github.com/aspnet/Configuration/pull/407, can use something like Directory.GetCurrentDirectory() for the base path instead.

[2016-04-04 08:36] #256 closed

[2016-04-04 08:37] HaoK commented on #6
This was added via GetReloadToken

[2016-04-04 08:37] #6 closed

[2016-04-04 08:39] HaoK commented on #98
Can hook up change notifications via GetReloadToken()

[2016-04-04 08:39] #98 closed

[2016-04-04 08:44] jods4 commented on #256
This was a quite old ticket.

It seems that with RC1 doing `new ConfigurationBuilder()` is actually the same as `new ConfigurationBuilder(".")` in beta-6, i.e. the files are looked for in the application path.

`GetCurrentDirectory()` is rather fragile, I prefer to use `IApplicationEnvironment` if I have to.

[2016-04-04 20:28] llCorvinSll commented on #332
as i sad before:
 file A:
[code]
file B:
[code]
and i want be able to set behavior for replacing collection from file A on file B (not merge as now)
so in result:
[code]

[2016-04-04 21:20] HaoK commented on #332
Okay, yeah so the behavior where we merge is by design.  As David mentions, what you are looking for is transform which isn't something config is going to do.

[2016-04-04 21:20] #332 closed

[2016-04-04 21:28] HaoK commented on #415
This should work, so when you change the json that should trigger the configuration instance to automatically update and see the new values.  Are you not seeing that behavior on the next request after modification?

[2016-04-04 21:40] HaoK commented on #400
I tried this with the latest bits which are now using FileProvider, and we no longer silently fail and instead throw something like:

"      System.IO.IOException : The process cannot access the file 'C:\GitHub\Configuration\test\Microsoft.Extensions.Configuration.FunctionalTests\bin\Debug\netstandardapp1.5\win7-x64\reload.ini' because it is being used by another process."

My repro:

[code]

[2016-04-04 21:40] #400 closed

[2016-04-04 21:42] HaoK commented on #286
@divega what's the ask here?  Uri still isn't supported on core by type converter...

[code]

[2016-04-04 21:51] divega commented on #286
The larger issue is what the title says, perform exploratory testing on the feature :smile:

If there is still a gap in type converters please file a bug in https://github.com/dotnet/corefx/ for it.

[2016-04-04 22:02] ghousemm commented on #415
Yes I'm not seeing that new updated values for strongly typed configuration json using the IOptions pattern
IOptions<CCMSettings> ccmSettings

But if I used the untyped configuration json values using the IConfiguration interface it does update the values.

Can you please advise and let me know how to make it work with strongly typed version.

Thanks
Ghouse

[2016-04-04 22:09] HaoK commented on #286
Yeah this used to have more bullet points which we addressed already/filed other bugs (i.e. error handling).

I filed https://github.com/dotnet/corefx/issues/7501 for the type converter.  I'll close this now since all the original issues were addressed unless there was something else you feel still needs to be explored...

[2016-04-04 22:09] #286 closed

[2016-04-04 22:14] HaoK commented on #415
Try using the OptionsMonitor see https://github.com/aspnet/Options/blob/dev/test/Microsoft.Extensions.Options.Test/OptionsMonitorTest.cs#L146

[2016-04-04 22:14] #415 closed

[2016-04-04 22:23] HaoK opened #419 "Revisit OptionsMonitor/ReloadableOptions/ChangeTracking"

[2016-04-05 00:53] ghousemm commented on #415
Hi    Can you please share the link to download rc2 bits as im on rc1 update 1

Sent from Outlook Mobile

On Mon, Apr 4, 2016 at 3:14 PM -0700, "Hao Kung" <notifications@github.com> wrote:

Try using the OptionsMonitor see https://github.com/aspnet/Options/blob/dev/test/Microsoft.Extensions.Options.Test/OptionsMonitorTest.cs#L146

---
You are receiving this because you authored the thread.
Reply t

[2016-04-05 17:45] divega opened #420 "Review AddXyz() method overloads to make the API more consistent"
Currently we have a mix of overloads that take some discrete parameters for things like file names and optionality and overloads that take lambdas for things like reload. Even in the simplest usage in the default templates we have a mix that doesn't seem very cohesive (see https://github.com/aspnet/Templates/pull/477). This item is to track doing some API review and if possible cleanup and rationa

[2016-04-05 19:58] HaoK commented on #415
Sure see https://github.com/aspnet/Home/wiki/NuGet-feeds

[2016-04-06 18:42] razblack opened #421 "System.IO.FileNotFoundException if using AddJsonFile in ConfigurationBuilder"
sample Startup ctor:

        public Startup()
        {
            Configuration = new ConfigurationBuilder()
                    .SetBasePath("")
                    .AddJsonFile("config.json")
                    .AddEnvironmentVariables()
                    .Build();
        }

config.json allows me to add some json parameters and strings to use in Startup in a nice way.

the error that gets

[2016-04-06 21:10] razblack commented on #421
ok, this can be closed...   by adding SetBasePath("");  i was actually changing it, simply removing it did the trick.

[2016-04-06 21:10] #421 closed

[2016-04-06 23:27] shirhatti commented on #362
Samples for rc1 live on the docs site at https://docs.asp.net/en/latest/fundamentals/configuration.html
There is already an issue on the docs repo that tracks updating all docs to use the latest bits https://github.com/aspnet/Docs/issues/1049

[2016-04-06 23:27] #362 closed

[2016-04-07 07:27] damienpontifex commented on #344
For anyone looking to resolve this issue, I found this answer as the best explanation and instructions to migrate http://stackoverflow.com/a/31142406

[2016-04-07 07:57] divega commented on #344
@damienpontifex Thanks. Yes,  that summarizes how it works. I have to say though,  I was assuming the whole time you were already doing that. Could you explain what you were doing differently and what made it hard to understand?
BTW, in RC2 the key naming convention is changing from `Data:name:ConnectionString` to `ConnectionStrings:name`.

[2016-04-07 08:08] damienpontifex commented on #344
In my arm template under connection strings, I was explicitly defining the whole key i.e.
[code]

where as it should be:
[code]

And then in code still accessing it as `Configuration["Data:DefaultConnection:ConnectionString"];` as always

[2016-04-07 08:17] davidfowl commented on #344
There's a new API that makes this a little easier https://github.com/aspnet/Configuration/commit/9230cdb59ad38b74435bc39c0c8699d6a07c5e39

[2016-04-07 08:19] damienpontifex commented on #344
Thanks @davidfowl :) I assume that's available and expected to be in RC2?

[2016-04-07 08:48] davidfowl commented on #344
Yep

[2016-04-07 14:52] xferra commented on #125
Unfortunately there is no way to read arrays from XML ([FormatException](https://github.com/aspnet/Configuration/blob/master/src/Microsoft.Extensions.Configuration.Xml/XmlConfigurationProvider.cs#L149)). Arrays are supported in JSON and INI configs.
Does anybody plan to add support for Arrays in XML?

[2016-04-07 16:06] tillig commented on #125
You can do arrays in XML, you just have to give the XML element a `name` with the array index, like:

[code]

[2016-04-07 16:51] xferra commented on #125
@tillig Thanks for the answer, but what if I need to use "name" attribute for other purposes?

[2016-04-07 16:58] tillig commented on #125
[The `name` attribute is special.](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Xml/XmlConfigurationProvider.cs#L17) If you need array behavior, this how you do it. There's no "override" or configuration/customization for it.

The whole way arrays work is that the "name" of the element is the array index. Iterating through "arrays" in the configuration so

[2016-04-07 23:49] divega opened #422 "Restore GetBasePath() for UserSecrets and anything else that needs it"
It turns out the current design UserSecrets intentionally uses project.json as a configuration file, therefore it was correct to rely on the path set by `SetBasePath()` on the configuration builder to find it. We should add `GetBasePath()` in Configuration because it is generally useful and to avoid duplicating the code in packages that depend on it such as User secrets.

Issue https://github.com/

[2016-04-08 00:13] divega commented on #422
The implementation could do something like `return builder.GetFileProvider().GetFileInfo(@".\").PhysicalPath`.

[2016-04-08 00:59] divega commented on #422
Actually scratch this. UserSecrets should just call `GetFileProvider()` and use that file provider to try to open project.json.

[2016-04-08 00:59] #422 closed

[2016-04-25 21:18] divega opened #425 "Remove Microsoft.Extensions.Configuration.FileExtensions.ConfigurationRootExtensions"
This class contains different overloads of the `ReloadOnChanged()` extensions on `IConfiugurationRoot`, and it seems to be just a leftover of the RC1 design.

[2016-04-25 21:23] divega commented on #420
In the templates review today the feedback was that the lambda overloads of the `AddXyz()` methods have a lot of syntax overhead and that we should have overloads with discrete parameters for the simple cases, including one that takes both `optional`  and `reloadOnChange`.

cc @haok @davidfowl @DamianEdwards @rustd

[2016-04-25 21:25] divega commented on #420
Also moving this to RC2.

[2016-04-25 21:26] blakepell opened #426 "AddJsonFile errors accessing UNC path"
I'm getting a System.IO.FileNotFoundException exception loading a config file from a UNC path.  The file does exist.  The AD account running the app pool has permissions to this file/folder (and can access via multiple other mechanisms).  The DNX server is running through IIS/HttpPlatform.  We are targeting the full framework.

[code]
Here are other observations:

1. I have verified the app pool i

[2016-04-25 21:30] divega commented on #425
Moving this to RC2 as my understanding is that we want the majority of the template cleanup to happen now, and we should avoid releasing APIs in RC2 that we won't support in RTM.

[2016-04-25 21:44] divega opened #427 "API feedback on IConfigurationSource consistency"
In the template review today we played with the usage of [`IConfigurationSource`](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Abstractions/IConfigurationSource.cs) in the built in `AddXyz()` method overloads:

             var builder = new ConfigurationBuilder()
                 .SetBasePath(env.ContentRootPath)
                 .AddJsonFile(source =>

[2016-04-25 23:30] rustd commented on #420
This is what the template should look for RC2

[code]

[2016-04-26 00:14] rustd commented on #420
As part of this change can we also remove any existing APIs that take ReloadOnChanged as follows
Configuration = builder.Build().ReloadOnChanged("appsettings.json");

[2016-04-26 21:39] HaoK commented on #425
7e98d3c1dcb107a7c46cee5019f888268da109b5

[2016-04-26 21:39] #425 closed

[2016-04-26 21:40] HaoK commented on #420
7e98d3c1dcb107a7c46cee5019f888268da109b5

[2016-04-26 21:40] #420 closed

[2016-04-26 21:50] HaoK commented on #420
@rustd @phenning Now that these are in, templates can switch to these new overloads

[2016-04-26 21:52] rustd commented on #420
@phenning Can you please update the templates with the next coherence signed build?

[2016-05-01 04:24] davidfowl opened #429 "Consider merging command line and environment variables into the main configuration package"
Those 2 things don't have any dependencies on anything other than the BCL so it seems like a good candidate for merging.

/cc @Eilon @mikeharder @divega @HaoK

[2016-05-01 12:19] herecydev commented on #410
It totally does; would be much better having multiple issues that can be addresses individually.

Regarding the persisting configuration, I'm not sure I agree with it being a good idea. I think having a mutable configuration is, without caution, a dangerous precedent. Often, I'm relying on immutable deployments and versioning of code to guarantee I'm running what I expect. Having code potentially

[2016-05-02 11:21] artganify commented on #410
Hello @herecydev.

Yeah, I initially thought about creating multiple issues for the individual parts of the current one, however the reason I ended up creating a single issue is simply because the main 'issue' is that the `Microsoft.Extensions.Configuration.Abstractions` namespace contains contracts with inconsistencies, not self-evident methods etc. The individual 'issues' I mentioned are just ex

[2016-05-02 14:22] herecydev commented on #410
Doesn't mean you shouldn't split it out logically. It's no different to splitting classes into single responsibility, purpose built entities. Makes it more flexible, easier to understand and maintain.

It's simply the value that was registered last. Could raise a separate issue to add that to the XML docs in order to clarify the behavior. Though I would imagine, it's a discourageable practice anyw

[2016-05-03 18:00] NinoFloris opened #430 "AsEnumerable not giving key but gives full path"
As can be seen in the attached link there is a call to section.Path instead of section.Key. While the method states it returns the key value pairs of this section, this implies its key should be scoped to this section.

Is this something that can still be added to RC2?

https://github.com/aspnet/Configuration/commit/b958a68eb96dc38e4606c214b2e23952f60af9ff#commitcomment-17340805

[2016-05-04 01:54] divega commented on #430
It uses the `Path` by design because `Path` represents the full key of an entry in the configuration. The `Key` of a section is in fact scoped to the parent path of the section. How would you differentiate "B:A" from "C:A" in the results of `AsEnumerable()` if it returned just `Key`?

[2016-05-04 01:56] divega commented on #429
I agree we should do this for RTM

cc @HaoK @shirhatti

[2016-05-04 15:21] Mertsch commented on #410
I would like to add to the discussion the fact that Config and DI setup works basically the same way by using a "builder", but they have been named two completely different things

Consider the following code to see the differences
[code]
Functionality is basically the same, naming is completely different between the two.

[2016-05-04 17:35] herecydev commented on #410
I could see why you think that, they are both providers of something. However, that's where it kind of ends. Configuration is responsible for managing `IConfigurationProviders` and provides a sort of giant list. The `IServiceProvider` manages all the `ServiceDescriptors` but has more responsibilities around lifetimes of objects, dependency graphs and how to build them.

It wouldn't make sense to m

[2016-05-05 15:08] Mertsch commented on #410
@herecydev No, that's not what I was trying to say, it was more about the pure naming and use. The systems themselves should be separate.
To make it more clear what I mean I'll list the points
1. Both "build" a usable instance of something one is called `ConfigurationBuilder` the other one `ServiceCollection` why not `ConfigurationCollection` or `ServiceBuilder`
2. You call `.Build();` and `.Build

[2016-05-05 15:31] herecydev commented on #410
The `ConfigurationBuilder` takes multiple sources/providers and doesn't have any collections of configuration in itself; it simply builds a ConfigurationRoot that has the providers. The `ServiceCollection` *contains* a collection of `ServiceDescriptors` and you can add/remove directly to this collection. With these key differences, you can see the naming actually makes sense.

This probably could

[2016-05-05 17:14] victorhurdugaci opened #431 "Reload on change is confusing"
From scenario: https://github.com/aspnet/Release/issues/66

It works in the basic case but it gets confusing when you have multiple configuration sources.

Assume you have (in this order)
- json
- env variables

As long as your configuration key is set only in the json file, then it will reload when you change it. However, if you set the environment variable then there's no way to change it on the

[2016-05-05 17:31] victorhurdugaci opened #432 "Reload on change works only once"
From scenario: https://github.com/aspnet/Release/issues/66

1. Create the default web app in VS
2. Set all the log levels to `None` in `appsettings.json`
3. Run and notice no logs in console (expected)
4. Change Microsoft log level to `Debug` and notice logs in console (expected)
5. Change Microsoft log level back to `None`

Expected: logs stop showing up
Actual: Debug logs still show up

It seems

[2016-05-05 21:32] divega commented on #432
@victorhurdugaci thanks for the details on this. Have you tried or are you planning to try reload on non-logging scenarios? Just wondering about the scope of the issue.

[2016-05-05 22:11] victorhurdugaci commented on #432
It's not logging specific. You can repro with this simple console app:

[code]

The token only fires once

[2016-05-05 22:14] divega commented on #432
That is by actually by design. We supposedly have code in the callbacks of components that are listening to this (e.g. Logging and reloadable options) that takes care of rewiring the callback to a new token, but apparently that isn't working correctly.

[2016-05-05 22:15] victorhurdugaci commented on #432
Okay, then this is a logging issue

[2016-05-05 22:16] victorhurdugaci commented on #432
cc @cesarbs because he tests logging

[2016-05-05 22:18] divega commented on #432
Yep, though this is probably the right repo for the bug anyway. Thanks.

[2016-05-05 22:29] victorhurdugaci opened #433 "Reload token doesn't trigger on file deletion"
From scenario: https://github.com/aspnet/Release/issues/66

Run this app:

[code]

1. Create a copy of `appsettings.json` somewhere and make some changes to the copy.
2. Delete the original `appsettings.json` (notice that the token doesn't fire. expected?)
3. Copy the copied settings file back where the original `appsettings.json` was

Expected: token fires because the has settings have been updat

[2016-05-06 18:40] victorhurdugaci opened #434 "Show where each configuration key came from"
It would be nice if on the most verbose level you could get a log message when calling `ConfigurationBuilder.Build` showing you from where each loaded key comes from. Something like:

[code]

[2016-05-06 18:59] victorhurdugaci opened #435 "Cannot read configuration environment variables if they have different casing (OSX)"
From scenario: https://github.com/aspnet/Release/issues/66

Use this program:

[code]

Then run:
[code]

Now swap the WriteLines in the program (read `L1:NotACSharpIdentifieR` first) and run:

[code]

So, it seems that the first read is the one can be read. It's impossible to get the value for the second one.

[2016-05-07 06:40] katgironpe commented on #276
I currently work on an on ASP.NET MVC app, and wish there was a way to support `dotenv.` I tried options like `sourceConfig` but it doesn't work great.

[2016-05-09 20:00] danroth27 commented on #435
By design - config is a case insensitive dictionary (see #222).

[2016-05-09 20:00] #435 closed

[2016-05-11 18:07] rahulsahay19 opened #436 "While hosting ASP.NET Core on IIS."
:(  Oops.
500 Internal Server Error
An error occurred while starting the application.

Log File says:-
Application startup exception: System.Exception: Could not resolve a service of type 'MovieReviewSPA.Data.SampleData.InitialData' for the parameter 'seedDbContext' of method 'Configure' on type 'MovieReviewSPA.Web.Startup'.
   at Microsoft.AspNet.Hosting.Startup.ConfigureBuilder.Invoke(Object ins

[2016-05-13 19:36] cesarbs opened #437 "Should AsEnumerable() include top level section elements?"
Given this config:

    {
      "ConnectionStrings": {
        "DefaultConnection": "foo"
      },
      "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
          "Default": "Debug",
          "System": "Information",
          "Microsoft": "Information"
        }
      }
    }

If you enumerate it, you get:

    Logging: (null)
    Logging:LogLevel: (null)
    Logging:LogLevel:

[2016-05-13 20:09] divega commented on #437
We should definitively make an explicit call here. Note that in the Configuration model any key path can be associated with a value and a set of children keys at the same time, e.g.:

[code]

So the question isn't really about excluding the "top level elements" or the "sections" but simply about filtering out any key path that doesn't have a value associated with it.

From my point of view removin

[2016-05-14 04:28] rahulsahay19 commented on #436
I fixed this. DB was the issue!

[2016-05-17 22:41] HaoK commented on #429
Looks like the only change to project.json for Configuration would be bumping the netstandard from 1.1 to 1.3 for `Environment.GetEnvironmentVariables()`

[2016-05-18 00:20] davidfowl commented on #429
URRRRRGGGGGGHHHH, we can cross compile

[2016-05-18 20:49] HaoK commented on #429
@davidfowl you mean something like this instead of bumping things to 1.3?
[code]

[2016-05-18 23:03] #430 closed

[2016-05-18 23:15] shirhatti commented on #434
This is not the first time we've received this feedback. We are considering taking this post 1.0

[2016-05-18 23:15] #431 closed

[2016-05-18 23:20] #437 closed

[2016-05-18 23:27] #357 closed

[2016-05-19 04:46] realavaloro opened #439 "ConfigurationBinder missing extension on IConfiguration"
In ASP.NET 5 RC1 I was able to do something like this:
`var originUris = Configuration.GetSection("Cors:OriginUris").Get<List<string>>();`
to retrieve a list of urls from my settings file
[code]
Now in RC2 this does not work and I have noticed that it's because `Microsoft.Extensions.Configuration.ConfigurationBinder` has no extension on `IConfiguration` to get a T from it.
Now it has things like `

[2016-05-19 05:26] HaoK commented on #439
Try:
[code]

[2016-05-19 20:45] HaoK commented on #433
Yeah I can repro this in a unit test, deleting files for some reason doesn't fire change notification, but writing to the file does.

[2016-05-19 21:00] HaoK commented on #433
Looks like a bug in FileProviders with the watcher not firing on delete, as the following test fails, I will open an issue in FileSystems repo

[code]

[2016-05-20 04:41] realavaloro commented on #439
Excellent @HaoK, it works well with your suggestion. Thanks.

[2016-05-20 04:41] #439 closed

[2016-05-20 17:40] chrisdrobison opened #440 "Always SetBasePath?"
I've been using this library since beta 4 and there are somethings there were working that aren't now and the documentation is a little vague. Before I was able to do the following:

[code]

I'm using the absolute path because that is where our operation department has standardized our production config location. Now what happens is that I have to jump through so hoops to get the relative path one

[2016-05-20 18:17] HaoK commented on #440
Correct absolute paths are no longer supported. You can set the BasePath to the directory for your relative paths.  This is due to the change underneath the covers to use IFileProviders which do not support absolute paths.

[2016-05-20 18:24] chrisdrobison commented on #440
So what would be the recommended way of pulling from multiple directories? Explicitly creating differently rooted file providers and instantiating the respective config providers with those file providers?

[2016-05-20 18:28] HaoK commented on #440
Yes each file based provider has a FileProvider property in its Source so you can point that at each particular root directory. We don't have any sugar around this right now.

[2016-05-20 18:46] chrisdrobison commented on #440
OK, thanks for the direction. It might be good to update the docs with examples for doing this.

[2016-05-21 12:03] MrAntix commented on #277
Hi, where has IConfigurationRoot.Get<>("") gone?

[2016-05-21 13:28] XcoderTeam opened #441 "Upgrade RC2"
Hi

What is going wrong in this code below, have issue I always get null when get the connectionstring.
This ConfigurationBuilder() it is on the **class library**.

var builder = new ConfigurationBuilder()
                            .AddJsonFile("appsettings.json", optional: true, reloadOnChange: true)
                            .AddEnvironmentVariables();

builder.AddInMemoryCollection();
var c

[2016-05-21 13:38] divega commented on #277
@MrAntix try including Microsoft.Extensions.Configuration.Binder. There are a couple of extension methods there:
- `Bind()` structurally matches the properties of an object and assigns the corresponding values from a configuration section
- `GetValue<T>() ` converts and returns the value of a configuration key

[2016-05-21 13:42] MrAntix commented on #277
thanks @divega  :) that got me in the right place, this works for me

            var settings = new MySettings();
            Configuration.GetSection("MySettings").Bind(settings);

[2016-05-21 13:55] divega commented on #441
I would recommend diffing your code with the one the new tooling (preview 1) creates for a new ASP.NET Core app. A couple of things that I can see at first glance:
- Adair you now need to set the base path on the configuration builder to find the appsettings.json file and any other file (temporarily passing `optional: false` should tell you whether the file is being found)
- There isn't much point

[2016-05-21 14:20] drasockalypse opened #442 "Can't bind IDictionary"
Properties which directly expose `IDictionary` aren't bound, while properties which derive from `IDictionary` will.

For example:

[code]

[2016-05-22 14:24] XcoderTeam commented on #441
@divega Thanks it work now. I must SetBasePath

[2016-05-23 18:56] divega commented on #427
We discussed this. Providers are now required to implement an `IConfigurationSource` and we are generally happy with the code improvements the introduction of this abstraction enabled.

However it seems we have full coverage for all parameters in the `AddXyz()` overloads of all the providers included in this repo and the lambda overload only exists in `IniConfigurationExtensions`, `JsonConfigurati

[2016-05-23 19:17] HaoK commented on #427
You can't remove them, as then there would be no way to set the FileProvider which is the only way to resolve files outside of the current directory.  The overloads are the only way to work around the removal of absolute paths.  If we added some new way to take an absolute path, then we would have full coverage.

[2016-05-23 19:29] divega opened #443 "Cleanup: Rename DefaultConfigurationBuilderExtensions"
There are only in-memory related methods left, and we can always add another class if we add a new built-in provider.

[2016-05-23 19:40] divega commented on #427
@HaoK Can't the user always do this?:

[code]

Is the scenario important enough and the code above hard enough that we need sugar for it? If the answer is yes, I would consider adding the discrete overloads, because it seems more consistent with everything else we have decided to do in the sugar methods.

[2016-05-23 19:45] HaoK commented on #427
What we are missing right now, is an easy way to do what was a one liner before (adding an absolute path file)...

`builder.AddJson("c:\\absolutepath\\foo.json")`

The lambda overload is certainly better than telling them to drop down to new XyzSource.  What discrete overload are you proposing?  We'd have to add a full permutation set of overloads given the current direction we are heading...

[2016-05-23 20:18] HaoK commented on #429
Per https://github.com/aspnet/Configuration/pull/438 not doing this.

[2016-05-23 20:18] #429 closed

[2016-05-23 21:33] HaoK commented on #432
I can't repro this issue for logging, here's the test I tried, which changes the configuration

[code]

[2016-05-23 21:34] HaoK commented on #432
@cesarbs can you actually repro this behavior?

[2016-05-23 21:39] HaoK commented on #432
I tried manually on an app as well, toggling Microsoft to None/Information a few times and things worked as far as I could tell with the logs showing up and then not showing up each time

[2016-05-23 23:26] divega commented on #427
Yes, I understand that, but I just don't see what in the lambda overload helps you more than `builder.Add(new XyzSource {...})`. The (relatively) hardest part seems to be to create the file provider, and that you have to do regardless, because we also removed the ability to interleave calls to `SetBasePath()` and adding providers!

In fact, if binging back the ability to work with absolute paths i

[2016-05-25 09:41] am11 commented on #441
This took me a long time to figure this one out. This was the last piece in my upgrade. I actually stumbled upon this v.cool @shawnwildermuth's blog https://wildermuth.com/2016/05/17/Converting-an-ASP-NET-Core-RC1-Project-to-RC2, which pointed me to right direction. :)

[2016-05-25 14:24] dtillman opened #444 "IConfigurationSource change causes Providers Load() to be called twice ... by design?"
It looks to me that providers Load() method is being called twice now (RC2 bits). Once when the Build() method is called on ConfigurationBuilder and then again when ConfigurationRoot is constructed.  Is this intended?

[2016-05-25 19:42] #432 closed

[2016-05-25 19:44] HaoK commented on #444
Nope, we should pick one of these Load calls only.  @divega have a preference which class owns calling Load?

[2016-05-25 20:47] conniey commented on #432
I am currently experiencing this issue as well... The event only gets fired once for my appsettings.json file.

## Repro Steps
1. Copy `Program.cs` below.
2. Add [appsettings.json](https://github.com/aspnet/Docs/blob/master/aspnet/fundamentals/configuration/sample/src/UsingOptions/appsettings.json) to project
3. Change properties for appsettings.json to copy to output directory.
4. Compile and run

[2016-05-25 20:49] divega commented on #444
@dtillman good catch!

@HaoK it seems that

[2016-05-25 20:52] divega commented on #444
@dtillman good catch!

@HaoK it seems that `ConfigurationRoot` already has logic to load providers because of `Reload()`, and it seems cleaner to constrain the responsibility of the builder to just build the list of providers and pass it to the root, so I would vote for removing the call to `Load()` in the builder.

[2016-05-25 20:53] HaoK commented on #432
RegisterChangeCallback is only going to fire once, you need to reregister it for it be fired again.

There's a helper in Primitives which takes care of making the callback persistent
[code]

[2016-05-25 20:56] conniey commented on #432
@HaoK Thanks for clarifying this behaviour! Is there going to be any documentation explaining this? There weren't any docs to go off of, so I assumed that it would be persistent.

[2016-05-25 20:58] HaoK commented on #432
I hope so :)

[2016-05-25 22:42] divega commented on #432
I created an issue in the docs repo: https://github.com/aspnet/Docs/issues/1291

[2016-05-26 19:55] HaoK commented on #427
009a062fc6dd2a49ccef376d1c0e3ca47e252577

[2016-05-26 19:55] #427 closed

[2016-05-26 19:56] HaoK commented on #444
9a8825a6399be31c16e78c2313136ae0c26c09e0

[2016-05-26 19:56] #444 closed

[2016-05-26 19:57] HaoK commented on #419
Sample-izing for now, changing title to revisit

[2016-05-26 19:57] #419 closed

[2016-05-26 19:58] HaoK commented on #419
Moving to Options repo

[2016-05-26 20:00] HaoK commented on #433
Tracked in FileSystem issue

[2016-05-27 09:07] sirentek opened #447 "Configuration doesn't support non-ascii characters."
Hi,

Steps to produce:

Create a .json config file as:
[code]

[code]

I changed my appsettings.prod.json file encoding to utf-8 and unicode using notepad.
The problem resists..

IMO, it may be caused by encode used by the stream reader in json file configuration provider ?

Any ideas ?
Thanks.

[2016-05-27 11:02] sirentek commented on #447
I use RC2 release branch and I didn't have this issue with RC1.

[2016-05-27 19:01] shawnwildermuth commented on #441
Thanks for the plug.

[2016-05-27 19:06] divega commented on #441
Closing since I believe we have answered the question. Please create a new issue if you run into new issue or reactivate/respond to this thread if something about the answer isn't clear.

[2016-05-27 19:06] #441 closed

[2016-05-27 21:33] sirentek commented on #447
I think the problem is related with Chinese Traditional characters. It seems they are not supported.

I didn't get any problem with other languages like Greek, Armenian etc using RC2.

[2016-05-28 01:32] divega commented on #447
@HaoK it seems this needs investigation. It may meet the bar for RTM.

[2016-05-29 01:36] divega commented on #443
Fixed in https://github.com/aspnet/Configuration/commit/9a8825a6399be31c16e78c2313136ae0c26c09e0

[2016-05-29 01:36] #443 closed

[2016-05-29 01:43] divega commented on #440
FYI you will be able to use absolute paths in RTM. If you use a rooted path for the file we will automatically create a physical file provider in that path. This was fixed in 009a062fc6dd2a49ccef376d1c0e3ca47e252577.

[2016-05-29 01:43] #440 closed

[2016-05-29 01:54] divega commented on #391
Moving to backlog. This is still something we would like to do,  possibly on all file based providers,  but it wasn't high priority enough to do it in 1.0.1 (and we didn't get a PR on time) .

[2016-05-29 01:58] divega commented on #380
@steelheaddigital sorry we didn't follow up on this. Would it be possible for you to try this with RC2 bits?

[2016-05-30 08:45] stratever opened #449 "System.IO.FileLoadException at ConfigurationBuilder.Build()"
**Exception:**

**StackTrace:**

 **project.json:**

[code]

**Code:**
[code]

**dotnet cli version:**
1.0.0-preview1-002702

I got this error after migratig from RC1 to RC2 (ASP.Net Core 1.0). I tried to cleanup the nuget cache directory and rebuild the soultion but it didn't help. In an other solution which contains a project tragets
netcoreapp1.0, everything works fine.
Any help would be much a

[2016-05-31 20:26] HaoK commented on #426
I verified that there is no issue resolving PhysicalFiles on latest bits with the rooted changes.

        [Fact]
        public void CanReadFromUNC()
        {
            var configurationBuilder = new ConfigurationBuilder();
            var config = configurationBuilder.AddJsonFile(@"\\scratch2\scratch\haok\foo.json").Build();
            Assert.Equal("Value", config.GetSection("Key").Value);

[2016-05-31 20:31] blowdart commented on #426
Impersonation would be a question for the asp.net module people. They start the process. It should be started under the app pool identity. This could be a 3 hop problem, but I don't know.

[2016-05-31 20:52] HaoK commented on #426
@blowdart Then can you reroute this to the correct repo?  There's no configuration issue here as far as I can tell.

[2016-05-31 20:53] blowdart commented on #426
I don't know where it is - @davidso one for you I think

[2016-05-31 20:58] HaoK commented on #447
Looks like the behavior we want is to use the StreamReader's Default.Encoding behavior, this isn't supported in netstandard though.

[2016-05-31 21:31] niemyjski commented on #308
I'm running into this issue now can we get these marked as cls compliant so my build passes.

[2016-05-31 21:36] HaoK commented on #447
The behavior looks okay assuming there's the proper byte order marker in the file.  The following test verifies this:

[code]

@sirentek can you make sure that your file has the appropriate byte order marker in it?

[2016-05-31 21:47] Eilon commented on #308
@divega ?

[2016-05-31 22:03] niemyjski commented on #308
Also should configuration be moved to a dotnet specific org as it's net standard 1.0 and would be useful in .net core apps as well :)

[2016-05-31 22:54] divega commented on #308
Trying to figure out if there is any other recommendation besides suppressing the corresponding warnings.

I don't think that is specific to configuration but in general all the `Microsoft.Extensions.*` packages can be used outside ASP.NET. They currently live here and I am not aware of any plans to move them, but yes, feel free to create a new issue e.g. in http://github.com/aspnet/home and expla

[2016-05-31 23:49] niemyjski commented on #308
I could add an excluded warning for this, but I'd rather not... It would be nice if developers didn't have to worry about this esp, with existing libs.

[2016-06-01 11:31] divega commented on #338
Last time @haok and I discussed in more depth doing changing `Bind()` to return bool or adding a `TryBind()` API we arrived to the conclusion that the criteria for success of the method wasn't as well defined as it seemed on the surface. E.g. there might be settings in the `IConfiguration` used that just happen not to match any property in the object to bind to, vs. there can be errors while tryin

[2016-06-01 14:13] Fosol commented on #338
So we still have no way to determine if bind was successful.  Sigh...

Successful = expected result.

What is the expected result of bind?  Now we will never know.

[2016-06-01 20:51] victorhurdugaci commented on #433
Reopening this because the bug is in Configuration not FileSystem. The problem is here: https://github.com/aspnet/Configuration/blob/30e59f1190e01a9ae0c2fae4022af5ba3ca2eafd/src/Microsoft.Extensions.Configuration.FileExtensions/FileConfigurationProvider.cs#L50

The file system watches triggers on file deletion and the code highlighted above is executed (reloading the configuration). The problem is

[2016-06-01 21:44] HaoK commented on #433
I don't think its unreasonable to require optional: true for the scenario where deleting files is supported, it looks like things work now for deleting files if optional true.  This test now passes:

[code]

@divega thoughts?  That said, deleting files when optional: false basically means you would have to write an empty file instead of delete to clear one source when optional is false.

[2016-06-02 04:25] victorhurdugaci commented on #433
I think the code should throw if the config file is deleted when optional = false. Otherwise, you get this silent bug and you have no idea that the configuration didn't change

[2016-06-02 05:41] HaoK commented on #433
Well the configuration code is already throwing but the filewatcher is swallowing the exception right?  Although I'm not sure you really want uncaught exceptions coming from the filewatcher either

[2016-06-02 06:09] divega commented on #433
Let me list the options I think we have:

1. Check for file existence if optional: false is passed only the first time we load the file. If the file is deleted while we are watching we treat it as an empty file.
2.  Optional: false + reloadOnChanged: true becomes a kill switch,  i.e. the only alternative for the exception being ignored as far as l understand it is to force the application to crash

[2016-06-02 06:21] HaoK commented on #433
Okay if we change required files to only need to exist initially, that is a pretty simple fix.  Sounds good to me

[2016-06-02 07:09] divega commented on #433
I guess this is what @victorhurdugaci suggested at https://github.com/aspnet/Configuration/issues/433#issuecomment-223120656.  He also made another very good point:

It seems to me that after startup,  files can appear, disappear and reappear. Are we setup to handle all cases?

[2016-06-02 07:25] HaoK commented on #433
We currently are at the mercy of whatever the implementation of IFileProvider.Watch does in these cases, we basically just wire up a call that to get the IChangeToken, and link it to Load().

I don't think we can do much more than explicitly block some of those scenarios (but I don't think we should)

[2016-06-02 07:52] divega commented on #433
I think it is worth understanding how it will work. E.g. if an optional file is originally missing. Do we still setup the file watcher in case it shows up later?

[2016-06-02 07:59] HaoK commented on #433
We setup the file watching in the ctor if ReloadOnChange is true and we have a non null FileProvider, so if the provider supports notifications on a new file, that should work today.  I can add a test to verify.

[2016-06-02 20:49] HaoK commented on #433
@victorhurdugaci So even though configuration reload events are firing on deletion, the unit test I wrote against the FileProvider watch apis still fails on Delete, is there something specific in the usage there that I'm doing wrong?

[code]

[2016-06-02 21:05] HaoK commented on #433
eae76e386ec92771361c8787cb9ce21fcb545a00

[2016-06-02 21:05] #433 closed

[2016-06-03 09:21] ivaylokenov opened #451 "GetValue<T> not working with lists"
GetValue<T> does not work with List<string> for example, if I have this config.json:

[code]

When I write the following, it is not working:

[code]

However, writing it this way works correctly:

[code]

[2016-06-03 09:26] ivankarpey opened #452 "FileNotFoundException: AddJsonFile() extension does not support absolute path"
there is my code snippet

[code]

`PathHelper.GetSettingsPath("appsettings.json", env)` return absolute path and file exists on the disk, since ` throw new Exception("something wrong with path");` not executed. However later ` Configuration = builder.Build();` fails with `FileNotFoundException`.

I consider this behavior as a bug.

P.S. `GetSettingsPath()` could be consider the same as `Path.GetFu

[2016-06-03 12:27] MichaCo commented on #451
Interesting. Someone changed the behavior of getValue to just call `ConvertValue` which does not do a full bind to the selected section. Instead, it just tries to convert the value.
I'm pretty sure the initial implementation used the same logic as Bind and e.g. getValue<List<string>> would just work the same way.

@HaoK Any reason why this has been changed or has this been changed by mistake?

[2016-06-03 12:42] timotyweis commented on #451
`GetValue` internally uses `string str = configuration.GetSection(key).Value;` to get the string to use. I'm facing a similar problem with regular objects, because the like of `configuration.GetSection("Test")` is returning **null** as `Value`. So probably is not the `GetValue<T>` that is not properly performing the bind but the `GetSection` that has changed.

[2016-06-03 13:36] divega commented on #451
TL;DR: It is by design.

We used to have `Get<T>()` which would alternatively bind to the content of `.Value` or to a subsection, but this method had issues, e.g. it assumed that a given key would either have a value or children keys but not both, which was incorrect.

`GetValue<T>()` is a separate method that is unambiguously only about converting the `.Value` of a given key to a given type. It h

[2016-06-03 13:42] #451 closed

[2016-06-03 13:57] blakepell commented on #426
We've just upgraded to RC2 locally.  Our sysadmin have an open ticket to setup our development server environment where I will be able to test this on RC2 in the same environment and report back with further details.

[2016-06-03 14:47] divega commented on #452
We added back support for absolute paths in a recent (post RC2) change. You may be able to test it in our nightly builds.

[2016-06-03 14:47] #452 closed

[2016-06-05 00:11] divega commented on #380
Double checked that a simple console app using the JSON provider works on Docker on Ubuntu 14.04. I am closing the issue but feel free to reopen if it still fails for you with RC2 bits and you can provide more repro details.

[2016-06-05 00:11] #380 closed

[2016-06-06 00:33] davidfowl opened #455 "Show the physical path in the exception message when a file based provider fails to find the configuration file"
![image](https://cloud.githubusercontent.com/assets/95136/15809327/15982184-2b8f-11e6-8c2a-d530364758f7.png)

It should show the physical path (if possible).

[2016-06-06 06:52] divega commented on #311
As noted in #247, while parsing an XML configuration file, regular attributes are used to form (alongside child elements with text) child key value pairs for the current element. But when a `name` attribute is found, it is appended to the key of the current element instead to form the prefix for all its children key value pairs.

As mentioned above, this is useful to differentiate multiple element

[2016-06-07 16:06] adamholdenyall commented on #442
Is there any chance that a similar change could be made to support ICollection\<string\>?

For instance, [OpenIdConnectOptions](https://github.com/aspnet/Security/blob/bffbfc7f9e6c40238467d84efd1da82dc5485026/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectOptions.cs) has an ICollection\<string\> for its "Scope" property. I've worked around this by adding a "Scopes" string with

[2016-06-08 09:16] Varorbc opened #458 "Configuration GetSection GetChildren cannot get array data"
# Json File
[code]

# Debug
![qq 20160608171050](https://cloud.githubusercontent.com/assets/5714438/15889041/0ad9fea2-2d9c-11e6-834c-53399554d5d6.png)

# Question
Why cannot i get the array data from Configuration.GetSection("Users") and Configuration.GetChildren() ?

[2016-06-08 20:22] HaoK commented on #426
Cool, feel free to reopen a new issue if you have any issues

[2016-06-08 20:22] #426 closed

[2016-06-09 15:12] maxild opened #459 "AddOptions seems to be called by framework"
The docs say to call AddOptions in ConfigureServices. Checing the code and tests, this will configure DI to be able to inject/provide IOption<T> instances. It definitely has to be called to have options work with DI. That is not the issue here. But the framework seems to call it be default? Is this correct?

My RC2 based app does hand out OptionManager<T> instances (for 'option types' where Config

[2016-06-09 15:26] nmtoan07 opened #460 "ConfigurationProvider with DbContext error occured before update-database"
I will describe my problem:

I have a table named Values, i created base on [aspnet doc](https://docs.asp.net/en/latest/fundamentals/configuration.html) and i also use "Example: Entity Framework Settings".
Now i have Values table.
public DbSet<Value> Values { get; set; }
And some classes like ConfigurationProvider, IConfigurationSource, etc base on your example above.
But when i use "update-databa

[2016-06-09 15:33] #460 closed

[2016-06-09 16:17] HaoK commented on #459
It is done by hosting automatically but if you roll your own service collection you will need to call it.

[2016-06-09 20:09] divega commented on #455
Moving to 1.0.1 as it doesn't meet the bar for 1.0.0.

[2016-06-10 07:43] andrewlock commented on #442
@adamholdenyall the proposed pull request  #453 would actually deal with this situation too. Previously, the binder would not find directly exposed `IDictionary<>` or `ICollection<>` properties, the fix allows it to find them.

When a property is an interface, it must already be initialised in order to be bound (the configuration binder wouldn't know which concrete class to assign to an interface

[2016-06-13 06:25] divega opened #462 "Rename method ConfigurationPath.GetSectionKey() to GetChildKey()"
Current name is unintelligible as said in https://github.com/aspnet/Configuration/pull/461/files/100a4a6ad7a4b371b3068e623da2bb498936851b#r66742090

[2016-06-13 06:40] divega opened #463 "Undisposed enumerator in CommandLineConfigurationProvider.Load()"
The command line provider is designed to process arguments from the command line, but it can actually be used with any `IEnumerable<T>`, potentially with one in which disposing the enumerator matters... And it only takes a `using` statement to do it. (I have seen bugs caused by assuming that it would never matter).

[2016-06-13 09:34] HaoK commented on #462
I don't particularly like this name, but its your unintelligible name :)  See https://github.com/aspnet/Configuration/pull/389

I chose a functional name for it originally, I called it GetLastSegment() which is what its doing...

[2016-06-13 12:15] divega commented on #462
I don't particularly care if came up with it originally.

[2016-06-13 16:52] divega commented on #462
This rename doesn't meet the bar for 1.0.0 and therefore won't happen later either. We should make sure the API documentation helps clarify the purpose of the API.

[2016-06-13 16:52] #462 closed

[2016-06-13 17:54] jods4 commented on #459
It is called by several other services, so most of the time you don't need to do it yourself.

For instance, if you call `AddMvc()` it's going to call `AddCors()` internally, which calls `AddOptions()`
https://github.com/aspnet/CORS/blob/5a3ea74ffa4c508036fca564c04cbbb4affeec85/src/Microsoft.AspNetCore.Cors/CorsServiceCollectionExtensions.cs#L27

[2016-06-13 18:16] jods4 opened #464 "Path traversal and per site configuration"
This is half a question and half a feature request.

The question: what is the recommended way to define per website (say IIS-hosted) configuration, especially with multiple instances of the same application?

My first goal was to have a single build output (and deploy). This is trivially solved if you build each instance separately (simply modify a published config file).

At first it seemed env.

[2016-06-13 22:07] HaoK commented on #120
e1b7960f22b7c508645fedb8a50f0e873d7407d5

[2016-06-13 22:07] #120 closed

[2016-06-13 22:23] divega commented on #120
Filed https://github.com/aspnet/Docs/issues/1382 to track adding command line argument formats supported in documentation.

[2016-06-14 00:23] divega commented on #464
@jods4 thanks for posting this. I think I understand your request but let me know if I don't.

FYI, for RTM we are re-enabling absolute paths but not path traversal, i.e. not specifying a relative path that goes any number of levels up.

I agree we should consider enabling path traversal for configuration files again, and we will keep this item here for that.

In the meanwhile, I wonder if the fac

[2016-06-14 09:14] jods4 commented on #464
@divega Thanks for your answer!

This is not a critical issue because it can be worked around by passing a different `PhysicalFileProvider` rooted higher to `AddJsonFile()`.

Another possible improvement could be accepting an optional path to `project.json` when calling `AddUserSecrets()`. That way, one could set the base path one level higher.

As for absolute paths: I am sure it will help with s

[2016-06-15 11:49] herecydev commented on #458
I'm also seeing the same, working with arrays is hell! Any update?

[2016-06-15 18:20] tillig opened #466 "Support binding IEnumerable<T>, ICollection<T>, IDictionary<T>, IList<T>"
While the `ConfigurationBinder` has support for binding arrays (`T[]`) and types that implement `ICollection<T>`, it seems to be missing support for just binding `IEnumerable<T>`. This could be the same process as binding arrays - just back the `IEnumerable<T>` with the bound array.

[2016-06-15 18:36] tillig opened #467 "Add support for binder to create models"
Currently if you want to bind configuration to any sort of user-defined model, you have to create the model and then bind:

[code]

You have to do that because `GetValue<T>` only uses type conversion to convert the value in a specific key into a destination type. So something like this works...

[code]

...but something like this doesn't work:

[code]

This becomes really painful if you want to bi

[2016-06-15 18:45] HaoK commented on #467
You can think of `GetValue` as more of a `Convert<T>` as its just using TypeConverter the string value to T (which is mostly value types) as things currently stand, its not really model binder related anymore.

I had proposed moving it out of the package and into general config for this reason and to make it less confusing, but we didn't want to add the component model dependencies.

My personal o

[2016-06-15 19:04] tillig commented on #467
I don't have a huge preference as to whether there's "one method to rule them all" vs. separate methods for each thing, but I figured `GetValue<T>` seemed like as good a place as any. I suppose the other option if multiple methods still exist would be to have a `Bind<T>()` overload that doesn't require I pass in an existing model.

[2016-06-15 20:55] divega commented on #467
`GetValue<T>()` is a very simple API that only works with configuration values,  i.e. primitive or scalar values associated with a configuration key. Bind() on the other hand is about taking whole sections of configuration and trying to bind them to structural objects based on key to property name matching. We can add more convenient versions of what Bind() does in the future. We can also move the

[2016-06-15 21:00] HaoK commented on #467
Yeah I think the confusion mostly lies around GetValue living in the binder.  If it lived somewhere else, I don't think it would be as confusing.  Or if it was called ConvertValue.

[2016-06-15 21:02] tillig commented on #467
I think `ConvertValue` would be the best solution. That way even if it's in the binder, it doesn't sound like it's going to do full binding. It's the combination of name + where it lives that was misleading... though I think if you moved `GetValue<T>` out of the binder it might still feel like it's going to do something more than just simple type conversion.

[2016-06-15 21:02] HaoK commented on #467
Note if we end up resurrecting a bind overload, we might as well bring it back as `T Get<T> where T : new()` like we had before.

[2016-06-15 21:03] HaoK commented on #467
Ship has unfortunately sailed for 1.0.0 for the name...

[2016-06-15 22:25] divega commented on #467
@HaoK @tillig I guess we can all have different subjective perspectives of that is confusing and why. Trying to be objective, as @HaoK mentioned we are going to ship this as is in 1.0.0 and so I believe it may be more productive to think about:

- How we do a better job of explaining what the differences are (e.g. by tweaking our various levels of documentation, writing samples, etc.)
- What addit

[2016-06-15 22:35] HaoK commented on #467
My vote is to bring back the uber `T Get<T>()` that just tries to 'do the right thing'.

The proposed behavior for Get would be:
1. Try to Convert (aka GetValue) a non value to T.  If successful return T.
2. Otherwise try to Bind against a new instance of T.
3. Only return null if something catastrophic happens.

If there's ambiguity somehow there, users can manually call Bind instead.  But I'm st

[2016-06-15 22:43] tillig commented on #467
I liked `Get<T>` in earlier versions; losing that in RC2 is what got me here. :wink: I'd be happy if it were to return.

I get that name changes are out, and I'm totally fine with that. A clearer name for `GetValue<T>`would have been _nice_ but isn't a deal-breaker. I do disagree that `Value` clearly indicates anything with respect to the behavior of the method, but that could just be me. Some sli

[2016-06-15 23:11] #459 closed

[2016-06-15 23:24] HaoK commented on #467
Yeah well that gap is where `Get<T>` used to live :)

[2016-06-15 23:34] HaoK commented on #458
Try using the ConfigurationBinder's Bind extension method to bind it to an array of T.

https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Binder/ConfigurationBinder.cs#L23

[2016-06-15 23:34] #458 closed

[2016-06-16 07:03] MichaCo commented on #467
/missing the Get<T>.
Totally get the concerns regarding the ambiguity. But I ran into that, too and was wondering why GetValue<T> only works on the .Value object and why I have to write so much code now to get an object bound to a section? ;)

That being said, writing a custom extension yourself which uses `Bind` is probably a pretty easy option, too.

Maybe it would be more clear if we would have

[2016-06-16 07:45] divega commented on #467
@MichaCo yes, that is what I had in mind when I said we can create more convenient versions of `Bind()`, e.g. one that doesn't require an extra line to create the object beforehand. We can fill that gap without any drawbacks.

[2016-06-17 16:32] andrewlock commented on #82
Very late to the party, and somehow missed this issue, but I wrote one too:

https://github.com/andrewlock/NetEscapades.Configuration
https://www.nuget.org/packages/NetEscapades.Configuration.Yaml

Very much based on the JSON parser in this library, but uses [YamlDotNet](https://github.com/aaubry/YamlDotNet) for the actual parsing

[2016-06-19 19:30] andrewlock commented on #82
I'm happy to create a PR for this if my implementation looks vaguely like what's required? I realise it wouldn't be merged till post 1.0.

[2016-06-20 08:37] mo-esmp commented on #449
I got same error in RC2 project type `ASP.NET Core Web application (.NET Framework) | Web API`  and in Startup class constructor:

[code]

[code]

[2016-06-20 08:54] stratever commented on #449
This problem related to the dotnet. Check the following:
- After build, look for a configuration file in the ouput filder with .config extensions
- Check the assembly bindings, when I had this problem, my .config was the following:
< dependentAssembly >
[code]
As you can see: 8 -> 6 and 6 -> 8 is confusing and also blocking. To solve the problem, please make sure that the Newtonsoft.Json.dll in yo

[2016-06-20 09:49] mo-esmp commented on #449
thank you @stratever, I referenced a class library project which has dependency on Newtonsoft.Json ver7. I installed latest version on both projects and problem solved.

[2016-06-20 20:34] cesarbs opened #468 "Inconsistent behavior on Linux when deleting and re-adding configuration files"
I'm seeing some weird behavior when using multiple configuration files on Linux (tried on Ubuntu 14.04 and 16.04), specifically when configuration files are deleted and then re-added to the same place.

If I use a single configuration file, be it JSON, INI or XML, removing the file and re-adding it seems to work fine i.e. configuration is reloaded as expected on both events. But when I use multipl

[2016-06-20 20:43] HaoK commented on #468
Can you include the startup you are using to repro this, I can only think ordering might be important

[2016-06-20 21:05] cesarbs commented on #468
https://github.com/cesarbs/RtmTestWebAppNetCore/blob/master/src/RtmTestWebAppNetCore/Startup.cs

[2016-06-23 06:20] JauernigIT opened #469 "Separator character for environment variables"
I have ASP.NET Core 1.0 RC2 installed on my Windows machine and just came over the requirement to override a configuration entry in `appsettings.json` (section `"AppSettings"`) with the value of an environment variable (Windows Batch script).

I just thought it would be possible with `SET AppSettings_MyKey=value` from command line, because I thought RC2 changed the separator character from `:` to

[2016-06-23 09:43] runeborg opened #470 "Localization: JSONFileParser uses ToString() while IConfiguration.GetValue expects InvariantCulture"
When parsing configuration there seems to be localization issues when parsing float/double.

To recreate:

Add the following to appsettings.json:
"A": {
   "B": 22.814
}

Then try to get the value when using a culture that is incompatible with InvariantCulture (for example sv-SE)

`Configuration.GetValue<double>("A:B")`

This will yield the following error
Failed to convert '22,814' to type 'Syste

[2016-06-23 09:51] HaoK commented on #470
Related: https://github.com/aspnet/Configuration/issues/348

[2016-06-23 17:55] moozzyk commented on #469
Can you try '__' (double underscore) - as per https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.EnvironmentVariables/EnvironmentVariablesConfigurationProvider.cs#L67.

[2016-06-24 04:45] JauernigIT commented on #469
Unfortunately, it doesn't work... as I understand the code, the `__` gets replaced with `:`, but I don't see that the appsetting gets overridden with the environment variable...

I have the following section in `appsettings.json`:
    "AppSettings": {
        "MyKey": "TO_OVERRIDE"
    }

And just before starting `dotnet run`, I want to override it from command line / batch file:
    SET AppSettin

[2016-06-28 01:16] akatz0813 commented on #314
+1  MSBuild Transforms have this

[2016-06-28 03:32] davidfowl commented on #314
Would be a breaking API change.

[2016-06-28 03:38] tillig commented on #314
It would be _now_... But an additional interface could be added with that method and sources could optionally support it.

[2016-06-28 03:50] davidfowl commented on #314
Yep! We'll look at this in the future.

[2016-06-29 18:36] saikatguha opened #471 "GetSection and AsEnumerable problem"
I have a config structure that imports config of other components as children.

In the code, the outer component uses `GetSection` to pull out each child configuration and passes to the child. If child uses the keys directly, everything is fine. If child uses `AsEnumerable`, then the full part from the root shows up in the key, which the child is not expecting.

Configuration:
[code]
When using ke

[2016-06-29 19:04] cesarbs commented on #471
I believe this is by design. cc @HaoK @divega

[2016-06-29 19:16] HaoK commented on #471
Yeah it is, AsEnumberal returns the path of each node as the key, which is the full path from the root.

See:
https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Abstractions/ConfigurationExtensions.cs#L39

[2016-06-29 19:16] #471 closed

[2016-06-29 19:56] saikatguha commented on #471
Is there a recommended way then pass down a scoped section so child components using AsEnumerable can consume it unmodified?

[2016-06-29 20:44] HaoK commented on #471
You can iterate recursively via get children. AsEnumerable basically flattens the nodes into a single list.

[2016-06-29 23:07] HaoK commented on #455
02c20485370b14b4f9a3eeec3757c9dc9225801d

[2016-06-29 23:07] #455 closed

[2016-06-30 19:42] lodejard opened #473 "AsEnumerable() shouldn't use the fully qualified path"
It should return the path relative to the child section.

Repro:

**Program.cs**
[code]

**MyApp.ini**
[code]

Expected:
builder has `"Environment":"Development"` and `"ApplicationName":"Demo"` in its settings collection, which are used to control startup

Actual:
builder has `"Hosting:Environment":"Development"` and `"Hosting:ApplicationName":"Demo"`, which have no effect

[2016-06-30 20:42] HaoK commented on #473
Ah yeah looks like this was intended for the root mostly, we can change this to strip out the current path from the results.

[2016-06-30 20:43] HaoK commented on #471
Actually on second thought, we might change the behavior to strip out the current path from the results, tracking via https://github.com/aspnet/Configuration/issues/473

[2016-06-30 22:16] cesarbs commented on #469
This is by design. On Windows you should use `:`; on non-Windows, use `__` (double underscore).

cc @HaoK

[2016-07-01 05:35] JauernigIT commented on #469
Hey and then you have great fun in a batch script where you want to access the content `AppSettings:MyKey` variable. I cannot imagine why this could be by design and why there are differences for different platforms here. Shouldn't it be consistent? But well, since I know the answer now, I'll close the issue.

[2016-07-01 05:35] #469 closed

[2016-07-01 05:37] saikatguha commented on #471
Makes sense. Here's the fragment I am using:

[code]

[2016-07-01 12:01] Igmat opened #474 "RC2 and RTM sometimes not reading Azure App Service Custom Connection String"
I'm facing very strange bug. It appears on production server and doesn't appear on dev server (it's totally 2 separate servers, not staging). Servers' settings are mostly same (except connection strings, Id+Secrets for socials and service plans).
I'm using VS 2015 Community and default studio publish tool.
My `appsettings.json`:
[code]
Affected parts of `Startup.cs`:
[code]
[code]
Part of `project

[2016-07-01 19:49] cesarbs commented on #474
Need some clarification: are you saying that your `Env.cshtml` shows the value you expect for `StorageClient`, but your app code that uses it is seeing a different value?

Have you tried reading `StorageClient` in your app without using the `GetConnectionString` extension method?

[2016-07-01 21:39] Igmat commented on #474
Yes, `Env.cshtml` shows correct value, but app uses value from `appsettings.json` (`UseDevelopmentStorage=true`).

Not yet. I'll try and tell result tomorrow.

[2016-07-02 14:31] Igmat commented on #474
I've changed this code:
[code]
to this:
[code]
And nothing changed.

It works on dev server, but doesn't work on production server until I manually change content of `appsettings.json` with real connection string.

[2016-07-03 05:36] cesarbs commented on #474
How exactly are you setting `StorageClient` on Azure for the production server? Did you add it to the **Connection strings** section in **Settings** > **Application settings**?

![image](https://cloud.githubusercontent.com/assets/924164/16543930/7353fa7a-40a5-11e6-8226-4e5653351b80.png)

[2016-07-03 05:39] cesarbs commented on #474
Also, what do you mean by `CUSTOMCONNSTR_StorageClient` in your first post? Where are you using that identifier?

[2016-07-03 10:52] Igmat commented on #474
This is screenshot from prod:
![2016-07-03 1](https://cloud.githubusercontent.com/assets/15427508/16544973/3fda63e4-411a-11e6-865a-fe7eef91b3d9.png)
And this from dev:
![2016-07-03 2](https://cloud.githubusercontent.com/assets/15427508/16544976/5dc28120-411a-11e6-8262-5411f2a0e39a.png)

I'm not actually using `CUSTOMCONNSTR_StorageClient` directly. I've mentioned it because as far as I understand

[2016-07-03 19:23] cesarbs commented on #474
Interesting, thanks for clarifying.

In which region is your app deployed?

[2016-07-03 20:11] cesarbs commented on #474
What happens if you remove `StorageClient` from `appsettings.json` completely i.e. only set it via environment variables? Does the prod server read the right value then?

[2016-07-04 10:00] Igmat commented on #474
Ok, I've removed `StorageClient` from `appsettings.json` on prod server using Cloud Explorer from VS and restarted server. Also I've checked changing `appsettings.json` in source code and deploying via standard VS publish tool.
In both cases I get error: `ArgumentNullException: Value cannot be null.` from `CloudStorageAccount` when  trying to use actions in project that depends on Azure Storage. S

[2016-07-04 10:03] Igmat commented on #474
Both dev and prod deployed in West Europe.

[2016-07-04 18:34] cesarbs commented on #474
Yes, please check the same in dev. If removing `StorageClient` from `appsettings.json` doesn't affect it, it's clear that for whatever reason your connection string set via the Azure portal is not being read by the prod server.

For your prod server, have you tried creating a new web app and deploying to it? I've tried reproing your scenario with no success, both on West US and West Europe. I wond

[2016-07-04 23:11] thirdwaffle commented on #442
@andrewlock Is there any reason why the binder couldn't create a `List<>` for an `ICollection<>` property (and an `IEnumerable<>` property for that matter), and a `Dictionary<>` for an `IDictionary<>` property? The fact that the property is an interface means the implementation type _shouldn't_ matter (and if it did, the caller could just initialize it to the desired type before calling in to the

[2016-07-05 12:17] Igmat commented on #474
Ok, I've checked dev. It works when I'm removing `StorageClient` from `appsettings.json`.

Dev was deployed ‎5‎/‎6‎/‎2016‎ (it was rc1). Prod was deployed ‎6‎/‎20‎/‎2016‎ (already rc2).

[2016-07-05 12:20] Igmat commented on #474
Do you mean to create totally new app. Add only code around `StorageClient` and deploy it to prod server?

[2016-07-05 14:53] cesarbs commented on #474
Looks like a problem with the prod instance then.

What I mean is, just create a new web app in the portal and deploy prod to it, instead of deploying to the existing one.

[2016-07-05 22:21] HaoK commented on #447
Feel free to reopen this if this is still a problem for you.

[2016-07-05 22:21] #447 closed

[2016-07-06 11:44] Igmat commented on #474
I've created new web app instance via VS publish tool. In the same resource group and with same service plan as production server. The only settings I've set via portal are socials App Id's/Secrets (in App settings section) and `DefaultConnection`, `StorageCilent` (in Connection strings section). And their values are same as that used in production server.

And surprisingly I have same problem wit

[2016-07-06 12:24] Igmat commented on #474
I've created new web app instance via VS publish tool. In the same resource group and with same service plan as production server. The only settings I've set via portal are socials App Id's/Secrets (in App settings section) and `DefaultConnection`, `StorageCilent` (in Connection strings section). And their values are same as that used in production server.

And surprisingly I have same problem wit

[2016-07-06 12:42] Igmat commented on #474
I really appreciate your help and understand that this problem is hard to reproduce. May be you can advice some way to debug startup process on server or some another solution for finding what exactly goes wrong on server. So I'll be able to introduce you with more relative info.

[2016-07-06 14:13] Igmat commented on #474
Ok, I guess I find something related to this problem. I've added this code in my project:
[code]

And deployed it to my dev server and to my new server. And result has very important difference:
Dev server:
[code]
New server:
[code]

[2016-07-06 14:57] Igmat commented on #474
Oh my god. I'm very very sorry for wasting your time. It's just misprint in azure portal settings. I've checked it thousands times and was sure that it is correct. My bad. Sorry again.

[2016-07-06 14:57] #474 closed

[2016-07-06 17:49] cesarbs commented on #474
Haha, no worries :smile: I did watch for typos in your screenshots but everything looked right. What was it that was wrong? Was there a space character in the key or something like that?

[2016-07-06 22:21] Igmat commented on #474
No, but I noticed that only when started looking for invincible characters :-D . In code it was C**li**entStorage but in portal it was C**il**entStorage.

[2016-07-06 22:43] cesarbs commented on #474
Wow, I totally missed that too. **Now** I see it!

[2016-07-07 08:57] martincostello commented on #466
```IList<T>``` would also be beneficial.

[2016-07-07 16:02] meikeric opened #476 "System.NullReferenceException for invalid appsettings.json"
This took me a while to track down...
As I was porting a project from dnx to dotnet I came across this issue.

I missed a closing curly brace "}" in the appsettings.json file.  VS does warn if I had the file opening, however, I didn't think to look there until after walking the code.

The invalid json throws a Null Reference exception.  I feel that there should be some json validation further upst

[2016-07-07 16:32] meikeric opened #477 "Add optional parameter for json schema file to ".AddJsonFile" method for validation"
Feature request to add an optional json schema file parameter validation check to AddJsonFile.

[2016-07-07 19:39] #449 closed

[2016-07-08 20:26] dankellett opened #478 "AddJsonFile throws invalid directory name when optional is true"
`var builder = new Microsoft.Extensions.Configuration.ConfigurationBuilder()`
`.SetBasePath(env.ContentRootPath)`
`.AddJsonFile(@"C:/myDirectory/mySub/appsettings.json", optional: true)`

When adding a configuration file during app startup, the above code will throw an exception if the "C:/myDirectory/mySub/" directory does not exist. Since this is set as an optional file, the directory should not

[2016-07-11 17:25] HaoK commented on #478
Related https://github.com/aspnet/FileSystem/issues/199

[2016-07-11 19:59] HaoK commented on #442
Fixed via https://github.com/aspnet/Configuration/pull/453

[2016-07-11 20:00] HaoK commented on #442
Creation issues for generic interfaces like IList/ICollection/IEnumerable will be tracked via https://github.com/aspnet/Configuration/issues/466

[2016-07-12 02:07] allangomessl commented on #82
+1

[2016-07-12 15:31] dmcweeney opened #480 "Support for MVC 5?"
Hi,

Are there any plans to provide support for ASP.Net MVC 5?

Thanks

Donal

[2016-07-16 19:28] TomDroste opened #481 "appsettings.{env.EnvironmentName}.json not included in publish process"
If you have several appsetting files for different environments, they won't be included when you try to publish your app.

**Steps to reproduce:**
1. Create a new asp.net core project
2. Create a appsettings.development.json file
3. Create a publish package by publishing your package locally
4. See created output and notice the appsettings.development.json file missing.

[2016-07-16 20:46] TomDroste commented on #481
It appeared to be a simple include in the project.json... somethimes its the simple things you overlook. That being said I would expect that there would be a convention to automaticly add them to the publish from start

[2016-07-18 22:56] #481 closed

[2016-07-18 22:59] HaoK commented on #277
Closing old discussion since we've shipped

[2016-07-18 22:59] #277 closed

[2016-07-19 18:05] HaoK commented on #345
Closing old discussion since we have shipped

[2016-07-19 18:05] #345 closed

[2016-07-19 18:06] HaoK commented on #386
Should probably address https://github.com/aspnet/Configuration/issues/314 at the same time, (with a different provider interface but same pattern)

[2016-07-19 18:06] HaoK commented on #386
Clearing milestone for visibility

[2016-07-19 18:07] HaoK commented on #387
Clearing milestone for visibility

[2016-07-19 18:10] HaoK commented on #82
Clearing milestone for visiblity

[2016-07-19 18:12] HaoK commented on #394
Clearing milestone for visibility

[2016-07-19 18:12] HaoK commented on #393
Clearing milestone for visibility

[2016-07-19 18:14] HaoK commented on #261
Clearing milestone for visibility

[2016-07-20 22:48] victorhurdugaci commented on #478
We really need this to work when the directory is missing because in Antares we watch some config files that don't exist yet, not their parent folder is there. So the configuration (and the file watcher) should support watching a folder and files in folders that don't exist yet.

It's required by the Antares integration work items. cc @glennc

[2016-07-23 00:42] HaoK commented on #478
Looks like we can fix this for absolute paths by walking up the path and creating the physical file provider against that directory leaving the rest of the path for the file, i.e.

Updating the code here: https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Ini/IniConfigurationExtensions.cs#L76

[code]

Sound reasonable?

cc @divega

[2016-07-23 05:48] victorhurdugaci commented on #478
I think that would work.. My only concern is perf if you end up watching the disk's root and there's a lot of file watching.

Btw, that change is not just for ini files, right?

[2016-07-28 20:44] VSG24 commented on #476
Agreed 1000000%. The current exception doesn't give any useful info, it should be changed with a more meaningful one.

[2016-07-28 22:02] HaoK commented on #478
3ea670863e44a8047b31f2552b4c4f9a6a2c236b

[2016-07-28 22:02] #478 closed

[2016-07-28 22:03] HaoK commented on #463
dc569023de8db0234b39ec40f4e930f56958944c

[2016-07-28 22:03] #463 closed

[2016-07-29 19:56] HaoK opened #484 "Investigate reload test flakiness on Linux"
Currently disabled as they will sporatically fail on CI

[2016-07-29 20:04] HaoK commented on #484
Issue is most likely:
// On Unix the file write time is in 1s increments;
                    // if we don't wait, there's a chance that the polling
                    // watcher will not detect the change

Bumping up the delay to compensate

[2016-07-29 22:26] giggio commented on #476
Just had this problem now. Really cryptic. This should be handled better, definitely.

[2016-08-01 22:17] HaoK commented on #484
Test failures appear fixed now

[2016-08-01 22:17] #484 closed

[2016-08-01 22:22] HaoK commented on #473
Fixed via c202d3148130cacadb6133425e14ac134bf9cb68 and makePathsRelative: true overload

[2016-08-01 22:22] #473 closed

[2016-08-03 15:32] deepak-khopade-isdr commented on #411
Even after adding a reference, still getting same error.

[2016-08-03 15:37] deepak-khopade-isdr commented on #411
i got it working, when changed this "services.Configure(Configuration.GetSection("Settings"));"
to
services.Configure<MySettings>(options => Configuration.GetSection("Settings"));

[2016-08-03 23:35] HaoK commented on #477
I'll see if its relatively straightforward to pass in a schema file to the JsonFileparser

[2016-08-05 18:25] HaoK commented on #477
@divega looks like there's a dedicated package for this that's fairly straightforward to use: http://www.newtonsoft.com/jsonschema/help/html/JTokenIsValidWithValidationErrors.htm

So maybe we just expose a new overload(s?):
[code]

Add a property to the Source. and if set call `IsValid()` with the schema and throw a new JsonConfigurationValidationFailedException which contains an `IList<Validation

[2016-08-05 19:17] cesarbs commented on #477
@HaoK @divega I wonder if we can use jsonschema though. Look at the licensing section here: http://www.newtonsoft.com/jsonschema

[2016-08-06 00:00] HaoK commented on #477
Ugh, so much for that, okay I guess this is DOA then, users will have to validate the JSON themselves before adding them to config.

[2016-08-06 00:00] #477 closed

[2016-08-06 00:02] HaoK commented on #477
Note, you should be able to extend from our Json provider to add support for schema validation as part of the flow, plugging in whatever JSON validator you like.

[2016-08-10 22:17] 304NotModified opened #485 "Safe configuration file extension"
The .config files in .NET are pretty safe as they are protected by default by IIS. Also I guess people will think twice to allow downloading .config files in IIS.

This isn't the case with the .json extension. In some cases you do like to download .json files.  So currently if I now (accidentally) drop .json file (containing connectionstring etc) in a public folder, I have a problem.

What is the

[2016-08-11 18:20] FlorianRainer opened #486 "ReloadOnChange stops after error in Load"
Version 1.0.0
Net: 4.6

I use the ConfigurationBuilder in a simple console application, nothing special
`.AddJsonFile("appsettings.json", optional: false, reloadOnChange: true)`

I use a worker to write my config value each second to the output.
Reloading works without problems, but if i save the config file with an error, even if i correct it later it stopps to reload.

but sometimes it happens e

[2016-08-12 19:17] muratg opened #487 "Create a Azure KeyVault based configuration provider"
CoreCLR based KeyVault SDK will be ready late August per @glennc.

Let's sit down and come up with the design.

[2016-08-16 20:59] miguelcrpinto opened #488 "Improve the comment for the prefix parameter in the AddEnvironmentVariables method"
The [/// comment for the prefix parameter of the AddEnvironmentVariables method](https://github.com/aspnet/Configuration/blob/47b13050126fab7afa18e8636bb3c5d1f4022338/src/Microsoft.Extensions.Configuration.EnvironmentVariables/EnvironmentVariablesExtensions.cs#L29) is a bit misleading as it doesn't only filter the environment variables but also removes the provided prefix from the variable name. T

[2016-08-17 22:53] HaoK commented on #486
Might be related to https://github.com/aspnet/Configuration/issues/476

[2016-08-17 23:37] divega opened #489 "Consider adding callback for load or reload errors"
Currently reload happens in a separate callback and if there are issues in configuration (required files don't exist, or have parsing errors) there is no good way to find out.

This issue is about creating a mechanism that customers can use to execute some action (e.g. log the error message) if such error happens during reload. Potentially this could be used to handle issues on the first load, but

[2016-08-17 23:39] divega commented on #488
@miguelcrpinto are you planning to send a PR for the product to improve this? :smile:

[2016-08-17 23:40] divega commented on #486
@HaoK you can decide to close this as duplicate if you think we have enough.

[2016-08-17 23:50] divega commented on #485
@304NotModified we don't have plans to change the default extension of appsettings.json in the templates, but you are free to use whatever extension you want. If you care about preventing accidentally placing these files into a folder that is served as static content, we suggest to just use an extension that is already protected or add the extension to the list of protected extensions in IIS.

[2016-08-17 23:50] #485 closed

[2016-08-17 23:50] divega commented on #480
The are no current plans to add native support for Configuraiton in previous versions of ASP.NET.

[2016-08-17 23:50] #480 closed

[2016-08-17 23:54] divega commented on #470
**Triage:** we would like to wait until we get more feedback on this as adding an option to specify the culture would leak through all the implementation.

In the meanwhile customers will have to work around this by doing their own parsing.

[2016-08-17 23:56] divega commented on #82
**Triage:** our team is not currently planning to build a configuration provider for YAML, but if someone from the community wants to contribute it we would consider it.

[2016-08-17 23:56] #82 closed

[2016-08-18 00:01] divega commented on #261
We should consider supporting an existing attribute, e.g. `NotMappedAttribute` or some other serialization ignore value. The option of whitelist or blacklist can be a bit more complicated because we would need to parse dot delimited lists of properties.

[2016-08-18 00:01] divega commented on #261
**Triage:** we would like to wait for more customers feedback before we decide tackling this. Moving to back to the backlog.

[2016-08-18 02:06] valeriy-novytskyy opened #490 "ConfigurationExtensions exists in both Microsoft.Extensions.Configuration.Abstractions and Microsoft.Extensions.Configuration.UserSecrets"
Hello,

I am using VSCode on a Mac, and so far I can't find a way to fix the following compiler error:

error CS0433: The type 'ConfigurationExtensions' exists in both 'Microsoft.Extensions.Configuration.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' and 'Microsoft.Extensions.Configuration.UserSecrets, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829dda

[2016-08-18 02:21] davidfowl commented on #490
"Microsoft.Extensions.Configuration": "1.0.0"

Try using 1.0.0 of both packages.

[2016-08-18 03:41] davidfowl commented on #490
Ah @Eilon looks like we missed one of these places we were supposed to name the class more specifically.

[2016-08-18 03:43] valeriy-novytskyy commented on #490
Thanks for the fast response! I followed your suggestion, but after deleting all build files and re-building the problem persisted.

I originally got an older version of UserSecrets by following https://docs.asp.net/en/latest/security/app-secrets.html#security-app-secrets.

Please see my pull requests in case they are of use:

- https://github.com/aspnet/Configuration/pull/491
- https://github.com

[2016-08-18 04:26] davidfowl commented on #490
Can you reproduce this on a new 1.0.0 project?

@valeriy-novytskyy I'm not sure how your fix works.

Not sure what you mean.

Can you say what the repro steps are to see this error?

[2016-08-18 06:32] valeriy-novytskyy commented on #490
- Using OS X El Capitan 10.11.5
- Using dotnet --version 1.0.0-preview2-003121
- Using VSCode 1.4.0

---

- Create folder on local machine for a new ASP.net Core web application
- Open Command window and change current directory to this folder
- Run `yo` to ask Yeoman to create a new ASP.net Core project (_aspnet_)
- Select _Web Application Basic_ with _Bootstrap_ keeping default application name

[2016-08-18 06:47] davidfowl commented on #490
Are you doing this because `this.Configuration.GetConnectionString("Test")` also gives the same error?

[2016-08-18 06:49] runeborg commented on #470
How would I go about parsing it on my own? As I cannot get it as a string value?

[2016-08-18 06:50] davidfowl commented on #470
@runeborg Why can't you get it as a string value?

[2016-08-18 07:16] miguelcrpinto commented on #488
@divega I could do the PR but as far as I know I'd have to sign the Contributor License Agreement which I haven't done yet and today I'm going on a short vacation until the end of the month.

I'll start by signing the Contributor License Agreement and this gets approved today I'll try to do the PR before going on vacations.

[2016-08-18 07:24] divega commented on #488
@miguelcrpinto no worries and enjoy your vacation. If you don't get to it we will apply the change here.

[2016-08-18 07:27] valeriy-novytskyy commented on #490
I see what's going on, the class was not meant to be used this way. I ended up with the above code after some trial-and-error, and _then_ tried using Secrets.

`this.Configuration.GetConnectionString("Test")` does not generate the same error.

[2016-08-18 07:27] #490 closed

[2016-08-18 07:43] runeborg commented on #470
I remembered incorrectly, and this was indeed how I solved it.

This does however completely prevent you from using the automatic modelbinding for any serious projects, since it won't run on any machine that does not use the invariant (or compatible) localization.

[2016-08-18 08:12] FlorianRainer commented on #486
@HaoK its not throwing any exception in the application, maybe its the exception in the FileSystemWatcher Callback, but not sure.

But there remains the problem when i change the file about 10 times without error the reload mechanism stopps as well. maybe there is a fileread exception because of a to early read, but ist hard to know without debugging.

but i saw there are some issues with the Relo

[2016-08-18 09:45] divega commented on #470
@runeborg I am a bit confused by this statemebt. I thought the whole time this issue was about the binding code always using invariant culture and wanting it to use a different culture if the string in configuration was stored in a format that didn't match what invarian culture would do. But now I re-read the issue and you explicitly said that the format if the number in the JSON file was `22.814`

[2016-08-18 10:46] miguelcrpinto commented on #488
Done! PR #492

[2016-08-18 15:00] runeborg commented on #470
Yes, that is exactly the exception I get for a string reading 22.814. I sifted through the code, and it first reads the value from JSON, converts it to a string and then back to a double during model binding from what I can tell.

For example in JsonConfigurationFileParser.VisitPrimitive it does
_data[key] = data.ToString();

And then in ConfigurationBinder.ConvertValue it does
return TypeDescript

[2016-08-19 06:56] divega commented on #470
@runeborg thank you very much for the details. Moving this to 1.1 because the issue is more concerning that what I thought it was when we discussed it in triage. Even if we decide it is OK that for now we don't support passing a specific culture we should be consistently using invariant culture as called out in #348.

[2016-08-19 07:55] HaoK commented on #470
@divega so if the issue here is that the our JsonParser is converting to local culture via ToString(), are you sure switching this to Invariant is something we can do in 1.1?  That seems highly likely to be a fairly visible breaking change no?

[2016-08-19 08:04] divega commented on #470
Let's chat about it. It may actually qualify for 1.0.1.

[2016-08-19 08:39] runeborg commented on #470
A fix might break implementations that worked around the issue, but it will resolve an issue that is not visible until after the app has been shipped.

[2016-08-19 10:03] penderi opened #493 "Consider adding AppConfigConfigurationSource"
This could be crazy but....
... as we can use the dotnetcore Configuration system within 4.5.2 framework apps, it would be rather useful if we had a ConfigurationSource for the dotnetcore configuration system that can read from App.Config files.

This could:
- inherit from FileConfigurationSource (as per json/xml config sources)
- use a new AppConfigConfigurationProvider to LoadStraem / ReadLines

[2016-08-19 16:36] JunTaoLuo commented on #468
There seems to be a few flaky tests on linux specifically that occasionally breaks the build. They may be related to this issue and have been currently disabled for now. It would be good to investigate those as part of this issue as well.

https://github.com/aspnet/Configuration/blob/ab5ed47c3ce04621bf1bfc665c3db5474c8ee528/test/Microsoft.Extensions.Configuration.FunctionalTests/ConfigurationTests

[2016-08-19 23:24] HaoK commented on #488
Merged thanks! e82c7aa236271b22792441caadce001e7fd426fa

[2016-08-19 23:24] #488 closed

[2016-08-21 15:56] ddobric opened #495 "Working with Stringly Typed and complex Configuration"
Hi all,

I was trying to .netcore project (not aspnet) to use configuration around IConfigurationProvider and IConfigurationSource.
In the first step I started loving it. It is extensible, powerful etc.

Then I tried to do something, from the real life. It means I wanted to use strongly typed complex types. And I was lost in complexity. After more than hour of trying I have given up. At the end I

[2016-08-22 20:34] HaoK commented on #476
Do you have a repro json config file for me to investigate?  I can't repro the null ref right now

[2016-08-22 20:37] HaoK commented on #476
That said I see the possible null ref, I just want to make sure we have a test case that covers the issue

[2016-08-22 21:07] HaoK commented on #466
Lump https://github.com/aspnet/Configuration/issues/393 into this bug as well

[2016-08-22 21:07] HaoK commented on #393
Tracking as part of https://github.com/aspnet/Configuration/issues/466

[2016-08-22 21:07] #393 closed

[2016-08-22 21:11] HaoK commented on #470
We could also put a fix in the binder to just try converting from Invariant and current culture strings, so we'd be resilient to both inputs

[2016-08-22 21:27] HaoK commented on #470
I guess there's a danger to trying both for things like date time which mean completely different days based on ordering:

01/02/2001 vs 02/01/2001...

[2016-08-22 21:28] HaoK commented on #470
But we could still always try Invariant first, followed by current culture, which would tie break these situations.  And then also add an overload which takes in the culture to use for the conversion, to handle the ambiguous cases

[2016-08-22 23:06] cesarbs commented on #495
You can use configuration binding to work with strongly typed objects. You can take a look at this unit test to see how that works:

https://github.com/aspnet/Configuration/blob/759dc9e138342292ec621776a27bf7e12841bbeb/test/Microsoft.Extensions.Configuration.Binder.Test/ConfigurationBinderTests.cs#L87

[2016-08-23 00:33] brentschmaltz commented on #487
@muratg @glennc how is this progressing? looks interesting.

[2016-08-23 02:54] glennc commented on #487
@brentschmaltz We haven't started any real work yet, just some initial discussion and design.

[2016-08-23 09:00] cwe1ss commented on #487
Given two vaults:

* `myvault1-europe` - https://myvault1-europe.vault.azure.net
  * `Sql-ConnectionString`: `Server=...`
  * `Sql-ConnectionString-Module2`: `Server=...`
  * `ApplicationInsightsKey`: `11111111-2222-3333-4444-555555555555`
  * `SomePassword`: `123456`
* `myvault2-us` - https://myvault2-us.vault.azure.net
  * `DbConnectionString`: `Server=...`
  * `ApplicationInsightsKey`: `1111111

[2016-08-23 16:33] glennc commented on #487
Is the selection of europe vs us known at startup and doesn't change? or is it that some code paths want to use one and some want to use the other?

[2016-08-23 16:57] cwe1ss commented on #487
Our current scenario is that we have different vaults for different environments. this means, it is known at startup and doesn't change.

If we would scale-out one service to additional data centers we might just use another environment key and create another mapping file. So this case would also be known at startup. (We don't yet have this scenario so I haven't given much thought into it)

We als

[2016-08-23 17:02] glennc commented on #487
Ok cool, so connecting to different key vault instances in different environments is fine then, with some code when you add it. However, the ability to ask for "ConnStr" and have that map to two different named keys in the vault isn't something that I had thought about at all.

You want this because you don't control the vaults and they end up with slightly different names. Right?

[2016-08-23 17:13] cwe1ss commented on #487
exactly! let's say we have one big Key Vault for our application that contains connection strings for all modules (each uses a separate DB). In Key Vault, you would have to give them different names - e.g. "CustomersConnectionString", "SalesConnectionString", ...

In code, you might have separate libraries for each module and each might have an options class - e.g. `CustomersOptions`, which just c

[2016-08-23 17:14] cwe1ss commented on #487
of course, all of this might be pretty advanced - maybe having just a 1:1 mapping covers most people?! but for us, this was/is essential.

[2016-08-23 21:33] HaoK commented on #476
74c68cd6f8c4d937dc1c0a2c1996dbb1a5f14263

[2016-08-23 21:33] #476 closed

[2016-08-24 05:14] glennc commented on #487
Is your app ASP.NET Core or are you dumping all the things you needed for a different app?

[2016-08-24 06:12] cwe1ss commented on #487
we use one key vault per bounded context. one bounded context usually contains an ASP.NET Core based web API and there might also be background workers that process stuff from Azure Service Bus / Azure Event Hubs etc.
since we have more than 50 services, having one key vault per service seems to be too much administrative overhead. That's why we decided to see one bounded context as a security bor

[2016-08-24 18:35] giggio commented on #476
Looks much better now. Thanks @HaoK .

[2016-08-24 22:44] shirhatti commented on #493
No plans to do this at the moment. We will re-visit this while planning for futures releases.

[2016-08-24 23:00] shirhatti commented on #495
Configuration providers are currently designed to be independent. A provider added later in the builder has the ability to override the values of a property. However, it cannot do so based on values returned by previous providers, i.e. there is no real chaining of providers but just a prioritized list of providers.
If this important, feel free to create a new issue and provide more feedback

Appre

[2016-08-24 23:00] #495 closed

[2016-08-24 23:10] shirhatti commented on #394
@divega Please have a look

[2016-08-28 06:05] bloudraak opened #501 "Optional Configuration Fails When Directory Doesn't exist"
Consider the following code snippet, where personal.json is optional. It often doesn't exist, not does the directory "myapp" in the user's profile.

[code]

This results in an exception

[code]

There is a workaround for this by checking whether the directory exists; however I'm adding this to almost every application that allows a user to overwrite configuration in their personal directory.  It m

[2016-08-28 07:13] HaoK commented on #501
Yep this is fixed in 1.1, dupe of https://github.com/aspnet/Configuration/issues/478

[2016-08-28 07:13] #501 closed

[2016-08-28 08:15] bloudraak commented on #487
I'd like to separate key vaults based on the risks they pose.  So you end with something like this:

- **Monitoring Vaults** used by monitoring systems and acceptance tests to run synthetic transactions, this includes the credentials used for monitoring and any supporting information used to persists the results of the transactions, e.g. database connection strings etc.
- **Deployment Vaults** use

[2016-08-30 02:11] mcm-ham commented on #487
One problem is azure key vault secret names cannot contain a colon yet this is what Configuration uses for sub-property names. Maybe add support for overriding name through the use of a "ConfigKey" tag like your article uses https://azure.microsoft.com/en-us/documentation/articles/guidance-multitenant-identity-keyvault/#implementation

[2016-08-30 06:36] glennc commented on #487
@bloudraak What you are describing sounds pretty much exactly like what we were thinking of.

@mcm-ham This is a problem with other sources as well, the environment variable one for example. IIRC we just use `_` there and transparently translate `:` to `_`.

[2016-08-31 18:47] ycrumeyrolle opened #503 "Redis configuration provider"
Would it be a good idea to add a Redis configuration provider ?
Storage of the config in a hashset, reload capability with the keyspace notification feature, and voilà!

[2016-08-31 18:51] DamianEdwards commented on #503
@glennc

[2016-09-01 12:05] stephentoub opened #505 "Can't add `.env` for ini config"
(Ported from @atrauzzi at https://github.com/dotnet/corefx/issues/11317)
---
If I use the following:
[code]

I get:

[code]

Is there anything about the fact that the file starts with a dot that gets in the way here?  Is there any reason why that should be a limitation?

[2016-09-04 20:34] ChadJessup opened #507 "Can't use Environment.GetCommandLineArgs() for ConfigurationBuilder.AddCommandLine(...)"
Can't use the results from Environment.GetCommandLineArgs() as a parameter to the ConfigurationBuilder's .AddCommandLine extension method.

[code]

The first command line element in the string array provided by `Environment.GetCommandLineArgs()` is the path to the executable, which cannot be parsed.
`Environment.GetCommandLineArgs().Skip(1).ToArray()` is a messy work around.

I feel that this is s

[2016-09-06 01:48] SeeWhat opened #508 "Json source doesn't seem to support null values"
When trying to use a json configuration source with a null value

 and we are using Options to bind that to a class with a property as int?. An error "Failed to convert '' to type 'System.Int32'." occurs.

It appears that https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Json/JsonConfigurationFileParser.cs#L98 converts to an empty string rather than null. When

[2016-09-06 19:14] HaoK commented on #470
related issue with the the parser stringifying first https://github.com/aspnet/Configuration/issues/508

[2016-09-07 18:13] muratg opened #509 "RegisterChangeCallback fires only once"
_From @RoboBurned on September 4, 2016 8:37_

I am writing a handler to reconfigure logger on configuration file changes.
I get a reload token and subscribes to the changes. On every change I re-register the handler.
But when I change appsettings.json file in file editor I get only one change event.
[code]

Output:
[code]

_Copied from original issue: aspnet/Logging#487_

[2016-09-07 18:13] muratg commented on #509
_From @pranavkm on September 4, 2016 21:27_

You have to re-register the token as part of the callback. See https://github.com/aspnet/Logging/blob/a63a9d05c1938e50f376e316f47c2a44f6c9851f/src/Microsoft.Extensions.Logging.Console/ConsoleLoggerProvider.cs#L58-L62

[2016-09-07 18:13] muratg commented on #509
_From @RoboBurned on September 5, 2016 6:4_

@pranavkm Hi, Yes, I already found that the token can be used only once. However in callback (WriteToConsole) I get a new token and re-register the callback (see code)

[2016-09-07 18:13] muratg commented on #509
_From @pranavkm on September 6, 2016 16:20_

Oops, missed that bit. This does look ok at first glance.

[2016-09-07 18:13] muratg commented on #509
@RoboBurned Shouldn't this bug be filed in aspnet/Configuration repo? Does it have anything to do with Logging?

[2016-09-07 18:13] muratg commented on #509
_From @RoboBurned on September 7, 2016 7:59_

@muratg Agree. It was my mistake to post it here. I was working on logger when encountered this issue and was looking at how Console logger handles this.
Should I close this issue and create another in aspnet/Configuration or it is possible to move it there?

[2016-09-08 04:44] divega commented on #509
@RoboBurned can you try using `OnChange()` as described at https://github.com/aspnet/Configuration/issues/432#issuecomment-221704063?

[2016-09-08 07:09] RoboBurned commented on #509
@divega I have tried the approach from comment. Results are the same. Sometimes it works fine 2 or 3 times i.e. I change file and save and hit the breakpoint set in callback. But then it stops. Sometimes I get two fires after single file change.

[2016-09-08 07:34] RoboBurned commented on #432
I have the same issue so I used code by @conniey except I use ChangeToken.OnChange as suggested.
Also I added SetBasePath because VS starts program in bin\Debug\netcoreapp1.0\ but working dir is project's root dir, where I have settings file.
My Main looks like this. I open the appsettings.json file in editor (Notepad++)
[code]
Then I just add line break to the file and save. 4 times it worked, bu

[2016-09-08 20:05] HaoK commented on #509
This is likely a dupe of https://github.com/aspnet/Configuration/issues/486

[2016-09-09 17:11] #487 closed

[2016-09-09 17:56] cwe1ss commented on #487
sad to see this closed without any further discussion. I'm afraid the current solution will only cover the most basic requirements. Unfortunately, I don't have enough time right now to finish #502, but maybe it's useful for somebody.

[2016-09-09 22:20] HaoK commented on #486
General problem, is that exceptions in OnLoad will cause the OnChange chain to be broken so no more subsequent ReloadOnChange exceptions will happen.  That explains why any parse errors will cause no more change notifications.

cc @divega

[2016-09-09 22:27] BrennanConroy commented on #486
:eyes:

[2016-09-09 22:27] HaoK commented on #486
@BrennanConroy ran into this due to File.WriteAllText will trigger reload before the file has been completely written, this almost certainly will break reload on change entirely as it currently stands...

At a minimum we need to make the change monitoring be able to handle exceptions so they don't blow up future exceptions, need to wrap the call to Load in a try/catch is a pretty simple fix for th

[2016-09-09 23:20] pakrym commented on #487
@cwe1ss we are definitely going to iterate on KeyVault provider more, We just want to get simpler prerelease version out so people can actually start using it.

[2016-09-09 23:50] divega commented on #486
I was gong to suggest a try/finally block. I saw your PR has try/catch that swallows the exception instead. In principle I would still prefer try/finally if it helps, but I am not sure I can articulate a convincing reason in this particular case :smile:

Should we implement a back-off strategy to give file changes the chance to be finished before we react? Not sure if blocking fow a while here her

[2016-09-11 08:49] VitaliyMF opened #511 "ConfigurationBinder cannot set properties with type 'object'"
When settings model has property of type 'object', ConfigurationBinder throws InvalidOperationException ('Failed to convert 'VALUE' to type 'System.Object').
I think this is a bug, because property with type 'object' can accept value of any type.

If settings model has a property with array of another model that has property of type 'object', this array entry is ignored (because of  'catch {}' cod

[2016-09-12 17:56] HaoK commented on #486
Do you strongly prefer try/finally over try/catch?  In this case I lean towards swallowing since there is no way they can catch the exception right now (other than putting the try/catch inside of the delegate being passed to OnChange.

I'm not sure I understand what you are proposing in regards to the WriteAllText, since we already 'miss' any notifications that would occur during processing of the

[2016-09-12 18:05] glennc commented on #503
This doesn't seem crazy, though it's not something we are looking at right now.

One thing to consider with the config system is that loading config delays startup. So the slower your configuration source the longer it takes for your application to startup. This is probably OK in this case, but I wanted to throw it out there.

The other thing to consider is how to get the connection string for Red

[2016-09-12 18:19] FlorianRainer commented on #486
i have noticed multiple callbacks from `FileSystemWatcher`. Maybe the cause of your problem is this behaviour. Maybe the first callback is already called while the file is not completely written, but the last one would match your needs.
I have not tested this in any case but maybe it could be a hint.

I have resolved the problem by adding a small delay to the `OnLoad `call, i start a `Timer` on `O

[2016-09-12 18:29] HaoK commented on #486
Yes that's exactly what uncovered the root issue, since some of the config providers will throw if the file isn't valid, which prevents OnChange from reregistering a change token which breaks future notifications from being received.

So the lowest level bug, is OnChange needs to be able to handle the consumer blowing up with an exception.  I believe once that's fixed, the extra 'too early' callba

[2016-09-12 21:14] ycrumeyrolle commented on #503
My use case would be to have an Azure key Vault configuration provider for a centralized secured storage of secrets like passwords, and a Redis configuration provider for a centralized "unsecured" storage. The Redis external storage avoid to push a new configuration file to every node interested in a
specific value (ie. a web service URL shared by dozen of applications)
Delayed startup could be ac

[2016-09-12 22:17] divega commented on #486
Moving discussion to the PR at https://github.com/aspnet/Common/pull/147/files#r78456599.

Adding a back-off period is just an idea for making the feature more robust without trying to make it deterministic. E.g. if a change happened and the notification didn't get triggered then the feature would obviously be broken. But if the notification got triggered 10 milliseconds after the change and "coll

[2016-09-12 22:35] HaoK commented on #486
We could certainly add a built in delay like 500 ms before invoking which would help with files that don't take longer than that to write out.

[2016-09-12 22:50] divega commented on #486
I said back-off because I assumed we wanted to try the first time and only retry (after a waiting period) if we got an exception. But a simple delay or timer works for me too.

[2016-09-13 13:03] lszomoru opened #512 "Multi-tenant configuration management"
I started working on an internal site that is supposed to be used by multiple teams. I would like to enable each team, to have their own settings so I was thinking of creating a "settings" folder and within that folder each team would have their own settings: `teamA\settings.json`, and `teamB\settings.json`.

In order to load the settings for both teams I was thinking of creating a singleton servi

[2016-09-13 17:29] #509 closed

[2016-09-13 17:32] HaoK commented on #468
This issue might be related to https://github.com/aspnet/Configuration/issues/486 as well.

[2016-09-14 00:39] glennc commented on #503
I don't know that we want it here in the main config repo. However, if you build it and link the repo here I am ok with getting one of our guys to look over it, so you get another set of eyes, and we can link to it from the README and some places like that to tell people it exists.

It's not immediately clear to me that enough people explicitly want Redis that it should be in the main repo. KeyVau

[2016-09-14 00:43] glennc commented on #512
@divega or @sebastienros will probably have greater insight into this then I do. But I will ask some questions and see how we go :).

Are you expecting the options config binding stuff to work as well, or that you would use this service explicitly. Accepting an IMySettingsManager and doing settingsManager.Get("somekey") vs accepting an Options<T>.

[2016-09-14 00:44] glennc commented on #505
On the face of it this is just a bug, we will get it assigned for investigation and fixing in the next triage. Which I think is tomorrow.

[2016-09-14 06:58] lszomoru commented on #512
thanks for getting back to me on this @glennc. Accepting the Options would be ideal but is that is not possible, I am fine with using `IMySettingsManager` explicitly and doing `settingsManager.Get<OptionsModel>("somekey")`.

[2016-09-14 15:05] sebastienros commented on #512
The different services or middlewares that consume configuration are not "multi tenant aware". So even if the configuration could provide different values based on some context, it would not be consumed correctly, or even as many times as necessary.

The only solution to implementing multi-tenancy and handle configuration is to duplicate the middlewares and services for each tenant. There are curr

[2016-09-14 15:21] lszomoru commented on #512
Thanks @sebastienros. I guess multi-tenancy might have been the wrong term to use here. I will take a look and evaluate the two options that you mentioned in your post. By the way the option to have customer services/modules for each tenant sounds very interesting, as that is something that our internal tool might have to support in the future.

[2016-09-14 15:30] ycrumeyrolle commented on #503
Here is the fork : https://github.com/ycrumeyrolle/Configuration/tree/redis

I may put later the code to the aspnet-contrib repo (https://github.com/aspnet-contrib)

[2016-09-15 21:43] glennc commented on #507
IIRC this was originally intended to pass the args array when using a particular commandline parsing library, rather than the output of GetCommandLineArgs.

But yes it is not great that these don't work together well. It is something we should look at fixing in the future. In the mean time using your workaround or building a different provider to replace the built-in one are all you can really do.

[2016-09-15 23:31] HaoK commented on #505
Root issue appears to be the PhysicalFileProvider, filed: https://github.com/aspnet/FileSystem/issues/232

[2016-09-15 23:31] #505 closed

[2016-09-18 17:33] lszomoru commented on #512
Over the weekend, I was able to get this to work by creating an IMySettingsManager and calling settingsManager.Get("somekey"). While this works, with this implementation I am losing all the benefits of DI, so I was wondering if there would be a way to somehow add all the various options for each team to the container and then somehow inject the correct options to the constructors. Thanks!

[2016-09-19 23:57] natemcmaster opened #514 "Discourage manual editing of secret store"
_From @natemcmaster on August 24, 2016 17:16_

The storage mechanism for user secrets should be an opaque implementation detail. We've encountered a few issues when users or tools edit secrets.json in inconsistent ways with how our tooling understands the file. (Example: nesting or flattening keys, see #79). We should find ways to discourage manually editing of this storage.

Possible solutions (o

[2016-09-21 16:52] HaoK commented on #503
@glennc @divega changes look reasonable to me, and include tests as well.

[2016-09-21 22:36] #466 closed

[2016-09-21 22:36] HaoK commented on #508
cb271d3524e6a5ca5cb586642603c03b2b082dcc

[2016-09-21 22:36] #508 closed

[2016-09-21 23:05] HaoK commented on #486
36ec5b0f8d07f04e81650041ffb2b740bd1fd29c

[2016-09-21 23:05] #486 closed

[2016-09-21 23:06] HaoK commented on #489
36ec5b0f8d07f04e81650041ffb2b740bd1fd29c

[2016-09-21 23:06] #489 closed

[2016-09-21 23:29] HaoK commented on #468
Underlying bugs have been fixed and tests have been reenabled, this *should* be fixed now

[2016-09-23 15:27] DixonDs opened #516 "ConfigurationProvider.GetChildKeys returning earlierKeys"
The summary of this method says:

But the code itself concats `earlierKeys`, so basically it returns not only keys that this particular provider has, but also the keys of all previous providers. What is the reason for this? I find it very confusing.

[2016-09-26 18:07] #511 closed

[2016-09-28 21:11] Rick-Anderson opened #518 "How to bind POCO class"
I'm documenting configuration and I can't bind to ``MyWindow`` (it's null )

[code]

@HaoK

[2016-09-28 21:22] HaoK commented on #518
Yeah, its a bit confusing, this always seems to catch people now with the way the API ended up...

You have to do:
[code]

[2016-09-28 21:26] Rick-Anderson commented on #518
Thanks!

[2016-09-28 21:26] #518 closed

[2016-09-30 21:19] HaoK commented on #467
I went with `T Bind<T>(this IConfiguration config) : where T:new()` to start.

Do we need an overload that takes a string which is a shortcut for the common: `config.GetSection(key).Bind<T>()`.

[2016-10-02 09:20] ddobric opened #520 "StronglyTypedProvider"
Hi all,
we have a strong demand for using of strongly typed configuration values in .net core application (not only aspnet). Unfortunately we found current configuration concept especially out of aspnet not very useful.
For this reason, we implemented StronglyTypedConfigSource and StronglyTypedConfigProvider.
Fork: https://github.com/daenetCorporation/Configuration

Now we need to make a decision

[2016-10-03 13:14] galich opened #523 "Be tolerant to unknown command line switches"
This line throws FormatException when command line is not as pure as configuration provider expects [CommandLineConfigurationProvider.cs#L89](https://github.com/aspnet/Configuration/blob/master/src/Microsoft.Extensions.Configuration.CommandLine/CommandLineConfigurationProvider.cs#L89) and crashes the app.

Fine, configuration system can't handle it, but at least **let us ignore "incorrect" input**

[2016-10-04 21:14] ycrumeyrolle commented on #520
I think the `ConfigurationBinder` class is doing the job.
[code]

[2016-10-07 16:17] ddobric commented on #520
?

[2016-10-07 23:55] ycrumeyrolle commented on #520
The `ConfigurationBinder` class in the `Microsoft.Extensions.Configuration.Binder` package brings extensions methods for object binding :

[code]

This my cover your needs.

[2016-10-09 14:29] martinnormark opened #528 "Parsing config to IOptions fails in production only"
I'm using the `IOptions` pattern to parse my config file into a strongly typed class.

I'm doing this in `ConfigureServices`:
[code]

The `StorageSettings` class looks like this:
[code]

And my JSON configuration file looks like this:
[code]

It works when running locally, and the config sections and properties are parsed just fine. But when running i Azure I get this error:
[code]

[2016-10-10 22:15] martinnormark commented on #528
I decided to create a test project to see if I could re-produce the issue in a small and more isolated project. I could not.

It turns out that my Azure App Service (Web App) instance that I'd used for a long time were the culprit - in desperation I deployed the project that failed in Azure to a new App Service instance and it started working.

I tried to delete a lot of folders using Kudu but it

[2016-10-10 22:15] #528 closed

[2016-10-11 19:59] HaoK commented on #467
4686665ad186c2bd1d9bba8006adaaeeb41ee286

[2016-10-11 19:59] #467 closed

[2016-10-12 14:56] divega commented on #468
@HaoK what do we need to close this?

[2016-10-12 16:58] HaoK commented on #468
There's still one test that's failling around 30-40% on unbutu CI runs that I've muted.  I just checked in increasing the delay on that test, need to see if that resolves things before closing

[2016-10-13 20:53] HaoK commented on #470
Not going to do this in 1.1 since its a breaking change

[2016-10-13 22:11] HaoK commented on #470
Unassigning for now since this is blocked

[2016-10-14 20:42] divega commented on #468
@HaoK should we expect an improvement in 1.1.0-preview1 or should this be moved to 1.1.0?

[2016-10-14 20:46] HaoK commented on #468
Lets move this to 1.1, I need to investigate more, the test is still failing 40% on ubuntu :(

[2016-10-19 22:55] anurse opened #530 "Update Azure KeyVault Configuration Provider to support netcoreapp"
CoreCLR-based KeyVault API seems to be available now but the configuration provider only supports `net451`. Suggest we fix that for 1.1 RTM.

/cc @muratg @pakrym

[2016-10-20 00:11] divega commented on #530
I went ahead and assigned this to @pakrym in the 1.1.0 milestone.

[2016-10-20 19:23] anurse commented on #476
It looks like we still throw a NullReferenceException (or just return null values) if `reloadOnChange` is true and you change the file to have invalid JSON. The reload-on-change behavior does continue to work though, so when you correct the error the problem is resolved.

Thoughts on fixing that @HaoK @divega ? The scenario is: With a JSON config file with `reloadOnChange` set to true, change the

[2016-10-20 19:26] anurse commented on #505
Note to self and others, for clarification: This issue is not resolved in 1.1 because it is actually an issue in the PhysicalFileProvider. The relevant bug (referenced above) is currently not in the 1.1 milestone.

[2016-10-20 19:35] divega commented on #476
@HaoK would `configurationBuilder.SetFileLoadExceptionHandler()` help in this case? If yes, I think we could consider wiring up something that logs the error in the default templates. Configuration cannot use logging directly though.

[2016-10-21 20:16] tugberkugurlu opened #532 "Bring back Get<T>() [RIP T Bind<T>]"
I am not sure where I am doing something wrong but I am seeing a weird behaviour in terms of getting parsing the JSON config file.

I would appreciate if someone can have a look and tell me where I am doing something stupid 😞
## Repro Steps

[code]
## Expected Result

Console output to be equal to below:

[code]
## Actual Result

Console output is equal to below:

[code]
## dotnet CLI Info

[code]

[2016-10-21 20:41] tugberkugurlu commented on #532
This made it work: https://github.com/tugberkugurlu/AspNetCoreSamples/commit/87cfde932124b2b63cc7d1a0c716c83feb8c405b

That's weird though. Is `GetValue<T>` only supposed to work for simple types?

[2016-10-22 02:40] Rick-Anderson commented on #532
Here's the sample I've added to the config doc PR

[code]

[2016-10-22 13:02] tugberkugurlu commented on #532
thanks @Rick-Anderson!

After getting help from Twitter people and digging into the source code, I discovered that `GetValue<T>` API is not what I wanted. I think it only works for certain types if I am not mistaken (e.g. simple types like `int`, `string`, etc.) and it will never work for something like `MySettings`, correct?

It could have been better if it gave feedback about those situations ra

[2016-10-25 06:15] jiabiao opened #533 "Preserve Name Attribute in XmlConfigurationProvider"
I'am porting an exitsing project to net core.
There are many xml configuration files with name attribute like this:

[code]

Options class:

[code]

Because the 'name' attribute is processed as element in XmlConfigurationProvider, so the key value will be:

| Key | Value |
| --- | --- |
| command:nameA:database | mydb |
| command:nameA:commandText | SELECT 'A' |
| command:nameB:database | mydb |
|

[2016-10-25 18:12] HaoK commented on #476
Yeah that's why we added that feature to make it possible to log at least for situations like this.

[2016-10-25 18:51] HaoK commented on #532
Yep it's basically a convert. It's been a common source of confusion so far.

[2016-10-25 21:50] HaoK commented on #532
After discussion with @divega @glennc we've decided to bring back `Get<T>()` which will 'do the right thing' for the majority of cases where T is convertible/bindable from either the Value/Children.

We'll need to hash out some of the specific details for some of the edge cases and the heuristics, but that discussion can go in the PR.

[2016-10-25 21:51] HaoK commented on #532
Also this will eliminate the need for the `T Bind<T>()` that we added in 1.1-preview1, I'll remove that method as part of this change

[2016-10-25 21:55] tugberkugurlu commented on #532
@HaoK  🎉 🎉 thanks a lot!

[2016-10-25 22:09] #530 closed

[2016-10-25 22:49] HaoK commented on #532
Associated PR for this work: https://github.com/aspnet/Configuration/pull/535

[2016-10-26 22:32] HaoK commented on #394
We should consider just binding to all non read only properties (public/private/internal/protected)

[2016-10-28 12:33] senj opened #536 "How to configure on which level AddEnvironmentVariables works"
Hi,

If I use

`var vars = System.Environment.GetEnvironmentVariables(System.EnvironmentVariableTarget.Machine);
`

it's possible to set the scope to User / Machine / Process.
With AddEnvironmentVariables() now, I wonder where this configuration comes from.
If I start my webservice I get the machine values, but if I test with xunit, I only get the process values. :(

[2016-10-30 16:14] galich opened #537 "UWP support for Microsoft.Extensions.Configuration.Json"
Attempt to add **Microsoft.Extensions.Configuration.Json** package to new empty UWP app fails with

[code]

[2016-11-01 15:48] shaunluttin opened #538 "Add sample for using IOptions and strongly typed option classes."
Use cases
* Access option classes in `ConfigureServices`.
* Access option classes in `Configure`.
* Access option classes in a controller.

[2016-11-01 22:15] HaoK opened #541 "Get/Bind should ConvertValue only if TypeConverter.CanConvertFromString"
We should make the Bind behavior a little smarter and only try to convert from the value if it can succeed, otherwise, we should use the Children to attempt binding.

[2016-11-01 22:18] HaoK commented on #532
d73b261ccef6235ee1ecc3d812dc9532f1947cb5

[2016-11-01 22:18] #532 closed

[2016-11-03 15:42] natemcmaster opened #543 "UserSecrets causes design-time tools to crash"
Changes made to support MSBuild #525 attribute break design-time usages of `.AddUserSecrets()` because` Assembly.GetEntryAssembly()` is different at design-time than runtime.

**Known design-time scenarios affected**
EF migrations - see https://github.com/aspnet/EntityFramework/issues/6918
ASP.NET Scaffolding

**Workaround:**
Users should specify the app assembly with the overload of `.AddUserSecr

[2016-11-03 22:56] HaoK commented on #468
The remaining issues appear to be test flakiness, there doesn't look to be any product changes for this issue (since the 1.1 checkin deadline is tomorrow, moving this out to 1.2, rather than trying to rush the test changes in)

[2016-11-04 07:33] davidfowl commented on #543
This is pretty horrible...

[2016-11-04 18:02] avireddy02 opened #546 "appsetting.json not mapping Dictionary<EnumStore.CurrencyCode, string> MerchantId"
I'm trying to import Application setting from appsetting.json using below code and Json, but MerchantId Dictionary was not mapping objects.

 services.Configure<AppSerSetting>(Configuration.GetSection("AppSerSetting"));
sample Json:
[code]

[2016-11-04 18:12] HaoK commented on #546
What does your AppSetting class look like?

[2016-11-04 18:33] avireddy02 commented on #546
`
 public class AppSerSetting
    {
        public Dictionary<EnumStore.CurrencyCode, string> MerchantId { get; set; }
        public static string ApplicationEnvironment { get; set; }
        public string SmtpServerAddress { get; set; }
    }

    public static class EnumStore
    {
        public enum CountryCode
        {
            US,
            CA,
            GB
        }
    }
`

[2016-11-04 18:44] avireddy02 commented on #546
if i change Dictionary<EnumStore.CurrencyCode, string> to Dictionary<string, string> it work fine

[2016-11-04 18:45] HaoK commented on #546
Yeah I don't think the binder can handle converting to enums right now

[2016-11-04 18:48] avireddy02 commented on #546
hmm.. ok thx for checking :)

[2016-11-04 21:07] natemcmaster commented on #543
@davidfowl proposed mitigation: https://github.com/aspnet/Configuration/pull/544. Basically, we shouldn't make `.AddUserSecrets()` the default method anymore. IMO we should obsolete it.

[2016-11-09 01:33] natemcmaster opened #547 "UserSecrets does not generate assembly attribute when it is a transitive reference"
When Microsoft.Extensions.Configuration.UserSecrets is a transitive reference, users will find it is possible to compile against its APIs, but it's build targets will not generate the assembly attributes required to make discovery of UserSecretsIdAttribute possible.

**Example:**
   Project.Web includes `<UserSecretsId>` in the csproj
   Project.Web includes call to `.AddUserSecrets()`
   Project.

[2016-11-09 01:42] natemcmaster opened #548 "Consider including guidance to suppress usersecrets build warning in the message"
Users may encounter this build warning:

In same cases, it is OK to ignore this build warning. We should consider adding guidance for suppressing this build warning.

Cases when this warning can be ignored:
User secrets referenced in a project reference, but not the main project
The project uses the `.AddUserSecrets(string userSecretsId)` overload, which doesn't look for assembly attributes.

How

[2016-11-09 23:24] divega commented on #290
**Note for triage:** clearing up milestone so that we can discuss if whether we want to do something in configuration encryption in the future.

[2016-11-09 23:52] divega opened #549 "User settings API"
Note: I am creating this high level issue with the main purpose of starting a discussion about a set of requirements that I hear relatively often about but that I believe Microsoft.Extensions.Configuration wasn't actually designed to satisfy. This could either lead us to:
1. Pursue a new direction for Configuration
2. Build a new separate feature
3. Decide we really don't want or need to do anythi

[2016-11-10 18:43] HaoK commented on #549
Some rough musings about what settings might look like potentially to help kick start the discussion

`Startup.ConfigureServices:``

Would this need the complexity that configuration had with multiple sources/providers?  That seems a lot less important than configuration, that alone would be a huge win in simplicity...

[code]

Usage:
[code]

[2016-11-10 18:49] HaoK commented on #546
@divega @glennc do we want to explicitly add Enum converter support for the binder?  We probably could handle enums

[2016-11-10 18:51] HaoK commented on #470
@divega @glennc can I just make this change now in 1.2?  No flag, just fix the JsonFileParser to always return the invariant string instead?

[2016-11-10 18:59] HaoK commented on #290
For something like this, it seems like we'd have to add a tool that did the encryption to match whatever new encrypted configuration API we added.  But it seems like we could add support to all of our existing file providers to handle decryption, so the consumption side should be fairly straight forward

[2016-11-10 21:14] Eilon commented on #543
This patch fix is **approved**!

[2016-11-10 22:08] natemcmaster opened #550 "Remove .AddUserSecrets() and other obsolete API"
With the conversion to MSBuild, we moved the runtime storage location for the user secrets ID from project.json to an assembly attribute. The `.AddUserSecrets()` overload can be troublesome because it relies on `Assembly.GetEntryAssembly()` to find to assembly attribute. Entry assembly can be null or may not represent the desired assembly. To mitigate this, we added `.AddUserSecrets(Assembly)` and

[2016-11-10 22:08] natemcmaster commented on #543
Resolved in #544. Design-time operations may still throw an error about either (1) entry assembly is null or (2) the UserSecretIdAttribute could not be found, but after looking at the options, we determined that for 1.0/1.1 there isn't much more `.AddUserSecrets()` can do to locate the user secret ID. We will consider revisiting this in 2.0 (see https://github.com/aspnet/Configuration/issues/550)

[2016-11-10 22:08] #543 closed

[2016-11-13 07:00] ddobric commented on #520
Do you have some working example?

[2016-11-13 22:09] ycrumeyrolle commented on #470
I am facing this bug.
Is there a workaround ?

[2016-11-13 22:22] ycrumeyrolle commented on #520
The provided code is working.
`project.json`
[code]

`Program.cs`
[code]

Do you expect another behaviour ?

[2016-11-14 18:45] divega commented on #470
@HaoK can you think of a workaround for this?

[2016-11-15 22:29] glennc commented on #549
@davidfowl what do you think about this?

settings.AddConsul
settings.AddZooKeeper
settings.AddEtcd
settings.AddKeyVault

I think the interface might be more complicated than some of this, like some of the stuff here: https://github.com/docker/libkv

[2016-11-16 18:14] natemcmaster opened #552 "UserSecrets: removing the dependency on project.json"
Discussion item for https://github.com/aspnet/Announcements/issues/209

[2016-11-17 02:57] divega opened #554 "Add readme.md page to KeyVault provider sample"
We want to have helpful usage snippets in all new sample projects referenced from https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/

Going to https://github.com/aspnet/Configuration/tree/dev/samples/KeyVaultSample currently shows no information.

[2016-11-17 02:58] divega commented on #554
@muratg can @pakrym work on this?

[2016-11-17 16:53] muratg commented on #554
@pakrym can add a short readme.md to the project for sure.

@divega would some information about how to set up your keyvault on azure + local cert setup suffice, or did you want something else?

[2016-11-17 16:55] divega commented on #554
That sounds great. I would add a simple usage snippet.

[2016-11-18 14:44] jods4 opened #555 "UserSecrets causes MSBuild failure when ID includes brackets"
With the preview-3 tooling that was released along VS 2017 RC:

The build tries to create an `UserSecretsIdAttribute` in the assembly from the `<UserSecretsId>` MS Build property.

This breaks if the id contains a `{`, e.g. `<UserSecretsId>myapp-{1234-some-guid}</UserSecretsId>`. It looks like a `string.Format()` is applied on top of the id, which has then an invalid number. This is unfortunate as

[2016-11-18 15:54] divega commented on #555
@natemcmaster thoughts on this? Do you know if the migration tool is taking care of moving the value from project.json to the csproj file? If yes, and if an MSBuild property is supposed to work for this (I am not sure of that), it sound like it should also do the escaping.

[2016-11-18 22:54] #338 closed

[2016-11-18 22:55] HaoK commented on #338
We do our best effort to bind, typically the only error you will get is if we cannot create a type, or there's a format exception.

[2016-11-18 22:56] #129 closed

[2016-11-18 22:56] HaoK commented on #129
We can revisit if we get more requests for this

[2016-11-18 22:59] HaoK commented on #239
We currently don't have plans to add providers in this space, but we would consider PRs or proposals in this area

[2016-11-18 22:59] #239 closed

[2016-11-18 23:00] #261 closed

[2016-11-18 23:03] HaoK commented on #276
https://github.com/aspnet/FileSystem/issues/232

[2016-11-18 23:04] HaoK commented on #311
Fixed by https://github.com/aspnet/Configuration/pull/534

[2016-11-18 23:04] #311 closed

[2016-11-18 23:06] #291 closed

[2016-11-18 23:10] HaoK commented on #314
We are not planning on changing the interface but feel free to submit a PR with this implemented as an extension method.

[2016-11-18 23:12] HaoK commented on #391
We aren't going to do this but if someone wants to do a PR we will consider.

[2016-11-18 23:12] #391 closed

[2016-11-18 23:16] #464 closed

[2016-11-18 23:16] HaoK commented on #493
@glennc is this something we need to do?

[2016-11-18 23:20] HaoK commented on #507
@glennc can you drive finding an owner for improvements in the Command Line utils in general since it affects more than just this?

[2016-11-18 23:36] jods4 commented on #464
@HaoK what's the resolution? Is there an improvement coming or did you drop the idea of having a path-traversal enabled file provider for configuration?

[2016-11-19 00:40] divega commented on #464
@jods4 We closed the issue because we don't have plans to make this easier than the workaround you mentioned at https://github.com/aspnet/Configuration/issues/464#issuecomment-225824439. If we get additional customer feedback that demonstrates that it is important to make it easier we can revisit the decision.

Sorry we were not explicit about the reason the issue was being closed cc @HaoK

[2016-11-19 02:47] divega commented on #276
Reactivating as I believe once aspnet/FileSystem#232 is fixed we would still have to decide what to do.

[2016-11-19 18:43] glennc commented on #514
The intent has always been to encrypt this file at-rest and provide a grid-like UI in VS.

[2016-11-19 20:21] tillig commented on #314
I don't think you can do this with an extension method unless you allow the extension method to cast (internally) all of the abstractions down to the concrete implementations and start poking around, which doesn't seem like the greatest idea. That would be necessary because none of the abstractions like `IConfigurationRoot` have access to the aggregated set of configuration providers. There'd be n

[2016-11-19 20:23] tillig commented on #314
It'd be _nice_ if `IConfigurationRoot` added an `IEnumerable<IConfigurationProvider>` property with the list of providers, though I see that's a breaking change, too. Otherwise I'm not sure how to cleanly get that list of providers without assuming only `ConfigurationRoot`.

[2016-11-19 23:13] bkaid commented on #546
+1 for Enum support for dictionary keys with the binder.

[2016-11-20 09:35] cwe1ss opened #557 "Binding to derived dictionaries (e.g. "MyOptions : Dictionary<string, string>")"
Hey! What do you think about the following scenario? The main advantage would be that it makes config files less verbose.

[code]
Currently, one has to write the options like this:
[code]

[2016-11-21 20:00] HaoK commented on #541
abffd2e77856005d921e0dc4015e365824fdce16

[2016-11-21 20:00] #541 closed

[2016-11-21 20:03] HaoK commented on #533
Merged 0f9a85b48fabaeb4939eb2d7e0719dfbec45af7f

[2016-11-21 20:03] #533 closed

[2016-11-21 20:06] HaoK commented on #292
bc96e60de589f4c0cabced33105c5acdcbc68da3

[2016-11-21 20:06] #292 closed

[2016-11-21 23:35] divega commented on #314
@tillig what I had in mind when @HaoK and I discussed this is that an extension method could recursively walk down the tree (probably using the existing `AsEnumerable()` extension) and set all the values to null.

This already sets the value for that key to null on all underlying providers, so you probably wouldn't need access to list of providers just for this.

That said, in the current implemen

[2016-11-21 23:39] tillig commented on #314
The problem with just nulling things out is that if you want to back configuration with something like Redis or another persistence layer, storing "null" may actually be valid... as opposed to actually _removing_ the keys, which was the intent of the difference here. This is like the equivalent of a `Dictionary<K,V>` - the configuration interfaces have a set, they have a get, but there's no _remov

[2016-11-21 23:43] divega opened #559 "Create a suite of specification tests for Configuration"
`Microsoft.Extensions.Configuration`'s provider model allows third parties to define their own providers by implementing a set of interfaces. But those interfaces are not enough to define exactly what behaviors those implementations should expose.

We can help by creating specification test package that third parties can use as the starting point for testing their own providers, similar to DI and

[2016-11-21 23:59] divega commented on #314
@tillig however `IConfiguration` is not trying to be a dictionary. Yes, it has an accessor and most providers today use a dictionary as an implementation detail, but the metaphor falls short in other ways.

[2016-11-22 00:03] tillig commented on #314
It doesn't seem any analogy works. If you consider it an arbitrary data source, it has CRU - Create, Read, Update... but no Delete. It just seems incomplete. Hence the desire to make it complete. I found in my own dealings that managing configuration through this thing - not reading, but actually also writing (which is supported) - becomes problematic when you get outside the very simple use cases

[2016-11-22 01:12] divega commented on #314
@tillig FWIW, the Create operation doesn't exist either in `IConfiguration`.

The following test attempts to demonstrate why it is desirable that setting a key to null removes it from the tree reachable through `GetChildren()` and `AsEnumerable()`.

For brevity I used the `Exists()` extension method which was contribute by @andrewlock in https://github.com/aspnet/Configuration/pull/521 and got mer

[2016-11-22 01:27] tillig commented on #314
@divega The "Create" part is what you did in the test by setting a value for a section that didn't previously exist. That's sort of how it works in dictionary land, too - you don't have to call `Add(key, value)` to create a new dictionary entry.

However, I think I'm starting to understand what you're saying. The inconsistency you point out is part of what I want to avoid; but also that adds the n

[2016-11-22 01:32] divega commented on #314
@tillig I agree the indexer in `Dictionary` has an implicit Create. It is just not reversed when you set the value to `null`, and it makes sense for it not to be reversed in dictionary because `null` is just like any other value for `Dictionary`. In `IConfiguration` we just happen to have stronger semantics for `null`...

And yes, that is what I am getting at. I am still not sure it is feasible :s

[2016-11-22 01:34] tillig commented on #314
Excellent. If the semantics can be updated such that tree-of-nulls == removed and is reported that way throughout (e.g., through `GetChildren()` and such), I'd be cool with that over an explicit `Remove()` operation. In that case, you're right - `Remove()` could totally be an extension method of recursive null value setting operations.

[2016-11-22 01:35] divega commented on #314
Possibly. But I haven't tried just changing the implementation of `Set` to do `Data.Remove` when `value == null`. I would need to check what happens with your sample configuration files too.

[2016-11-22 01:36] divega commented on #314
@tillig oh and by all means, feel free to experiment with this yourself if you would like to spend a PR.

[2016-11-23 13:00] Eneuman commented on #554
Why is this sample even being referenced to from the .net Core 1.1 release post?
It's a .Net 4.5.1 Project according to the Project.json.
I also tried to use the code in .Net Core 1.1 and it's not working because the X509Store contructor

`var store = new X509Store(StoreLocation.CurrentUser);`

needs two arguments according to VS2015.

[2016-11-29 12:54] MichaCo opened #560 "Discussion: How to deal with case sensitive stores"
@HaoK @divega
After looking at implementing configuration providers for Consul and Redis, I'm wondering what your opinion is on that.

Both these stores are case sensitive in terms of the keys they store as KV.
Imagine, you have two keys, `ABC` and another one `abc`
Ignoring casing would leed to unexpected results, any of the keys could win.
And even worse, if you first loaded key `ABC` and then u

[2016-11-29 13:03] MichaCo commented on #503
@HaoK regarding Redis and any other distributed KV store,
those things can fail eventually or not being 100% reliable. I worked quite a bit with Redis and you might get Timeouts or server exceptions after a while.
A good practice might be to retry operations with and wait for the redis server to come back.

Question is, should a configuration provider in this case care about those errors and imple

[2016-11-29 18:52] HaoK commented on #503
Given that the redis provider at least, is loading all the keys into memory during load/reloads, something like a mixed approach where it tries a small/reasonable amount of time before throwing seems best.

That said, if the failure happens during reload, the exception will probably not be able to be handled in any graceful manner, and it looks like the reload attempt would just be ignored and the

[2016-11-30 23:49] sgryphon opened #563 "Dev build broken in Travis on Linux (from 17 Nov 2016)"
First failed in Commit 1fc1fba 'Improve reliability of reloadOnChange tests', on 2016-11-17.

Error logs in Travis (only failing on Linux):

info:   Discovered:  Microsoft.Extensions.Configuration.FunctionalTests
info:   Starting:    Microsoft.Extensions.Configuration.FunctionalTests
fail:     Microsoft.Extensions.Configuration.Test.ConfigurationTests.CreatingOptionalFileInNonExistentDirectoryWill

[2016-12-01 00:36] HaoK commented on #563
This test has actually been failing sporadically (30-40% of the time) for a very long time only on Linux on our internal CI.  Feel free to continue to help investigate, this issue is being tracked by https://github.com/aspnet/Configuration/issues/468

[2016-12-01 00:36] #563 closed

[2016-12-01 20:27] divega commented on #549
Updated original post with some more thoughts.

[2016-12-01 21:32] HaoK commented on #549
@divega you want me to spend a day prototyping a few scenarios for 1 and/or 2 just to see what it might feel/look like, might make it easier to see if there's any value with more of a rough shape from actual classes/interfaces.  @sebastienros could be a good first exercise as well, how would we use this feature to implement read/write async database settings (that end up bound to options, or somet

[2016-12-01 21:36] HaoK commented on #549
In terms of naming, I think IConfiguration vs ISettings might be good start, they sound similar and in practice would look and feel pretty similar no matter what we do between 1. or 2.

IConfiguration (read only, set is not supported that well today (no persistence for example)
ISettings (read/write persistence/async only/can change often)

[2016-12-01 21:57] MichaCo commented on #549
Adding Set or Save to IConfiguration (and maybe naming it differently) would be great!
I'm currently working with Consul and IConfiguration, which works actually really awesome with triggering reload token if the configuration changes in Consul.

The only thing missing in the IConfiguration interface is to actually make changes.
For that, I have to again work with the rest APIs/whatever...
Plus th

[2016-12-02 01:13] HaoK commented on #549
Yeah maybe we should remove the Set on IConfiguration if it doesn't end up supporting Save...

In regards to Options, since ISettings would be a string dictionary still, the binder logic is pretty much going to be equivalent.  You are right that the change tracking would need to be tweaked, but I think we already built the right abstractions there, we'd just need a new OptionsChangeTracker that te

[2016-12-02 01:32] divega commented on #549
In my opinion settability is pretty useful even without persistence.

[2016-12-02 02:36] sebastienros commented on #549
I will need to talk to one of you on 1-1 because I don't really understand the goal, even though I do use IConfiguration, IOption and have my own Site Settings abstraction and extensibility. I think settings is very implementation specific and it's hard to provide some abstraction. And it's currently a non issue as it works fine.

[2016-12-02 20:23] sgryphon commented on #468
I saw that the CreatingOptionalFileInNonExistentDirectoryWillReload started failing on the Travis Linux build after changes made on 17 November and logged #563 but was redirected here; I had looked at it because pull requests I made were failing (they were from branches after 17 Nov).  This particularly manifestation seemed consistent (i.e. failed 100% of the time).

After playing around a bit I h

[2016-12-02 20:26] HaoK commented on #468
Awesome thanks, I'll merge the test update in, and file a new issue in file providers for that repo to investigate the timing issues with directory/file creation done too close together.

[2016-12-04 03:46] KevinOrtman commented on #552
Will support be baked into Microsoft.Extensions.SecretManager.Tools to recognize this attribute?
Seems like 1.1.0-preview4-final only recognizes id's specified in project.json or on the command line.

[2016-12-05 18:27] natemcmaster commented on #552
1.1.0-preview4-final is the last version that will support project.json. MSBuild support is already available in the `1.0.0-msbuild1-final` version.
[code]

[2016-12-06 13:38] cwe1ss commented on #549
I also think that this repo should focus on application settings - and it would be great if future work would make it easier to use remote configuration sources like Spring Cloud, Consul etc - including detecting changes with the current reload token feature.

User-specific settings should be a separate concept IMO.

[2016-12-06 22:19] glennc commented on #560
The configuration system is case insensitive by-design. When we accidentally made some parts of it case sensitive during development a while back it caused many problems with the existing providers and the apps people were using. For example, frequently environment variables are all caps but config files use something like camel case, and today those two things are overriding each other as expecte

[2016-12-06 22:21] glennc commented on #557
@HaoK Didn't we want something like this to work in the past?

[2016-12-06 22:24] glennc commented on #554
@pakrym Is there a reason I am forgetting that the sample app only supports net451?

[2016-12-06 22:42] pakrym commented on #554
@glennc sample uses certificate auth and there is no AD support for core, we can change it to use application secret and switch to multi targeted project.

[2016-12-06 23:02] MichaCo commented on #560
Hi @glennc, thanks for the reply.
I totally agree that it might not make much sense to have case sensitive keys. Thanks for the insights, I already imagined that making a provider case sensitive might break a lot of things ^^

Nevertheless, there are KV stores which are case sensitive and therefore you have not much choice, you have to decide what to do.

Is it better to throw an exception because

[2016-12-06 23:36] MichaCo commented on #549
@HaoK

The `Set` is slightly confusing to me. It kinda makes sense to make "in memory" changes, which is what the Set currently does.
But what would prevent a provider from actually storing the value back to the configuration source?
Concept wise, there seems to be an issue though. You might not want to store a key/value in all providers (which is what ConfigurationRoot.Set is currently doing), bu

[2016-12-07 00:58] divega commented on #560
Note that text files are also case sensitive :smile:. So I don't think this is a new issue, but I get that it is a fair concern and I agree we should explicitly decide what the behavior should be.

On second thought, I believe the decision is not as much about the behavior of providers if the same key appears twice or more in the same source with different casing, but about the behavior when the s

[2016-12-07 01:08] divega commented on #549
@MichaCo Persistence is not implemented mainly because for the relatively narrow scope of application and hosting settings it isn't a critical feature. I think you are spot on regarding the kind of challenges a design would need to overcome.

[2016-12-08 06:14] glennc commented on #549
We did have saving initially. But the implementation was buggy and problematic, we ended up cutting it because it was problematic as well as being not critical. Though I cannot remember the bugs right now...

[2016-12-08 06:18] glennc commented on #554
I had forgotten about that limitation. I thought the packages were slated to work by now. @bleroy do you know anything about when this will be resolved?

[2016-12-08 22:00] HaoK commented on #557
We made it possible to bind properties of collection types, so that logic doesn't work well when the POCO itself is a dictionary, because it try's to turn all of the configuration data into values there.

But it sorta works:

The first issue is that you need to bind against the correction section:  `config.GetSection("MyOptions").Bind(options)` is what you should be doing.

After that, we don't re

[2016-12-09 11:19] cwe1ss commented on #557
Sure, I fixed the sample. thx for pointing it out.

I'd expect to only have the property bound.

[2016-12-09 12:17] cwe1ss opened #565 "Consider using SetValue() instead of "Add"-method for binding to dictionaries"
The following test fails with an "ArgumentException" ("An item with the same key has already been added") because [BindDictionary](https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.Binder/ConfigurationBinder.cs#L353) uses the `Add` method.
[code]
How about using the Item setter instead to just always use the last value?
[code]

My scenario: I am playing around

[2016-12-14 20:33] smitpatel commented on #552
No action is required. The default configure method, .AddUserSecrets(), will fallback to read project.json for the user secrets ID.

Actually I did not get any luck at the fallback logic. I had to add the attribute to my startup assembly and I have seen multiple users hitting the same issue. Can we at least post necessary changes for upgrade scenario somewhere where we can guide users?

Error mess

[2016-12-14 21:00] natemcmaster commented on #552
cc @rowanmiller ^

Before you post guidance such as this, weigh that with its implications. The value in the assembly attribute manually is not recognized by dotnet-user-secrets and Visual Studio.  Also, it will cause build failures when users upgrade to MSBuild.

[2016-12-14 21:03] smitpatel commented on #552
cc: @divega since @rowanmiller is away.

[2016-12-14 21:04] moraleslos commented on #487
I'm not sure if this is the same KeyVaultProvider as this:  Microsoft.SqlServer.Management.AlwaysEncrypted.AzureKeyVaultProvider.

I need the above to work with .NET Core.  The above lib is currently incompatible with NetStandard.   Looks like it is dependent on the old Microsoft.Azure.KeyVault 1.0.0, which is incompatible. However the latest version of Microsoft.Azure.KeyVault is 2.0.6, which is

[2016-12-14 22:21] muratg commented on #487
@moraleslos the provider in this repo is neither of those things -- it's an ASP.NET Core Configuration provider. Perhaps you're looking for this repo: https://github.com/Azure/azure-sdk-for-net

[2016-12-15 20:31] ebekker opened #566 "ArgumentNullException when trying to bind to Dictionary with a value of non-scalar type"
I have a JSON configuration file that I'm using with Configuration.Binder to build a strongly-typed configuration object.

One of the properties of the configuration object is a `Dictionary<string, object>` and when the corresponding value in JSON file is itself a JSON Object with string keys and simple, scalar values, everything works great.

But if I change the JSON Object to have an entry with

[2016-12-15 20:31] ebekker commented on #566
This is the full exception thrown:
[code]

[2016-12-15 20:36] ebekker commented on #566
I'm using:
* .NET Core 1.0.1 on Windows
* Microsoft.Extensions.Configuration 1.1.0

[2016-12-16 13:57] Banchio opened #567 "Using of colon for configuration hierarchy does not work with Azure Key Vault"
Trying to setup a program where I can switch from json based config (debug) and Azure key Vault (test and prod). While using json file I can use common:option1 to obtain a value, I cannot do that in Azure key Vault because I cannot create secret which name contains other than alphanumeric chars.
I would like to set the KeyDelimiter in [https://github.com/aspnet/Configuration/blob/dev/src/Microsoft

[2016-12-16 16:39] ycrumeyrolle commented on #567
The default separator is a double dash "--" with the Azure Key Vault provider.
You can change it by replacing the DefaultKeyVaultSecretManager by your own implementation. See the KeyVault sample for more details.

[2016-12-16 17:05] #567 closed

[2016-12-16 17:14] Banchio commented on #567
Thanks @divega!

[2016-12-16 17:26] divega commented on #567
Thanks @ycrumeyrolle

[2016-12-16 17:47] ddobric commented on #520
Thanks, that works. However if you ask me about behavior, here is what I think.
Following statement is not very best practice:

ComplexType mySettVAl = new ComplexType();
configRoot.GetSection("ComplexType").Bind(mySettVAl);

Common API approach should commonly look as follows:
configRoot.GetSection("ComplexType") as ComplexType;
configRoot.GetSection<ComplexType>();

Why should somebody has to ca

[2016-12-16 17:58] RichiCoder1 commented on #549
I would be very interested in this, but for the specific use case of User Setting persistence for a Desktop App I'm currently working on. I realize, though, that this isn't actually the use case target of `Microsoft.Extensions.Configuration`.

[2016-12-16 18:27] HaoK commented on #520
Yep agree, that's why we added `Get<T>` in 1.1

[2016-12-16 18:27] #520 closed

[2016-12-19 17:15] frankbuckley opened #569 "KeyVault configuration fails if release version of Microsoft.Azure.KeyVault referenced"
Using Microsoft.Extensions.Configuration.AzureKeyVault fails if the project using it (or one of its dependencies) references a release version of [Microsoft.Azure.KeyVault](https://www.nuget.org/packages/Microsoft.Azure.KeyVault/).

For example, calling `builder.AddAzureKeyVault(...)` results in:

    Method not found: 'Void Microsoft.Azure.KeyVault.KeyVaultClient..ctor(AuthenticationCallback)'

[2016-12-19 17:22] ycrumeyrolle commented on #503
According to this guidance :
https://docs.microsoft.com/en-us/azure/best-practices-retry-service-specific#azure-redis-cache-retry-guidelines
The Redis client include a basic retry pattern, which is configurable.

Should we also provide an OnLoadException method like with the file configuration provider ?

[2016-12-20 04:41] divega commented on #569
Confirmed that currently released package depends on 2.0.2-preview of Microsoft.Azure.KeyVault. Release version is 2.0.6 and we can asume it has breaking changes from preview.

@muratg @pakrym any reason not to release a new version of the provider in 1.1.1 that depends on realeased bits?

[2016-12-20 17:09] muratg commented on #569
@divega Let's triage it with the other 1.1.1 items...  cc @Eilon

[2016-12-20 17:49] Eilon commented on #569
How exactly did we release an RTM package that has a preview dependency??

[2016-12-20 19:31] Eilon commented on #569
Logged https://github.com/aspnet/Coherence-Signed/issues/396 to track making sure we don't run into this again.

[2016-12-20 19:32] pakrym commented on #569
Fixed by: https://github.com/aspnet/Configuration/pull/570

[2016-12-20 19:46] Eilon commented on #569
Re-opening because we need this in 1.1.1.

[2016-12-20 19:46] Eilon commented on #569
Plus, you didn't mark the bug as 3-Done! 😄

[2016-12-21 05:36] alan-yeung opened #571 "Serialize configuration data dictionary into a JSON file"
Basically expanding the flattened key-value dictionary into a dictionary with nested dictionaries and arrays, then serialize the expanded dictionary into a JSON string/file.

Anybody sees value in this feature? I have a working version along with unit tests.

[2016-12-21 14:24] alan-yeung commented on #571
Unit test example of this feature:
`        [Fact]
        public void Serialize_WhenConfigurationHasPathAsSectionNode_ShouldReturnJson()
        {
            const string Json = @"
            {
                ""Section1"": {
                    ""Node1"":""Value1""
                }
            }";
            var expected = JsonConvert.SerializeObject(JObject.Parse(Json), Formatting.Indented)

[2016-12-21 15:06] ycrumeyrolle opened #572 "Consider adding callback for load or reload errors for all providers"
Extension of the issue #489.
As for now, it is possible to handle exception occurring on load only for file-based providers.
[code]
Exceptions may occurs with every provider, especially with remote providers like Azure Key Vault & Redis providers. The `SetFileLoadExceptionHandler()` extension method should be replaced by a more generic `SetLoadExceptionHandler()` method.

Question : Can the handle

[2016-12-21 22:54] divega commented on #572
This makes sense to me. If we add this more general purpose extension I think we should discuss in detail how we make the file-based providers converge to it and how much compatibility we need to maintain.

I think it is possible to make the pattern more generic by changing some of the property types on https://github.com/aspnet/Configuration/blob/dev/src/Microsoft.Extensions.Configuration.FileExt